
@{
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
    var mnv = ViewBag.MaNV;
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="center">
                    <b>Chứng chỉ của @ViewBag.TenNhanVien</b>
                </h3>
            </div>
        </div>
        <div class="table_container">
            <table class="table-bordered table-responsive" id="mytable">
                <thead>
                    <tr>
                        <th>Số hiệu</th>
                        <th>Tên chứng chỉ</th>
                        <th>Ngày cấp</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        var dataTable;
        $(Document).ready(() => {
            $("#pre-load").show()
            dataTable = $("#mytable").on('preXhr.dt', function (e, settings, data) {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
            }).DataTable({
                 "ajax": {
                     "url": '@Url.Action("GetAllChungChiOfNV", "Task")',
                     "data": {mnv : @ViewBag.MaNV},
                     "type": "POST",
                     "datatype": "json",
                },
                "drawCallback": function (settings) {
                    $("#pre-load").hide("slow", function () {
                    });
                },
                "columns": [
                    { "data": "SoHieu", "name": "SoHieu", "render": (data) => { return   data   }},
                    { "data": "TenChungChi", "name": "TenChungChi", "render": (data) => { return data } },
                    { "data": "NgayCap", "name": "NgayCap", "render": (data) => { return dateFormat(new Date(parseInt((data).match(/\d+/)[0]))) } } ,
                    {
                        "data": "isConHan", "name": "isConHan", "render": (data) => {
                            if (data == 'Còn Hạn') {
                                return "<a class='label label-success' >" + data + "</a>"
                            } else {
                                return "<a class='label label-warning' >" + data + "</a>"
                            }
                        }, "orderable": true
                    },
                ],
                "bInfo": false,
                "bLengthChange": false,
                "initComplete": () => { $("#pre-load").hide() },
                "searching": false,
                "paging": false,
                "serverSide": true,
                "language": {
                    emptyTable: "Không có dữ liệu",
                    zeroRecords: "Không có dữ liệu",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|",

                    },
                    info: "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                },
            })
        })

        // format lai ngay nhan duoc tu db sang dd/mm/yyyy
        function dateFormat(d) {
            return ((d.getDate()) +  "").padStart(2, "0")
                + "/" + (d.getMonth() + 1 + "").padStart(2, "0")
                + "/" + d.getFullYear();
            }

    </script>
}
