
@{
    ViewBag.Title = "WorkGroup";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>DANH SÁCH NHÓM CÔNG VIỆC</b></h3>

            <div class="row input-field">
                <div class="col l4 m12 s12">
                    <input type="text" placeholder="Tên nhóm công việc" class='form-control' id="search_work_group_name" />
                </div>

                <div class="col l3 m12 s12">
                    <input type="text" placeholder="Viết tắt" class='form-control' id="search_work_group_acronym" />
                </div>

                <div class="col l4 m12 s12">
                    <input type="text" placeholder="Loại nhóm công việc" class='form-control' id="search_work_group_type" />
                </div>

                <div class="col l1 m12 s12">
                    <button class="waves-effect waves-light btn blue darken-2 btn-small" id="search_button"><i class="fas fas fa-search"></i></button>
                </div>
            </div>

            <div>
                <a class="btn blue darken-2 btn-small input-field modal-trigger" href="#modal_add_work_group">Thêm</a>
            </div>
            <div>
                <table id="work_group_table" class="table table-bordered center">
                    <thead>
                        <tr>
                            <th>Tên nhóm công việc</th>
                            <th>Viết tắt</th>
                            <th>Loại nhóm công việc</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Modal themNhomCongViec-->
<div id="modal_add_work_group" class="modal">
    <div class="modal-content">
        <h4 class="center"><b>Thêm Nhóm Công Việc</b></h4>
        <div class="row">
            <div class="col s12 m6 l6">
                <label>Tên nhóm công việc</label>
                <input type="text" class="form-control" id="add_work_group_name" />
            </div>
            <div class="col s12 m6 l6">
                <label>Viết tắt</label>
                <input type="text" class="form-control" id="add_work_group_acronym" />
            </div>
            <div class="col s12 m12 l12">
                <label>Tên loại nhóm công việc</label>
                <select class="form-control" id="add_work_group_work_group_type_select">
                    <option value="" disabled selected>Chọn loại nhóm công việc</option>
                    @foreach (var workGroupType in ViewBag.workGroupTypes)
                    {
                        <option value="@workGroupType.work_group_type_id">@workGroupType.name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="add_work_group_confirm_button" class="btn blue darken-2 btn-small">Xác nhận</button>
        <button id="add_work_group_close_modal_button" class="btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>
<!--Modal suaNhomCongViec-->
<div id="modal_edit_work_group" class="modal">
    <div class="modal-content">
        <h4 class="center"><b>Sửa Nhóm Công Việc</b></h4>
        <div class="row">
            <div class="col s12 m6 l6">
                <label>Tên nhóm công việc</label>
                <input type="text" class="form-control" id="edit_work_group_name" />
            </div>
            <div class="col s12 m6 l6">
                <label>Viết tắt</label>
                <input type="text" class="form-control" id="edit_work_group_acronym" />
            </div>
            <div class="col s12 m12 l12">
                <label>Tên loại nhóm công việc</label>
                <select class="form-control" id="edit_work_group_work_group_select">
                    <option value="" disabled selected>Chọn loại nhóm công việc</option>
                    @foreach (var workGroupType in ViewBag.workGroupTypes)
                    {
                        <option value="@workGroupType.work_group_type_id">@workGroupType.name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="edit_work_group_confirm_button" class="btn blue darken-2 btn-small">Xác nhận</button>
        <button id="edit_work_group_close_modal_button" class="btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>

<script>
    var table;
    $(document).ready(function () {
        table = $('#work_group_table').DataTable({
            "ajax": {
                "url": "/phong-tcld/quan-ly-nhom-cong-viec/danh-sach-nhom-cong-viec",
                "type": "GET",
                "datatype": "json",
                "cache": "false",
                "data": {
                    "search_work_group_name": () => { return $("#search_work_group_name").val() },
                    "search_work_group_acronym": () => { return $("#search_work_group_acronym").val() },
                    "search_work_group_type": () => { return $("#search_work_group_type").val() }
                },
                "dataSrc": function (json) {
                    return json["workGroups"];
                }
            },
            "columns": [
                { "data": "name", "name": "name" },
                { "data": "acronym", "name": "acronym" },
                { "data": "work_group_type_name", "name": "work_group_type_name" },
                {
                    "data": "", "render": function (data, type, row) {
                        return "<a id=\"edit_work_group_button\" name=\"" + row["work_group_id"] + "\" class=\"waves-effects waves-light btn blue darken-2 btn-small modal-trigger\" href=\"#modal_edit_work_group\">Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false
                },
                {
                    "data": "", "render": function (data, type, row) {
                        return "<a id=\"delete_work_group_button\" name=\"" + row["work_group_id"] + "\" class=\"waves-effects waves-light btn red darken-2 btn-small modal-close\">Xóa</a>";
                    },
                    "orderable": false,
                    "searchable": false
                }
            ],
            "serverSide": "true",
            "order": [0, "desc"],
            "searching": false,
            "lengthChange": false,
            "autoWidth": false,
            "filter": true,
            "info": false,
            "language": {
                emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                paginate:
                {
                    previous: "Trang trước",
                    next: "Trang sau",
                    first: "|<",
                    last: ">|"
                }
            },
            "initComplete": function (settings, json) {
                $("#pre-load").hide();
            }
        });
    });
</script>

<!---------------------------------------------SEARCH--------------------------------------------->
<script>
    $(document).ready(function () {
        $("#search_button").click(function () {
            table.ajax.reload();
        });
    });
</script>

<!---------------------------------------------ADD------------------------------------------------>
<script>
    $(document).ready(function () {
        $("#add_work_group_confirm_button").click(function () {
            $("#pre-load").show(),
                $.ajax({
                    url: "/phong-tcld/quan-ly-nhom-cong-viec/them-nhom-cong-viec",
                    type: "POST",
                    datatype: "json",
                    data: {
                        "work_group_name": () => { return $("#add_work_group_name").val() },
                        "work_group_acronym": () => { return $("#add_work_group_acronym").val() },
                        "work_group_type_id": () => { return $("#add_work_group_work_group_type_select").val() }
                    },
                    success: function (response) {
                        if (response.success) {
                            //arlet successful adding
                            successAlert(response.title, response.message);
                            //clear input in modal themNhomCongViec
                            $("#add_work_group_name").val("");
                            $("#add_work_group_acronym").val("");
                            $("#add_work_group_work_group_type_select option").prop("selected", function () {
                                return this.defaultSelected;
                            });
                            //close modal themNhomCongViec
                            $("#add_work_group_close_modal_button").click();
                            //reload table
                            table.ajax.reload();
                            //hide the pre-loader
                            $("#pre-load").hide();
                        } else if (response.error) {
                            errorAlert(response.title, response.message);
                            $("#pre-load").hide();
                        }
                    },
                    error: function (response) {
                        alert(response.error)
                    }
                });
        });
    });
</script>

<!----------------------------------------------------EDIT----------------------------------------------------->
<script>
    var work_group_id;
    var work_group_name;
    var work_group_acronym;
    var work_group_type_id;
    $(document).ready(function () {
        //when click button "Sửa"
        $("#work_group_table").on("click", "#edit_work_group_button", function () {
            work_group_id = $(this).attr("name");
            //fill data to input and select by maNhomCongViec
            getDataFromWorkGroupToFill(work_group_id);
        });

        //when click button "xác nhận" in modal suanhomcongviec
        $("#edit_work_group_confirm_button").click(function () {
            work_group_name = $("#edit_work_group_name").val();
            work_group_acronym = $("#edit_work_group_acronym").val();
            work_group_type_id = $("#edit_work_group_work_group_select").val();
            update(work_group_id, work_group_name, work_group_acronym, work_group_type_id);
        });
    });
</script>

<!----------Get data by maNhomCongViec--------->
<script>
    function getDataFromWorkGroupToFill(work_group_id) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/quan-ly-nhom-cong-viec/lay-du-lieu-theo-manhomcongviec",
                type: "POST",
                datatype: "json",
                data: {
                    "work_group_id": work_group_id
                },
                success: function (response) {
                    if (response.success) {
                        //fill data to input and select>option
                        $("#edit_work_group_name").val(response.workGroup.name);
                        $("#edit_work_group_acronym").val(response.workGroup.acronym);
                        $("#edit_work_group_work_group_select option[value=\"" + response.workGroup.work_group_type_id + "\"]").prop("selected", true);
                        $("#pre-load").hide();
                    } else if (response.error) {
                        errorAlert(response.title, response.message);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {
                    errorAlert(response.title, response.message);
                }
            })
    }
</script>

<!-------------------Update------------------->
<script>
    function update(work_group_id, work_group_name, work_group_acronym, work_group_type_id) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/quan-ly-nhom-cong-viec/cap-nhat-nhomcongviec",
                type: "POST",
                datatype: "json",
                data: {
                    "work_group_id": work_group_id,
                    "work_group_name": work_group_name,
                    "work_group_acronym": work_group_acronym,
                    "work_group_type_id": work_group_type_id
                },
                success: function (response) {
                    if (response.success) {
                        //close modal suaNhomCongViec
                        $("#edit_work_group_close_modal_button").click();
                        //alert successful updating
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide pre-loader
                        $("#pre-load").hide();
                    } else if (response.error) {
                        //alert fail updating
                        errorAlert(response.title, response.message);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {
                    errorAlert(response.title, response.message);
                }
            })
    }
</script>

<!------------------Delete----------------->
<script>
    $(document).ready(function () {
        var work_group_id;
        $("#work_group_table").on("click", "#delete_work_group_button", function () {
            work_group_id = $(this).attr("name");
            //alert confirm
            confirmAlert("Xác nhận xóa?", "Xác nhận xóa nhóm công viêc.", function () { deleteWorkGroup(work_group_id); });
        });
    });
</script>

<script>
    function deleteWorkGroup(work_group_id) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/quan-ly-nhom-cong-viec/xoa-nhomcongviec",
                type: "POST",
                datatype: "json",
                data: {
                    "work_group_id": work_group_id
                },
                success: function (response) {
                    if (response.success) {
                        //alert successful deleting
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide the pre-loader
                        $("#pre-load").hide();
                    } else if (response.error) {
                        //alert fail deleting
                        errorAlert(response.title, response.message);
                        //hide the pre-loader
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {
                    errorAlert(response.title, response.message);
                    $("#pre-load").hide();
                }
            })
    }
</script>

<!-------Disable select option of Materialzecss------->
<script src="../../js/Custom JS/Disable_input_material.js"></script>