@media screen and (max-width: 1344) {
    button#searchButton {
        font-size: 30px !important;
    }
}

#searchButton{
    width: 60% !important
}

#buttonAdvancedSearch {
    width: 100% !important
}

@media screen and (min-width:1025px) {
    .autocomplete_Name {
        width: 110% !important;
    }

    #gender {
        margin-left: 4% !important;
        width: 90% !important;
    }
}