
@{
    ViewData["Title"] = "Ly_lich";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
<ul id='dropdown-detail' class='dropdown-content'>
    <li><a class="modal-trigger" href="#myinfo">Đặc tính kỹ thuật</a></li>
    <li><a href="/CDVT/Car/Hoatdong">Nhật lý hoạt động</a></li>
    <li><a href="/CDVT/Car/Baoduong">Nhật lý sửa chữa</a></li>
    <li><a href="/CDVT/Accident">Theo dõi sự cố</a></li>
</ul>
<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="center">
                <h3 class="centered"><b>LỊCH SỬ HOẠT ĐỘNG   </b></h3>
            </div>

            <div class="row">
                <div class="wrapper-timeline">

                    <div class="container">
                        <div class="timeline">
                            <div class="timeline-month">
                                Năm 2018
                                <span>1 lần điều động</span>
                            </div>

                            <div class="timeline-section">
                                <div class="timeline-date">
                                    Thứ 6, ngày 15 tháng 12
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="timeline-box">
                                            <div class="box-content">
                                                <table class="striped responsive-table">
                                                    <tr>
                                                        <th>Ngày kết thúc điều động</th>
                                                        <th>Vị trí điều động</th>
                                                        <th>Phân xưởng chịu trách nhiệm</th>
                                                        <th>Người ký điều động</th>
                                                        <th>Người phê duyệt</th>
                                                        <th>Ngày ký duyệt</th>
                                                        <th>Số quyết định</th>
                                                        <th>Hoạt động</th>
                                                    </tr>
                                                    <tr>
                                                        <td>21/10/2021</td>
                                                        <td>Lò 1</td>
                                                        <td>Phân xưởng 1</td>
                                                        <td><a href="/" style="color: dodgerblue;">Nguyễn Thị Hưởng</a></td>
                                                        <td><a href="/" style="color: dodgerblue;">Trần Quốc Anh</a></td>
                                                        <td>16/12/2018</td>
                                                        <td>QĐ-324</td>
                                                        <td style="text-align: center"><a class="waves-effect waves-light btn blue darken-1">Chi&nbsp;tiết</a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-month">
                                Năm 2017
                                <span>2 lần điều động</span>
                            </div>

                            <div class="timeline-section">
                                <div class="timeline-date">
                                    Thứ 2, ngày 03 tháng 09
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="timeline-box">
                                            <div class="box-content">
                                                <table class="striped responsive-table">
                                                    <tr>
                                                        <th>Ngày kết thúc điều động</th>
                                                        <th>Vị trí điều động</th>
                                                        <th>Phân xưởng chịu trách nhiệm</th>
                                                        <th>Người ký điều động</th>
                                                        <th>Người phê duyệt</th>
                                                        <th>Ngày ký duyệt</th>
                                                        <th>Số quyết định</th>
                                                        <th>Hoạt động</th>
                                                    </tr>
                                                    <tr>
                                                        <td>21/10/2018</td>
                                                        <td>Lò 2</td>
                                                        <td>Phân xưởng 1</td>
                                                        <td><a href="/" style="color: dodgerblue;">Nguyễn Thị Hưởng</a></td>
                                                        <td><a href="/" style="color: dodgerblue;">Trần Quốc Anh</a></td>
                                                        <td>04/09/2017</td>
                                                        <td>QĐ-324</td>
                                                        <td style="text-align: center"><a class="waves-effect waves-light btn blue darken-1">Chi&nbsp;tiết</a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-section">
                                <div class="timeline-date">
                                    Thứ 2, ngày 01 tháng 01
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="timeline-box">
                                            <div class="box-content">
                                                <table class="striped responsive-table">
                                                    <tr>
                                                        <th>Ngày kết thúc điều động</th>
                                                        <th>Vị trí điều động</th>
                                                        <th>Phân xưởng chịu trách nhiệm</th>
                                                        <th>Người ký điều động</th>
                                                        <th>Người phê duyệt</th>
                                                        <th>Ngày ký duyệt</th>
                                                        <th>Số quyết định</th>
                                                        <th>Hoạt động</th>
                                                    </tr>
                                                    <tr>
                                                        <td>01/09/2017</td>
                                                        <td>Lò 2</td>
                                                        <td>Phân xưởng 1</td>
                                                        <td><a href="/" style="color: dodgerblue;">Nguyễn Thị Hưởng</a></td>
                                                        <td><a href="/" style="color: dodgerblue;">Trần Quốc Anh</a></td>
                                                        <td>02/01/2017</td>
                                                        <td>QĐ-324</td>
                                                        <td style="text-align: center"><a class="waves-effect waves-light btn blue darken-1">Chi&nbsp;tiết</a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myadd">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm bảo dưỡng máy móc</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="name">Loại bảo hành : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Thời Gian Hết Bảo Hành( Tháng ) </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Ước Tính Thời Gian BH (Ngày) : </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="supplier">Lần bảo dưỡng : </label>
                            <input type="number" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="id">Bảo Hành Lần Cuối : </label>
                            <input type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="supplier">Kinh Phí Ước Tính : </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div id="myinfo" class="modal">
    <div class="card">
        <div class="card-content">
            <table>
                <tr>
                    <td>Mã</td>
                    <td>SFC</td>
                </tr>
                <tr>
                    <td>Tên</td>
                    <td>Máy xúc lật</td>
                </tr>
                <tr>
                    <td>Số hiệu</td>
                    <td>AH12</td>
                </tr>
                <tr>
                    <td>Loại thiết bị</td>
                    <td>Thiết bị khai thác trong lò</td>
                </tr>
                <tr>
                    <td>Nhà cung cấp</td>
                    <td>TC MOTOR</td>
                </tr>
                <tr>
                    <td>Ngày nhập</td>
                    <td>04-12-2018</td>
                </tr>
                <tr>
                    <td>Nguyên giá</td>
                    <td>120.000.000</td>
                </tr>
                <tr>
                    <td>Khấu hao ước tính</td>
                    <td>12%</td>
                </tr>
                <tr>
                    <td>Khấu hao hiện tại</td>
                    <td>104.000.000</td>
                </tr>
                <tr>
                    <td>Thời hạn bảo hiểm(tháng)</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Ngày đưa vào sử dụng</td>
                    <td>10-12-2018</td>
                </tr>
                <tr>
                    <td>Ngày bảo dưỡng gần nhất</td>
                    <td>04-05-2019</td>
                </tr>
                <tr>
                    <td>Tổng giờ hoạt động(tính từ lần bảo dưỡng gần nhất)</td>
                    <td>324 giờ</td>
                </tr>
                <tr>
                    <td>Vị trí hiện tại</td>
                    <td>Phân xưởng 1</td>
                </tr>
                <tr>
                    <td>Tình trạng hiện tại</td>
                    <td>Ổn định</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="name">Loại bảo hành : </label>
                            <input type="text" class="form-control" value="245" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Thời Gian Hết Bảo Hành( Tháng ) </label>
                            <input type="text" class="form-control" value="2" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Ước Tính Thời Gian BH (Ngày) : </label>
                            <input type="text" class="form-control" value="2" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="supplier">Lần bảo dưỡng : </label>
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <label for="id">Bảo Hành Lần Cuối : </label>
                            <input type="text" class="form-control" value="1/1/2019" />
                        </div>

                        <div class="form-group">
                            <label for="supplier">Kinh Phí Ước Tính : </label>
                            <input type="text" class="form-control" value="9.000.000đ" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div id="myaleart" class="modal">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Xóa mục này?
            </div>
            <div class="col s3">
                Dữ liệu sẽ không thể phục hồi sau thao tác này
                <div class="col s4 offset-s8" style="margin-top:30px">
                    <a class="waves-effect waves-light btn btn-round red">Xác nhận</a>
                    <a class="waves-effect waves-light btn btn-round blue">Thoát</a>
                </div>
            </div>
        </div>

    </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Danh sách hết bảo hiểm</a></li>
    <li><a href="#!">Danh sách hết khấu hao</a></li>
    <li><a href="#!">Danh sách đang bảo dưỡng</a></li>
    <li><a href="#!">Danh sách đang sửa chữa</a></li>
    <li><a href="#!">Danh sách đang gặp sự cố</a></li>
</ul>
<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
    <a class="btn-floating btn-large red"><i class="material-icons">settings</i></a>
    <ul>
        <li>
            <a class="btn-floating red tooltipped" data-position="left" data-tooltip="In báo cáo">
                <i class="material-icons">assignment</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green tooltipped" data-position="left" data-tooltip="Tải lên">
                <i class="material-icons">publish</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Thêm">
                <i class="material-icons">add</i>
            </a>
        </li>
    </ul>
</div>
<link href="~/css/transfer_mobilize_history_timeline.css" rel="stylesheet" />
