.kt{
    margin-top:5px;
}
.float_kt {
    float: right;
}
.search_kt > p{
    margin-right:10px !important;
    margin-left:10px !important;
    margin-top:0px!important;
}
.btn_search{
    margin-top:0px;
    margin-left:5px;
}
.search_kt > input{
    width:120px!important ;
}
table > tbody > tr > td{
    max-width:0px;
}