@{
    ViewData["Title"] = "End";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/css/TABLE_BORDERED.css" rel="stylesheet" />

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center">
                <b>
                    TỔNG HỢP CHẤM DỨT <input type="text"
                                             class="datepicker-here center"
                                             data-language='vi'
                                             data-min-view="years"
                                             data-view="years"
                                             data-date-format="Năm yyyy" value="Năm 2019" />
                </b>
            </h3>

            <div class="col s12 m12 l12 input-field">
                <a class="btn darken-2" style="background-color:#273146" id="edit">Chỉnh sửa</a>
                <a href="#modal1" class="btn darken-2 waves-effect waves-light modal-trigger" id="save" style="display:none; background-color: #273146">Lưu</a>
            </div>

            <div class="col s12 m12 l12 table_container">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">STT</th>
                            <th rowspan="2">Danh mục</th>
                            <th colspan="12">Tháng</th>
                            <th rowspan="2">KTHL</th>
                            <th rowspan="2">CĐHL</th>
                            <th rowspan="2">Khác</th>
                            <th rowspan="2">Tổng</th>
                            <th rowspan="2">Quý I</th>
                            <th rowspan="2">Quý II</th>
                            <th rowspan="2">Quý III</th>
                            <th rowspan="2">Quý IV</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>Đơn phương</th>
                            <td>10</td>
                            <td>6</td>
                            <td></td>
                            <td>30</td>
                            <td>10</td>
                            <td>21</td>
                            <td>28</td>
                            <td>18</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>17</td>
                            <td>123</td>
                            <td>16</td>
                            <td>61</td>
                            <td>46</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td>5</td>
                            <td>2</td>
                            <td></td>
                            <td>18</td>
                            <td>8</td>
                            <td>16</td>
                            <td>17</td>
                            <td>14</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>80</td>
                            <td></td>
                            <td></td>
                            <td>80</td>
                            <td>7</td>
                            <td>42</td>
                            <td>31</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td>3</td>
                            <td>3</td>
                            <td></td>
                            <td>4</td>
                            <td>1</td>
                            <td>5</td>
                            <td>8</td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>26</td>
                            <td></td>
                            <td>26</td>
                            <td>6</td>
                            <td>10</td>
                            <td>10</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>Có đơn</th>
                            <td></td>
                            <td></td>
                            <td>10</td>
                            <td>13</td>
                            <td>23</td>
                            <td>6</td>
                            <td>14</td>
                            <td>10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>27</td>
                            <td>76</td>
                            <td>10</td>
                            <td>42</td>
                            <td>24</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                            <td>4</td>
                            <td>10</td>
                            <td>5</td>
                            <td>9</td>
                            <td>6</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>38</td>
                            <td></td>
                            <td></td>
                            <td>38</td>
                            <td>4</td>
                            <td>19</td>
                            <td>15</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7</td>
                            <td></td>
                            <td>2</td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>11</td>
                            <td></td>
                            <td>11</td>
                            <td></td>
                            <td>7</td>
                            <td>4</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>Hưu</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>3</td>
                            <td>4</td>
                            <td></td>
                            <td>3</td>
                            <td>1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>Thông báo</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>Tạm hoãn HĐLĐ</th>
                            <td></td>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td>4</td>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td>1</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <th>Chết TNLĐ</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>Sa thải</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>1</td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>8</th>
                            <th>Ốm chết</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>9</th>
                            <th>Chết TNGT</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>10</th>
                            <th>Chuyển đơn vị</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>CNCĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>Tổng số</th>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>44</td>
                            <td>36</td>
                            <td>29</td>
                            <td>44</td>
                            <td>28</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>122</td>
                            <td>38</td>
                            <td>51</td>
                            <td>211</td>
                            <td>30</td>
                            <td>109</td>
                            <td>72</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col s12 m12 l12">
                <br />
                <a class="btn darken-2" style="background-color:#273146" id="export">Xuất ra excel</a>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <b>Bạn có chắc chắn muốn lưu không?</b>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn blue darken-2" id="ok">Đồng ý</a>
        <a class="modal-action modal-close waves-effect waves-green btn red darken-2" id="cancel">Hủy bỏ</a>
    </div>
</div>
<script src="~/js/Custom JS/TCLD/RecruitmentAndEnd/RecruitAndEnd.js"></script>