@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_TCLD_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class=" col-md-12 text-right"><i>Hà Nội,ngày 29 tháng 7 năm 2019</i></div>
        <div class="col-md-12 text-center">
            <h3 style="margin-bottom:50px;"><strong>Danh sách chứng chỉ lao động</strong></h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-5" style="margin-bottom:20px;">
                <div class="col-md-3">
                    <p><strong>Họ và tên:</strong></p>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Họ tên" style="width:200px" />
                </div>
            </div>

            <div class="col-md-5 ">
                <div class="col-md-3 ">
                    <p><strong>Mã số thẻ:</strong></p>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Mã thẻ" />
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-custom">Tìm kiếm</button>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="col-md-3" style="margin-bottom:50px;">
                <div class="col-md-5">
                    <p><strong>Thời hạn:</strong></p>
                </div>
                <div class="col-md-7">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Tất cả
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Còn hạn</a></li>
                            <li><a href="#">Hết hạn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <p><strong>Đơn vị:</strong></p>
                </div>
                <div class="col-md-8">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Tất cả
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Đơn vị A</a></li>
                            <li><a href="#">Đơn vị B</a></li>
                            <li><a href="#">Đơn vị C</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12 hr">
            <hr style=" display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto; border-style: inset;border-width: 1px;">
        </div>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Số thẻ</th>
                        <th>Họ và tên</th>
                        <th>Đơn vị</th>
                        <th>Ngày hiệu lực</th>
                        <th>Ngày hết hạn</th>
                        <th>Tình trạng</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>SA1320</td>
                        <td>Nguyễn Văn A</td>
                        <td>Đơn vị A</td>
                        <td>25/07/2007</td>
                        <td>25/07/2019</td>
                        <td>Hết hạn</td>
                        <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Chỉnh sửa</button></td>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <td><button type="button" class="btn btn-danger btn-sm">Xoá</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>SB1321</td>
                        <td>Nguyễn Văn B</td>
                        <td>Đơn vị B</td>
                        <td>29/10/2007</td>
                        <td>29/10/2019</td>
                        <td>Còn hạn</td>
                        <td><button type="button" class="btn btn-primary btn-sm">Chỉnh sửa</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Xoá</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>SC1322</td>
                        <td>Nguyễn Văn C</td>
                        <td>Đơn vị C</td>
                        <td>30/10/2007</td>
                        <td>30/10/2019</td>
                        <td>Còn hạn</td>
                        <td><button type="button" class="btn btn-primary btn-sm">Chỉnh sửa</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Xoá</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>SA1323</td>
                        <td>Nguyễn Văn D</td>
                        <td>Đơn vị A</td>
                        <td>27/10/2007</td>
                        <td>27/10/2019</td>
                        <td>Còn hạn</td>
                        <td><button type="button" class="btn btn-primary btn-sm">Chỉnh sửa</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Xoá</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>SB1324</td>
                        <td>Vũ Văn A</td>
                        <td>Đơn vị B</td>
                        <td>01/11/2007</td>
                        <td>01/01/2019</td>
                        <td>Còn hạn</td>
                        <td><button type="button" class="btn btn-primary btn-sm">Chỉnh sửa</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Xoá</button></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>SC1325</td>
                        <td>Vũ Văn B</td>
                        <td>Đơn vị C</td>
                        <td>02/11/2007</td>
                        <td>02/11/2019</td>
                        <td>Còn hạn</td>
                        <td><button type="button" class="btn btn-primary btn-sm">Chỉnh sửa</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Xoá</button></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>SC1326</td>
                        <td>Nguyễn Văn C</td>
                        <td>Đơn vị C</td>
                        <td>03/11/2007</td>
                        <td>03/11/2019</td>
                        <td>Còn hạn</td>
                        <td><button type="button" class="btn btn-primary btn-sm">Chỉnh sửa</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Xoá</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
