@{
    Layout = "~/Views/Shared/_Layout_BGD2.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/c3/c3.min.css">
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="~/dist/css/pages/easy-pie-chart.css" rel="stylesheet">

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="report_title">
                <B>NĂNG SUẤT, TIỀN LƯƠNG THEO NGÀY</B>
                <br />
                <i class="fas fa-calendar-alt icon"></i>
                <input type="text"
                       class="datepicker-here center"
                       data-language='vi'
                       data-min-view="months"
                       data-view="months"
                       data-date-format="MM yyyy" value="15/08/2019" />
                <br /><br />
                Đơn vị: <b>VTL 1</b>
            </h3>
            <hr />
        </div>
        <div class="row">
            <div class="col s12" style="margin-bottom:20px">
                <div class="left">
                    <p>Xem theo:</p>
                    <a class='dropdown-trigger btn' id="time2" href='#' data-target='dropdown_time'
                       style="width:250px;background-color:#273146">
                        Thời gian
                    </a>
                    <a class='dropdown-trigger btn' id="px" href='#' data-target='dropdown_px'
                       style="width:250px;background-color:#273146">
                        Phân xưởng
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="row table_container">
                    <table class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>
                                <th rowspan="2" width="1%">STT</th>
                                <th rowspan="2" width="7%">Nội dung công việc</th>
                                <th rowspan="2" width="5%">LĐ theo DS</th>
                                <th rowspan="1" colspan="8">Trong đó</th>
                                <th rowspan="2" width="7%">SL thực hiện trong ca<br>(Tấn/ mlò)</th>
                                <th rowspan="2" width="5%">NSLĐ Thực hiện</th>
                            </tr>
                            <tr>
                                <th width="1%">LĐSX</th>
                                <th width="4%">Phép</th>
                                <th width="4%">Ốm</th>
                                <th width="4%">Bù</th>
                                <th width="4%">TT</th>
                                <th width="4%">VLD</th>
                                <th width="4%">H,VR<br>TS</th>
                                <th width="4%">Tổng nghỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <th>CA 1</th>
                                <th>38</th>
                                <th>33</th>
                                <th>3</th>
                                <th>1</th>
                                <th>0</th>
                                <th>0</th>
                                <th>0</th>
                                <th>1</th>
                                <th><a class="modal-trigger" href="#modal5">5</a></th>
                                <th>120</th>
                                <th>4,29</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>CBQL</td>
                                <td>6</td>
                                <td>5</td>
                                <td><a class="modal-trigger" href="#modal1">1</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Cơ điện</td>
                                <td>6</td>
                                <td>6</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>CNTK</td>
                                <td>26</td>
                                <td>22</td>
                                <td><a class="modal-trigger" href="#modal2">2</a></td>
                                <td><a class="modal-trigger" href="#modal1">1</a></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td><a class="modal-trigger" href="#modal1">1</a></td>
                                <td>4</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>HSTT</td>
                                <td>0</td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <th>CA 2</th>
                                <th>28</th>
                                <th>22</th>
                                <th>1</th>
                                <th>0</th>
                                <th>1</th>
                                <th>0</th>
                                <th>0</th>
                                <th>4</th>
                                <th><a class="modal-trigger" href="#modal6">6</a></th>
                                <th>115</th>
                                <th>5,48</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>CBQL</td>
                                <td>1</td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Cơ điện</td>
                                <td>5</td>
                                <td>5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>CNTK</td>
                                <td>22</td>
                                <td>16</td>
                                <td><a class="modal-trigger" href="#modal1">1</a></td>
                                <td>0</td>
                                <td><a class="modal-trigger" href="#modal1">1</a></td>
                                <td></td>
                                <td>0</td>
                                <td><a class="modal-trigger" href="#modal4">4</a></td>
                                <td>6</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>HSTT</td>
                                <td>0</td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>3</th>
                                <th>CA 3</th>
                                <th>25</th>
                                <th>22</th>
                                <th>0</th>
                                <th>1</th>
                                <th>0</th>
                                <th>0</th>
                                <th>0</th>
                                <th>2</th>
                                <th><a class="modal-trigger" href="#modal3">3</a></th>
                                <th>120</th>
                                <th>5,71</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>CBQL</td>
                                <td>1</td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Cơ điện</td>
                                <td>5</td>
                                <td>5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>CNTK</td>
                                <td>19</td>
                                <td>16</td>
                                <td></td>
                                <td><a class="modal-trigger" href="#modal1">1</a></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td><a class="modal-trigger" href="#modal2">2</a></td>
                                <td>3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>HSTT</td>
                                <td>0</td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>4</th>
                                <th>TỔNG</th>
                                <th>91</th>
                                <th>77</th>
                                <th>4</th>
                                <th>2</th>
                                <th>1</th>
                                <th>0</th>
                                <th>0</th>
                                <th>7</th>
                                <th>14</th>
                                <th>355</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>CBQL</td>
                                <td>7</td>
                                <td>7</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Cơ điện</td>
                                <td>16</td>
                                <td>16</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>CNKT</td>
                                <td>54</td>
                                <td>54</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>HSTT</td>
                                <td>0</td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">Nghỉ VLD dài</td>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">Nghỉ ốm dài + nghỉ tự túc + chờ THLD</td>
                                <td>5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th colspan="2">Tổng cộng</th>
                                <th>98</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="export_btn_container">
                            <a class="waves-effect waves-light btn blue">In báo cáo</a>
                            <a class="waves-effect waves-light btn blue">Xuất ra file excel</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <table class="table table-bordered table-responsive centered highlight">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Số thẻ</th>
                    <th>Nghỉ từ ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lâm Văn Đặng</td>
                    <td>1923</td>
                    <td>03/7</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Đóng</a>
    </div>
</div>
<div id="modal6" class="modal modal-fixed-footer">
    <div class="modal-content">
        <table class="table table-bordered table-responsive centered highlight">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Số thẻ</th>
                    <th>Đơn vị</th>
                    <th>Lý do</th>
                    <th>Nghỉ từ ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nguyễn Văn Thiện</td>
                    <td>7062</td>
                    <td>CBQL</td>
                    <td>Phép</td>
                    <td>10/7</td>
                </tr>
                <tr>
                    <td>Vũ Quý Nghiêm</td>
                    <td>5309</td>
                    <td>CNKT</td>
                    <td>Phép</td>
                    <td>14/02/17</td>
                </tr>
                <tr>
                    <td>Nguyễn Văn Anh</td>
                    <td>8192</td>
                    <td>CNKT</td>
                    <td>Phép</td>
                    <td>31/5/18</td>
                </tr>
                <tr>
                    <td>Trần Hữu Quang</td>
                    <td>2487</td>
                    <td>CNKT</td>
                    <td>Ốm</td>
                    <td>18/9/18</td>
                </tr>
                <tr>
                    <td>Nguyễn Đăng Quân</td>
                    <td>1103</td>
                    <td>CBQL</td>
                    <td>H,VR,TS</td>
                    <td>13/02/19</td>
                </tr>
                <tr>
                    <td>Nguyễn Đăng Quân</td>
                    <td>1103</td>
                    <td>CBQL</td>
                    <td>H,VR,TS</td>
                    <td>13/02/19</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Đóng</a>
    </div>
</div>
<!-- ============================================================== -->
<!-- Container fluid scss in scafholding.scss -->
<!-- ============================================================== -->
            </div>
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
        <table class="table table-bordered table-responsive centered highlight">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Số thẻ</th>
                    <th>Đơn vị</th>
                    <th>Lý do</th>
                    <th>Nghỉ từ ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lâm Văn Đặng</td>
                    <td>1923</td>
                    <td>CNKT</td>
                    <td>Phép</td>
                    <td>03/7</td>
                </tr>
                <tr>
                    <td>Nguyễn Văn Anh</td>
                    <td>8192</td>
                    <td>CNKT</td>
                    <td>Phép</td>
                    <td>31/5/18</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Đóng</a>
    </div>
</div>
<div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
        <table class="table table-bordered table-responsive centered highlight">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Số thẻ</th>
                    <th>Đơn vị</th>
                    <th>Lý do</th>
                    <th>Nghỉ từ ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trần Hữu Quang</td>
                    <td>2487</td>
                    <td>CNKT</td>
                    <td>Ốm</td>
                    <td>18/9/18</td>
                </tr>
                <tr>
                    <td>Nguyễn Đăng Quân</td>
                    <td>1103</td>
                    <td>CBQL</td>
                    <td>H,VR,TS</td>
                    <td>13/02/19</td>
                </tr>
                <tr>
                    <td>Nguyễn Văn Thiện</td>
                    <td>7062</td>
                    <td>CBQL</td>
                    <td>Phép</td>
                    <td>10/7</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Đóng</a>
    </div>
</div>
<div id="modal4" class="modal modal-fixed-footer">
    <div class="modal-content">
        <table class="table table-bordered table-responsive centered highlight">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Số thẻ</th>
                    <th>Đơn vị</th>
                    <th>Lý do</th>
                    <th>Nghỉ từ ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nguyễn Văn Thiện</td>
                    <td>7062</td>
                    <td>CBQL</td>
                    <td>Phép</td>
                    <td>10/7</td>
                </tr>
                <tr>
                    <td>Vũ Quý Nghiêm</td>
                    <td>5309</td>
                    <td>CNKT</td>
                    <td>Phép</td>
                    <td>14/02/17</td>
                </tr>
                <tr>
                    <td>Nguyễn Văn Anh</td>
                    <td>8192</td>
                    <td>CNKT</td>
                    <td>Phép</td>
                    <td>31/5/18</td>
                </tr>
                <tr>
                    <td>Nguyễn Đăng Quân</td>
                    <td>1103</td>
                    <td>CBQL</td>
                    <td>H,VR,TS</td>
                    <td>13/02/19</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Đóng</a>
    </div>
</div>
<div id="modal5" class="modal modal-fixed-footer">
    <div class="modal-content">
        <table class="table table-bordered table-responsive centered highlight">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Số thẻ</th>
                    <th>Đơn vị</th>
                    <th>Lý do</th>
                    <th>Nghỉ từ ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nguyễn Văn Thiện</td>
                    <td>7062</td>
                    <td>CBQL</td>
                    <td>Phép</td>
                    <td>10/7</td>
                </tr>
                <tr>
                    <td>Vũ Quý Nghiêm</td>
                    <td>5309</td>
                    <td>CNKT</td>
                    <td>Phép</td>
                    <td>14/02/17</td>
                </tr>
                <tr>
                    <td>Nguyễn Văn Anh</td>
                    <td>8192</td>
                    <td>CNKT</td>
                    <td>Phép</td>
                    <td>31/5/18</td>
                </tr>
                <tr>
                    <td>Trần Hữu Quang</td>
                    <td>2487</td>
                    <td>CNKT</td>
                    <td>Ốm</td>
                    <td>18/9/18</td>
                </tr>
                <tr>
                    <td>Nguyễn Đăng Quân</td>
                    <td>1103</td>
                    <td>CBQL</td>
                    <td>H,VR,TS</td>
                    <td>13/02/19</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Đóng</a>
    </div>
</div>
<ul id='dropdown_time' class='dropdown-content'>
    <li><a class="dropdown-child1" href="#!" name="day">Ngày</a></li>
    <li><a class="dropdown-child1" href="#!" name="month">Tháng</a></li>
</ul>
<ul id='dropdown_px' class='dropdown-content'>
    <li><a class="dropdown-child" href="#!" name="All">Tất cả</a></li>
    <li><a class="dropdown-child" href="#!" name="DL3">Đào lò 3</a></li>
    <li><a class="dropdown-child" href="#!" name="DL5">Đào lò 5</a></li>
    <li><a class="dropdown-child" href="#!" name="DL7">Đào lò 7</a></li>
    <li><a class="dropdown-child" href="#!" name="DL8">Đào lò 8</a></li>
    <li><a class="dropdown-child" href="#!" name="KT1">Khai Thác 1</a></li>
    <li><a class="dropdown-child" href="#!" name="KT2">Khai Thác 2</a></li>
    <li><a class="dropdown-child" href="#!" name="KT3">Khai Thác 3</a></li>
    <li><a class="dropdown-child" href="#!" name="KT4">Khai Thác 4</a></li>
    <li><a class="dropdown-child" href="#!" name="KT5">Khai Thác 5</a></li>
    <li><a class="dropdown-child" href="#!" name="KT6">Khai Thác 6</a></li>
    <li><a class="dropdown-child" href="#!" name="KT7">Khai Thác 7</a></li>
    <li><a class="dropdown-child" href="#!" name="KT8">Khai Thác 8</a></li>
    <li><a class="dropdown-child" href="#!" name="KT9">Khai Thác 9</a></li>
    <li><a class="dropdown-child" href="#!" name="KT10">Khai Thác 10</a></li>
    <li><a class="dropdown-child" href="#!" name="KT11">Khai Thác 11</a></li>
    <li><a class="dropdown-child" href="#!" name="VTL1">Vận tải 1</a></li>
    <li><a class="dropdown-child" href="#!" name="VTL2">Vận tải 2</a></li>
</ul>
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
@*<script src="~/dist/js/pages/echarts/bar/bar.js"></script>*@
<script src="~/js/tuan_js/myChart2.js"></script>
<script>
    $('.clickable_cell').click(function () {
        var idName = $(this).attr('id');
        switch (idName) {
            case 'ldtdd_kt':
                $('.modal_title').html('LAO ĐỘNG KHAI THÁC THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_cd':
                $('.modal_title').html('LAO ĐỘNG CƠ ĐIỆN THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_hstt':
                $('.modal_title').html('LAO ĐỘNG HSTT THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldnghidai_vld':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI VÔ LÝ DO');
                break;
            case 'ldnghidai_thhd':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI THHĐ');
                break;
            case 'ldnghidai_om':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI ỐM, TNLĐ');
                break;
            case 'ldnghidai_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG NGHỈ DÀI');
                break;
            case 'tonglaodong':
                $('.modal_title').html('TỔNG LAO ĐỘNG SAU KHI TRỪ');
                break;
            case 'ldbq_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG THỰC HIỆN BQ');
                break;
            case 'ldbq_dilam':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG BQ ĐI LÀM');
                break;
            case 'ldbq_ldvang_vld':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VÔ LÝ DO');
                break;
            case 'ldbq_ldvang_om':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ ỐM');
                break;
            case 'ldbq_ldvang_khac':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VỚI LÝ DO KHÁC');
                break;
            case 'ldbq_ldvang_tong':
                $('.modal_title').html('DANH SÁCH TỔNG HỢP LAO ĐỘNG THỰC HIỆN BQ NGHỈ');
                break;
            default:
                break;
        }
    });
    var elem = document.querySelector('.modal');
    var instance = M.Modal.init(elem, options);
</script>

<script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<!-- This page plugin js -->
<!-- ============================================================== -->
<script src="~/assets/extra-libs/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="~/assets/extra-libs/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>
<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="~/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>

<script src="~/js/Custom JS/button_watch_by.js"></script>

