
@{
    ViewData["Title"] = "SucoThietbi";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}


<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>


<div class="card">
    <div class="card-content">
        <div class="container-fluid">

            <div class="row table_container">
                <div class="advanded-search">
                    <div class="row">
                        <div class="center">
                            <h3 class="center"><b>THÔNG TIN SỰ CỐ</b></h3>
                        </div>
                        <hr>
                        <div class="row center">
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo mã ô tô" class='form-control' id="searchArea"
                                               multiple />
                                    </div>
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo tên ô tô" class='form-control' id="searchArea"
                                               multiple />
                                    </div>
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo biển kiểm soát" class='form-control' id="searchArea"
                                               multiple />
                                    </div>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                        <i class="fas fa-calendar-alt icon"></i>
                                        <input type='text' class='datepicker-here center' id="minMaxDate" data-language='vi' value="Ngày nhập (từ)" style="height: 24px" />
                                    </div>
                                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                        <i class="fas fa-calendar-alt icon"></i>
                                        <input type='text' class='datepicker-here center' id="minMaxDate" data-language='vi' value="Ngày nhập (đến)" style="height: 24px" />
                                    </div>
                                    <div class="col l12 m12 s12 input-field">
                                        <button class="btn blue darken-2 btn-small" id="searchButton1">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo mã TSCĐ" class='form-control' id="searchArea"
                                               multiple />
                                    </div>
                                    <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                                        <select class="form-control" id="gender">
                                            <option value="" disabled selected>Chọn loại chất lượng</option>
                                            <option value="1">A</option>
                                            <option value="2">B</option>
                                            <option value="3">C</option>

                                        </select>
                                    </div>
                                    <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo nhà cung cấp" class='form-control' id="searchArea"
                                               multiple />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12 m12 s6">
                            <button class="btn blue darken-2 btn-small" id="searchButton2">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="col s12 left">
                    <a class="waves-effect waves-light btn-small blue modal-trigger" href="#myadd">Thêm</a>
                </div>
                <div class="col s12">
                    <table class="table-bordered striped table-responsive centered"
                           style="margin-top:30px; text-align:center;">
                        <thead class="highlight">
                            <tr class="highlight">
                                <th colspan="2">Thiết bị gặp sự cố</th>
                                <th class="text-center" rowspan="2">Vị trí</th>
                                <th class="text-center" rowspan="2">Phân xưởng chịu trách nhiệm</th>
                                <th class="text-center" colspan="4">Nội dung sự cố</th>
                                <th class="text-center" rowspan="2">Loại sự cố</th>
                                <th class="text-center" rowspan="2" colspan="2"></th>


                            </tr>
                            <tr>
                                <th class="text-center">Mã thiết bị</th>
                                <th class="text-center">Tên thiết bị</th>
                                <th>Thời gian bắt đầu sự cố</th>
                                <th>Thời gian kết thúc sự cố</th>
                                <th>Thời gian dừng hoạt động</th>
                                <th>Lý do sự cố</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>AH14</td>
                                <td>Xe tải</td>
                                <td>Lò DV-110V7.3</td>
                                <td>Khai thác 3</td>
                                <td>2:15AM 15/7/2019</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#capnhat" class="waves-effect waves-light btn blue darken-1 modal-trigger">Cập nhật</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH14</td>
                                <td>Xe tải</td>
                                <td>Lò DV-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>1:00PM 10/7/2019</td>
                                <td>1:30PM 10/7/2019</td>
                                <td>0:30</td>
                                <td>Trượt con lăn</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH14</td>
                                <td>Xe tải</td>
                                <td>Lò DV-110V7.3</td>
                                <td>Khai thác 4</td>
                                <td>2:00PM 3/6/2019</td>
                                <td>5:00PM 3/6/2019</td>
                                <td>5:00</td>
                                <td>Mẻ bánh xích</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH14</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 5</td>
                                <td>10:00AM 15/5/2019</td>
                                <td>10:10AM 15/5/2019</td>
                                <td>0:10</td>
                                <td>Kẹt máy</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH19</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 5</td>
                                <td>11:00AM 10/5/2019</td>
                                <td>11:50AM 10/5/2019</td>
                                <td>0:50</td>
                                <td>Đứt dây dẫn khí</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH19</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>6:00AM 2/5/2019</td>
                                <td>7:00AM 2/5/2019</td>
                                <td>1:00</td>
                                <td>Hỏng phao điện</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH19</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>8:00AM 20/4/2019</td>
                                <td>9:30AM 20/4/2019</td>
                                <td>1:30</td>
                                <td>Thủng lốp</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH19</td>
                                <td>Xe tải</td>
                                <td>Lò MK-110V7.3</td>
                                <td>Khai thác 2</td>
                                <td>8:10PM 15/4/2019</td>
                                <td>9:30PM 15/4/2019</td>
                                <td>1:20</td>
                                <td>Rụng bánh</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH01</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 7</td>
                                <td>8:00AM 4/4/2019</td>
                                <td>12:30AM 4/4/2019</td>
                                <td>4:30</td>
                                <td>Cạn điện ắc-quy</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH01</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>10:00AM 31/3/2019</td>
                                <td>12:30AM 31/3/2019</td>
                                <td>2:30</td>
                                <td>Hỏng gale đỡ</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH01</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>8:00AM 17/3/2019</td>
                                <td>9:30AM 17/3/2019</td>
                                <td>1:30</td>
                                <td>Kẹt dầu thủy lực</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH01</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>10:00AM 1/3/2019</td>
                                <td>9:30PM 1/3/2019</td>
                                <td>11:30</td>
                                <td>Động cơ yếu</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH01</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>11:00AM 11/2/2019</td>
                                <td>12:00AM 11/2/2019</td>
                                <td>1:00</td>
                                <td>Hỏng chổi than</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH01</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>12:00PM 3/2/2019</td>
                                <td>13:30PM 3/2/2019</td>
                                <td>1:30</td>
                                <td>Gãy mũi khoan</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                            <tr>
                                <td>AH01</td>
                                <td>Xe tải</td>
                                <td>Lò BC-110V7.3</td>
                                <td>Khai thác 1</td>
                                <td>8:00AM 25/1/2019</td>
                                <td>9:30AM 25/1/2019</td>
                                <td>1:30</td>
                                <td>Đứt 0.5m cáp tời</td>
                                <td>Sự cố nhỏ</td>
                                <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="center">
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal" id="myeditsuco">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa lịch sử</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Ngày : </label>
                            <input type="text" class="form-control" value="6/8/2019" />
                        </div>
                        <div class="form-group">
                            <label for="id">Sản lượng : </label>
                            <input type="text" class="form-control" value="50" />
                        </div>
                        <div class="form-group">
                            <label for="name">Loại nhiên liệu tiêu thụ : </label>
                            <input type="text" class="form-control" value="Điện năng" />
                        </div>
                        <div class="form-group">
                            <label for="name">Vị trí : </label>
                            <input type="text" class="form-control" value="Phân xưởng 1" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tình trạng : </label>
                            <input type="text" class="form-control" value="Ổn định" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="supplier">Công việc trong ngày </label>
                            <input type="text" class="form-control" value="Xúc đá" />
                        </div>
                        <div class="form-group">
                            <label for="id">Số giờ hoạt động : </label>
                            <input type="text" class="form-control" value="10" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Lượng tiêu thụ : </label>
                            <input type="text" class="form-control" value="1000" />
                        </div>
                        <div class="form-group">
                            <label for="name">Phân xưởng sử dụng : </label>
                            <input type="text" class="form-control" value="Phân xưởng 1" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<div class="modal fade" id="myadd">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm sự cố</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Tên thiết bị : </label>
                            <input type="text" class="form-control" value="Máy xúc lật" />
                        </div>
                        <div class="form-group">
                            <label for="name">Thời điểm gặp sự cố : </label>
                            <input type="date" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Phân xưởng chịu trách nhiệm : </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã thiết bị : </label>
                            <input type="text" class="form-control" value="AH12" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Vị trí gặp sự cố :</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="date">Loại sự cố : </label>
                            <input type="text" class="form-control" value="15/7/2016" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã thiết bị : </label>
                            <input type="text" class="form-control" value="SFC" />
                        </div>
                        <div class="form-group">
                            <label for="id">Số hiệu : </label>
                            <input type="text" class="form-control" value="AH12" />
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày nhập : </label>
                            <input type="date" class="form-control" value="04-12-2018" />
                        </div>
                        <div class="form-group">
                            <label for="name">Khấu hao ước tính : </label>
                            <input type="text" class="form-control" value="12%" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Ghi chú: </label>
                            <input type="number" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="id">Tên thiết bị : </label>
                            <input type="text" class="form-control" value="Máy xúc lật" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Nhà cung cấp : </label>
                            <input type="text" class="form-control" value="TC MOTOR" />
                        </div>
                        <div class="form-group">
                            <label for="name">Nguyên giá : </label>
                            <input type="text" class="form-control" value="120.000.000" />
                        </div>
                        <div class="form-group">
                            <label for="number">Tình trạng: </label>
                            <input type="text" class="form-control" value="Ổn định" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div id="myaleart" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận xóa mục này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn blue darken-2 modal-close">Xóa</button>
            <button type="button" class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Danh sách thiết bị lộ thiên</a></li>
    <li><a href="#!">Danh sách thiết bị hầm lò</a></li>
    <li><a href="#!">Danh sách thiết bị truyền dẫn</a></li>
    <li><a href="#!">Danh sách thiết bị sàng tuyển</a></li>
    <li><a href="#!">Danh sách hết bảo hiểm</a></li>
    <li><a href="#!">Danh sách hết khấu hao</a></li>
    <li><a href="#!">Danh sách đang bảo dưỡng</a></li>
    <li><a href="#!">Danh sách đang sửa chữa</a></li>
    <li><a href="#!">Danh sách đang gặp sự cố</a></li>
</ul>

<script>
    $(window).resize(function () {
        if ($(window).width() <= 600) {
            $("#searchButton1").hide();
            $("#searchButton2").show();
        } else {
            $("#searchButton1").show();
            $("#searchButton2").hide();
        }
    });
</script>

<div id="capnhat" class="modal">
    <div class="modal-content">
        <div class="modal-header center">
            <h3><b>Cập nhật sự cố</b></h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Thời gian kết thúc sự cố : </label>
                            <input type="text" class="form-control" value="15/7/2016" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="name">Lý do sự cố : </label>
                            <input type="text" class="form-control" value="XT-01" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn blue modal-close darken-2">Lưu</a>
            <a class="btn light-blue modal-close darken-2">Đóng</a>
        </div>
    </div>

</div>
<link href="~/css/transfer_mobilize_history_timeline.css" rel="stylesheet" />
<script src="~/js/Briefs_List.js"></script>
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />

