
@{
    ViewBag.Title = "SalaryScale";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="container-fluid user_roll">
    <div class="row">
        <div class="center">
            <h3><b>QUẢN LÝ MỨC THANG LƯƠNG  </b></h3>
        </div>
        <div>
            <a class="waves-effect waves-light btn darken-2 btn-small input-field modal-trigger" href="#modal_themthangluong">Thêm</a>
        </div>
        <div>
            <table id="tbthangluong" class="table table-bordered responsive-table center">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc_disabled" colspan="1" rowspan="1" style="width:70%">Thang Lương</th>
                        <th class="sorting_asc_disabled" colspan="1" rowspan="1" style="width:15%"></th>
                        <th class="sorting_asc_disabled" colspan="1" rowspan="1" style="width:15%"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!--Modal thêm Thang Lương-->

<div id="modal_themthangluong" class="modal">
    <div class="card">
        <div class="card-content">
            <h4>
                <b>Thêm Mức Thang Lương Mới</b>
            </h4>
            <div class="modal-content">
                <div class="row">
                    <div class="col s1 m1 l1"></div>
                    <div class="col s12 m10 l10">
                        <label>Mức thang lương mới</label>
                        <input type="text" class="form-control" id="ten_thang_luong" />
                    </div>
                    <div class="col s1 m1 l1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="xacNhanThemThangLuong" class="waves-effects waves-light btn blue darken-2 btn-small">Xác nhận</button>
                <button id="dongThemThangLuong" class="waves-effects waves-light btn red darken-2 btn-small modal-close">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!--Modal sửa Thang Lương-->

<div id="modal_suaThangLuong" class="modal">
    <div class="card">
        <div class="card-content">
            <h4>
                <b>Sửa Mức Thang Lương </b>
            </h4>
            <div class="modal-content">
                <div class="row">
                    <div class="col s1 m1 l1"></div>
                    <div class="col s12 m10 l10">
                        <label>Mức thang lương </label>
                        <input type="text" class="form-control" id="thang_luong" />
                    </div>
                    <div class="col s1 m1 l1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="xacNhanSuaThangLuong" class="waves-effects waves-light btn blue darken-2 btn-small">Xác nhận</button>
                <button id="dongSuaThangLuong" class="waves-effects waves-light btn red darken-2 btn-small modal-close">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--List Thang Lương-->
<script>
    var table;
    $(document).ready(function () {
        $('#pre-load').show();
        table = $('#tbthangluong').DataTable({
            "ajax": {
                "url": "/phong-tcld/quan-ly-thang-luong/danh-sach-thang-luong",
                "type": "POST",
                "datatype": "json",
                "cache": "false",
                "dataSrc": function (json) {
                    return json["thangluong_list"];
                }
            },
            "columns": [
                { "data": "MucThangLuong", "name": "MucThangLuong" },
                {
                    "data": "", "orderable": false,"searchable": false, "render": function (data, type, row) {
                        return "<a id=\"suaThangLuong\" name=\"" + row["MaThangLuong"] + "\" class=\"waves-effects waves-light btn blue darken-2 btn-small modal-trigger\" href=\"#modal_suaThangLuong\">Sửa</a>";
                    }
                },
                {
                    "data": "", "orderable": false,"searchable": false, "render": function (data, type, row) {
                        return "<a id=\"xoaThangLuong\" name=\"" + row["MaThangLuong"] + "\" class=\"waves-effects waves-light btn red darken-2 btn-small modal-trigger\">Xóa</a>";
                    }
                }
            ],
            "serverSide": "true",
            "order": [0, "desc"],
            "searching": false,
            "lengthChange": false,
            "autoWidth": false,
            "filter": true,
            "info": false,
            "language": {
                    emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|"
                    }
                },
            "initComplete": function (settings, json) {
                $('#pre-load').hide();
            }
        });
    });
</script>

<!--------------------------------ADD-------------------------->
<script>
    $(document).ready(function () {
        $('#xacNhanThemThangLuong').click(function () {
            $('#pre-load').show(),
                $.ajax({
                    url: "/phong-tcld/quan-ly-thang-luong/them-thang-luong",
                    type: "POST",
                    datatype: "json",
                    data: {
                        "tenthangluong": $("#ten_thang_luong").val(),
                    },
                    success: function (response) {
                        if (response.success) {
                            // close the modal
                            $("#dongThemThangLuong").click();
                            $("#ten_thang_luong").val("");

                            successAlert(response.tittle, response.message);
                            //reload the table
                            table.ajax.reload();
                            //hide the pre-loader
                            $("#pre-load").hide();
                        } else if (response.error) {
                            //alert the failure
                            errorAlert(response.title, response.message);
                            //hide the pre-loader
                            table.ajax.reload();
                            $("#pre-load").hide();
                        }
                    },
                    error: function (response) {

                    }
                });
        });
    });
</script>
<!-------------GET DATA By MaThangLuong--------------->
<script>
    function getData(mathangluong) {
        $("pre-load").show(),
            $.ajax({
                url: "/phong-tcld/quan-ly-thang-luong/lay-du-lieu-theo-ma-thang-luong",
                type: "POST",
                dataType: "json",
                data: {
                    "mathangluong": mathangluong
                },
                success: function (response) {
                    if (response.success) {
                        //fill data
                        $("#thang_luong").val(response.mucthangluong);
                        //hide the pre-loader
                    }
                },
                error: function (response) {

                }
            });
    }
</script>

<!------------------Edit------------------------>
<script>
    $(document).ready(function () {
        var mathangluong;
        //fill data to input
        $("#tbthangluong").on("click", "#suaThangLuong", function () {
            mathangluong = $(this).attr("name");
            getData(mathangluong);
        });
        //update
        $("#xacNhanSuaThangLuong").click(function () {
            thangluong = $("#thang_luong").val();

            update(mathangluong, thangluong);
        });
    });
</script>

<script>
    function update(mathangluong, mucthangluong) {
        $("pre-load").show(),
            $.ajax({
                url: "/phong-tcld/quan-ly-cong-viec/cap-nhat-thang-luong",
                type: "POST",
                datatype: "json",
                data: {
                    "mathangluong": mathangluong,
                    "mucthangluong": mucthangluong,
                },
                success: function (response) {
                    if (response.success) {
                        //close modal suaCongViec
                        $("#dongSuaThangLuong").click();
                        //alert successfull updating
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide the pre-load
                        $("#pre-load").hide();
                    } else if (response.error) {
                        //alert fail updating
                        errorAlert(response.title, response.message);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {

                }
            });
    }
</script>

<!-----------------Delete------------------->
<script>
    $(document).ready(function () {
        var mathangluong;
        $("#tbthangluong").on("click", "#xoaThangLuong", function () {
            mathangluong = $(this).attr("name");
            //alert confirm
            confirmAlert("Xác nhận xóa?", "Xác nhân xóa công việc", () => { delete_thangluong(mathangluong); });
        });
    });
</script>
<script>
    function delete_thangluong(mathangluong) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/quan-ly-cong-viec/xoa-thang-luong",
                type: "POST",
                datatype: "json",
                data: {
                    "mathangluong": mathangluong
                },
                success: function (response) {
                    if (response.success) {
                        //alert successfull deleting
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide the pre-loader
                        $("#pre-load").hide();
                    } else if (response.error) {
                        //alert fail deleting
                        errorAlert(response.title, response.message);
                        //hide the pre-loader
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {

                }
            })
    }
</script>



