.table {
    width: 100%;
}

#relation {
    width: 10%;
}

#name {
    width: 25%;
}

#birthdate {
    width: 15%;
}

#resume {
    width: 50%;
}
.td-cbb-align {
    float: left !important;
    margin-left: 30px !important;
}