
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_LongCDVT.cshtml";
}
@*<div class="card center" style="width:50%;margin-left:25%">
    <div class="card-content">
        <div class="col s12">
            <div class="row table_container">
                <h3 class="card-title center"><b>THÔNG TIN CƠ BẢN CỦA THIẾT BỊ</b></h3>
                <table class="striped centered">
                    <tr>
                        <td>Mã</td>
                        <td>SFC</td>
                    </tr>
                    <tr>
                        <td>Tên</td>
                        <td>Xe tải</td>
                    </tr>
                    <tr>
                        <td>Biển kiểm soát</td>
                        <td>14V5-30201</td>
                    </tr>
                    <tr>
                        <td>Loại xe ô tô</td>
                        <td>Xe bánh lốp</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>*@
<div class="card">
    <div class="card-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col s12">
                    <div class="center">
                        <h3 class="centered"><b>LÝ LỊCH Ô TÔ</b></h3>
                        <h5 class="centered">Xe tải - 14V5-30201</h5>
                    </div>

                    <div class="row">
                        <div class="col s12">


                                <ul class="tabs">
                                    <li class="tab col s2"><a class="active" href="#thongtin">THÔNG TIN THIẾT BỊ</a></li>
                                    <li class="tab col s2"><a href="#dieuchuyen">LS ĐIỀU CHUYỂN</a></li>
                                    <li class="tab col s2"><a href="#suachua">LS SỬA CHỮA</a></li>
                                    <li class="tab col s2"><a href="#baoduong">LS BẢO DƯỠNG</a></li>
                                    <li class="tab col s1"><a href="#suco">LS SỰ CỐ</a></li>
                                    <li class="tab col s1"><a href="#kiemdinh">KIỂM ĐỊNH</a></li>
                                    <li class="tab col s2"><a href="#lichsu">LS HOẠT ĐỘNG</a></li>
                                </ul>
                        </div>

                        <div id="dieuchuyen" class="col s12">
                            <div class="wrapper-timeline">

                                <div class="container">
                                    <div class="timeline">
                                        <div class="timeline-month">
                                            Năm 2018
                                            <span>1 lần điều động</span>
                                        </div>

                                        <div class="timeline-section">
                                            <div class="timeline-date">
                                                Thứ 6, ngày 15 tháng 12
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="timeline-box">
                                                        <div class="box-content">
                                                            <table class="striped responsive-table">
                                                                <tr>
                                                                    <th>Ngày kết thúc điều động</th>
                                                                    <th>Vị trí điều động</th>
                                                                    <th>Phân xưởng chịu trách nhiệm</th>
                                                                    <th>Người ký điều động</th>
                                                                    <th>Người phê duyệt</th>
                                                                    <th>Ngày ký duyệt</th>
                                                                    <th>Số quyết định</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>21/10/2021</td>
                                                                    <td>Lò 1</td>
                                                                    <td>Phân xưởng 1</td>
                                                                    <td><a href="/" style="color: dodgerblue;">Nguyễn Thị Hưởng</a></td>
                                                                    <td><a href="/" style="color: dodgerblue;">Trần Quốc Anh</a></td>
                                                                    <td>16/12/2018</td>
                                                                    <td>QĐ-324</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="timeline">
                                        <div class="timeline-month">
                                            Năm 2017
                                            <span>2 lần điều động</span>
                                        </div>

                                        <div class="timeline-section">
                                            <div class="timeline-date">
                                                Thứ 2, ngày 03 tháng 09
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="timeline-box">
                                                        <div class="box-content">
                                                            <table class="striped responsive-table">
                                                                <tr>
                                                                    <th>Ngày kết thúc điều động</th>
                                                                    <th>Vị trí điều động</th>
                                                                    <th>Phân xưởng chịu trách nhiệm</th>
                                                                    <th>Người ký điều động</th>
                                                                    <th>Người phê duyệt</th>
                                                                    <th>Ngày ký duyệt</th>
                                                                    <th>Số quyết định</th>
                                                                    <th>Hoạt động</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>21/10/2018</td>
                                                                    <td>Lò 2</td>
                                                                    <td>Phân xưởng 1</td>
                                                                    <td><a href="/" style="color: dodgerblue;">Nguyễn Thị Hưởng</a></td>
                                                                    <td><a href="/" style="color: dodgerblue;">Trần Quốc Anh</a></td>
                                                                    <td>04/09/2017</td>
                                                                    <td>QĐ-324</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-section">
                                            <div class="timeline-date">
                                                Thứ 2, ngày 01 tháng 01
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="timeline-box">
                                                        <div class="box-content">
                                                            <table class="striped responsive-table">
                                                                <tr>
                                                                    <th>Ngày kết thúc điều động</th>
                                                                    <th>Vị trí điều động</th>
                                                                    <th>Phân xưởng chịu trách nhiệm</th>
                                                                    <th>Người ký điều động</th>
                                                                    <th>Người phê duyệt</th>
                                                                    <th>Ngày ký duyệt</th>
                                                                    <th>Số quyết định</th>
                                                                    <th>Hoạt động</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>01/09/2017</td>
                                                                    <td>Lò 2</td>
                                                                    <td>Phân xưởng 1</td>
                                                                    <td><a href="/" style="color: dodgerblue;">Nguyễn Thị Hưởng</a></td>
                                                                    <td><a href="/" style="color: dodgerblue;">Trần Quốc Anh</a></td>
                                                                    <td>02/01/2017</td>
                                                                    <td>QĐ-324</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="thongtin" class="col s12">
                            <div class="row table_container">
                                <h5 class="card-title"></h5>
                                <div id="data-color"></div>
                                <table class="striped" style="margin:30px !important">
                                    <tr>
                                        <td style="text-align:right !important">Mã</td>
                                        <td>SFC</td>
                                    </tr>
                                    <tr>
                                        <td>Tên</td>
                                        <td>Xe tải</td>
                                    </tr>
                                    <tr>
                                        <td>Số hiệu</td>
                                        <td>ECM660-IV</td>
                                    </tr>
                                    <tr>
                                        <td>Biển kiểm soát</td>
                                        <td>14V5-30201</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày đăng kiểm</td>
                                        <td>10-12-2018</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày hết hạn đăng kiểm</td>
                                        <td>10-12-2020</td>
                                    </tr>
                                    <tr>
                                        <td>Nhà cung cấp</td>
                                        <td>TC MOTOR</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày nhập</td>
                                        <td>04-12-2018</td>
                                    </tr>
                                    <tr>
                                        <td>Nguyên giá</td>
                                        <td>120.000.000</td>
                                    </tr>
                                    <tr>
                                        <td>Khấu hao ước tính</td>
                                        <td>12%</td>
                                    </tr>
                                    <tr>
                                        <td>Khấu hao hiện tại</td>
                                        <td>104.000.000</td>
                                    </tr>
                                    <tr>
                                        <td>Thời hạn bảo hiểm(tháng)</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày đưa vào sử dụng</td>
                                        <td>10-12-2018</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày bảo dưỡng gần nhất</td>
                                        <td>04-05-2019</td>
                                    </tr>
                                    <tr>
                                        <td>Tổng giờ hoạt động(tính từ lần bảo dưỡng gần nhất)</td>
                                        <td>324 giờ</td>
                                    </tr>
                                    <tr>
                                        <td>Vị trí hiện tại</td>
                                        <td>Phân xưởng 1</td>
                                    </tr>
                                    <tr>
                                        <td>Tình trạng hiện tại</td>
                                        <td>Ổn định</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div id="suachua" class="col s12">
                            <div class="row table_container">
                                <table class="table table-bordered striped table-responsive centered" style="zoom:80%">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">STT</th>
                                            <th rowspan="2">Số LSX, QĐ</th>
                                            <th rowspan="2">Ngày tháng LSX, QĐ</th>
                                            <th rowspan="2">Cấp SC</th>
                                            <th colspan="2">Thời gian SC</th>
                                            <th colspan="5">Chi tiết vật tư thay thế, SC</th>
                                            <th rowspan="2">KQ sau SC</th>
                                            <th colspan="5">Chi tiết vật tư thu hồi sau SC</th>
                                        </tr>
                                        <tr>
                                            <th>TG vào SC</th>
                                            <th>TG SC xong</th>
                                            <th>Mã VT</th>
                                            <th>Tên vật tư</th>
                                            <th>ĐVT</th>
                                            <th>Số lượng</th>
                                            <th>TTKT của vật tư</th>
                                            <th>Mã VT</th>
                                            <th>Tên vật tư</th>
                                            <th>ĐVT</th>
                                            <th>Số lượng</th>
                                            <th>TTKT của vật tư</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">1</td>
                                            <td rowspan="2">1162/LSX-VQHC-CV về việc sửa chữa băng tải B650 Phân xưởng Khai thác 4</td>
                                            <td rowspan="2">15/7/2019</td>
                                            <td rowspan="2">
                                                SCTX
                                            </td>
                                            <td rowspan="2">2:15AM 15/7/2019</td>
                                            <td rowspan="2">4:15 AM 15/7/2019</td>
                                            <td rowspan="2"></td>
                                            <td>Khung xe</td>
                                            <td>Bộ</td>
                                            <td>3</td>
                                            <td>
                                                Mới 100%
                                            </td>
                                            <td rowspan="2">
                                                Đảm bảo yêu cầu kỹ thuật
                                            </td>
                                            <td rowspan="2"></td>
                                            <td>Khung xe</td>
                                            <td>Bộ</td>
                                            <td>3</td>
                                            <td>
                                                Hỏng
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lốp tải Chengshin</td>
                                            <td>Cái</td>
                                            <td>12</td>
                                            <td>
                                                Mới 100%
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">2</td>
                                            <td rowspan="2">1162/LSX-VQHC-CV về việc sửa chữa băng tải B650 Phân xưởng Khai thác 4</td>
                                            <td rowspan="2">15/7/2019</td>
                                            <td rowspan="2">
                                                SCTX
                                            </td>
                                            <td rowspan="2">2:15AM 15/7/2019</td>
                                            <td rowspan="2">4:15 AM 15/7/2019</td>
                                            <td rowspan="2"></td>
                                            <td>Khung xe</td>
                                            <td>Bộ</td>
                                            <td>3</td>
                                            <td>
                                                Mới 100%
                                            </td>
                                            <td rowspan="2">
                                                Đảm bảo yêu cầu kỹ thuật
                                            </td>
                                            <td rowspan="2"></td>
                                            <td>Khung xe</td>
                                            <td>Bộ</td>
                                            <td>3</td>
                                            <td>
                                                Hỏng
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lốp tải Chengshin</td>
                                            <td>Cái</td>
                                            <td>12</td>
                                            <td>
                                                Mới 100%
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">3</td>
                                            <td rowspan="2">1162/LSX-VQHC-CV về việc sửa chữa băng tải B650 Phân xưởng Khai thác 4</td>
                                            <td rowspan="2">15/7/2019</td>
                                            <td rowspan="2">
                                                SCTX
                                            </td>
                                            <td rowspan="2">2:15AM 15/7/2019</td>
                                            <td rowspan="2">4:15 AM 15/7/2019</td>
                                            <td rowspan="2"></td>
                                            <td>Khung xe</td>
                                            <td>Bộ</td>
                                            <td>3</td>
                                            <td>
                                                Mới 100%
                                            </td>
                                            <td rowspan="2">
                                                Đảm bảo yêu cầu kỹ thuật
                                            </td>
                                            <td rowspan="2"></td>
                                            <td>Khung xe</td>
                                            <td>Bộ</td>
                                            <td>3</td>
                                            <td>
                                                Hỏng
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lốp tải Chengshin</td>
                                            <td>Cái</td>
                                            <td>12</td>
                                            <td>
                                                Mới 100%
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="center">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div id="baoduong" class="col s12">
                            <div class="row table_container">
                                <table class="striped centered table-responsive table-bordered">
                                    <tr>
                                        <th>Mã bảo dưỡng</th>
                                        <th>Bộ phận bàn giao</th>
                                        <th>Bộ phận bảo dưỡng</th>
                                        <th>Tình trạng trước bảo dưỡng</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày dự tính xong</th>
                                        <th>Ngày hoàn thành</th>
                                        <th>Tình trạng sau bảo dưỡng</th>
                                        <th>Chi tiết</th>
                                        <th>Chi phí</th>
                                        <th colspan="2"></th>
                                    </tr>
                                    <tr>
                                        <td>001</td>
                                        <td>PX Vận tải</td>
                                        <td>PX Phục vụ</td>
                                        <td>Tróc sơn</td>
                                        <td>10/06/2016</td>
                                        <td>15/06/2016</td>
                                        <td>15/06/2016</td>
                                        <td>Tốt</td>
                                        <td>Sơn lại Xe</td>
                                        <td>100.000<sup>đ</sup></td>
                                        <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                        <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                    </tr>
                                    <tr>
                                        <td>002</td>
                                        <td>PX Đào Lò</td>
                                        <td>PX Phục vụ</td>
                                        <td>Tróc sơn</td>
                                        <td>10/12/2016</td>
                                        <td>16/12/2016</td>
                                        <td>10/12/2016</td>
                                        <td>Tốt</td>
                                        <td>Sơn lại Xe</td>
                                        <td>150.000<sup>đ</sup></td>
                                        <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                        <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                    </tr>
                                    <tr>
                                        <td>003</td>
                                        <td>PX Vận tải</td>
                                        <td>PX Phục vụ</td>
                                        <td>Hỏng lốp</td>
                                        <td>10/06/2017</td>
                                        <td>15/06/2017</td>
                                        <td>15/06/2017</td>
                                        <td>Tốt</td>
                                        <td>Đã thay lốp</td>
                                        <td>100.000<sup>đ</sup></td>
                                        <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                        <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                    </tr>
                                    <tr>
                                        <td>004</td>
                                        <td>PX Vận tải</td>
                                        <td>PX Phục vụ</td>
                                        <td>Tróc sơn</td>
                                        <td>10/12/2017</td>
                                        <td>16/12/2017</td>
                                        <td>10/12/2017</td>
                                        <td>Tốt</td>
                                        <td>Sơn lại Xe</td>
                                        <td>100.000<sup>đ</sup></td>
                                        <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                        <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                    </tr>
                                    <tr>
                                        <td>005</td>
                                        <td>PX Vận tải</td>
                                        <td>PX Phục vụ</td>
                                        <td>Tróc sơn</td>
                                        <td>10/06/2018</td>
                                        <td>15/06/2018</td>
                                        <td>15/06/2018</td>
                                        <td>Tốt</td>
                                        <td>Sơn lại xe</td>
                                        <td>100.000<sup>đ</sup></td>
                                        <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                        <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                    </tr>
                                    <tr>
                                        <td>006</td>
                                        <td>PX Vận tải</td>
                                        <td>PX Phục vụ</td>
                                        <td>Tróc sơn</td>
                                        <td>10/06/2019</td>
                                        <td>10/06/2019</td>
                                        <td>16/06/2019</td>
                                        <td>Tốt</td>
                                        <td>Sơn lại xe</td>
                                        <td>100.000<sup>đ</sup></td>
                                        <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                        <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                    </tr>
                                    <tr>
                                        <td>007</td>
                                        <td>PX Vận tải</td>
                                        <td>PX Phục vụ</td>
                                        <td>Tróc sơn</td>
                                        <td>10/12/2019</td>
                                        <td>15/12/2019</td>
                                        <td>15/12/2019</td>
                                        <td>Tốt</td>
                                        <td>Sơn lại xe</td>
                                        <td>100.000<sup>đ</sup></td>
                                        <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                        <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="center">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div id="suco" class="col s12">
                            <div class="row table_container">
                                <table class="table-bordered striped table-responsive centered"
                                       style="margin-top:30px; text-align:center;">
                                    <thead class="highlight">
                                        <tr class="highlight">
                                            <th class="text-center" rowspan="2">Lần gặp sự cố</th>
                                            <th class="text-center" rowspan="2">Vị trí</th>
                                            <th class="text-center" rowspan="2">Đơn vị chịu trách nhiệm</th>
                                            <th class="text-center" colspan="4">Nội dung sự cố</th>
                                            <th class="text-center" rowspan="2" colspan="2"></th>


                                        </tr>
                                        <tr>
                                            <th>Thời gian bắt đầu sự cố</th>
                                            <th>Thời gian kết thúc sự cố</th>
                                            <th>Thời gian dừng hoạt động</th>
                                            <th>Lý do sự cố</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>15</td>
                                            <td>Lò DV-110V7.3</td>
                                            <td>Khai thác 3</td>
                                            <td>2:15AM 15/7/2019</td>
                                            <td>4:15AM 15/7/2019</td>
                                            <td>2:00</td>
                                            <td>Lệnh trục xe</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>Lò DV-110V7.3</td>
                                            <td>Khai thác 1</td>
                                            <td>1:00PM 10/7/2019</td>
                                            <td>1:30PM 10/7/2019</td>
                                            <td>0:30</td>
                                            <td>Trượt con lăn</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>Lò DV-110V7.3</td>
                                            <td>Khai thác 4</td>
                                            <td>2:00PM 3/6/2019</td>
                                            <td>5:00PM 3/6/2019</td>
                                            <td>5:00</td>
                                            <td>Mẻ bánh xích</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 5</td>
                                            <td>10:00AM 15/5/2019</td>
                                            <td>10:10AM 15/5/2019</td>
                                            <td>0:10</td>
                                            <td>Kẹt máy</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 5</td>
                                            <td>11:00AM 10/5/2019</td>
                                            <td>11:50AM 10/5/2019</td>
                                            <td>0:50</td>
                                            <td>Đứt dây dẫn khí</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 1</td>
                                            <td>6:00AM 2/5/2019</td>
                                            <td>7:00AM 2/5/2019</td>
                                            <td>1:00</td>
                                            <td>Hỏng phao điện</td>
                                            <td style="text-align: center"><a class="waves-effect waves-light btn blue darken-1">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 1</td>
                                            <td>8:00AM 20/4/2019</td>
                                            <td>9:30AM 20/4/2019</td>
                                            <td>1:30</td>
                                            <td>Thủng lốp</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Lò MK-110V7.3</td>
                                            <td>Khai thác 2</td>
                                            <td>8:10PM 15/4/2019</td>
                                            <td>9:30PM 15/4/2019</td>
                                            <td>1:20</td>
                                            <td>Rụng bánh</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 7</td>
                                            <td>8:00AM 4/4/2019</td>
                                            <td>12:30AM 4/4/2019</td>
                                            <td>4:30</td>
                                            <td>Cạn điện ắc-quy</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 1</td>
                                            <td>10:00AM 31/3/2019</td>
                                            <td>12:30AM 31/3/2019</td>
                                            <td>2:30</td>
                                            <td>Hỏng gale đỡ</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 1</td>
                                            <td>8:00AM 17/3/2019</td>
                                            <td>9:30AM 17/3/2019</td>
                                            <td>1:30</td>
                                            <td>Kẹt dầu thủy lực</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 1</td>
                                            <td>10:00AM 1/3/2019</td>
                                            <td>9:30PM 1/3/2019</td>
                                            <td>11:30</td>
                                            <td>Động cơ yếu</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 1</td>
                                            <td>11:00AM 11/2/2019</td>
                                            <td>12:00AM 11/2/2019</td>
                                            <td>1:00</td>
                                            <td>Hỏng chổi than</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Lò BC-110V7.3</td>
                                            <td>Khai thác 1</td>
                                            <td>12:00PM 3/2/2019</td>
                                            <td>13:30PM 3/2/2019</td>
                                            <td>1:30</td>
                                            <td>Lỗi hệ thống</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="center">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div id="kiemdinh" class="col s12">
                            <div class="row table_container">
                                <table class="table-bordered striped table-responsive centered"
                                       style="margin-top:30px; text-align:center;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">STT</th>
                                            <th rowspan="2">Ngày đăng kiểm</th>
                                            <th rowspan="2">Ngày hết hạn đăng kiểm</th>
                                            <th rowspan="2">Nơi đăng kiểm</th>
                                            <th colspan="3">Thiết bị đăng kiểm</th>
                                            <th rowspan="2" colspan="2"></th>
                                        </tr>
                                        <tr>
                                            <th>Mã thiết bị</th>
                                            <th>Tên thiết bị</th>
                                            <th>Biển số</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>15/7/2016</td>
                                            <td>15/2/2018</td>
                                            <td>KT02-19</td>
                                            <td>XT-01</td>
                                            <td>Xe tải</td>
                                            <td>14A-00000</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>15/7/2018</td>
                                            <td>15/2/2019</td>
                                            <td>KT02-19</td>
                                            <td>XT-02</td>
                                            <td>Xe tải</td>
                                            <td>14A-11111</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>15/7/2019</td>
                                            <td>15/2/2020</td>
                                            <td>KT02-19</td>
                                            <td>XT-03</td>
                                            <td>Xe tải</td>
                                            <td>14A-22222</td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="center">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div id="lichsu" class="col s12">
                            <div class="row table_container">
                                <table class="table table-bordered striped table-responsive centered"
                                       style="margin-top:30px; text-align:center;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" colspan="1">Ngày</th>
                                            <th colspan="2">Thông tin thiết bị</th>
                                            <th rowspan="1" colspan="3">Hoạt động </th>
                                            <th rowspan="1" colspan="3">Tiêu thụ nhiên liệu </th>
                                            <th rowspan="2" colspan="1">Tình trạng</th>
                                            <th rowspan="2" colspan="1">Phân xưởng sử dụng</th>
                                            <th rowspan="2" colspan="1">Vị trí</th>
                                            <th rowspan="2" colspan="1">Ghi chú </th>
                                            <th rowspan="2" colspan="2"></th>
                                        </tr>
                                        <tr>
                                            <th>Số hiệu</th>
                                            <th>Tên thiết bị</th>
                                            <th>Công việc trong ngày</th>
                                            <th>Số giờ hoạt động trong ngày</th>
                                            <th>Sản lượng(Tấn, Khối ,...)</th>
                                            <th>Loại nhiên liệu</th>
                                            <th>Lượng tiêu thụ</th>
                                            <th>Đơn vị</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>6/8/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc đá</td>
                                            <td>10</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1000</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myedit" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>5/8/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc đá</td>
                                            <td>11</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1250</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>4/8/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc than</td>
                                            <td>12</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1430</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>3/8/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc đá</td>
                                            <td>10</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1000</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>2/8/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc đá</td>
                                            <td>11</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1250</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>1/8/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc than</td>
                                            <td>12</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1430</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>31/7/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc đá</td>
                                            <td>10</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1000</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>29/7/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc đá</td>
                                            <td>11</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1250</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>28/7/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc than</td>
                                            <td>12</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1430</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>27/7/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc than</td>
                                            <td>10</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1000</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>26/7/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc đá</td>
                                            <td>11</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1250</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                        <tr>
                                            <td>25/7/2019</td>
                                            <td>AH12</td>
                                            <td>Máy xúc</td>
                                            <td>Xúc than</td>
                                            <td>12</td>
                                            <td>50</td>
                                            <td>Điện năng</td>
                                            <td>1430</td>
                                            <td>kWh</td>
                                            <td>Ổn định</td>
                                            <td>Phân xưởng 1</td>
                                            <td>Phân xưởng 1</td>
                                            <td></td>
                                            <td style="text-align: center"><a href="#myeditsuco" class="waves-effect waves-light btn blue darken-1 modal-trigger">Chỉnh&nbspsửa</a></td>
                                            <td style="text-align: center"><a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myadd">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Nhập thiết bị mới</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã thiết bị : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="id">Số hiệu : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày nhập : </label>
                            <input type="date" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Khấu hao ước tính : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Ghi chú: </label>
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="id">Tên thiết bị : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Nhà cung cấp :</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Nguyên giá : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="number">Tình trạng: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Ngày đăng kiểm : </label>
                            <input type="text" class="form-control" value="15/7/2016" />
                        </div>
                        <div class="form-group">
                            <label for="id">Ngày hết hạn đăng kiểm : </label>
                            <input type="text" class="form-control" value="15/2/2018" />
                        </div>
                        <div class="form-group">
                            <label for="name">Nơi đăng kiểm : </label>
                            <input type="text" class="form-control" value="KT02-19" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="name">Mã thiết bị : </label>
                            <input type="text" class="form-control" value="XT-01" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Tên thiết bị </label>
                            <input type="text" class="form-control" value="Xe tải" />
                        </div>

                        <div class="form-group">
                            <label for="id">Biển kiểm soát : </label>
                            <input type="text" class="form-control" value="14A-00000" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<div id="myaleart" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận xóa mục này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn blue darken-2 modal-close">Xóa</button>
            <button type="button" class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Danh sách hết bảo hiểm</a></li>
    <li><a href="#!">Danh sách hết khấu hao</a></li>
    <li><a href="#!">Danh sách đang bảo dưỡng</a></li>
    <li><a href="#!">Danh sách đang sửa chữa</a></li>
    <li><a href="#!">Danh sách đang gặp sự cố</a></li>
</ul>
<link href="~/css/transfer_mobilize_history_timeline.css" rel="stylesheet" />
<script src="~/js/Briefs_List.js"></script>