
.vs/config/applicationhost.config
.vs/QUANGHANH2/v15/.suo
.vs/config/applicationhost.config
.vs/QUANGHANH2/v15/Server/sqlite3/storage.ide
.vs/QUANGHANH2/v15/Server/sqlite3/storage.ide-shm
.vs/QUANGHANH2/v15/Server/sqlite3/storage.ide-wal
.vs/QUANGHANH2/v15/Server/sqlite3/storage.ide-wal
.vs/QUANGHANH2/v15/Server/sqlite3/storage.ide-shm
QUANGHANH2/QUANGHANH2.csproj.user
QUANGHANH2/Properties/PublishProfiles/FolderProfile.pubxml.user
QUANGHANH2/Properties/PublishProfiles/FolderProfile.pubxml
QUANGHANH2/obj/Release/Tsc.out
QUANGHANH2/obj/Release/TransformWebConfig/transformed/Web.config
QUANGHANH2/obj/Release/TempPE/Models.Model1.Designer.cs.dll
QUANGHANH2/obj/Release/TransformWebConfig/assist/Web.config
QUANGHANH2/obj/Release/TransformWebConfig/original/Web.config
QUANGHANH2/obj/Release/TempPE/Models.Model1.cs.dll
QUANGHANH2/obj/Release/QUANGHANH2.dll
QUANGHANH2/obj/Release/QUANGHANH2.pdb
QUANGHANH2/obj/Release/QUANGHANH2.csprojAssemblyReference.cache
QUANGHANH2/obj/Release/QUANGHANH2.csproj.FileListAbsolute.txt
QUANGHANH2/obj/Release/QUANGHANH2.csproj.CoreCompileInputs.cache
QUANGHANH2/bin/QUANGHANH2.dll
QUANGHANH2/bin/QUANGHANH2.pdb
.vs/QUANGHANH2/v16/Server/sqlite3/storage.ide-wal
.vs/QUANGHANH2/v16/Server/sqlite3/storage.ide-shm
.vs/QUANGHANH2/config/applicationhost.config
.vs/QUANGHANH2/v16/.suo
