@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/assets/Custom css/TCLD/Certificate/Certificate.css" rel="stylesheet" />
<link href="~/lib/mutiple select/slimselect.css" rel="stylesheet" />
<div class="user-roll card" id="vld-antoan">

</div>
<div class="user-roll card" id="vld-antoan">
    <div class="card-content">
        <div class="row">
            <h3 class="black-text"><b>DANH SÁCH CHỨNG CHỈ LAO ĐỘNG</b></h3>
        </div>
        <div class="row center">

            <div class="col s12 m12 l5 input-field">
                <select class="form-control">
                    <option selected disabled>Loại chứng chỉ</option>
                    <option>Chứng chỉ an toàn</option>
                    <option>Chứng chỉ lao động</option>
                </select>
            </div>
            <div class="col s12 m12 l5 input-field">
                <input class="form-control" placeholder="Mã chứng chỉ" />
            </div>
            <div class="col l2 m12 s12 input-field">
                <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="row">
            <a class="btn btn-small blue darken-2 modal-trigger btn-mg" href="#modal3">Thêm</a>
            <a class="btn btn-small blue darken-2 btn-mg" href="~/excel/TCLD/Certificate/Chứng chỉ của cả công ty.xlsx">Xuất ra file excel</a>
        </div>
        <table class="table table-bordered table-responsive centered highlight">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Loại</th>
                    <th></th>
                    <th></th>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>AT223</td>
                    <td><a href="@Url.Content("/phong-tcld/chung-chi/danh-sach-nhan-vien-co-chung-chi-kiem-dinh-ky-thuat-an-toan-lao-dong")">Chứng chỉ kiểm định kỹ thuật an toan lao động</a></td>
                    <td>Chứng chỉ an toàn</td>
                    <td><a class="waves-effect waves-light btn-small blue darken-2 modal-trigger" href="#chinhsua">Chỉnh sửa</a></td>
                    <td><a class="waves-effect waves-light btn-small red modal-trigger" href="#xoa">Xóa</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>AT224</td>
                    <td>Chứng chỉ kiểm định viên</td>
                    <td>Chứng chỉ lao động</td>
                    <td><a class="waves-effect waves-light btn-small blue darken-2 modal-trigger" href="#chinhsua">Chỉnh sửa</a></td>
                    <td><a class="waves-effect waves-light btn-small red modal-trigger" href="#xoa">Xóa</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>AT225</td>
                    <td>Chứng chỉ sơ cấp</td>
                    <td>Chứng chỉ lao động</td>
                    <td><a class="waves-effect waves-light btn-small blue darken-2 modal-trigger" href="#chinhsua">Chỉnh sửa</a></td>
                    <td><a class="waves-effect waves-light btn-small red modal-trigger" href="#xoa">Xóa</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>AT226</td>
                    <td>Chứng chỉ trung cấp</td>
                    <td>Chứng chỉ lao động</td>
                    <td><a class="waves-effect waves-light btn-small blue darken-2 modal-trigger" href="#chinhsua">Chỉnh sửa</a></td>
                    <td><a class="waves-effect waves-light btn-small red modal-trigger" href="#xoa">Xóa</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>AT227</td>
                    <td>Chứng chỉ cao cấp</td>
                    <td>Chứng chỉ lao động</td>
                    <td><a class="waves-effect waves-light btn-small blue darken-2 modal-trigger" href="#chinhsua">Chỉnh sửa</a></td>
                    <td><a class="waves-effect waves-light btn-small red modal-trigger" href="#xoa">Xóa</a></td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="col l12 s12 m12 center paging_container">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
</div>


<div id="modal3" class="modal">
    <div class="modal-content">
        <div class="modal-container">
            <!-- Page Content goes here -->
            <div class="row">
                <div class="col s12 center">
                    <h3 class="font-medium">Thêm chứng chỉ</h3>
                </div>
            </div>
            <form class="row">
                <div class="col l12">
                    <div class="col l3">
                        <strong>Mã chứng chỉ</strong>
                    </div>
                    <div class="col l6">
                        <input id="worker-unit" class="form-control" placeholder="" type="text">
                    </div>
                </div>
                <div class="col l12" style="margin-top:10px">
                    <div class="col l3">
                        <strong>Tên chứng chỉ</strong>
                    </div>
                    <div class="col l6">
                        <input id="worker-unit" class="form-control" placeholder="" type="text">
                    </div>
                </div>
                <div class="col l12" style="margin-top:10px">
                    <div class="col l3">
                        <strong>Loại chứng chỉ</strong>
                    </div>
                    <div class="col l6">
                        <input id="worker-unit" class="form-control" placeholder="" type="text">
                    </div>
                </div>
            </form>
            <!--Certificate-name-->
        </div>
    </div>
    <div class="modal-footer">
        <!--                Button-->
        <a class="waves-effect waves-light btn red modal-close">Hủy</a>
        <a class="waves-effect waves-light btn blue darken-2">Lưu</a>
    </div>
</div>
<div id="xoa" class="modal open">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận xóa chứng chỉ</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Bạn có muốn xóa chứng chỉ này?</p>
        </div>
        <div class="modal-footer">
            <a class="btn blue darken-2 modal-close">Xóa</a>
            <a class="btn red modal-close">Hủy</a>
        </div>
    </div>
</div>
<div id="chinhsua" class="modal">
    <div class="modal-content">
        <div class="modal-container">
            <!-- Page Content goes here -->
            <div class="row">
                <div class="col s12 center">
                    <h3 class="font-medium">Chứng chỉ kiểm định kỹ thuật an toan lao động</h3>
                </div>
            </div>
            <form class="row">
                <div class="input-field col s4 m4 l4">
                    <a href="javascript:void(0);" class="btn blue darken-2">Đính kèm</a>
                </div>
                <div class="input-field col s12 m12 l12">
                    <textarea placeholder="Nội dung chứng chỉ"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <!--                Button-->
        <a class="waves-effect waves-light btn red modal-close">Hủy</a>
        <a class="waves-effect waves-light btn blue darken-2">Lưu</a>
    </div>
</div>
<div id="xoa" class="modal open">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận xóa chứng chỉ</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Bạn có muốn xóa chứng chỉ này?</p>
        </div>
        <div class="modal-footer">
            <a class="btn blue darken-2 modal-close">Xóa</a>
            <a class="btn red modal-close">Hủy</a>
        </div>
    </div>
</div>
<script src="~/js/Custom JS/TCLD/Certificate/certificate.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<script src="~/lib/mutiple select/slimselect.js"></script>
<script>
    $(document).ready(function () {
        new SlimSelect({
            select: '#demo',
            placeholder: 'Chọn chứng chỉ',
            searchText: 'Sorry couldnt find anything',
        })
        new SlimSelect({
            select: '#demo2',
            placeholder: 'Chọn chứng chỉ',
            searchText: 'Sorry couldnt find anything',
        })
    });
</script>

