
@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/PX/_Layout_PXDS.cshtml";
}

<link href="~/dist/css/style.css" rel="stylesheet">
<!-- This page CSS -->
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />

<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row table_container">
                <div class="advanded-search">
                    <div class="row">
                        <div class="center">
                            <h3 class="center"><b>ĐĂNG KÝ SUẤT ĂN</b></h3>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col l12 m12 s12">
                    <div class="row center list-inline">
                        <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                            <i class="fas fa-calendar-alt icon">Từ ngày</i>
                            <input type='text' class='datepicker-here center' disabled data-language='vi' value="@ViewBag.MondayOfNextWeek" style="height: 24px" />
                        </div>
                        <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                            <i class="fas fa-calendar-alt icon">Đến ngày</i>
                            <input type='text' class='datepicker-here center' disabled data-language='vi' value="@ViewBag.FridayOfNextWeek" style="height: 24px" />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <table class="table table-bordered striped table-responsive centered"
                           style="margin-top:30px; text-align:center;" id="tbl_details">
                        <thead>
                            <tr>
                                <th rowspan="2">Mã Phân xưởng</th>
                                <th rowspan="2">Tên Phân xưởng</th>
                                <th colspan="2">Thứ 2</th>
                                <th colspan="2">Thứ 3</th>
                                <th colspan="2">Thứ 4</th>
                                <th colspan="2">Thứ 5</th>
                                <th colspan="2">Thứ 6</th>
                            </tr>
                            <tr>
                                <th>Kế Hoạch</th>
                                <th>Thực tế</th>
                                <th>Kế Hoạch</th>
                                <th>Thực tế</th>
                                <th>Kế Hoạch</th>
                                <th>Thực tế</th>
                                <th>Kế Hoạch</th>
                                <th>Thực tế</th>
                                <th>Kế Hoạch</th>
                                <th>Thực tế</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="row center">
                    <div class="col l12 m12 s12 input-field center">
                        <button class="btn blue darken-2 btn-small" id="saveBtn">Lưu đăng ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Briefs_List.js"></script>

@section scripts{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        var tbl_details, payload;
        $(document).ready(function () {
            $("#pre-load").show();
            tbl_detail = $('#tbl_details').DataTable({
                "ajax": {
                    "url": "/phan-xuong-doi-song/dang-ky-suat-an/details",
                    "type": "GET",
                    "datatype": "json",
                    "cache": "false",
                    "dataSrc": function (json) {
                        payload = json.data;
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "DepartmentId", "name": "DepartmentId" },
                    { "data": "DepartmentName", "name": "DepartmentName" },
                    {
                        "data": "RegMondayPlan", "name": "RegMondayPlan", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_mon_plan`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 10)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegMonday", "name": "RegMonday", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_mon`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 0)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegTuesdayPlan", "name": "RegTuesdayPlan", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_tue_plan`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 11)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegTuesday", "name": "RegTuesday", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_tue`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 1)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegWednesdayPlan", "name": "RegWednesdayPlan", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_wed_plan`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 12)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegWednesday", "name": "RegWednesday", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_wed`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 2)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegThursdayPlan", "name": "RegThursdayPlan", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_thu_plan`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 13)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegThursday", "name": "RegThursday", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_thu`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 3)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegFridayPlan", "name": "RegFridayPlan", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_fri_plan`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 14)` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "RegFriday", "name": "RegFriday", "render": function (data, type, row, meta) {
                            let domId = `${row['DepartmentId']}_reg_fri`
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleRegMealChange('${domId}', '${row['DepartmentId']}', 4)` + '" ' + '/>';
                        }
                    },
                ],
                "processing": true,
                "order": [0, "asc"],
                "rowId": "DepartmentId",
                "lengthChange": false,
                "searching": false,
                "paging": false,
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                },
                "info": false,
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang sau",
                        "previous": "Trang trước"
                    }
                }
            });

            $("#saveBtn").click(saveRegMeal)
        });

        function saveRegMeal() {
            $("#pre-load").show();
            if (confirm("Đăng ký suất ăn cho phân xưởng?")) {
                $.ajax({
                    dataType: "json",
                    contentType: "application/json, charset=utf-8",
                    type: 'POST',
                    url: '/phan-xuong-doi-song/dang-ky-suat-an/save',
                    data: JSON.stringify(payload),
                    success: function (res) {
                        if (res.success) {
                            $.notify('Đăng ký suất ăn thành công.', {
                                globalPosition: 'top center',
                                className: 'success'
                            });
                        } else {
                            $.notify('Không đăng ký được suất ăn.', {
                                globalPosition: 'top center',
                                className: 'error'
                            });
                        }
                    }
                });
            }
           
            $("#pre-load").hide();
        }

        function handleRegMealChange(domId, data, ind) {
            for (let i = 0; i < payload.length; i++) {
                if (payload[i].DepartmentId == data) {
                    let val = $('#' + domId).val();
                    switch (ind) {
                        case 0:
                            payload[i].RegMonday = parse2PosInt(val);
                            break;
                        case 1:
                            payload[i].RegTuesday = parse2PosInt(val);
                            break;
                        case 2:
                            payload[i].RegWednesday = parse2PosInt(val);
                            break;
                        case 3:
                            payload[i].RegThursday = parse2PosInt(val);
                            break;
                        case 4:
                            payload[i].RegFriday = parse2PosInt(val);
                            break;
                        case 10:
                            payload[i].RegMondayPlan = parse2PosInt(val);
                            break;
                        case 11:
                            payload[i].RegTuesdayPlan = parse2PosInt(val);
                            break;
                        case 12:
                            payload[i].RegWednesdayPlan = parse2PosInt(val);
                            break;
                        case 13:
                            payload[i].RegThursdayPlan = parse2PosInt(val);
                            break;
                        case 14:
                            payload[i].RegFridayPlan = parse2PosInt(val);
                            break;
                    }
                }
            }
        }

        function parse2PosInt(value) {
            var value = parseInt(value);
            if (value < 0) {
                return 0;
            }
            return value;
        }
    </script>
}