
@{
    ViewBag.Title = "CapNhatTrangThai";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    List<string> rights = (List<string>)Session["RightIDs"];
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>Cập nhật hệ thống camera ngày</b><input type="text" id="inputdate" class="datepicker-here center" data-language="vi" value="" /></h3>
            <div class="center"><a id="search" class="btn blue center-block">Tìm kiếm</a></div>
            <hr>
            <form action="GPS/Update" method="POST" id="myupdateform" role="form">
                <div class="col s12 table_container">
                    <table id="complex_header" class="table-bordered striped table-responsive centered">
                        <thead>
                            <tr>
                                <th rowspan="2">Tên hệ thống</th>
                                <th rowspan="2">Trực thuộc đơn vị</th>
                                <th colspan="3">Hoạt động không bình thường</th>
                            </tr>
                            <tr>
                                <th>Ca 1</th>
                                <th>Ca 2</th>
                                <th>Ca 3</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                @if (rights.Contains("204"))
                {
                    <div class="col">
                        <button href="#" id="tienhanh" class="btn blue darken-2">Lưu</button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $('#inputdate').datepicker({
            language: 'vi',
            maxDate: new Date(),
            toggleSelected: false,
        })
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        $('#inputdate').val(today);
    })
</script>

@section scripts{
    <script>
        var dataTable, session;
        $(document).ready(function () {
            dataTable = $('#complex_header').DataTable({
                language: {
                    emptyTable: "Không tìm thấy dữ liệu",
                    info: "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    paginate: {
                        first: "Trang đầu",
                        last: "Trang cuối",
                        next: "Trang sau",
                        previous: "Trang trước"
                    }
                },
                lengthChange: false,
                searching: false,
                paging: false,
                columnDefs: [
                    { bSortable: false, targets: [2, 3, 4] }
                ],
                ajax: {
                    url: "/phong-cdvt/camera/cap-nhat",
                    type: "POST",
                    datatype: "json",
                    data: {
                        stringDate: function () { return $('#inputdate').val() }
                    },
                    cache: false,
                    dataSrc: function (json) {
                        session = json.session;
                        return json.data;
                    }
                },
                columns: [
                    { data: "room_name", name: "room_name" },
                    { data: "department_name", name: "department_name" },
                    {
                        data: {}, render: function (data) {
                            if (data.ca1 == null || data.ca1)
                                return "<label><input type='checkbox'" + (session == 1 ? "" : "disabled") + " /><span></span></label>";
                            else
                                return "<label><input checked type='checkbox'" + (session == 1 ? "" : "disabled") + " /><span></span></label>";
                        },
                        orderable: false,
                        searchable: false
                    },
                    {
                        data: {}, render: function (data) {
                            if (data.ca2 == null || data.ca2)
                                return "<label><input type='checkbox'" + (session == 2 ? "" : "disabled") + " /><span></span></label>";
                            else
                                return "<label><input checked type='checkbox'" + (session == 2 ? "" : "disabled") + " /><span></span></label>";
                        },
                        orderable: false,
                        searchable: false
                    },
                    {
                        data: {}, render: function (data) {
                            if (data.ca3 == null || data.ca3)
                                return "<label><input type='checkbox'" + (session == 3 ? "" : "disabled") + " /><span></span></label>";
                            else
                                return "<label><input checked type='checkbox'" + (session == 3 ? "" : "disabled") + " /><span></span></label>";
                        },
                        orderable: false,
                        searchable: false
                    },
                ],
                serverSide: "true",
                order: [0, "desc"],
                rowId: "room_id",
                lengthChange: false,
                searching: false,
                initComplete: function (settings, json) {
                    $("#pre-load").hide();
                },
                preDrawCallback: function (settings) {
                    $('#pre-load').show();
                },
                drawCallback: function (settings) {
                    $('#pre-load').hide();
                }
            })
        })

        $(document).on("click", "#search", function () {
            $('#pre-load').show()
            dataTable.ajax.reload(function () {
                $('#pre-load').hide();
            });
        })
    </script>

    @if (rights.Contains("204"))
    {
        <script>
            function myfunction() {
                let json = {};
                let row = $('#complex_header tbody tr').length;
                let arr = [];
                for (let i = 0; i < row; i++) {
                    for (let j = 1; j < 4; j++) {
                        let temp = {};
                        temp.equipmentId = $('#complex_header tbody tr:nth-child(' + (i + 1) + ')').attr("id");
                        temp.ca = j;
                        if ($('#complex_header tbody tr:nth-child(' + (i + 1) + ') td:nth-child(' + (j + 2) + ') label input').is(':checked')) {
                            temp.available = false;
                        }
                        else {
                            temp.available = true;
                        }
                        arr.push(temp);
                    }
                }
                json.list = arr;
                json.date = $('#inputdate').val();
                return JSON.stringify(json);
            }

            $(document).ready(function () {
                //ajax update
                $("#myupdateform").submit(function (e) {
                    $("#pre-load").show();
                    $.ajax({
                        type: "POST",
                        url: "/phong-cdvt/camera/cap-nhat/Update",
                        dataType: "json",
                        success: function (data) {
                            dataTable.ajax.reload();
                            if (data.success == true) {
                                if (data.redirect == true)
                                    window.open("/phong-cdvt/camera/su-co");
                                successAlert(data.message);
                            }
                            else
                                errorAlert(data.message);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            errorAlert('Có lỗi xảy ra', '');
                            $("#pre-load").hide();
                        },
                        data: {
                            stringjson: myfunction()
                        },
                        cache: false
                    }).done(function () {
                        $("#pre-load").hide();
                    })
                    return false;
                });
            })
        </script>
    }
}