@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<div class="row">
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <h3 class="center black-text"><b>THÊM HỒ SƠ</b></h3>
                    <hr />
                    <div class="col m12">
                        <ul class="tabs">
                            <li class="tab col s12 m3 l3"><a class="active" href="#thongtincoban">Thông tin cơ bản</a></li>
                            <li class="tab col s12 m3 l3"><a href="#lylichchinhtri">Lý lịch chính trị</a></li>
                            <li class="tab col s12 m2 l2"><a href="#thanhtichcanhan">Thành tích</a></li>
                            <li class="tab col s12 m2 l2"><a href="#suckhoe">Sức khỏe</a></li>
                            <li class="tab col s12 m2 l2"><a href="#giadinh">Quan hệ gia đình</a></li>
                        </ul>
                    </div>
                    <!--chi tiet co ban-->
                    <div id="thongtincoban" class="col m12">
                        <div class="input-field">
                            <div class="input-field col m8">
                                <div class="input-field col m12">
                                    <div>
                                        <label class='custom-label'>Họ và tên khai sinh</label>
                                        <input class="form-control" type="text" placeholder="Tên khai sinh" />
                                    </div>
                                </div>
                                <div class="input-field col m12">
                                    <div>
                                        <label class='custom-label'>Các tên gọi khác</label>
                                        <input class=" form-control" type="text" placeholder="Tên khác" />
                                    </div>
                                </div>

                                <div class="input-field col m12">
                                    <div>
                                        <label class='custom-label'>Giới tính</label>
                                        <select class="custom-select">
                                            <option value="1">Nam</option>
                                            <option value="0">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="center col m4">
                                <img src="/images/avatar.png" width="130" height="130"><br />
                                <a class="btn btn blue darken-2 btn-small center">Chọn ảnh</a>
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m8">
                                <label class='custom-label'>Cấp ủy hiện tại</label>
                                <input class=" form-control" type="text" placeholder="Cấp ủy" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Cấp ủy kiêm</label>
                                <input class=" form-control" type="text" placeholder="Cấp ủy kiêm" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m6">
                                <label class='custom-label'>Chức vụ</label>
                                <input class=" form-control" type="text" placeholder="Chức vụ" />
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Phụ cấp chức vụ</label>
                                <input class=" form-control" type="text" placeholder="Phụ cấp" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m4">
                                <label class='custom-label'>Ngày sinh</label>
                                <input class=" form-control" type="date" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Nơi sinh</label>
                                <input class=" form-control" type="text" placeholder="Nơi sinh" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Dân tộc</label>
                                <input class=" form-control" type="text" placeholder="Dân tộc" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m8">
                                <label class='custom-label'>Quê quán</label>
                                <input class=" form-control" type="text" placeholder="Quê quán" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Tôn giáo</label>
                                <input class=" form-control" type="text" placeholder="Tôn giáo" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m8">
                                <label class='custom-label'>Nơi ở hiện nay</label>
                                <input class=" form-control" type="text" placeholder="Nơi ở hiện nay" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Số điện thoại</label>
                                <input class=" form-control" type="text" placeholder="Số điện thoại" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m12">
                                <label class='custom-label'>Thành phần gia đình xuất thân</label>
                                <input class=" form-control" type="text" placeholder="Thành phần gia đình" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m12">
                                <label class='custom-label'>Nghề nghiệp trược khi được tuyển dụng</label>
                                <input class=" form-control" type="text" placeholder="Nghề trước khi tuyển dụng" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m4">
                                <label class='custom-label'>Ngày được tuyển dụng</label>
                                <input class=" form-control" type="date" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Tại cơ quan</label>
                                <input class=" form-control" type="text" placeholder="Cơ quan" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Ngày vào nơi đang công tác</label>
                                <input class=" form-control" type="date" />
                            </div>
                        </div>
                    </div>
                    <!--Lý lịch chính trị-->
                    <div id="lylichchinhtri" class="col m12">
                        <div class="input-field col m12">
                            <div class="col m4">
                                <label class='custom-label'>Ngày tham gia cách mạng</label>
                                <input class=" form-control" type="date" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Ngày vào Đảng Cộng sản Việt Nam</label>
                                <input class=" form-control" type="date" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Ngày chính thức</label>
                                <input class=" form-control" type="date" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m6">
                                <label class='custom-label'>Ngày vào tổ chức chính trị xã hội</label>
                                <input class=" form-control" type="date" />
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Tổ chức</label><i>(Đoàn TNCSHCM, Công đoàn, Hội, ...)</i>
                                <input class=" form-control" type="text" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m3">
                                <label class='custom-label'>Ngày nhập ngũ</label>
                                <input class=" form-control" type="date" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label'>Ngày xuất ngũ</label>
                                <input class=" form-control" type="date" />
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Quân hàm, chức vụ cao nhất(Năm)</label>
                                <input type="text" class=" form-control" placeholder="Quân hàm, chức vụ" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m6">
                                <label class='custom-label'>Trình độ học vấn</label><i>(Giáo dục phổ thông (lớp mấy))</i>
                                <select class="custom-select">
                                    <option>Tiểu học</option>
                                    <option>THCS</option>
                                    <option>THPT</option>
                                    <option>Trung cấp</option>
                                    <option>Đại học</option>
                                </select>
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Học hàm, học vị cao nhất</label><i>(GS, PGS, TS,...)</i>
                                <input type="text" class=" form-control" placeholder="Học hàm, học vị" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m6">
                                <label class='custom-label'>Lý luận chính trị</label><i>(Cử nhân/Cao cấp, Trung cấp,...)</i>
                                <input type="text" class=" form-control" placeholder="Lý luận trính trị" />
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Ngoại ngữ</label>
                                <input type="text" class=" form-control" placeholder="Ngoại ngữ" />
                            </div>
                        </div>
                    </div>
                    <!--Thành tích cá nhân-->
                    <div id="thanhtichcanhan" class="col m12">
                        <div class="row">
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Công tác chính đang làm</label>
                                    <input type="text" class=" form-control" placeholder="Công tác chính" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m6">
                                    <label class='custom-label'>Ngạch công chức</label>
                                    <input type="text" class=" form-control" placeholder="Ngạnh công chức" />
                                </div>
                                <div class="col m6">
                                    <label class='custom-label'>Mã số</label>
                                    <input type="text" class=" form-control" placeholder="Mã số" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m4">
                                    <label class='custom-label'>Bậc lương</label>
                                    <select class="custom-select">
                                        <option>Không có</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Hệ số</label>
                                    <input type="text" class=" form-control" placeholder="Hệ số" />
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Từ tháng</label>
                                    <select class="custom-select">
                                        <option>Không có</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Danh hiệu được phong</label><i>(Năm nào)</i>
                                    <input type="text" class=" form-control" placeholder="Danh hiệu" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m6">
                                    <label class='custom-label'>Sở trường công tác</label>
                                    <input type="text" class=" form-control" placeholder="Sở trường" />
                                </div>
                                <div class="col m6">
                                    <label class='custom-label'>Công việc đã làm lâu nhất</label>
                                    <input type="text" class=" form-control" placeholder="Công việc" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Khen thưởng</label><i>(Huân, huy chương, năm nào)</i>
                                    <input type="text" class=" form-control" placeholder="Khen thưởng" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Kỷ luật</label><i>(Năm nào, lí do, hình thức,...</i>
                                    <input class=" form-control" type="text" placeholder="Kỷ luật" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Sức khỏe-->
                    <div id="suckhoe" class="col m12">
                        <div class="row">
                            <div class="input-field col m12">
                                <div class="col m3">
                                    <label class='custom-label'>Tình trạng sức khỏe</label>
                                    <select class="custom-select">
                                        <option>Khỏe</option>
                                        <option>Bình thường</option>
                                        <option>Yếu</option>
                                        <option>Bệnh mãn tính(ghi rõ)</option>
                                    </select>
                                </div>
                                <div class="col m9">
                                    <label class='custom-label'>Chi tiết</label>
                                    <input type="text" class=" form-control" placeholder="Bệnh mãn tính (nếu có)" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m4">
                                    <label class='custom-label'>Chiều cao</label><i>(m)</i>
                                    <input type="number" class=" form-control" placeholder="Cao (m)" />
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Cân nặng</label><i>(kg)</i>
                                    <input type="number" class=" form-control" placeholder="Nặng (kg)" />
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Nhóm máu</label>
                                    <input type="text" class=" form-control" placeholder="Nhóm máu" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m4">
                                    <label class='custom-label'>Số chứng minh nhân dân</label>
                                    <input type="number" class=" form-control" placeholder="CMT nhân dân" />
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Thương binh loại</label>
                                    <select class="custom-select">
                                        <option>Không</option>
                                        <option>1/4(Thương tật 81% trở lên)</option>
                                        <option>2/4(Thương tật từ 61% trở lên)</option>
                                        <option>3/4(Thương tật từ 41% trở lên)</option>
                                        <option>4/4(Thương tật từ 21% trở lên)</option>
                                    </select>
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Gia đình liệt sĩ</label>
                                    <input type="text" class=" form-control" placeholder="Liệt sĩ" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Quan hệ gia đình-->
                    <div id="giadinh" class="col m12">
                        <div class="row">
                            <div class="input-field col m12">
                                <div class="col m3">
                                    <label class='custom-label'>Gia đình</label>
                                    <select class="custom-select" id="gd">
                                        <option value="Bản thân">Bản thân</option>
                                        <option value="Nhà vợ">Nhà vợ</option>
                                        <option value="Nhà chồng">Nhà chồng</option>
                                    </select>
                                </div>
                                <div class="col m3">
                                    <label class='custom-label'>Ngày sinh</label>
                                    <input id="ns" type='text' class='datepicker-here center form-control resize-form' data-language='vi' placeholder="dd/mm/yyyy" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m6">
                                    <label class='custom-label'>Họ và tên</label>
                                    <input id="hvt" type="text" class=" form-control" placeholder="Họ và tên" />
                                </div>
                                <div class="col m6">
                                    <label class='custom-label'>Mối quan hệ</label>
                                    <input id="qhe" type="text" class=" form-control" placeholder="Quan hệ" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Lý lịch</label>
                                    <input id="lyl" type="text" class=" form-control" placeholder="Lý lịch" />
                                </div>
                            </div>
                            <div class="col m12">
                                <div class="col m12">
                                    <a id="buttonThem" class="btn blue darken-2">Thêm</a>
                                </div>
                            </div>
                        </div>

                        <!-- Hidden table -->
                        <div class="row">
                            <div class="col m12" id="table2" hidden="hidden">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div id="table-wrapper2">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--floating button-->
<a href="#addBrief" class="float modal-trigger" id="menu-share">
    <i class="material-icons my-float">save</i>
</a>
<div class="modal open" id="addBrief">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận thêm hồ sơ nhân viên</h3>
            </div>
            <div class="modal-body">
                <p class="green-text">Bạn có muốn thêm hồ sơ nhân viên ?</p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("danh-sach-ho-so","ho-so")" class="btn blue darken-2 modal-close" id="update">Thêm</a>
                <a class="btn red modal-close">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Custom JS/TCLD/Brief/Briefs_Add.js"></script>
<!--Custom Datepicker JS-->
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
