
@{
    ViewData["Title"] = "TransferHistory";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="row">
    <div class="col m12">
        <div class="card">
            <div class="card-content">

                <div class="">
                    <h3 class="center">CHI TIẾT ĐIỀU ĐỘNG HỒ SƠ NGUYỄN VĂN HÙNG</h3>
                </div>

                <div class="wrapper-timeline">

                    <div class="container">
                        <div class="timeline">
                            <div class="timeline-month">
                                Năm 2018
                                <span>1 đợt điều động</span>
                            </div>

                            <div class="timeline-section">
                                <div class="timeline-date">
                                    Thứ 6, ngày 15 tháng 12
                                    <span>1 lần điều động</span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="timeline-box">
                                            <div class="box-content">
                                                <table class="striped responsive-table">
                                                    <tr>
                                                        <th>Ngày bắt đầu điều động</th>
                                                        <th>Ngày kết thúc điều động</th>
                                                        <th>Chức vụ trước khi điều động</th>
                                                        <th>Chức vụ sau khi điều động</th>
                                                        <th>Người ký điều động</th>
                                                        <th>Người phê duyệt</th>
                                                        <th>Ngày ký duyệt</th>
                                                        <th>Số quyết định</th>
                                                    </tr>
                                                    <tr>
                                                        <td>15/12/2018</td>
                                                        <td>21/10/2021</td>
                                                        <td>Công nhân đào lò</td>
                                                        <td></td>
                                                        <td><a href="/" style="color: dodgerblue;">Nguyễn Thị Hưởng</a></td>
                                                        <td><a href="/" style="color: dodgerblue;">Trần Quốc Anh</a></td>
                                                        <td>20/05/2018</td>
                                                        <td>QĐ-324</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-month">
                                Năm 2017
                                <span>1 đợt điều động</span>
                            </div>

                            <div class="timeline-section">
                                <div class="timeline-date">
                                    Thứ 2, ngày 03 tháng 09
                                    <span>1 lần điều chuyển</span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="timeline-box">
                                            <div class="box-content">
                                                <table class="striped responsive-table">
                                                    <tr>
                                                        <th>Ngày bắt đầu điều động</th>
                                                        <th>Ngày kết thúc điều động</th>
                                                        <th>Chức vụ trước khi điều động</th>
                                                        <th>Chức vụ sau khi điều động</th>
                                                        <th>Người ký điều động</th>
                                                        <th>Người phê duyệt</th>
                                                        <th>Ngày ký duyệt</th>
                                                        <th>Số quyết định</th>
                                                    </tr>
                                                    <tr>
                                                        <td>03/09/2017</td>
                                                        <td>05/06/2019</td>
                                                        <td>Công nhân sửa chữa cơ khí</td>
                                                        <td>Phó quản đốc</td>
                                                        <td><a href="/" style="color: dodgerblue;">Nguyễn Thị Hưởng</a></td>
                                                        <td><a href="/" style="color: dodgerblue;">Trần Quốc Anh</a></td>
                                                        <td>01/08/2017</td>
                                                        <td>QĐ-324</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/assets/Custom css/TCLD/Brief/transfer_mobilize_history_timeline.css" rel="stylesheet" />

