@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
    <link href="~/assets/Custom css/TCLD/Brief/Beo_briefs_view.css" rel="stylesheet" />
<div class="row">
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="center">
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='form-control' id="searchArea" multiple />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo tên nhân viên" class='form-control' id="searchArea" multiple />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <select class="form-control" id="gender">
                                    <option value="" disabled selected>Chọn giới tính</option>
                                    <option value="1">Nam</option>
                                    <option value="2">Nữ</option>
                                </select>
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <select class="form-control" id="departure">
                                    <option value="" disabled selected>Chọn phòng ban</option>
                                    <option value="1">Phòng tổ chức lao động</option>
                                    <option value="2">Phòng cơ điện vận tải</option>
                                    <option value="2">Phòng an toàn</option>
                                    <option value="2">Phân xưởng khai thác 1</option>
                                    <option value="2">Phân xưởng khai thác 2</option>
                                    <option value="2">Phân xưởng khai thác 3</option>
                                    <option value="2">Phân xưởng khai thác 5</option>
                                    <option value="2">Phân xưởng đào lò 1</option>
                                    <option value="2">Phân xưởng đào lò 2</option>
                                    <option value="2">Phân xưởng đào lò 3</option>
                                    <option value="2">Phân xưởng đào lò 5</option>
                                </select>
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <select class="form-control" id="position">
                                    <option value="" disabled selected>Chọn phòng chức vụ</option>
                                    <option value="1">Trưởng phòng</option>
                                    <option value="2">Nhân viên kinh doanh</option>
                                    <option value="2">Phó quản đốc</option>
                                    <option value="2">Quản đốc</option>
                                </select>
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <h3 class="center">Thông tin cá nhân</h3>
                    <div class="col m12">
                        <div class="input-field">
                            <div class="input-field col m8">
                                <div class="input-field col m12">
                                    <div>
                                        <label class='custom-label'>Họ và tên khai sinh</label>
                                        <input class="inputEdit form-control" type="text" value="Nguyễn Xuân Thoàng" placeholder="Tên khai sinh" />
                                    </div>
                                </div>
                                <div class="input-field col m12">
                                    <div>
                                        <label class='custom-label'>Các tên gọi khác</label>
                                        <input class="inputEdit form-control" type="text" placeholder="Tên khác" value="Không" />
                                    </div>
                                </div>

                                <div class="input-field col m12">
                                    <div>
                                        <label class='custom-label'>Giới tính</label>
                                        <select class="custom-select">
                                            <option value="1">Nam</option>
                                            <option value="0">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="center col m4">
                                <img src="/images/avatar.png" width="130" height="130"><br />
                                <label class='custom-label green-text text-darken-2'>MS: 1234</label><br />
                                <label class="custom-label">Trạng thái: <span class="red-text">Nghỉ quá 5 ngày</span></label><br />
                                <a id="custom-a" class="custom-label red-text" href="@Url.Action("lich-su-lam-viec","ho-so")">(Lịch sử làm việc)</a>
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m8">
                                <label class='custom-label'>Cấp ủy hiện tại</label>
                                <input class="inputEdit form-control" type="text" placeholder="Cấp ủy" value="Không" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Cấp ủy kiêm</label>
                                <input class="inputEdit form-control" type="text" placeholder="Cấp ủy kiêm" value="Không" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m6">
                                <label class='custom-label'>Chức vụ</label>
                                <input class="inputEdit form-control" type="text" placeholder="Chức vụ" value="Không" />
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Phụ cấp chức vụ</label>
                                <input class="inputEdit form-control" type="text" placeholder="Phụ cấp" value="Không" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m4">
                                <label class='custom-label'>Ngày sinh</label>
                                <input class="inputEdit form-control" type="date" value="1985-05-17" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Nơi sinh</label>
                                <input class="inputEdit form-control" type="text" placeholder="Nơi sinh" value="Hà Nội" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Dân tộc</label>
                                <input class="inputEdit form-control" type="text" placeholder="Dân tộc" value="Kinh" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m8">
                                <label class='custom-label'>Quê quán</label>
                                <input class="inputEdit form-control" type="text" placeholder="Quê quán" value="Thanh Hóa" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Tôn giáo</label>
                                <input class="inputEdit form-control" type="text" placeholder="Tôn giáo" value="Không" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m8">
                                <label class='custom-label'>Nơi ở hiện nay</label>
                                <input class="inputEdit form-control" type="text" placeholder="Nơi ở hiện nay" value="Cẩm Phả - Quảng Ninh" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Số điện thoại</label>
                                <input class="inputEdit form-control" type="text" placeholder="Số điện thoại" value="0123456789" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m12">
                                <label class='custom-label'>Thành phần gia đình xuất thân</label>
                                <input class="inputEdit form-control" type="text" placeholder="Thành phần gia đình" value="Trí thức" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m12">
                                <label class='custom-label'>Nghề nghiệp trược khi được tuyển dụng</label>
                                <input class="inputEdit form-control" type="text" placeholder="Nghề trước khi tuyển dụng" value="Sinh viên/Bộ đội xuất ngũ" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m4">
                                <label class='custom-label'>Ngày được tuyển dụng</label>
                                <input class="inputEdit form-control" type="date" value="2000-05-05" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Tại cơ quan</label>
                                <input class="inputEdit form-control" type="text" placeholder="Cơ quan" value="Đại học Bách Khoa" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Ngày vào nơi đang công tác</label>
                                <input class="inputEdit form-control" type="date" value="2000-05-05" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <h3 class="center">Lý lịch chính trị</h3>
                    <div class="col m12">
                        <div class="input-field col m12">
                            <div class="col m4">
                                <label class='custom-label'>Ngày tham gia cách mạng</label>
                                <input class="inputEdit form-control" type="date" value="2000-05-05" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Ngày vào Đảng Cộng sản Việt Nam</label>
                                <input class="inputEdit form-control" type="date" value="2005-05-05" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Ngày chính thức</label>
                                <input class="inputEdit form-control" type="date" value="2006-05-05" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m6">
                                <label class='custom-label'>Ngày vào tổ chức chính trị xã hội</label>
                                <input class="inputEdit form-control" type="date" value="1999-05-05" />
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Tổ chức</label><i>(Đoàn TNCSHCM, Công đoàn, Hội, ...)</i>
                                <input class="inputEdit form-control" type="text" value="Đoàn TNCS Hồ Chí Minh" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m3">
                                <label class='custom-label'>Ngày nhập ngũ</label>
                                <input class="inputEdit form-control" type="date" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label'>Ngày xuất ngũ</label>
                                <input class="inputEdit form-control" type="date" />
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Quân hàm, chức vụ cao nhất(Năm)</label>
                                <input type="text" class="inputEdit form-control" placeholder="Quân hàm, chức vụ" value="Không" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m6">
                                <label class='custom-label'>Trình độ học vấn</label><i>(Giáo dục phổ thông (lớp mấy))</i>
                                <select class="custom-select">
                                    <option>Tiểu học</option>
                                    <option>THCS</option>
                                    <option>THPT</option>
                                    <option>Trung cấp</option>
                                    <option>Đại học</option>
                                </select>
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Học hàm, học vị cao nhất</label><i>(GS, PGS, TS,...)</i>
                                <input type="text" class="inputEdit form-control" placeholder="Học hàm, học vị" value="Không" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m6">
                                <label class='custom-label'>Lý luận chính trị</label><i>(Cử nhân/Cao cấp, Trung cấp,...)</i>
                                <input type="text" class="inputEdit form-control" placeholder="Lý luận trính trị" value="Không" />
                            </div>
                            <div class="col m6">
                                <label class='custom-label'>Ngoại ngữ</label>
                                <input type="text" class="inputEdit form-control" placeholder="Ngoại ngữ" value="Tiếng Anh D" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <h3 class="center">Thành tích cá nhân</h3>
                    <div class="col m12">
                        <div class="row">
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Công tác chính đang làm</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Công tác chính" value="Tự do" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m6">
                                    <label class='custom-label'>Ngạch công chức</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Ngạnh công chức" value="Không" />
                                </div>
                                <div class="col m6">
                                    <label class='custom-label'>Mã số</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Mã số" value="Không" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m4">
                                    <label class='custom-label'>Bậc lương</label>
                                    <select class="custom-select">
                                        <option>Không có</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Hệ số</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Hệ số" value="Không" />
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Từ tháng</label>
                                    <select class="custom-select">
                                        <option>Không có</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Danh hiệu được phong</label><i>(Năm nào)</i>
                                    <input type="text" class="inputEdit form-control" placeholder="Danh hiệu" value="Không" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m6">
                                    <label class='custom-label'>Sở trường công tác</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Sở trường" value="Không" />
                                </div>
                                <div class="col m6">
                                    <label class='custom-label'>Công việc đã làm lâu nhất</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Công việc" value="Sinh viên" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Khen thưởng</label><i>(Huân, huy chương, năm nào)</i>
                                    <input type="text" class="inputEdit form-control" placeholder="Khen thưởng" value="Không" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m12">
                                    <label class='custom-label'>Kỷ luật</label><i>(Năm nào, lí do, hình thức,...</i>
                                    <input class="inputEdit form-control" type="text" placeholder="Kỷ luật" value="Không" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <h3 class="center">Sức khỏe</h3>
                    <div class="col m12">
                        <div class="row">
                            <div class="input-field col m12">
                                <div class="col m3">
                                    <label class='custom-label'>Tình trạng sức khỏe</label>
                                    <select class="custom-select">
                                        <option>Khỏe</option>
                                        <option>Bình thường</option>
                                        <option>Yếu</option>
                                        <option>Bệnh mãn tính(ghi rõ)</option>
                                    </select>
                                </div>
                                <div class="col m9">
                                    <label class='custom-label'>Chi tiết</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Bệnh mãn tính (nếu có)" value="Không" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m4">
                                    <label class='custom-label'>Chiều cao</label><i>(m)</i>
                                    <input type="number" class="inputEdit form-control" placeholder="Cao (m)" value="1.8" />
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Cân nặng</label><i>(kg)</i>
                                    <input type="number" class="inputEdit form-control" placeholder="Nặng (kg)" value="80" />
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Nhóm máu</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Nhóm máu" value="O+" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m4">
                                    <label class='custom-label'>Số chứng minh nhân dân</label>
                                    <input type="number" class="inputEdit form-control" placeholder="CMT nhân dân" value="012345678978" />
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Thương binh loại</label>
                                    <select class="custom-select">
                                        <option>Không</option>
                                        <option>1/4(Thương tật 81% trở lên)</option>
                                        <option>2/4(Thương tật từ 61% trở lên)</option>
                                        <option>3/4(Thương tật từ 41% trở lên)</option>
                                        <option>4/4(Thương tật từ 21% trở lên)</option>
                                    </select>
                                </div>
                                <div class="col m4">
                                    <label class='custom-label'>Gia đình liệt sĩ</label>
                                    <input type="text" class="inputEdit form-control" placeholder="Liệt sĩ" value="Không" />
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <div class="col m4"></div>
                                <div class="col m4"></div>
                                <div class="col m4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <h3 class="center">Quan hệ gia đình</h3>
                    <div class="col m12">
                        <div class="row">
                            <div class="col s12">
                                <h6>a) Về bản thân: Cha, Mẹ, Vợ (hoặc chồng), các con, anh chị em ruột</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered striped">
                                        <tr>
                                            <th id="relation">Mối quan hệ</th>
                                            <th id="name">Họ và tên</th>
                                            <th id="birthdate">Ngày sinh</th>
                                            <th id="resume">Lý lịch</th>
                                        </tr>
                                        <tr>
                                            <td class="td-edit">Bố</td>
                                            <td class="td-edit">Nguyễn Xuân Hưng</td>
                                            <td class="td-edit">21/3/1948</td>
                                            <td class="td-edit">Sơn La, công nhân nhà máy thủy điện Sơn La</td>
                                        </tr>
                                        <tr>
                                            <td class="td-edit">Mẹ</td>
                                            <td class="td-edit">Phạm Thị Hạ</td>
                                            <td class="td-edit">11/7/1954</td>
                                            <td class="td-edit">Sơn La, bán hàng, nội trợ</td>
                                        </tr>
                                        <tr>
                                            <td class="td-edit">Vợ</td>
                                            <td class="td-edit">Trần Thị Hương</td>
                                            <td class="td-edit">3/6/1989</td>
                                            <td class="td-edit">Sơn La, nhân viên VNPT</td>
                                        </tr>
                                        <tr>
                                            <td class="td-edit">Con gái</td>
                                            <td class="td-edit">Nguyễn Xuân Phương</td>
                                            <td class="td-edit">8/5/1999</td>
                                            <td class="td-edit">Sơn La, sinh viên đại học Ngoại Thương</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col s12">
                                <h6>b) Về bên vợ (hoặc chồng): Cha, Mẹ, anh chị em ruột</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered striped">
                                        <tr>
                                            <th id="relation">Mối quan hệ</th>
                                            <th id="name">Họ và tên</th>
                                            <th id="birthdate">Ngày sinh</th>
                                            <th id="resume">Lý lịch</th>
                                        </tr>
                                        <tr>
                                            <td class="td-edit">Bố</td>
                                            <td class="td-edit">Trần Duy Hải</td>
                                            <td class="td-edit">19/5/1949</td>
                                            <td class="td-edit">Sơn La, công nhân nhà máy thủy điện Sơn La</td>
                                        </tr>
                                        <tr>
                                            <td class="td-edit">Mẹ</td>
                                            <td class="td-edit">Phạm Xuân Thanh</td>
                                            <td class="td-edit">23/4/1957</td>
                                            <td class="td-edit">Sơn La, nhân viên Viettel</td>
                                        </tr>
                                        <tr>
                                            <td class="td-edit">Em gái</td>
                                            <td class="td-edit">Trần Thanh Thủy</td>
                                            <td class="td-edit">21/1/2002</td>
                                            <td class="td-edit">Sơn La, học sinh THPT Lê Quý Đôn</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal open" id="deleteBrief">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận xóa hồ sơ</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Bạn có muốn xóa hồ sơ này?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn blue darken-2 modal-close">Xóa</button>
            <button type="button" class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>
<div class="modal open" id="updateBrief">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận cập nhật thông tin</h3>
        </div>
        <div class="modal-body">
            <p class="green-text">Bạn có muốn lưu phần đã sửa?</p>
        </div>
        <div class="modal-footer">
            <button class="btn blue darken-2 modal-close" onclick="abc()">Lưu</button>
            <button class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>
<!--floating button-->
<a href="javascript:void(0);" class="float" id="menu-share">
    <i class="material-icons my-float">build</i>
</a>
<ul class="ul-float">
    <li id="pencilandsave" class="li-float">
        <a id="pencil" class="a-float" href="#" onclick="abc()">
            <i class="material-icons my-float">create</i>
        </a>
    </li>
    <li class="li-float">
        <a class="a-float modal-trigger" href="#deleteBrief">
            <i class="material-icons my-float">delete</i>
        </a>
    </li>
</ul>
<script src="~/js/Custom JS/TCLD/Brief/Brief_View.js"></script>
