

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0190f3;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    animation: bot-to-top 2s ease-out;
}

.ul-float {
    position: fixed;
    right: 42px;
    padding-bottom: 10px;
    bottom: 80px;
    z-index: 100;
}

    .ul-float .li-float {
        list-style: none;
        margin-bottom: 10px;
    }

        .ul-float .li-float .a-float {
            background-color: #0190f3;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
            width: 60px;
            height: 60px;
            display: block;
        }

    ul:hover {
        visibility: visible !important;
        opacity: 1 !important;
    }


.my-float {
    font-size: 25px;
    margin-top: 15px;
}

a#menu-share + ul {
    visibility: hidden;
}

a#menu-share:hover + ul {
    visibility: visible;
    animation: scale-in 0.5s;
}

a#menu-share i {
    animation: rotate-in 0.5s;
}

a#menu-share:hover > i {
    animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0% {
        bottom: -40px
    }

    50% {
        bottom: 40px
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotate-in {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-out {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
