.chart-mess {
    font-style: italic;
    font-size: 15px;
    color: lightgray;
}

.chart-container {
    border: 1px solid #e4e4e4;
    margin: 30px 30px 30px 30px;
    padding: 20px 20px 20px 20px;
}

.chart-title {
    margin-left: 25px !important;
    /* font-weight: 600; */
}

.card {
    border: 1px solid #f1f1f1;
}

.info-card:active {
    background-color: #f1f1f1;
}

.summary-container gadget {
    display: inline-block;
}

@media only screen and (min-width: 993px) {
    .gadget {
        width: 20% !important;
    }
}
.total-gadget {
    padding: 65px;
}