
@{
    ViewBag.Title = "CdvtXincapvattu";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

    
@*@{
        List<string> list = (List<string>)Session["RightIDs"];
    }*@
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
<style>
    .duplicate {
        border: 1px solid red !important;
        color: red !important;
    }
</style>
<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">

                <div class="advanded-search">
                    <div class="row">
                        <h3 class="center"><b>XIN CẤP VẬT TƯ SỬA CHỮA THƯỜNG XUYÊN</b></h3>

                    </div>
                </div>

                <div id="table-wrapper2" class="col s12 table_container">
                    <table id="mysupply" class="centered striped table-bordered">
                        <thead>
                            <tr>

                                <th>Mã thiết bi vật tư</th>
                                <th>Tên thiết bị vật tư (Mã hiệu - quy cách)</th>
                                <th>ĐVT</th>
                                <th>Số lượng xin cấp</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr id="supply1">
                            <td><input list='supplyID' type='text' class='form-control myclass supplyid' placeholder='Mã vật tư' id='supplyid1' onchange='searchMaThietBiVatTu(this)' /><input type='hidden' class='form-control supplyplanid' /></td>

                            <td><input type='text' class='form-control supplyname' placeholder='Tên vật tư' id='supply_name' readonly /></td>

                            <td><input type='text' class='form-control unit' placeholder='Đơn vị' id='unit1' readonly /></td>
                            <td><input type='number' class='form-control xin_cap' placeholder='Số lượng xin cấp' /></td>

                        </tr>*@
                        </tbody>
                    </table>

                </div>
                <hr>
            </div>
            <div class="row">
                <div class="m-t-10 m-l-10">
                    <a class="left"><button id="them" type="submit" class="btn light-blue lighten-1"><i class="large material-icons">add</i></button></a>
                    <button type="button" id="submitedit" class="btn light-blue lighten-1 modal-close  m-l-5">Lưu</button>
                    <a href="#myaleart" class="btn blue darken-2  save-category modal-trigger right" id="xc"> XIN CẤP</a>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="myaleart" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận muốn xin cấp tất cả các vật tư này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
        </div>
        <div class="modal-footer">
            <button type="button" id="xincap" class="btn blue darken-2 modal-close">Lưu</button>
            <button type="button" id="exit" class="btn red modal-close" id="close">Hủy</button>
        </div>
    </div>
</div>




<datalist id="supplyID">
    @foreach (var item in ViewBag.listSupply)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>


<script>
    var count;

    $(document).ready(function () {

        $("#them").click(function () {
            count++;
            $("#mysupply").append("<tr id=\"supply" + count + "\">" +
                "<td><input list='supplyID' type='text' class='form-control myclass supplyid' placeholder='Mã vật tư'id='supplyid" + count + "' onchange='searchMaThietBiVatTu(this)' /><input type='hidden' class='form-control supplyplanid'/></td>" +
                "<td><input type='text' class='form-control supplyname' placeholder='Tên vật tư' id='supply_name" + count + "'readonly/></td>" +
                "<td><input type='text' class='form-control unit' placeholder='Đơn vị' id='unit" + count + "' readonly/></td >" +
               
                "<td><input type='number' class='form-control xin_cap' placeholder='Số lượng xin cấp' /></td>" +
                "<td><a ><button id='remove' name='supply" + count + "' class='btn light-blue lighten-1'><i class='large material-icons'>remove</i></button></a></td>" +
                "</tr>");
        });
    });

</script>


<script>
    //function for date.
    $('.maxDate').datepicker({
        language: 'vi',
        maxDate: new Date(),
        minDate: new Date("1/1/1900")
    })
    $('.minDate').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })

</script>

@section scripts{
    @*<script src="~/js/Custom JS/CDVT/Car/car.js"></script>
        <script src="~/js/Custom JS/CDVT/Work/Mobilize_PlaceAndTime.js"></script>*@
    <script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
    <script>

        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/xin-cap-vat-tu/getinformationofsupply",
                dataType: "json",
                success: function (data) {
                   $.each(data.listsupply, function (i, item) {
                        //Danh sách vật tư.
                       
                        i++;
                        var $tr = $('<tr>').append(

                            $('<td>').html('<input type="text" class="form-control supplyid" id="supplyid' + i + '" placeholder="Mã thiết bị vật tư"  value="' + item.supplyid + '"onchange="searchMaThietBiVatTu(this)" list="supplyID"/><input type="hidden" class="form-control supplyplanid"   value="' + item.id + '"/> '),
                            $('<td>').html('<input type="text" class="form-control supplyname"id="supply_name' + i + '" placeholder="Tên thiết bị vật tư" name="supplyname_name" value="' + item.supply_name + '" readonly/><input type="hidden" class=\"dem\"value="' + i + '"  >'),
                            $('<td>').html('<input type="text" class="form-control unit " placeholder="Đơn vị"id="unit' + i + '" name="unit" value="' + item.unit + '" readonly/>'),
                            $('<td>').html('<input type="text" class="form-control xin_cap" placeholder="Số lượng xin cấp" value="' + item.quantity_plan + '"/>'),

                        );

                        $tr.appendTo('#mysupply TBODY');
                   })
                    if (data.count > 0) { $('#submitedit').hide();
                        $('#them').hide();
                         $('#xc').hide();
                    }
                    
                     var a = document.getElementsByClassName("dem").length;
                    if (a == null) { count = 0; }
                    else { count = a; }
                       },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi', 'Có lỗi xảy ra');
                },
               
                cache: false
            })
           
                
            });

       
       


        $("#submitedit").click(function (e) {
           var $supplyid = $(".supplyid");
            var listsupplyid = [];
            $supplyid.each(function () {
                var value = $(this).val();
                if (listsupplyid.indexOf(value) == -1) {
                listsupplyid.push(value);
                $(this).removeClass("duplicate");
            }
            else {
                $(this).addClass("duplicate");
            }
               
            });
            var $supplyplanid = $(".supplyplanid");
            var listsupplyplanid = [];
            $supplyplanid.each(function () {
                listsupplyplanid.push($(this).val())
            });
            
            var $xin_cap = $(".xin_cap");
            var listxin_cap = [];
            $xin_cap.each(function () {
                listxin_cap.push($(this).val())
            });
            if ($(".duplicate").length > 0) {
                $("html body").animate({
                    scrollTop: $(".duplicate").offset().top
                }, 500);
                errorAlert('Lỗi', 'Những vật tư này đã xin cấp');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/xin-cap-vat-tu/editoradd",
                    data: {
                        'supplyid': JSON.stringify(listsupplyid),

                        'xin_cap': JSON.stringify(listxin_cap),
                        'supplyplanid': JSON.stringify(listsupplyplanid),
                    },
                    success: function (data) {

                        successAlert('Thành công', 'Chỉnh sửa thành công');
                        location.reload();



                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                        errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                       
                    },
                    cache: false
                })
            }
          
        });
        $("#mysupply").on("click", "#remove", function () {
            $("tr#" + $(this).attr("name")).remove();
        })
        function searchMaThietBiVatTu(txtMaThietBiVatTu) {
            var tmp = {
                supplyid: txtMaThietBiVatTu.value
            };

                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/xin-cap-vat-tu/returnsupplymaintainName",
                    data: JSON.stringify(tmp),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        document.getElementById("supply_name" + txtMaThietBiVatTu.id.slice(-1)).value = r.supply_name;
                        document.getElementById("unit" + txtMaThietBiVatTu.id.slice(-1)).value = r.unit;
                        
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                        //alert("fail");

                    }
                });

        }
        $("#xincap").click(function (e) {
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/xin-cap-vat-tu/xincap",

                success: function () {
                    successAlert('Thành công', 'Xin cấp thành công');
                    $("#mysupply").find("tr:gt(0)").remove(); 
                    $('#submitedit').hide();
                    $('#them').hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                   
                },
                cache: false
            }).done(function () {

                $('#exit').click();


            })

            return false;
        });
    </script>
}


