
@{
    ViewBag.Title = "Danhsachvattu";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
<link href="~/dist/css/style.css" rel="stylesheet">
<!-- This page CSS -->
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">

<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>DANH SÁCH LOẠI VẬT TƯ</b></h3>
            <hr>
            <form action="" method="POST" id="mysearchform" role="form">
                <div class="row center">
                    <div class="col l4 m4 s12">
                        <div class="row">
                            <div class="col l10 m10 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã vật tư" class='form-control' id="supply_id_search" />
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="row">
                            <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                <input type="text" placeholder="Tìm kiếm theo tên vật tư" class='form-control' id="supply_name_search" />
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="row">
                            <div class="col l12 m12 s12 input-field center">
                                <a class="waves-effect waves-light btn blue darken-2 modal-close modal-trigger" id="searchButton1">Tìm kiếm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col s12 left">
                <a class="waves-effect waves-light btn-small blue modal-trigger" href="#myadd">Thêm loại vật tư</a>
            </div>
            <div class="col s12 table_container">
                <table class="table-bordered striped table-responsive centered"
                       style="margin-top:30px; text-align:center;" id="complex_header">
                    <thead>
                        <tr>
                            <th>Mã vật tư</th>
                            <th>Tên vật tư</th>
                            <th>Đơn vị</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<form action="" method="POST" id="myaddform" role="form">
    <div class="modal" id="myadd">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm vật tư</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label for="id">Mã vật tư : </label>
                                <input required type="text" class="form-control" value="" id="supply_id_add" />
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label for="id">Đơn vị : </label>
                                <input required type="text" class="form-control" value="" id="unit_add" />
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label for="supplier">Tên vật tư : </label>
                                <input required type="text" class="form-control" id="supply_name_add" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-light btn blue darken-2 modal-trigger">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-add-button">Thoát</button>
            </div>
        </div>
    </div>
</form>

<form action="" method="POST" id="myeditform" role="form">
    <div class="modal" id="myedit">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Sửa vật tư</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label for="id">Mã vật tư : </label>
                                <input readonly type="text" class="form-control" value="" id="supply_id_edit" />
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label for="id">Đơn vị : </label>
                                <input required type="text" class="form-control" value="" id="unit_edit" />
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label for="supplier">Tên vật tư : </label>
                                <input required type="text" class="form-control" id="supply_name_edit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-light btn blue darken-2 modal-trigger">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-edit-button">Thoát</button>
            </div>
        </div>
    </div>
</form>

<form action="" method="POST" id="mydeleteform" role="form">
    <div class="modal" id="mydelete">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <h5>Chỉ những vật tư chưa từng được sử dụng trên hệ thống mới xóa được</h5>
            </div>
            <div class="modal-footer">
                <input type="hidden" readonly id="supply_id_delete" />
                <button class="waves-effect waves-light btn blue darken-2 modal-trigger">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-delete-button">Thoát</button>
            </div>
        </div>
    </div>
</form>
<script>
    $("#supply_id_search").keyup(function (e) {
        if (e.which == 13) {
            $("#searchButton1").click();
            $("#supply_id_search").blur();
        }
    });

    $("#supply_name_search").keyup(function (e) {
        if (e.which == 13) {
            $("#searchButton1").click();
            $("#supply_name_search").blur();
        }
    });
</script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
@section scripts{
    <script>
        var Popup, dataTable;
        $("#pre-load").show();

        $(document).ready(function () {
            dataTable = $('#complex_header').DataTable({
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang sau",
                        "previous": "Trang trước"
                    }
                },
                "ajax": {
                    "url": "/phong-cdvt/danh-sach-vat-tu",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "supply_id": function () { return $('#supply_id_search').val() },
                        "supply_name": function () { return $('#supply_name_search').val() }
                    },
                    "cache": false
                },
                "columns": [
                    { "data": "supply_id", "name": "supply_id" },
                    { "data": "supply_name", "name": "supply_name" },
                    { "data": "unit", "name": "unit" },
                    {
                        "data": "supply_id", "render": function (data) {
                            return "<a href=\"#mydelete\" data-toggle=\"modal\" class=\"open-EditModal waves-effect waves-light btn blue darken-1 modal-trigger\" data-supply_id=\"" + data + "\">Xóa</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "serverSide": "true",
                "order": [0, "desc"],
                "rowId": "incident_id",
                "lengthChange": false,
                "searching": false,
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                },
                "preDrawCallback": function (settings) {
                    $('#pre-load').show();
                },
                "drawCallback": function (settings) {
                    $('#pre-load').hide();
                }
            });

            //ajax add
            $('#myaddform').submit(function () {
                $('#pre-load').show();
                $.ajax({
                    type: "post",
                    url: "/phong-cdvt/danh-sach-vat-tu/add",
                    dataType: "json",
                    success: function (data) {
                        dataTable.ajax.reload();
                        if (data.success == true) {
                            successAlert('Thành công', data.message);
                            $('#exit-add-button').click();
                            $('#pre-load').hide();
                            $('#supply_id_add').val("");
                            $('#supply_name_add').val("");
                            $('#unit_add').val("")
                        }
                        else
                            errorAlert('Lỗi', data.message);
                    },
                    data: {
                        supply_id: $('#supply_id_add').val(),
                        supply_name: $('#supply_name_add').val(),
                        unit: $('#unit_add').val()
                    },
                    cache: false
                })
                return false;
            })

            //search
            $("#searchButton1").click(function () {
                $("#pre-load").show();
                dataTable.ajax.reload(function () {
                    $("#pre-load").hide();
                })
            });

            //ajax delete
            $('#mydeleteform').submit(function () {
                $('#pre-load').show();
                $.ajax({
                    type: "post",
                    url: "/phong-cdvt/danh-sach-vat-tu/delete",
                    dataType: "json",
                    success: function (data) {
                        dataTable.ajax.reload();
                        if (data.success == true) {
                            successAlert('Thành công', data.message);
                            $('#exit-delete-button').click();
                            $('#pre-load').hide();
                        }
                        else
                            errorAlert('Lỗi', data.message);
                    },
                    data: {
                        supply_id: $('#supply_id_delete').val()
                    },
                    cache: false
                })
                return false;
            })
        });

        $(document).on("click", ".open-EditModal", function () {
            var supply_id = $(this).data('supply_id');
            $('#supply_id_delete').val(supply_id);
            $('#mydeleteform h3').text("Xóa vật tư " + supply_id);
            //$('#supply_name_edit').val($(this).parent().parent().children().eq(1).text())
            //$('#unit_edit').val($(this).parent().parent().children().eq(2).text())
        });
    </script>
}