
@{
    ViewData["Title"] = "Tieuhao";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<link href="~/dist/css/style.css" rel="stylesheet">
<!-- This page CSS -->
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">

<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row table_container">
                <div class="advanded-search">
                    <div class="row">
                        <div class="center">
                            <h3 class="center"><b>TIÊU HAO VẬT TƯ</b></h3>
                        </div>
                        <hr>
                        <div class="row center">
                            <div class="col l3 m3 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo mã vật tư" class='form-control' id="supplyId"
                                               multiple />
                                    </div>
                                </div>
                            </div>
                            <div class="col l3 m3 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo tên vật tư" class='form-control' id="supplyName"
                                               multiple />
                                    </div>
                                </div>
                            </div>
                            <div class="col l3 m3 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo mã phân xưởng" class='form-control' id="departmentId"
                                               multiple />
                                    </div>
                                </div>
                            </div>
                            <div class="col l3 m3 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo tên phân xưởng" class='form-control' id="departmentName"
                                               multiple />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="col l12 m12 s12 input-field">
                                <button class="btn blue darken-2 btn-small" id="searchBtn">Tìm kiếm</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs" style="overflow-x:hidden;overflow-y:hidden">
                                    <li class="col s6 tab"><a id="tab_chitiet" class="active" href="#chitiet">Bảng chi tiết</a></li>
                                    <li class="col s6 tab"><a id="tab_tonghop" href="#tonghop">Bảng tổng hợp</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="chitiet">
                    <div class="row">
                        <div class="col s12">
                            <table class="striped centered table-bordered mytable" width="100%"
                                   style="margin-top:30px; text-align:center;" id="tbl_detail">
                                <thead>
                                    <tr>
                                        <th>Mã vật tư</th>
                                        <th>Tên vật tư</th>
                                        <th>Phân xưởng</th>
                                        <th>Số lượng cấp (SCTX)</th>
                                        <th>Đơn vị</th>
                                        <th>Sử dụng (Tất cả)</th>
                                        <th>Thu hồi</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tonghop">
                    <div class="row">
                        <div class="col s12">
                            <table class="striped centered table-bordered mytable" width="100%"
                                   style="margin-top:30px; text-align:center;" id="tbl_summary">
                                <thead>
                                    <tr>
                                        <th>Mã vật tư</th>
                                        <th>Tên vật tư</th>
                                        <th>Số lượng cấp (SCTX)</th>
                                        <th>Đơn vị</th>
                                        <th>Sử dụng (Tất cả)</th>
                                        <th>Thu hồi</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<script src="~/js/Custom JS/DK/DetailManu_Daily.js"></script>
<script src="~/js/Briefs_List.js"></script>
<script src="~/js/Custom JS/CDVT/Home/huydong.js"></script>
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
@section scripts{
    <script>
        var tbl_detail, tbl_summary, currTab = 0;
        $(document).ready(function () {
            $("#pre-load").show();
            tbl_detail = $('#tbl_detail').DataTable({
                "ajax": {
                    "url": "/phong-cdvt/vat-tu/tieu-hao/details",
                    "type": "GET",
                    "datatype": "json",
                    "cache": "false",
                    "data": {
                        "DepartmentId": function () { return $('#departmentId').val() },
                        "DeparmentName": function () { return $('#departmentName').val() },
                        "SupplyId": function () { return $('#supplyId').val() },
                        "SupplyName": function () { return $('#supplyName').val() },
                    },
                    "dataSrc": function (json) {
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "SupplyId", "name": "SupplyId" },
                    { "data": "SupplyName", "name": "SupplyName" },
                    { "data": "DepartmentName", "name": "DepartmentName" },
                    { "data": "SupplyQuantity", "name": "SupplyQuantity" },
                    { "data": "SupplyUnit", "name": "SupplyUnit" },
                    { "data": "SupplyUsed", "name": "SupplyUseds" },
                    { "data": "SupplyEviction", "name": "SupplyEviction" },
                ],
                "serverSide": true,
                "order": [0, "asc"],
                "rowId": "SupplyId",
                "lengthChange": false,
                "searching": false,
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                },
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang sau",
                        "previous": "Trang trước"
                    }
                }
            });

            tbl_summary = $('#tbl_summary').DataTable({
                "ajax": {
                    "url": "/phong-cdvt/vat-tu/tieu-hao/summary",
                    "type": "GET",
                    "datatype": "json",
                    "cache": "false",
                    "data": {
                        "SupplyId": function () { return $('#supplyId').val() },
                        "SupplyName": function () { return $('#supplyName').val() },
                    },
                    "dataSrc": function (json) {
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "SupplyId", "name": "SupplyId" },
                    { "data": "SupplyName", "name": "SupplyName" },
                    { "data": "SupplyQuantity", "name": "SupplyQuantity" },
                    { "data": "SupplyUnit", "name": "SupplyUnit" },
                    { "data": "SupplyUsed", "name": "SupplyUseds" },
                    { "data": "SupplyEviction", "name": "SupplyEviction" },
                ],
                "serverSide": true,
                "order": [0, "asc"],
                "rowId": "SupplyId",
                "lengthChange": false,
                "searching": false,
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                },
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang sau",
                        "previous": "Trang trước"
                    }
                }
            });
            $('#tab_chitiet').on("click", function (e) {
                currTab = 0;
                $("#departmentId").prop('disabled', false);
                $("#departmentName").prop('disabled', false);
            });
            $('#tab_tonghop').on("click", function (e) {
                currTab = 1;
                $("#departmentId").prop('disabled', true);
                $("#departmentName").prop('disabled', true);
            });
            $('#searchBtn').click(search);
        });

        function search() {
            $("#pre-load").show();
            if (currTab == 0) {
                tbl_detail.ajax.reload(function () {
                    successAlert('Tìm kiếm thành công', '');
                });
            } else {
                tbl_summary.ajax.reload(function () {
                    successAlert('Tìm kiếm thành công', '');
                });
            }
            $("#pre-load").hide();
        }

        function getSumarryDataSrc(vattus) {
            let result = [];
            let vattuIds = new Set(vattus.map(vattu => vattu.SupplyId));
            vattuIds = [...vattuIds];
            for (let i = 0; i < vattuIds.length; i++) {
                obj = {
                    'SupplyId': '',
                    'SupplyName': '',
                    'SupplyQuantity': 0,
                    'SupplyUnit': '',
                    'SupplyUsed': 0,
                    'SupplyInventory': 0,
                    'SupplyEviction': 0
                }
                for (let j = 0; j < vattus.length; j++) {
                    if (vattus[j].SupplyId == vattuIds[i]) {
                        obj.SupplyId = vattus[j].SupplyId;
                        obj.SupplyName = vattus[j].SupplyName;
                        obj.SupplyUnit = vattus[j].SupplyUnit;
                        obj.SupplyQuantity += vattus[j].SupplyQuantity;
                        obj.SupplyUsed += vattus[j].SupplyUsed;
                        obj.SupplyEviction += vattus[j].SupplyEviction;
                    }
                }
                result.push(obj);
            }
            return result;
        }
    </script>
}
