@{
    ViewData["Title"] = "Xincapvattu";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
<link href="~/dist/css/style.css" rel="stylesheet">
<!-- This page CSS -->
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>

<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <h3 class="center"><b>XIN CẤP VẬT TƯ SỬA CHỮA THƯỜNG XUYÊN</b></h3>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="col s12 tab"><a class="active" href="#chitiet">Bảng chi tiết</a></li>
                        </ul>
                    </div>
                </div>
                <div id="chitiet">
                    <div class="row">
                        <div class="col s12 table_container" id="table-wrapper2">
                            <table id="Table" class="table-bordered striped table-responsive centered" sstyle="margin-top:30px; text-align:center;width:100%;">
                                <thead>
                                    <tr>
                                        <th class="center-align">STT</th>
                                        <th class="center-align">Mã nhóm thiết bị</th>
                                        <th class="center-align">Tên</th>
                                        <th class="center-align">Mã TSCĐ</th>
                                        <th class="center-align">Vị trí lắp đặt</th>
                                        <th class="center-align">Mã vật tư</th>
                                        <th class="center-align">Vật tư SCTX</th>
                                        <th class="center-align">ĐVT</th>
                                        <th class="center-align">Định mức chung</th>
                                        <th class="center-align">Kế hoạch phân xưởng</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2">
                    </div>
                    <div class="col s12 m4">
                    </div>
                    <div class="col s12 m4">
                        <a id="update" class="btn right" style="width:225px;background-color:#273146;margin-bottom:20px">Cập nhật</a>
                    </div>
                    <div class="col s12 m2">
                        <a id="submit" class="btn" style="width:225px;background-color:#273146;margin-bottom:20px">Xin Cấp</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        var payload;
        var datatable;
        $("#pre-load").show();
        $(document).ready(function () {
            var index = 1;
            datatable = $('#Table').DataTable({
                "ajax": {
                    "url": "/phong-cdvt/xin-cap-vat-tu-sctx/all",
                    "type": "GET",
                    "datatype": "json",
                    "cache": "false",
                    "dataSrc": function (json) {
                        payload = json.data;
                        if (payload.length == 0) {
                            $("#submit").attr("disabled", true);
                            $("#update").attr("disabled", true);
                            alert('Đơn xin cấp mới vật tư sửa chữa đã được gửi.');
                        }
                        return json.data;
                    }
                },
                "columns": [
                    { "data": null, "name": "Index", "render": function (data) { return index++; } },
                    { "data": "EquipmentCategoryId", "name": "EquipmentCategoryId" },
                    { "data": "EquipmentName", "name": "EquipmentName" },
                    { "data": "EquipmentId", "name": "EquipmentId" },
                    { "data": "DetailLocation", "name": "DetailLocation" },
                    { "data": "SupplyId", "name": "SupplyId" },
                    { "data": "SupplyName", "name": "SupplyName" },
                    { "data": "SupplyUnit", "name": "SupplyUnit" },
                    {
                        "data": "SupplyAverage", "name": "SupplyAverage", "render": function (data, type, row, meta) {
                            let id = row['Id'];
                            let domId = 'supply_average_' + id;
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleSupplyAverageChange('${domId}', '${id}')` + '" ' + '/>';
                        }
                    },
                    {
                        "data": "SupplyPlan", "name": "SupplyPlan", "render": function (data, type, row, meta) {
                            let id = row['Id'];
                            let domId = 'supply_plan_' + id;
                            return `<input type="number" min="0" value="${data}" class="form-control" id="` + domId + '" ' + 'oninput="' + `handleSupplyPlanChange('${domId}', '${id}')` + '" ' + '/>';
                        }
                    },
                ],
                "processing": true,
                "order": [0, "asc"],
                "rowId": "SupplyId",
                "lengthChange": false,
                "searching": false,
                "paging": false,
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                }
            });
            $("#submit").click(function () {
                if (confirm('Nộp đơn xin cấp mới?')) {
                    $("#pre-load").show();
                    $.ajax({
                        dataType: "json",
                        contentType: "application/json, charset=utf-8",
                        type: 'POST',
                        url: '/phong-cdvt/xin-cap-vat-tu-sctx/submit',
                        data: JSON.stringify(payload),
                        success: function (res) {
                            if (res.success) {
                                $("#submit").attr("disabled", true);
                                $("#update").attr("disabled", true);
                                alert('Nộp đơn thành công.');
                            } else {
                                alert('Nộp đơn thất bại.');
                            }
                        }
                    });
                    $("#pre-load").hide();
                } else {
                    // Do nothing!
                }
            });
            $("#update").click(update);
        });

        function handleSupplyAverageChange(domId, id) {
            let value = 0;
            if (document.getElementById(domId) != null && document.getElementById(domId).value != '') {
                value = parse2PosNum(document.getElementById(domId).value);
            }
            for (let i = 0; i < payload.length; i++) {
                if (payload[i].Id == id) {
                    payload[i].SupplyAverage = value;
                }
            }

        }

        function handleSupplyPlanChange(domId, id) {
            let value = 0;
            if (document.getElementById(domId) != null && document.getElementById(domId).value != '') {
                value = parse2PosInt(document.getElementById(domId).value);
            }
            for (let i = 0; i < payload.length; i++) {
                if (payload[i].Id == id) {
                    payload[i].SupplyPlan = value;
                }
            }
        }

        function parse2PosInt(value) {
            var value = parseInt(value);
            if (value < 0) {
                return 0;
            }
            return value;
        }

        function parse2PosNum(value) {
            var value = parseFloat(value);
            if (value < 0) {
                return 0;
            }
            return value;
        }

        function update() {
            $("#pre-load").show();
            $.ajax({
                dataType: "json",
                contentType: "application/json, charset=utf-8",
                type: 'POST',
                url: '/phong-cdvt/xin-cap-vat-tu-sctx/update',
                data: JSON.stringify(payload),
                success: function (res) {
                    if (res.success) {
                        alert('Cập nhật đơn thành công.');
                        window.location.reload();
                    } else {
                        alert('Cập nhật đơn thất bại.');
                    }
                }
            });
            $("#pre-load").hide();
        }
    </script>
}