
@{
    ViewData["Title"] = "XincapvattuTonghop";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
<link href="~/dist/css/style.css" rel="stylesheet">
<!-- This page CSS -->
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>

<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div id="tonghop">
                        <div class="row">
                            <h3 class="center"><b>XIN CẤP VẬT TƯ SỬA CHỮA THƯỜNG XUYÊN TỔNG HỢP</b></h3>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="col s12 tab"><a href="#tonghop">Bảng tổng hợp</a></li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col l4 m4 s4 input-field">
                                <select class="form-control" id="department_search">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 table_container" id="table-wrapper2">
                                <table id="summary_tbl" class="table-bordered striped table-responsive centered" sstyle="margin-top:30px; text-align:center;width:100%;">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã thiết bị</th>
                                            <th>Tên thiết bị</th>
                                            <th>Mã thiết bị</th>
                                            <th>Tên thiết bị</th>
                                            <th>Mã vật tư</th>
                                            <th>Tên vật tư</th>
                                            <th>Định mức</th>
                                            <th>Kế hoạch phân xưởng</th>
                                            <th>Số lượng còn</th>
                                            <th>CĐVT duyệt</th>
                                            <th>Đơn vị tính</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2">
                    </div>
                    <div class="col s12 m4">
                    </div>
                    <div class="col s12 m4">
                    </div>
                    <div class="col s12 m2">
                        <a id="submit" class="btn" style="width:225px;background-color:#273146;margin-bottom:20px">Duyệt Xin Cấp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/Rowspan/jquery.rowspanizer.js"></script>
    <script src="~/js/Rowspan/jquery.rowspanizer.min.js"></script>
 <script src="~/assets/libs/jquery.rowspanizer.js"></script>
    <script>
        var lists = [];
        
       

        var datatable;
        $(document).ready(function () {
            setDepartments();
            datatable = drawTable();
            $('#department_search').on('change', function () {
                if (getCurrDepId() == 'CDVT') drawTableOfCDVT();
                else
                drawTable();
            });
            $("#submit").click(function () {
                var xincap = [];
                for (var i = 0; i < lists.length; i++) {
                   var newData = {}
                    newData.SupplyQuantity = $("#quantity-" + lists[i].Equipmentid + "-" + lists[i].SupplyId).val();
                    newData.Id = lists[i].Id;
                    xincap.push(newData);
                }
                var data = {
                values:xincap,
                departmentid: getCurrDepId(),


            };
                confirmAlert('Xác nhận', 'Duyệt đơn xin cấp mới cho đơn vị này?', function () {
                    $("#pre-load").show();
                    $.ajax({
                        dataType: "json",
                        contentType: "application/json, charset=utf-8",
                        type: 'POST',
                        url: '/phong-cdvt/xin-cap-vat-tu-sctx-summary/submit',
                        data: JSON.stringify(data),
                        success: function (res) {
                            $("#pre-load").hide();
                            if (res.success) {
                                $.notify('Duyệt đơn thành công.', {
                                    globalPosition: 'top center',
                                    className: 'success'
                                });
                                $("#submit").attr("disabled", true);
                            } else {
                                $.notify('Duyệt đơn không thành công.', {
                                    globalPosition: 'top center',
                                    className: 'error'
                                });
                            }
                        }
                    });
                });
            });
        });
        function getCurrDepId() {
            return $("#department_search option:selected").val();
        }
        function setDepartments() {
            let departments = [];
            $("#pre-load").show();
            $.ajax({
                async: false,
                dataType: "json",
                contentType: "application/json, charset=utf-8",
                type: 'GET',
                url: '/phong-cdvt/xin-cap-vat-tu-sctx-summary/departments',
                data: JSON.stringify(lists),
                success: function (res) {
                    departments = res.data;
                }
            });
            for (let i = 0; i < departments.length; i++) {
                $("#department_search").append(new Option(departments[i].DepartmentName, departments[i].DepartmentId));
            }
            $("#pre-load").hide();
        }
        function drawTable() {
            $("#pre-load").show();
            var x = $('#table-wrapper2').find("#summary_tbl");
            if (x.length == 0) {
                $("#summary_tblcdvt").remove();
                 $('#table-wrapper2').append(' <table id="summary_tbl" class="table-bordered striped table-responsive centered" sstyle="margin-top:30px; text-align:center;width:100%;">'+
                                    '<thead>'+
                                        '<tr>'+
                                            '<th>STT</th>'+
                                            '<th>Mã thiết bị</th>'+
                                            '<th>Tên thiết bị</th>'+
                                            '<th>Mã vật tư</th>'+
                                            '<th>Tên vật tư</th>' +
                                            '<th>Định mức chung</th>'+
                                            '<th>Kế hoạch phân xưởng</th>'+
                                            '<th>Số lượng còn</th>'+
                                            '<th>CĐVT duyệt</th>'+
                                            '<th>Đơn vị tính</th>'+
                                       '</tr>'+
                                    '</thead>'+
                                   ' <tbody>'+
                                   '</tbody>');
            }
            else
            $("#summary_tbl").find("tbody").empty();
            let index = 1;
            $.ajax({
                url: "/phong-cdvt/xin-cap-vat-tu-sctx-summary/all",
                type: "GET",
                data: {
                    departmentId: getCurrDepId()
                },
                datatype: "json",
                cache: false,
                success: function (response) {
                    resultArray = response.data;
                    var tbData = "";
                    if (resultArray.length == 0) {
                        $("#summary_tbl").find("tbody").append("<tr><td colspan=\"12\"><i>Không có dữ liệu</i></td></tr>")
                    } else {
                        for (var i = 0; i < resultArray.length; i++) {
                            tbData += "<tr>" +
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + resultArray[i].Equipmentid + "</td>" +
                                "<td>" + resultArray[i].equipment_name + "</td>" +
                                "<td>" + resultArray[i].equipmentId_dikem + "</td>" +
                                "<td>" + resultArray[i].equipmentId_dikem_name+ "</td>" +
                                "<td>" + resultArray[i].SupplyId + "</td>" +
                                "<td>" + resultArray[i].SupplyName + "</td>" +
                                "<td>" + resultArray[i].SupplyAverage + "</td>" +
                                "<td>" + resultArray[i].SupplyPlan + "</td>" +
                                "<td>" + resultArray[i].SupplyRemaining + "</td>" +
                                "<td><input type='number' id='quantity-" + resultArray[i].equipmentId_dikem + "-" + resultArray[i].SupplyId + "'class='form-control'></td>" +
                                "<td>" + resultArray[i].SupplyUnit + "</td>" +
                                "</tr>";
                            lists.push({
                                "Id": resultArray[i].Id,
                                "Equipmentid": resultArray[i].equipmentId_dikem,
                                "SupplyId": resultArray[i].SupplyId,
                               
                            });
                        }
                        $("#summary_tbl").find("tbody").append(tbData);
                        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        $('#summary_tbl').rowspanizer({
                                 columns: [1,2,3,4]
                          });                  
                         $('.rowspan-combine').css({
                'vertical-align':'middle'
            })
                    }
                    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                    $("#pre-load").hide();
                }
            });
        }
         function drawTableOfCDVT() {
            $("#pre-load").show();
           
            let index = 1;
             $.ajax({
                 url: "/phong-cdvt/xin-cap-vat-tu-sctx-summary/all",
                 type: "GET",
                 data: {
                     departmentId: getCurrDepId()
                 },
                 datatype: "json",
                 cache: false,
                 success: function (response) {
                     resultArray = response.data;
                     $("#summary_tbl").remove();
                     $('#table-wrapper2').append(' <table id="summary_tblcdvt" class="table-bordered striped table-responsive centered" sstyle="margin-top:30px; text-align:center;width:100%;">'+
                                    '<thead>'+
                                        '<tr>'+
                                            '<th>STT</th>'+
                                             '<th>Mã vật tư</th>'+
                                            '<th>Tên vật tư</th>'+
                                             '<th>Kế hoạch phân xưởng</th>'+
                                            '<th>CĐVT duyệt</th>'+
                                            '<th>Đơn vị tính</th>'+
                                       '</tr>'+
                                    '</thead>'+
                                   ' <tbody>'+
                                   '</tbody>');
                     var table = $('#here_table').children();

                     var tbData = "";
                     if (resultArray.length == 0) {
                         $("#summary_tblcdvt").find("tbody").append("<tr><td colspan=\"6\"><i>Không có dữ liệu</i></td></tr>")
                     } else {
                         for (var i = 0; i < resultArray.length; i++) {
                             tbData += "<tr>" +
                                 "<td>" + (i + 1) + "</td>" +
                                 "<td>" + resultArray[i].SupplyId + "</td>" +
                                 "<td>" + resultArray[i].SupplyName + "</td>" +
                                 "<td>" + resultArray[i].SupplyPlan + "</td>" +
                                 "<td><input type='text' id='quantity-" + resultArray[i].Equipmentid + "-" + resultArray[i].SupplyId + "' class='form-control'><input type='hidden' id='Id-" + resultArray[i].Id + "' value='" + resultArray[i].Id + "' class='form-control'> </td>" +
                                 "<td>" + resultArray[i].SupplyUnit + "</td>" +
                                 "</tr>";
                             lists.push({
                                 "id": resultArray[i].Id,
                                 "Equipmentid": resultArray[i].Equipmentid,
                                 "SupplyId": resultArray[i].SupplyId,
                                 "quantity": ""
                             });
                         }
                         $("#summary_tblcdvt").find("tbody").append(tbData);
                         ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

                         ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        
                     }
                      $("#pre-load").hide();
                 }
             });
        }
        function handleSupplyQuantityChange(domId, id) {
            let value = 0;
            if (document.getElementById(domId) != null && document.getElementById(domId).value != '') {
                value = parse2PosInt(document.getElementById(domId).value);
            }
            for (let i = 0; i < payload.length; i++) {
                if (payload[i].Id == id) {
                    payload[i].SupplyQuantity = value;
                }
            }
        }
        function parse2PosInt(value) {
            var value = parseInt(value);
            if (value < 0) {
                return 0;
            }
            return value;
        }
    </script>
}