.login100-form-title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: white;
}
.input100 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 10px;
}
.login100-form-title h3 {
    line-height: 50px !important;
    color: #404040 !important;
}
.container-login100 {
    /* background: linear-gradient(-135deg, #2de2ff, #bd57e6) !important; */
    background-image: url("/images/login/background.png");
    background-size: cover;
}
input{
    background: #fff !important;
}
a{
    text-decoration:none;
}
.wrap-login100 {
width: 960px;
background:#ffffffc9;
border-radius: 20px;
overflow: hidden;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
opacity: 0.95;

}