
@{
    ViewBag.Title = "List8";
    Layout = "~/Views/Layout/ListLayout.cshtml";
}

<div class="col-md-12" style="border: 1px solid black; margin:20px 10px; padding-bottom:30px;">
    <div class="col-md-12" style="margin-bottom:40px">
        <div class="col-md-4">
            <h3>Danh sách kiểm định</h3>
        </div>
        <div class="col-md-3">
            <input list="size" class="form-control" placeholder="Nhập từ khóa để tìm kiếm"
                   style="margin-top:20px;float:left">
            <datalist id="size">
                <option value="Băng tải khung">Băng tải khung</option>
                <option value="Máng cào SGB 420/22">Máng cào SGB 420/22</option>
                <option value="Máy xúc lật">Máy xúc lật</option>
                <option value="Sàng tuyền">Sàng tuyền</option>
                <option value="Máy nén khí">Máy nén khí</option>
                <option value="Máy bơm">Máy bơm</option>
                <option value="Ô tô trung xa, phục vụ">Ô tô trung xa, phục vụ</option>
                <option value="Xe goòng">Xe goòng</option>
                <option value="Tàu điện">Tàu điện</option>
                <option value="Máy gạt">Máy gạt</option>
                <option value="Máy xúc hầm lò">Máy xúc hầm lò</option>
                <option value="Máy xúc thủy lực">Máy xúc thủy lực</option>
                <option value="Máy khoan lộ thiên">Máy khoan lộ thiên</option>
                <option value="Máy khoan hầm lò">Máy khoan hầm lò</option>
                <option value="Cáp tời">Cáp tời</option>
            </datalist>
        </div>
        <div class="col-md-2">
            <button type="submit"
                    style="margin-top:20px;border: 1px solid #ccc;height:33px; border-radius: 10%">
                Tìm kiếm
            </button>
        </div>
        <div class="col-md-3">
            <a href="#addEmployeeModal" data-toggle="modal"><button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px" onclick="document.getElementById('date').valueAsDate = new Date()">Thêm</button></a>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải lên</button>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải về</button>
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal">
            <label class="control-label col-xs-4" for="usr">Hiển chị số dòng/trang</label>
            <div class="col-xs-8">
                <input list="sizes">
                <datalist id="sizes">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </datalist>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered table-hover"
               style="margin-top:30px; text-align:center;zoom: 75%;">
            <tr>
                <td rowspan="2">STT</td>
                <td rowspan="2">Ngày kiểm định</td>
                <td rowspan="2">Đợt kiểm định</td>
                <td rowspan="2">Mã đợt kiểm định</td>
                <td rowspan="2">Nhân viên kiểm định</td>
                <td rowspan="2">Đơn vị được kiểm định</td>
                <td rowspan="2">Nội dung kiểm định</td>
                <td colspan="4">Thiết bị kiểm định</td>
                <td rowspan="2">In báo cáo</td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td>Mã thiết bị</td>
                <td>Tên thiết bị</td>
                <td>Số hiệu</td>
                <td>Tình trạng</td>
            </tr>
            <tr>
                <td>1</td>
                <td>15/7/2019</td>
                <td>002</td>
                <td>KT02-19</td>
                <td>Ngô Doãn Cường</td>
                <td>Khai thác 3</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>BT</td>
                <td>Băng tải khung</td>
                <td>245</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>15/7/2019</td>
                <td>002</td>
                <td>KT02-19</td>
                <td>Ngô Doãn Cường</td>
                <td>Khai thác 1</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>MC</td>
                <td>Máng cào SGB 420/22</td>
                <td>4032</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>15/7/2019</td>
                <td>002</td>
                <td>KT02-19</td>
                <td>Ngô Doãn Cường</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>MX</td>
                <td>Máy xúc lật</td>
                <td>2080</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>15/7/2019</td>
                <td>002</td>
                <td>KT02-19</td>
                <td>Ngô Doãn Cường</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>ST</td>
                <td>Sàng tuyền</td>
                <td>A3415</td>
                <td>Đang sửa chữa</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>15/7/2019</td>
                <td>002</td>
                <td>KT02-19</td>
                <td>Ngô Doãn Cường</td>
                <td>Khai thác 3</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>NK</td>
                <td>Máy nén khí</td>
                <td>600</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>15/7/2019</td>
                <td>002</td>
                <td>KT02-19</td>
                <td>Ngô Doãn Cường</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>MB</td>
                <td>Máy bơm</td>
                <td>173</td>
                <td>Đã hỏng</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>OTX</td>
                <td>Ô tô trung xa, phục vụ</td>
                <td>557</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>XG</td>
                <td>Xe goòng</td>
                <td>72</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>TD</td>
                <td>Tàu điện</td>
                <td>852</td>
                <td>Đang sửa chữa</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>MG</td>
                <td>Máy gạt</td>
                <td>60</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>11</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>MXHL</td>
                <td>Máy xúc hầm lò</td>
                <td>328</td>
                <td>Đang sửa chữa</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>12</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>MXTL</td>
                <td>Máy xúc thủy lực</td>
                <td>72</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>13</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>MKLT</td>
                <td>12:00AM 11/2/2019</td>
                <td>116</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>14</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>MKHL</td>
                <td>Máy khoan hầm lò</td>
                <td>412</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>15</td>
                <td>15/4/2019</td>
                <td>001</td>
                <td>KT01-19</td>
                <td>Bùi Văn Xuân</td>
                <td>Khai thác 2</td>
                <td>Kiểm tra tình trạng thiết bị</td>
                <td>CT</td>
                <td>Cáp tời</td>
                <td>1610</td>
                <td>Tốt</td>
                <td>
                    <button style="padding:3px 12px; margin-left:15px;border:none">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
        </table>
        <div class="col-md-4 col-md-offset-4" style="text-align:center">
            <button type="submit" style="margin-top:20px;padding:6px 12px;border:none">
                <i class="fa fa-arrow-left"></i>
            </button>
            <a style="padding:8px 14px;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-decoration:none">1</a>
            <a style="padding:8px 14px;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-decoration:none">2</a>
            <button type="submit" style="margin-top:20px;padding:6px 12px;border:none">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Giao diện nhập kiểm định</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="date">Ngày: </label>
                            <input type="date" class="form-control" id="date" />
                        </div>
                        <div class="form-group">
                            <label for="id">Mã thiết bị: </label>
                            <input type="text" class="form-control" id="id" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tên thiết bị: </label>
                            <input type="text" class="form-control" id="name" />
                        </div>
                        <div class="form-group">
                            <label for="condition">Tình trạng: </label>
                            <input type="text" class="form-control" id="condition" />
                        </div>
                        <div class="form-group">
                            <label for="depreciation">Số seri: </label>
                            <input type="number" class="form-control" id="depreciation" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="phase">Đợt kiểm định: </label>
                            <input type="text" class="form-control" id="phase" />
                        </div>
                        <div class="form-group">
                            <label for="code">Mã kiểm định: </label>
                            <input type="text" class="form-control" id="code" />
                        </div>
                        <div class="form-group">
                            <label for="validation">Bộ phận kiểm định: </label>
                            <input type="text" class="form-control" id="validation" />
                        </div>
                        <div class="form-group">
                            <label for="unit">Đơn vị được kiểm định: </label>
                            <input type="text" class="form-control" id="unit" />
                        </div>
                        <div class="form-group">
                            <label for="detail">Nội dung kiểm định: </label>
                            <input type="text" class="form-control" id="detail" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" style="float: left;">Nhập lại</button>
                    <button type="submit" class="btn btn-primary" style="float: left;">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
