
@{
    ViewBag.Title = "List5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="border: 1px solid black; margin:20px 10px; padding-bottom:30px;">
    <div class="col-md-12" style="margin-bottom:40px">
        <div class="col-md-4">
            <h3>Theo dõi bảo hành theo kỳ hạn</h3>
        </div>
        <div class="col-md-3">
            <input list="size" class="form-control" placeholder="Nhập từ khóa để tìm kiếm"
                   style="margin-top:20px;float:left">
            <datalist id="size">
                <option value="Băng tải khung">Băng tải khung</option>
                <option value="Máng cào SGB 420/22">Máng cào SGB 420/22</option>
                <option value="Máy xúc lật">Máy xúc lật</option>
                <option value="Sàng tuyền">Sàng tuyền</option>
                <option value="Máy nén khí">Máy nén khí</option>
                <option value="Máy bơm">Máy bơm</option>
                <option value="Ô tô trung xa, phục vụ">Ô tô trung xa, phục vụ</option>
                <option value="Xe goòng">Xe goòng</option>
                <option value="Tàu điện">Tàu điện</option>
                <option value="Máy gạt">Máy gạt</option>
                <option value="Máy xúc hầm lò">Máy xúc hầm lò</option>
                <option value="Máy xúc thủy lực">Máy xúc thủy lực</option>
                <option value="Máy khoan lộ thiên">Máy khoan lộ thiên</option>
                <option value="Máy khoan hầm lò">Máy khoan hầm lò</option>
                <option value="Cáp tời">Cáp tời</option>
            </datalist>
        </div>
        <div class="col-md-2">
            <button type="submit"
                    style="margin-top:20px;border: 1px solid #ccc;height:33px; border-radius: 10%">
                Tìm kiếm
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Thêm</button>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải lên</button>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải về</button>
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal">
            <label class="control-label col-xs-4" for="usr">Hiển chị số dòng/trang</label>
            <div class="col-xs-8">
                <input list="sizes">
                <datalist id="sizes">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </datalist>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <table class="table table-hover" style="margin-top:30px; text-align:center;zoom: 90%">
            <tbody>
                <tr>
                    <td>STT</td>
                    <td>Mã thiết bị</td>
                    <td>Số seri</td>
                    <td>Tên thiết bị</td>
                    <td>Thời Gian Hết Bảo Hành( Tháng )</td>
                    <td>Bảo Hành Lần Cuối</td>
                    <td>Ước Tính Thời Gian BH (Ngày)</td>
                    <td>Kinh Phí Ước Tính</td>
                    <td>In báo cáo</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BT</td>
                    <td>B650</td>
                    <td>245</td>
                    <td>Băng tải khung</td>
                    <td>2</td>
                    <td>1/1/2019</td>
                    <td>2</td>
                    <td>9.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>

                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>


                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>MC</td>
                    <td>M560</td>
                    <td>4032</td>
                    <td>Máng cào SGB 420/22</td>
                    <td>5</td>
                    <td>1/1/2019</td>
                    <td>3</td>
                    <td>8.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>MX</td>
                    <td>A0603</td>
                    <td>2080</td>
                    <td>Máy xúc lật</td>
                    <td>4</td>
                    <td>1/1/2019</td>
                    <td>4</td>
                    <td>12.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>ST</td>
                    <td>A3415</td>
                    <td>116</td>
                    <td>Sàng tuyền</td>
                    <td>1</td>
                    <td>1/1/2019</td>
                    <td>1</td>
                    <td>7.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>NK</td>
                    <td>A3419</td>
                    <td>600</td>
                    <td>Máy nén khí</td>
                    <td>3</td>
                    <td>1/1/2019</td>
                    <td>1</td>
                    <td>6.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>MB</td>
                    <td>A3420</td>
                    <td>173</td>
                    <td>Máy bơm</td>
                    <td>1</td>
                    <td>1/1/2019</td>
                    <td>1</td>
                    <td>500.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>OTX</td>
                    <td>A310</td>
                    <td>557</td>
                    <td>Ô tô trung xa, phục vụ</td>
                    <td>4</td>
                    <td>1/1/2019</td>
                    <td>4</td>
                    <td>4.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>XG</td>
                    <td>A3416</td>
                    <td>72</td>
                    <td>Xe goòng</td>
                    <td>5</td>
                    <td>1/1/2019</td>
                    <td>5</td>
                    <td>4.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>TD</td>
                    <td>A3413</td>
                    <td>852</td>
                    <td>Tàu điện</td>
                    <td>3</td>
                    <td>1/1/2019</td>
                    <td>6</td>
                    <td>10.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>MG</td>
                    <td>A3407</td>
                    <td>60</td>
                    <td>Máy gạt</td>
                    <td>4</td>
                    <td>1/1/2019</td>
                    <td>7</td>
                    <td>7.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>MXHL</td>
                    <td>A3406</td>
                    <td>328</td>
                    <td>Máy xúc hầm lò</td>
                    <td>4</td>
                    <td>1/1/2019</td>
                    <td>12</td>
                    <td>15.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>MXTL</td>
                    <td>A3404</td>
                    <td>72</td>
                    <td>Máy xúc thủy lực</td>
                    <td>2</td>
                    <td>1/1/2019</td>
                    <td>5</td>
                    <td>15.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>MKLT</td>
                    <td>30</td>
                    <td>116</td>
                    <td>Máy khoan lộ thiên</td>
                    <td>4</td>
                    <td>1/1/2019</td>
                    <td>5</td>
                    <td>12.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>MKHL</td>
                    <td>A3402</td>
                    <td>412</td>
                    <td>Máy khoan hầm lò</td>
                    <td>4</td>
                    <td>1/1/2019</td>
                    <td>14</td>
                    <td>19.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>CT</td>
                    <td>A2503</td>
                    <td>1610</td>
                    <td>Cáp tời</td>
                    <td>4</td>
                    <td>1/1/2019</td>
                    <td>1</td>
                    <td>3.000.000đ</td>
                    <td>
                        <button style="padding:3px 12px; margin-left:15px;border:none">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal">
                            <button class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                        <button type="submit" class="btn btn-custom">Sửa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-4 col-md-offset-4" style="text-align:center">
            <button type="submit" style="margin-top:20px;padding:6px 12px;border:none">
                <i class="fa fa-arrow-left"></i>
            </button>
            <a style="padding:8px 14px;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-decoration:none">1</a>
            <a style="padding:8px 14px;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-decoration:none">2</a>
            <button type="submit" style="margin-top:20px;padding:6px 12px;border:none">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>