@{
    ViewBag.Title = "Baoduong";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<link href="~/dist/css/style.css" rel="stylesheet">
<!-- This page CSS -->
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">

<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center">Chi tiết quyết định bảo dưỡng số @ViewBag.id</h3>
            <div class="col s12 table_container">
                <table class="table-bordered striped table-responsive centered"
                       style="margin-top:30px; text-align:center;" id="complex_header">
                    <thead>
                        <tr>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th>Vị trí ban đầu</th>
                            <th>Ngày hoàn thành dự kiến</th>
                            <th>Danh sách vật tư thay thế</th>
                            <th>Đã đến</th>
                        </tr>
                    </thead>
                </table>
                <input name="id" hidden value="@ViewBag.id" id="id" />
                @if (ViewBag.AddAble == true)
                {
                    <a class="btn blue" id="submit">Lưu</a>
                    <a class="btn blue darken-2 modal-trigger" href="#alert">Xác nhận đã xử lý</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive centered table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Chất lượng</th>
                                <th>Số lượng thay thế</th>
                                <th>Số lượng có thể tái sử dụng</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
            <input type="hidden" id="mathietbi" disabled />
            <input type="hidden" id="maquyetdinh" disabled />
        </div>
        <div class="modal-footer">
            @if (ViewBag.AddAble == true)
            {
                <a id="addcolumn" class="waves-effect waves-light btn blue darken-2 left">Thêm</a>
                <a id="submitvattu" class="waves-effect waves-light btn blue darken-2 modal-trigger">Lưu</a>
            }
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="alert">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận đã xử lý xong quyết định</h3>
        </div>
        <div class="modal-body">
            <h4>Lưu ý: bạn không thể thêm vật tư cho quyết định sau khi đã xử lý xong</h4>
        </div>
        <div class="modal-footer">
            <a id="submit2" class="waves-effect waves-light btn blue darken-2 modal-trigger">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button2">Thoát</button>
        </div>
    </div>
</div>

<datalist id="supplyID">
    @foreach (var item in ViewBag.Supplies)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>

<!-- ============================================================== -->
<!-- Apps -->
<!-- ============================================================== -->
<script src="~/dist/js/app.js"></script>
<script src="~/dist/js/app.init.js"></script>
<script src="~/dist/js/app-style-switcher.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<link href="~/css/transfer_mobilize_history_timeline.css" rel="stylesheet" />
<script src="~/js/Briefs_List.js"></script>
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />

<script>
    var created = 0;

    $("#complex_header").on("click", ".buttonChon", function () {
        if ($(this).text() == "Chưa nhận") {
            $(this).text('Đã nhận')
        }
        else {
            $(this).text('Chưa nhận')
        }
    });

    $("#addcolumn").click(function () {
        var $tr = $('<tr>').append(
            $('<td>').html("<input type='text' list='supplyID' id='vattu' class='form-control td-id' />"),
            $('<td>').html("<select class='form-control' id='type-search'><option>Mới 100%</option><option>Qua sử dụng</option></select>"),
            $('<td>').html("<input type='number' min='1' class='form-control' />"),
            $('<td>').html("<input type='number' min='1' class='form-control' />")
        );
        $tr.appendTo('#test tbody');
    })

    $(document).on("click", ".open-Modal", function () {
        $("#test").find("tr:gt(0)").remove();
        var QDIdAndEquipId = $(this).data('list');
        $('#listId').text("Danh sách vật tư thay thế của thiết bị " + QDIdAndEquipId.split("^")[1])
        $("#mathietbi").val(QDIdAndEquipId.split("^")[1])
        $("#maquyetdinh").val(QDIdAndEquipId.split("^")[0])
        $.ajax({
            type: "POST",
            url: "/phong-cdvt/cap-nhat/quyet-dinh/GetSupply2",
            dataType: "json",
            success: function (data) {
                $(function () {
                    created = 0;
                    $.each(data, function (i, item) {
                        var $tr = $('<tr>').append(
                            $('<td>').text(item.supply_id),
                            $('<td>').text(item.supplyStatus),
                            $('<td>').text(item.quantity),
                            $('<td>').text(item.reuse)
                        );
                        $tr.appendTo('#test');
                        created += 1;
                    });
                });
                $("#pre-load").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.notify(XMLHttpRequest.responseText, {
                    globalPosition: "top center",
                    className: "error"
                });
            },
            data: {
                documentary_id: QDIdAndEquipId.split("^")[0],
                equipmentId: QDIdAndEquipId.split("^")[1]
            },
            cache: false
        })
    })

    function getJsonArray() {
        var output = {};
        var arr = [];
        var length = $("#test tr").length;
        for (var i = 1 + created; i < length + created; i++) {
            if (!$("#mylist #test tbody tr:nth-child(" + i + ") input").eq(0).val());
            else {
                var temp = {};
                temp.supplyType = 1;
                temp.supply_id = $("#mylist #test tbody tr:nth-child(" + i + ") input").eq(0).val();
                temp.supplyStatus = $("#mylist #test tbody tr:nth-child(" + i + ") select").val();
                temp.quantity = $("#mylist #test tbody tr:nth-child(" + i + ") input").eq(1).val();
                arr.push(temp);
                if ($("#mylist #test tbody tr:nth-child(" + i + ") input").eq(3).val() != "") {
                    var temp2 = {};
                    temp2.supplyType = 2;
                    temp2.supply_id = $("#mylist #test tbody tr:nth-child(" + i + ") input").eq(0).val();
                    temp2.supplyStatus = "Qua sử dụng";
                    temp2.quantity = $("#mylist #test tbody tr:nth-child(" + i + ") input").eq(2).val();
                    arr.push(temp2);
                }
            }
        }
        output.list = arr
        return JSON.stringify(output);
    }
</script>

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        var Popup, dataTable;
        $('#pre-load').show();
        dataTable = $('#complex_header').dataTable({
            "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                "paginate": {
                    "first": "Trang đầu",
                    "last": "Trang cuối",
                    "next": "Trang sau",
                    "previous": "Trang trước"
                }
            },
            "ajax": {
                "url": "/phong-cdvt/cap-nhat/quyet-dinh/bao-duong/GetData",
                "type": "POST",
                "datatype": "json",
                "data": {
                    "id": $('#id').val()
                },
                "cache": false
            },
            "columns": [
                { "data": "equipmentId", "name": "equipmentId" },
                { "data": "equipment_name", "name": "equipment_name" },
                { "data": "department_name", "name": "department_name" },
                { "data": "stringDate", "name": "stringDate" },
                {
                    "data": "idAndEquip", "name": "person_created", "render": function (data) {
                        return "<a data-list=\"" + data + "\" class=\"waves-effect waves-light btn-small blue modal-trigger open-Modal\" href=\"#mylist\">Vật tư thay thế</a>";
                    }
                },
                {
                    "data": "statusAndEquip", "name": "person_created", "render": function (data) {
                        if (data.split("^")[0] == "0") return "<button id=\"buttonChon\" class='btn blue darken-2 buttonChon' value=\"" + data.split("^")[1] + "\">Chưa nhận</button>";
                        else return "<button disabled class=\"btn blue darken-2\">Đã nhận</button>"
                    }
                }
            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "rowId": "incident_id",
            "lengthChange": false,
            "searching": false,
            "initComplete": function (settings, json) {
                $('#pre-load').hide();
            },
            "columnDefs": [
                { targets: 4, orderable: false },
                { targets: 5, orderable: false }
            ],
            "preDrawCallback": function (settings) {
                $('#pre-load').show();
            },
            "drawCallback": function (settings) {
                $('#pre-load').hide();
            }
        });

        $("#submit").click(function (e) {
            var equipments = "";
            for (var i = 0; i < $('#complex_header tbody tr').length; i++) {
                if ($('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').text() == "Đã nhận")
                    equipments += $('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').val() + "^"
            }
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/bao-duong/edit",
                dataType: "text",
                success: function () {
                    var table = $('#complex_header').DataTable();
                    table.ajax.reload(function () {
                        $('#pre-load').hide();
                        $.notify("Lưu thành công", {
                            globalPosition: "top center",
                            className: "success"
                        });
                    }, true);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    $.notify(XMLHttpRequest.responseText, {
                        globalPosition: "top center",
                        className: "error"
                    });
                },
                data: {
                    id: $('#id').val(),
                    edit: equipments
                },
                cache: false
            })
            return false;
        });

        $("#submit2").click(function (e) {
            var equipments = "";
            for (var i = 0; i < $('#complex_header tbody tr').length; i++) {
                if ($('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').text() == "Đã nhận")
                    equipments += $('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').val() + "^"
            }
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/bao-duong/done",
                dataType: "text",
                success: function () {
                    var table = $('#complex_header').DataTable();
                    table.ajax.reload(function () {
                        $.notify("Lưu thành công", {
                            globalPosition: "top center",
                            className: "success"
                        });
                    }, true);
                    window.location.reload(true);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    $.notify(XMLHttpRequest.responseText, {
                        globalPosition: "top center",
                        className: "error"
                    });
                },
                data: {
                    id: $('#id').val()
                },
                cache: false
            })
            return false;
        });

        $("#submitvattu").click(function () {
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/AddSupply",
                dataType: "text",
                success: function () {
                    $.notify("Lưu thành công", {
                        globalPosition: "top center",
                        className: "success"
                    });
                    $('#exit-button').click()
                    $('#pre-load').hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    $.notify(XMLHttpRequest.responseText, {
                        globalPosition: "top center",
                        className: "error"
                    });
                },
                data: {
                    list: function () { return getJsonArray(); },
                    documentary_id: $("#maquyetdinh").val(),
                    equipmentId: $("#mathietbi").val()
                },
                cache: false
            })
            return false;
        })
    </script>
}