
@{
    ViewBag.Title = "ViewAccident";
    Layout = "~/Views/Shared/_Layout_AT.cshtml";
}
<link href="~/lib/mutiple select/slimselect.css" rel="stylesheet" />
<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="center">
                    <h3><b>DANH SÁCH TAI NẠN</b></h3>
                </div>

                <div class="row center">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="col l5 m5 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='form-control' id="equipmentId-search" />
                            </div>
                            <div class="col l5 m5 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo tên nhân viên" class='form-control' id="equipmentName-search" />
                            </div>
                            <div class="col l5 m5 s12 input-field">
                                <input placeholder="Nhập ngày bắt đầu (từ)" type='text' class='datepicker-here datepicker-add form-control maxDate' data-language='vi' id="timeFrom-search" />
                            </div>
                            <div class="col l5 m5 s12 input-field">
                                <input placeholder="Nhập ngày kết thúc (đến)" type='text' class='datepicker-here datepicker-add form-control minDate' data-language='vi' id="timeTo-search" />
                            </div>
                            <div class="col l2 m2 s12 input-field">
                                <a class="waves-effect waves-light btn blue darken-2 modal-close modal-trigger" id="searchButtonActi">Tìm kiếm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-content">
                    <table class="centered striped table-bordered" id="table_tainan">
                        <thead>
                            <tr>
                                <th>Mã Nhân Viên</th>
                                <th>Tên Nhân Viên</th>
                                <th>Đơn vị</th>
                                <th>Lý do tai nạn</th>
                                <th>Loại tai nạn</th>
                                <th>Ca</th>
                                <th>Ngày</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <datalist id="EmployeeID">
        @foreach (var item in ViewBag.listNhanVien)
        {
            <option value="@item.MaNV">@item.Ten</option>
        }
    </datalist>
    <div id="themtainan" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Thêm tai nạn</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="col s12">
                            <label for="number">Mã nhân viên: </label>
                            <input list="EmployeeID" type="text" class="form-control" name="employeeid" placeholder="Mã nhân viên" id="employeeId" onkeydown=" searchMaNV(this)" />
                        </div>
                        <div class="col s12">
                            <label for="number">Đơn vị: </label>
                            <input type="text" class="form-control" placeholder="Phân xưởng" name="department" id="department" readonly />
                        </div>
                        <div class="col s12">
                            <label for="number">Ca: </label>
                            <select id="ca" class="custom-select">
                                <option value="1">CA 1</option>
                                <option value="2">CA 2</option>
                                <option value="3">CA 3</option>
                            </select>
                        </div>
                        <div class="col s12">
                            <label for="number">Ngày xảy ra: </label>
                            <input type="text" class=" datepicker-here form-control" placeholder="Ngày" name="date" id="date" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="col s12">
                            <label for="number">Tên nhân viên: </label>
                            <input type="text" class="form-control" placeholder="Tên nhân viên" name="employeename" id="employeeName" readonly />
                        </div>
                        <div class="col s12">
                            <label for="number">Lí do tai nạn: </label>
                            <input type="text" class="form-control" placeholder="Lý do tai nạn" name="reason" id="reason" />
                        </div>
                        <div class="col s12">
                            <label for="number">Loại tai nạn: </label>
                            <select id="loaitainan" class="custom-select">
                                <option value="Nặng">Nặng</option>
                                <option value="Nhẹ">Nhẹ</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn blue btn-default modal-close" style="color:white" onclick="add()">Xác nhận</button>
                    <button type="submit" class="btn blue btn-default modal-close" style="color:white">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div id="edittainan" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Sửa tai nạn</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="col s12">
                            <label for="number">Mã nhân viên: </label>
                            <input list="EmployeeID" type="text" class="form-control" name="employeeid" placeholder="Mã nhân viên" id="employeeIdEdit" onkeydown=" searchMaNV(this)" />
                            <input type="hidden" class="form-control" name="employeeid" placeholder="Mã nhân viên" id="MaTaiNan" />
                        </div>
                        <div class="col s12">
                            <label for="number">Đơn vị: </label>
                            <input type="text" class="form-control" placeholder="Phân xưởng" name="department" id="departmentEdit" readonly />
                        </div>
                        <div class="col s12">
                            <label for="number">Ca: </label>
                            <select id="caEdit" class="custom-select">
                                <option value="1">CA 1</option>
                                <option value="2">CA 2</option>
                                <option value="3">CA 3</option>
                            </select>
                        </div>
                        <div class="col s12">
                            <label for="number">Ngày xảy ra: </label>
                            <input type="text" class=" datepicker-here form-control" placeholder="Ngày" name="date" id="dateEdit" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="col s12">
                            <label for="number">Tên nhân viên: </label>
                            <input type="text" class="form-control" placeholder="Tên nhân viên" name="employeename" id="employeeNameEdit" readonly />
                        </div>
                        <div class="col s12">
                            <label for="number">Lí do tai nạn: </label>
                            <input type="text" class="form-control" placeholder="Lý do tai nạn" name="reason" id="reasonEdit" />
                        </div>
                        <div class="col s12">
                            <label for="number">Loại tai nạn: </label>
                            <select id="loaitainanEdit" class="custom-select">
                                <option value="Nặng">Nặng</option>
                                <option value="Nhẹ">Nhẹ</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-2 col-md-10">
                    <button id="submitedit" class="btn blue darken-2 modal-close save-category modal-close">Lưu</button>
                    <button type="button" class="btn light-blue lighten-1 modal-close" id="exit">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myaleart" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận muốn chỉnh sửa mục này</h3>
            </div>
            <div class="modal-body">
                <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitedit1" class="btn blue darken-2 modal-close">Lưu</button>
                <button type="button" class="btn red modal-close" id="close1">Hủy</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/sweetalert/sweetalert2.min.js"></script>
<script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
<!--Stacked Bar Chart JS-->
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script src="~/js/Custom JS/TCLD/Brief/ManageBrief/DeletePopup.min.js"></script>
<link href="~/assets/Custom css/TCLD/Brief/ManageBrief/DeletePopup.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    //function for date.
    $('#date').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })
    $('#dateEdit').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });
</script>
<script>
    $(document).ready(function () {
        //get data
        searchAccident();

    });
    $(document).ready(function () {


        //ajax search
        $("#searchButtonActi").click(function () {
            dataTable.ajax.reload(function () {

            });
        });
    });
    function searchAccident() {

        //get data
        dataTable = $('#table_tainan').on('preXhr.dt', function (e, settings, data) {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
        }).DataTable({
            "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Sau",
                    "previous": "Trước"
                }
            },
            "ajax": {
                "url": "/phong-dieu-khien/danh-sach-tai-nan/search-accident",
                "type": "POST",
                "datatype": "json",
                "data": {
                    "employeeID": function () { return $('#equipmentId-search').val() },
                    "EmployeeName": function () { return $('#equipmentName-search').val() },
                    "timeFrom": function () { return $('#timeFrom-search').val() },
                    "timeTo": function () { return $('#timeTo-search').val() }
                },
                "cache": "false"
            },
            "drawCallback": function (settings) {
                $("#pre-load").hide("slow", function () {
                });
            },
            "columns": [
                { "data": "MaNV", "name": "MaNV" },
                { "data": "Ten", "name": "Ten" },
                { "data": "department_name", "name": "department_name" },
                { "data": "LyDo", "name": "LyDo" },
                { "data": "Loai", "name": "Loai" },
                { "data": "Ca_Name", "name": "Ca_Name" },
                {
                    "data": "Ngay", "name": "Ngay", "render": function (data) {
                        return dateFormat2(data);
                    },
                }
            ],

            "serverSide": true,
            "rowId": "MaTaiNan",
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "order": [0, "asc"],
            "initComplete": function (settings, json) {
                ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                $("#pre-load").hide("slow", function () {
                });
                //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
            }

        });
    }
    function searchMaNV(txtMaNV) {
        var tmp = {
            MaNV: txtMaNV.value
        };
        if (event.key === 'Enter') {
            $.ajax({
                type: "POST",
                url: "/phong-dieu-khien/bao-cao-tai-nan/returnEmployeeName",
                data: JSON.stringify(tmp),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    document.getElementById("employeeName").value = r.Ten;
                    document.getElementById("department").value = r.department_name;
                    document.getElementById("employeeNameEdit").value = r.Ten;
                    document.getElementById("departmentEdit").value = r.department_name;
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                }
            });
        }
    }

    function getDeleteIdEmp(MaTaiNan) {

        swal({
            title: "Xác nhận?",
            text: "Bạn không thể khôi phục lại khi xóa",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Đồng ý',
            cancelButtonText: "Quay lại",
            closeOnConfirm: false,
            closeOnCancel: true
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: "/phong-dieu-khien/bao-cao-tai-nan/deleteaccident",
                    dataType: "json",
                    data: {
                        MaTaiNan: JSON.stringify(MaTaiNan)
                    },

                    success: function () {
                        $('#table_tainan').DataTable().ajax.reload()
                    },
                    error: function (response) {
                        errorAlert('Lỗi', 'Có lỗi xảy ra , không thể xóa được');
                        $('#pre-load').hide();
                    }
                }).done(function () {
                    swal("Đã xóa thành công!", "");
                });
            } else {
                return false;
            }
        });
    }


    function dateFormat2(d) {
        var dateString = d.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = day + "/" + month + "/" + year;
        return (date);
    }
    function add() {
        var accident = {
            MaNV: document.getElementById("employeeId").value,
            LyDo: document.getElementById("reason").value,
            Ca: document.getElementById("ca").value,
            Loai: document.getElementById("loaitainan").value,
            stringDate: document.getElementById("date").value
        };
        $.ajax({
            url: "/phong-dieu-khien/bao-cao-tai-nan/insertaccident",
            type: "POST",
            data: JSON.stringify(accident),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                dataTable.ajax.reload();
                successAlert('Thành công', 'Thêm thành công');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                dataTable.ajax.reload();
                errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
            }
        });
    }

    $(document).on("click", ".open-EditModal", function () {
        var MaTaiNan = $(this).data('matainan');


        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-tai-nan/getaccidentid",
            dataType: "json",
            success: function (data) {
                $('#employeeIdEdit').val(data.MaNV);

                $("#caEdit").val(data.Ca);
                $('#loaitainanEdit').val(data.Loai);
                $('#reasonEdit').val(data.LyDo);
                $('#dateEdit').val(data.stringDate);
                $('#MaTaiNan').val(data.MaTaiNan);
                $('#departmentEdit').val(data.department_name);
                $('#employeeNameEdit').val(data.Ten);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.notify(XMLHttpRequest.responseText, {
                    globalPosition: "top center",
                    className: "error"
                });
            },
            data: {
                MaTaiNan: Number(MaTaiNan)
            },

            cache: false
        })
    });
    $("#submitedit").click(function (e) {
        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-tai-nan/editaccident",
            dataType: "text",
            success: function () {
                $("#edittainan").modal('close');
                dataTable.ajax.reload();
                successAlert('Thành công', 'Chỉnh sửa thành công');
                dataTable.ajax.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
                errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                dataTable.ajax.reload();
                $('#close').click();
            },
            data: {
                MaNV: $('#employeeIdEdit').val(),
                LyDo: $('#reasonEdit').val(),
                Loai: $('#loaitainanEdit').val(),
                Ca: $('#caEdit').val(),
                stringDate: $('#dateEdit').val(),
                MaTaiNan: $('#MaTaiNan').val()
            },
            cache: false
        })
    });
</script>

