@using QUANGHANH_MANUFACTURING.Controllers.TCLD

@{
    ViewData["Title"] = "TransferHistory";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 center">
                <h3>
                    <b>CHI TIẾT ĐIỀU ĐỘNG CỦA NHÂN VIÊN <a href="javascript:void(0);" class="text-blue">@ViewBag.name</a></b>
                    <br />
                </h3>
            </div>
            <div class="col s12 m12 l12 table-responsive">
                <table id="table-transfer" class="tcld table-bordered mytablr" style="width: 100%; margin-top: 20px; max-height: 600px !important">
                    <thead>
                        <tr>
                            <th rowspan="2">Số QĐ</th>
                            <th rowspan="2">Ngày QĐ</th>

                            <th colspan="2">Trước</th>
                            <th colspan="2">Sau</th>
                        </tr>
                        <tr>
                            <th>Đơn vị</th>
                            <th>Chức vụ</th>
                            <th>Đơn vị</th>
                            <th>Chức vụ</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script src="~/Scripts/Scripts.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>
@section scripts{
    <script>
        var dataTable;
        $(document).ready(function () {
            $("#pre-load").show("slow",
                function () {
                });
            $("#pre-load").css("z-index", "99999");
            dataTable = $('#table-transfer')
                .on('preXhr.dt',function (e, settings, data) {
                        ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
                        $("#pre-load").show("slow", function () {
                        });
                        $("#pre-load").css("z-index", "99999");
                        data.ddid = "@ViewBag.ddid";
                        ////////////////////////////////////////////////////////////////////////
                    })
                .DataTable({
                    "ajax": {
                        "url": "/phong-tcld/quan-ly-nhan-vien/chi-tiet-dieu-dong",
                        "type": "POST",
                        "datatype": "json",
                    },
                    "columns": [
                        { "data": "SoQuyetDinh", "name": "SoQuyetDinh" },
                        {
                            "data": "NgayQuyetDinh", "name": "NgayQuyetDinh", "render": function (data) {
                                 return dateFormat(data);
                            },
                        },
                        { "data": "DonViCu", "name": "DonViCu" },
                        { "data": "ChucVuCu", "name": "ChucVuCu" },
                        { "data": "DonViMoi", "name": "DonViMoi" },
                        { "data": "ChucVuMoi", "name": "ChucVuMoi" }
                    ],
                    "drawCallback": function (settings) {
                        ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                        $("#pre-load").hide("slow",function() {
                            });
                        ////////////////////////////////////////////////
                    },
                    "serverSide": "true",
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",

                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                    //"order": [0, "asc"],
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "initComplete": function (settings, json) {
                        ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                        $("#pre-load").hide("slow",
                            function () {
                            });
                        //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                    }

                });
        });
        function dateFormat(d) {
            if (d != null && d != "") {
                var dateString = d.substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = day + "/" + month + "/" + year;
                return (date);
            }
            else {
                return (d);
            }

        }
    </script>
}

