@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div>
                    <h3 class="center"><b>QUYẾT ĐỊNH ĐÃ XỬ LÍ</b></h3>
                </div>
                <div class="row center">
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo số quyết định" autocomplete="off" class='form-control input-field' id="searchSoQD" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo ngày quyết định" autocomplete="off" class='input-field form-control datepicker-here datepicker-add' id="searchNgayQD" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo ngày chấm dứt" autocomplete="off" class='input-field form-control datepicker-here datepicker-add' id="searchNgayCD" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <button class="waves-effect waves-light btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content row">
                <br />
                <div class="col s12 m12 l12">
                    <div class="col s2 m2 l2">
                        <label id="cancelChecked" style="display:none">
                            &nbsp;
                            <a href="#confirm" class="waves-effect waves-light btn red btn-small modal-trigger"><span class="fas fa-times-circle">&nbsp;Hủy đã chọn</span></a>
                        </label>
                    </div>
                    <br />
                </div>
                <br />
                <div class="col s12 m12 l12">
                    <br />
                    <div class="col s3 m3 l3">
                        <button class="waves-effect waves-light btn blue darken-2 btn-small" id="exportExcel">Export Excel</button>
                    </div>
                    <table id="did-table" class="striped responsive-table table-bordered">
                        <thead>
                            <tr>
                                <th class="center">Số quyết định</th>
                                <th class="center">Ngày quyết định</th>
                                <th class="center">Ngày chấm dứt</th>
                                <th class="center"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("DidDetailDel", "ShutDown", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return delDidDetail(this);",
    data_restUrl = Url.Action("DidDetailDel", "ShutDown")
}))
{
    <div id="confirm" class="open modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận hủy quyết định</h3>
            </div>
            <div class="modal-body">
                <p class="red-text">Hủy quyết định đã chọn</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" id="del" />
                <button type="submit" class="waves-effect waves-light btn blue darken-2 modal-close">Xác nhận</button>
                <button type="button" class="waves-effect waves-light btn blue darken-2 modal-close">Hủy</button>
            </div>
        </div>
    </div>
}



<div id="detail" class="modal open">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Chi tiết quyết định</h3>
        </div>
        <div class="modal-body">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Số quyết định</th>
                        <th>Mã nhân viên</th>
                        <th>Tên nhân viên</th>
                        <th>Loại chấm dứt</th>
                        <th>Ngày chấm dứt</th>
                    </tr>
                </thead>
                <tbody id="detail-table"></tbody>
            </table>
        </div>
    </div>
</div>


<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script>
    $(document).ready(function () {
        $(".word").on("click", function () {
            window.location.href = '/excel/TCLD/QuyetDinh/QĐ-324.docx';
        });
    });
</script>

<link href="~/css/TABLE_BORDERED.css" rel="stylesheet" />
<script>
    var count = 0;
    $(document).ready(function () {
        $('.inputCheck').change(function () {
            if ($(this).prop("checked") == true) {
                $('#cancelChecked').css('display', 'block');
                count++;
            } else if (($(this).prop("checked") == false)) {
                count--;
                if (count == 0) {
                    $('#cancelChecked').css('display', 'none');
                }
            }
        });
    });
</script>
<script src="~/Scripts/notify.min.js"></script>
<script src="~/Scripts/Scripts.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>
@section scripts{
    <script>
         $("#exportExcel").click(function () {
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-tcld/quan-ly-nhan-vien/danh-sach-cham-dut/excel",
                cache: false
            }).done(function () {
                window.location.href = "/excel/TCLD/download/Danh-sách-nhân-viên.xlsx";
                $("#pre-load").hide();
            })
         });


        var Popup, dataTable;


        $(document).ready(function () {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
            dataTable = $('#did-table')
                .on('preXhr.dt', function (e, settings, data) {
                    ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                    ////////////////////////////////////////////////////////////////////////
                })
                .DataTable({
                    "ajax": {
                        "url": "/phong-tcld/quan-ly-nhan-vien/da-xu-ly-cham-dut",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "SoQuyetDinh": function () { return $('#searchSoQD').val() },
                            "NgayQuyetDinh": function () { return $('#searchNgayQD').val() },
                            "NgayChamDut": function () { return $('#searchNgayCD').val() },
                        }
                    },
                    "columns": [
                        {
                            "data": "number", "name": "number",
                            "orderable": false

                        },
                        {
                            "data": "date", "name": "date", "render": function (data) {
                                return dateFormat(data);
                            },
                            "orderable": false
                        },
                        {
                            "data": "terminate_date", "name": "terminate_date", "render": function (data) {
                                return dateFormat(data);
                            },
                            "orderable": false
                        },
                        {
                            "data": "decision_id", "render": function (data) {
                                return "<a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' data-target='detail' onclick='detail(" + data + ")'><span class='ti-pencil-alt'>&nbsp;Chi tiết</span></a>&nbsp;" +
                                    "<a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' onclick='addId(" + data + ")'  data-target='confirm' ><span class='ti-pencil-alt'>&nbsp;Xóa</span></a>";

                            },
                            "orderable": false,
                            "searchable": false,
                            "min-width": "70px"
                        },

                    ],
                    "drawCallback": function (settings) {
                        ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        ////////////////////////////////////////////////
                    },
                    "serverSide": "true",
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",

                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                    "order": false,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "initComplete": function (settings, json) {
                        ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                    }

                });
        });
        $(document).ready(function () {
            var dataTable = $('#did-table').DataTable();
            $("#searchButton").click(function () {
                dataTable.ajax.reload(function () {
                    $(".datepicker-here").val("")
                });
            });
        });
        function detail(id) {
            $.ajax({
                type: 'post',
                url: '/phong-tcld/quan-ly-nhan-vien/da-xu-ly-cham-dut-chi-tiet',
                dataType: 'json',
                data: { id: JSON.stringify(id) },
            })
                .done(function (data) {
                    $("#detail-table").empty();
                    for (i = 0; i < data.length; i++) {
                        $("#detail-table").append("<tr>");
                        $("#detail-table").append("<td>" + data[i].number + "</td>");
                        $("#detail-table").append("<td>" + data[i].employee_id + "</td>");
                        $("#detail-table").append("<td>" + data[i].BASIC_INFO_full_name + "</td>");
                        $("#detail-table").append("<td>" + data[i].terminate_type + "</td>");
                        $("#detail-table").append("<td>" + dateFormat(data[i].terminate_date) + "</td>");
                        $("#detail-table").append("</tr>");
                    }
                })
        }

        function dateFormat(d) {
            if (d == null) {
                return "";
            }
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }

        function addId(id) {
            $("#del").val(id);
        }

        function delDidDetail(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        dataTable.ajax.reload();
                        successAlert('Thành công', 'Xóa thành công');
                    }
                });

            }
            return false;
        }
    </script>
    <script>
        $(".datepicker-here").keydown(function (e) {
            if (e.KeyCode != 8) {
                e.preventDefault()
            } else {
                $(this).val("");
            }
        });


        $(".input-field").keydown(function (e) {
            if (e.keyCode === 13) {
                dataTable.ajax.reload();
            }

        });
    </script>


}
