@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div>
                    <h3 class="center"><b>HỢP ĐỒNG CHƯA THANH LÍ</b></h3>
                </div>
                <div class="row center">
                    <div class="col l5 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo mã quyết định" class='form-control' id="searchMaQD" multiple />
                    </div>
                    <div class="col l5 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo ngày chấm dứt" class='form-control datepicker-here datepicker-add' id="searchNgayCD" multiple />
                    </div>

                    <div class="col l2 m12 s12 input-field">
                        <button class="waves-effect waves-light btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content row">
                <div class="col s12 m12 l12">
                    @*<div class="col s6 m6 l6">
                        <label id="add_Cancel_Print_Checked" style="display:none">
                            <a href="#add" class="waves-effect waves-light btn blue darken-2 btn-small modal-trigger"><span class="fas fa-plus-circle">&nbsp;Thêm mã quyết định</span></a>
                            <a href="#confirm" class="waves-effect waves-light btn red btn-small modal-trigger"><span class="fas fa-times-circle">&nbsp;Hủy đã chọn</span></a>
                            <a href="#" class="waves-effect waves-light btn black btn-small"><span class="fas fa-file-word">&nbsp;Xuất quyết định</span></a>
                        </label>
                    </div>*@
                    <br />
                </div>
                <br />
                <div class="col s12 m12 l12">
                    <br />
                    <table id="notyet-table" class="mytablr striped responsive-table table-bordered">
                        <thead>
                            <tr>
                                <th class="center">Mã quyết định</th>
                                <th class="center">Ngày quyết định</th>
                                <th class="center">Ngày chấm dứt</th>
                                <th class="center"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("UpdateSoQD", "ShutDown", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return SubmitForm1(this);",
    data_restUrl = Url.Action("UpdateSoQD", "ShutDown", new { id = "" })
}))
{

    <div id="detail" class="modal open">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Chi tiết quyết định</h3>
            </div>
            <div class="modal-body row">
                <div class="col s3 m3 l3">
                    <input class="form-control" id="soqd" placeholder="Số quyết định" name="SoQD"  />

                    <br />
                </div>
                <div class="col s3 m3 l3">
                    @*<p id="message" style="display: none !important ">Mã nhân viên bị trùng</p>*@
                </div>
                <div>
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th>Mã nhân viên</th>
                                <th>Tên nhân viên</th>
                                <th>Loại chấm dứt</th>
                                <th>Ngày chấm dứt</th>
                            </tr>
                        </thead>
                        <tbody id="detail-table"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" id="MaQD" />
                <button type="submit" id="them" class="waves-effect waves-light btn blue darken-2 btn-small modal-close">Thêm</button>
                <a class="waves-effect waves-light btn blue darken-2 btn-small modal-close">Hủy</a>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("NotYetDelete", "ShutDown", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return delQDAjax(this);",
    data_restUrl = Url.Action("NotYetDelete", "ShutDown")
}))
{
    <div id="confirm" class="open modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận hủy quyết định</h3>
            </div>
            <div class="modal-body">
                <p class="red-text">Hủy quyết định đã chọn</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" id="del" />
                <button type="submit" class="waves-effect waves-light btn red darken-2 modal-close">Xác nhận</button>
                <button type="button" class="waves-effect waves-light btn blue modal-close">Hủy</button>
            </div>
        </div>
    </div>
}
<div id="add" class="open modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm quyết định</h3>
        </div>
        <div class="modal-body">
            <div class="col m4 center">
                <input type="text" class="form-control" placeholder="Mã số quyết định" />
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn red darken-2 modal-close" href="@Url.Content("/phong-tcld/dieu-chuyen/da-xu-li-dieu-chuyen")">Xác nhận</a>
            <a class="btn blue modal-close">Hủy</a>
        </div>
    </div>
</div>

<script src="~/js/Custom JS/Disable_input_material.js"></script>
<link href="~/css/TABLE_BORDERED.css" rel="stylesheet" />

<script>
    var count = 0;
    $(document).ready(function () {
        $('.inputCheck').change(function () {
            if ($(this).prop("checked") == true) {
                $('#cancelChecked').css('display', 'block');
                $('#add_Cancel_Print_Checked').css('display', 'block');
                count++;
            } else if ($(this).prop("checked") == false) {
                count--;
                if (count == 0) {
                    $('#add_Cancel_Print_Checked').css('display', 'none');
                    $('#cancelChecked').css('display', 'none');
                }
            }
        });
    });

</script>
<script src="~/assets/extra-libs/Datatables/datatables.min.js"></script>
<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script src="~/Scripts/Scripts.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        var Popup, dataTable;

        $(document).ready(function () {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
            dataTable = $('#notyet-table')
                .on('preXhr.dt', function (e, settings, data) {
                    ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                    ////////////////////////////////////////////////////////////////////////
                })
                .DataTable({
                    "ajax": {
                        "url": "/phong-tcld/quan-ly-nhan-vien/chua-xu-ly-cham-dut",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "MaQuyetDinh": function () { return $('#searchMaQD').val() },
                            "NgayChamDut": function () { return $('#searchNgayCD').val() },
                        }
                    },
                    "columns": [
                        {
                            "data": "MaQuyetDinh", "name": "MaQuyetDinh"

                        },
                        {
                            "data": "NgayQuyetDinh", "name": "NgayQuyetDinh", "render": function (data) {
                                return dateFormat(data);
                            }
                        },
                        {
                            "data": "NgayChamDut", "name": "NgayChamDut", "render": function (data) {
                                return dateFormat(data);
                            }
                        },
                        {
                            "data": "MaQuyetDinh", "render": function (data) {
                                return "<a name='detail' class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' onclick='detail(" + data + ")' data-target='detail' ><span class='ti-pencil-alt'>&nbsp;Chi tiết</span></a>&nbsp;" +
                                    "<a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' onclick='addId(" + data + ")'  data-target='confirm' ><span class='ti-pencil-alt'>&nbsp;Xóa</span></a>";

                            },
                            "orderable": false,
                            "searchable": false,
                            "min-width": "70px"
                        },

                    ],
                    "drawCallback": function (settings) {
                        ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        ////////////////////////////////////////////////
                    },
                    "serverSide": "true",
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",

                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                    "order": [0, "asc"],
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "initComplete": function (settings, json) {
                        ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                    }

                });
        });
        $(document).ready(function () {
            var dataTable = $('#notyet-table').DataTable();
            $("#searchButton").click(function () {
                dataTable.ajax.reload(function () {
                   
                });
            });
        });
        //function delDetail(id) {
        //    $.ajax({
        //        type: 'post',
        //        url: '/deleteNotYet',
        //        dataType: 'json',
        //        data: { id: JSON.stringify(id) },
        //        success: function (data) {
        //            if (data.success) {
        //                dataTable.ajax.reload();
        //                    successAlert('Thành công', 'Xóa quyết định thành công');
        //            } else {
        //               errorAlert('Lỗi', 'Xóa không thành công');
        //            }
        //        }
        //    })
        //}

        //function delQDAjax(form) {
        //    $("#pre-load").show();

        //    $.validator.unobtrusive.parse(form);
        //    if ($(form).valid()) {
        //        $.ajax({
        //            type: "POST",
        //            url: form.action,
        //            dataType: "text",
        //            data: $(form).serialize(),

        //        });
        //    }


        function detail(id) {
            $("#MaQD").val(id);
            $("#soqd").empty();
            $.ajax({
                type: 'post',
                url: '/NotYetDetail',
                dataType: 'json',
                data: { id: JSON.stringify(id) },
            })
                .done(function (data) {
                    for (i = 0; i < data.length; i++) {
                        $("#detail-table").empty();
                        $("#detail-table").append("<tr>");
                        $("#detail-table").append("<td>" + data[i].MaNV + "</td>");
                        $("#detail-table").append("<td>" + data[i].Ten + "</td>");
                        $("#detail-table").append("<td>" + data[i].LoaiChamDut + "</td>");
                        $("#detail-table").append("<td>" + dateFormat(data[i].NgayChamDut) + "</td>");
                        $("#detail-table").append("</tr>");
                    }
                })
        }
        //function UpdateSoQD(id, SoQD) {
        //    $.ajax({
        //        type: 'post',
        //        url: '/UpdateSoQD',
        //        dataType: 'json',
        //        data: { id: JSON.stringify(id), SoQD: JSON.stringify(SoQD) },
        //        success: function (data) {
        //            dataTable.ajax.reload();
        //            $.notify("Cập nhật hoàn tất", {
        //                globalPosition: "top center",
        //                className: "success"
        //            })
        //        },
        //    })
        //}

        function dateFormat(d) {
            if (d == null) {
                return "";
            }
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }

        @*function changeTextField() {
            $.ajax({
            url:'@Url.Action("validateID", "ShutDown")',
            type: "POST",
            data: { id: $("#soQD").val() },
            success: (response) => {
                if (response.success) {
                    $('#message').show();
                    $('#them').attr("type", "");
                     $('#them').attr("disabled", true);

                } else {
                    $('#message').hide();
                     $('#them').attr("type", "submit");
                     $('#them').attr("disabled", false);
                }
            },
        })*@


        function SubmitForm1(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),

                    success: function (respone) {
                        if ((respone)["success"]) {
                            dataTable.ajax.reload();
                            successAlert('Thành công',(respone)["message"]);
                        } else {
                             errorAlert('Lỗi', (respone)["message"]);
                        }
                    }
                });

            }
            return false;
        }
          function addId(id) {
            $("#del").val(id);
        }

        function delQDAjax(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),

                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                           successAlert('Thành công', 'Xóa quyết định thành công');
                        } else {
                           errorAlert('Lỗi', 'Xóa không thành công');

                        }
                    }
                });

            }
            return false;
        }



        $('#soqd').blur(function () {

    })
    </script>
}
<script>
    $(".datepicker-here").keydown(function (e) {
        e.preventDefault();
    });

</script>
