
@{
    ViewData["Title"] = "QuickReport";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}

<h2>QuickReport</h2>
<a href="file:///C:/Users/duaha/Desktop/BGĐ-Mobile-BCN/index.html?to=907A286B-8575-4E30-AAA8-A04A7B2A7DA0">file:///C:/Users/duaha/Desktop/BGĐ-Mobile-BCN/index.html?to=907A286B-8575-4E30-AAA8-A04A7B2A7DA0</a>
