@{
    ViewData["Title"] = "sua-chua";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />

<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>CHỌN HỆ THỐNG CAMERA</b></h3>
            <hr>
            <div class="col l6 m6 s12">
                <div class="row">
                    <div class="col l10 m10 offset-l2 offset-m2 s12 input-field">
                        <input list="room" type="text" placeholder="Tìm kiếm theo tên hệ thống" class='form-control' id="room_name" />
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="row">
                    <div class="col l10 m10 s12 input-field">
                        <input list="department" type="text" placeholder="Tìm kiếm theo đơn vị trực thuộc" class='form-control' id="department_name" />
                    </div>
                </div>
            </div>
            <div class="col l12 m12 s12 input-field center">
                <a class="waves-effect waves-light btn blue darken-2" id="searchButton">Tìm kiếm</a>
            </div>
            <div class="col s12 table_container">
                <table id="equipmentTable" class="table-bordered striped table-responsive centered">
                    <thead>
                        <tr>
                            <th>Tên hệ thống</th>
                            <th>Đơn vị trực thuộc</th>
                            <th>Tình trạng số lượng (có tín hiệu/tổng số)</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col">
                <form id="myform" method="post" action="/camera/sua-chua-chon">
                    <input readonly hidden name="abc" value=@Html.Raw((ViewBag.ListSelected == null) ? "" : ('"' + ViewBag.ListSelected + '"')) />
                    <button type="submit" class="btn blue darken-2">Tiếp theo</button>
                    <a class="btn blue darken-2" id="drop">Bỏ Chọn</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    @if (ViewBag.alert == true)
    {
        <text>
    $(document).ready(function () {
                errorAlert('Lỗi', 'Bạn đã nhập sai vật tư');
            })
        </text>
    }
</script>

<datalist id="department">
    @foreach (var item in ViewBag.department_name)
    {
        <option>@item</option>
    }
</datalist>

<datalist id="room">
    @foreach (var item in ViewBag.room_name)
    {
        <option>@item</option>
    }
</datalist>

@section scripts{
    <script src="~/assets/sweetalert/sweetalert2.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
    <script>
        //$("#pre-load").show();
        var dataTable;
        var arr = [];

        $(document).ready(function () {
            dataTable = $('#equipmentTable').DataTable({
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang sau",
                        "previous": "Trang trước"
                    }
                },
                "ajax": {
                    "url": "/camera/sua-chua/search",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "room_name": function () { return $('#room_name').val() },
                        "department_name": function () { return $('#department_name').val() },
                        "room_id": function () { return arr }
                    },
                    "cache": false
                },
                "columns": [
                    { "data": "room_name", "name": "room_name" },
                    { "data": "department_name", "name": "department_name" },
                    {
                        "data": {}, "name": "camera_available", render: function myfunction(data) {
                            return data.camera_available + "/" + data.camera_quantity;
                        }
                    },
                    {
                        "data": {}, "render": function (data) {
                            if (data.selected)
                                return "<label><input class='my_checkbox' value='" + data.room_id + "' type ='checkbox' checked><span></span></label>";
                            else
                                return "<label><input class='my_checkbox' value='" + data.room_id + "' type ='checkbox'><span></span></label>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "bLengthChange": false,
                "searching": false,
                "serverSide": "true",
                "order": [0, "asc"],
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                },
                "preDrawCallback": function (settings) {
                    $('#pre-load').show();
                },
                "drawCallback": function (settings) {
                    $('#pre-load').hide();
                }
            });
        });

        $('#searchButton').click(function () {
            dataTable.ajax.reload();
        })

        $(document).on("click", ".my_checkbox", function () {
            let val = $(this).val();
            if ($(this).prop("checked"))
                arr.push(val);
            else
                arr.splice(arr.indexOf(val), 1);
            $('input[name*="abc"]').val(JSON.stringify(arr))
        })

        $('#drop').click(function () {
            arr = [];
            dataTable.ajax.reload();
            $('input[name*="abc"]').val(JSON.stringify(arr))
        })
    </script>
}