
@{
    ViewData["Title"] = "chi-tiet-quyet-dinh";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<script src="~/js/Custom JS/CDVT/Car/car.js"></script>

<div class="card">
    <div class="card-content">

        <div class="advanded-search">
            <div class="row">
                <h3 class="center"><b>CẬP NHẬT THIẾT BỊ</b></h3>
                <hr>
                <div class="row center">
                    <div class="col l2 m12 s12 input-field">

                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo mã thiết bị" class='form-control' />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo mã quyết định" class='form-control' />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                    </div>
                    <div class="col l2 m12 s12 input-field">

                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="row table_container">
                <table class="striped table-bordered centered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th>Vị trí điều động</th>
                            <th>Phân xưởng chịu trách nhiệm</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="/phong-cdvt/cap-nhat/xac-nhan">AKF</a></td>
                            <td>Máy cẩu</td>
                            <td>Lò 1</td>
                            <td>Phân xưởng 1</td>
                            <td id="conf">Đang xử lý</td>
                            <td><a href="#vattu" class="btn blue darken-2 modal-trigger">Danh sách vật tư</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="/phong-cdvt/cap-nhat/xac-nhan">AKF</a></td>
                            <td>Máy cẩu</td>
                            <td>Lò 1</td>
                            <td>Phân xưởng 1</td>
                            <td>Đang xử lý</td>
                            <td><a href="#vattu" class="btn blue darken-2 modal-trigger">Danh sách vật tư</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="/phong-cdvt/cap-nhat/xac-nhan">AKF</a></td>
                            <td>Máy cẩu</td>
                            <td>Lò 1</td>
                            <td>Phân xưởng 1</td>
                            <td>Đang xử lý</td>
                            <td><a href="#vattu" class="btn blue darken-2 modal-trigger">Danh sách vật tư</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="/phong-cdvt/cap-nhat/xac-nhan">AKF</a></td>
                            <td>Máy cẩu</td>
                            <td>Lò 1</td>
                            <td>Phân xưởng 1</td>
                            <td>Đang xử lý(chưa bắt đầu)</td>
                            <td><a href="#vattu" class="btn blue darken-2 modal-trigger">Danh sách vật tư</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="right card">
                <a href="/phong-cdvt/cap-nhat/chi-tiet" class="waves-effect waves-light btn blue darken-1 modal-trigger">Xác nhận</a>
            </div>
            <div style="height:30px"></div>
            <div class="center" id="pagi">
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="vattu" class="modal">
    <div class="modal-header center card">
        <h3><b>Danh sách vật tư</b></h3>
    </div>
    <div class="modal-body">
        <table id="Table" class="centered striped table-bordered">
            <thead>
                <tr>
                    <th>TT</th>
                    <th>Tên thiết bị vật tư (Mã hiệu - quy cách)</th>
                    <th>ĐVT</th>
                    <th>SL</th>
                    <th>Tình trạng kỹ thuật</th>
                    <th>Nơi lĩnh</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Trục côn xoắn Z11 SGB420/30A</td>
                    <td>Cái</td>
                    <td>01</td>
                    <td>Còn tốt</td>
                    <td>PX KT10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Trục côn xoắn Z11 SGB420/30A</td>
                    <td>Cái</td>
                    <td>01</td>
                    <td>Còn tốt</td>
                    <td>PX KT10</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn modal-close blue darken-2">Đóng</a>
    </div>
</div>
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
<script src="~/js/advancedsearch/advancedsearch.js"></script>
<script src="~/js/Custom JS/CDVT/Capnhat/update.js"></script>

