@{
    ViewData["Title"] = "UpdateIncident";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">

                <div class="advanded-search">
                    <div class="row">
                        <h3 class="center" style="margin-bottom:40px"><b>CẬP NHẬT SỰ CỐ</b></h3>
                        <hr>
                        <div class="row center">

                            <div class="col l3 m12 s12 input-field">
                                <a class='dropdown-trigger btn' id="filter" href='#' data-target='dropdown1'
                                   style="width:150px;background-color:#273146">
                                    Xem
                                    theo
                                </a>
                            </div>

                            <div class="col l3 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã thiết bị" class='form-control' />
                            </div>
                            <div class="col l3 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo tên thiết bị" class='form-control' />
                            </div>
                            <div class="col l1 m12 s12 input-field">

                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col s12" id="table-wrapper2">
                    <div class="row table_container">
                        <table class="table-bordered striped table-responsive centered">
                            <thead class="highlight">
                                <tr class="highlight">
                                    <th class="text-center" rowspan="2">Mã thiết bị</th>
                                    <th class="text-center" rowspan="2">Tên thiết bị</th>
                                    <th class="text-center" rowspan="2">Vị trí</th>
                                    <th class="text-center" rowspan="2">Đơn vị chịu trách nhiệm</th>
                                    <th class="text-center" colspan="4">Nội dung sự cố</th>
                                </tr>
                                <tr>
                                    <th>Thời gian bắt đầu sự cố</th>
                                    <th>Thời gian kết thúc sự cố</th>
                                    <th>Lý do sự cố</th>
                                    <th>Tình trạng sự cố</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" placeholder="Mã thiết bị" value="SFC" /></td>
                                    <td>Xe tải</td>
                                    <td><input type="text" placeholder="Vị trí" value="Lò DV-110V7.3" /></td>
                                    <td><input type="text" placeholder="Đơn vị" value="Khai thác 3" /></td>
                                    <td>2:15AM 15/7/2019</td>
                                    <td></td>
                                    <td><input type="text" placeholder="Lý do" value="" /></td>
                                    <td>Chưa sửa chữa</td>
                                </tr>
                                <tr>
                                    <td>SFC</td>
                                    <td>Xe tải</td>
                                    <td>Lò DV-110V7.3</td>
                                    <td>Khai thác 3</td>
                                    <td>2:15AM 16/7/2019</td>
                                    <td><input type="datetime" placeholder="Thời gian kết thúc" value="" /></td>
                                    <td>Lệch trục xe</td>
                                    <td>Đã sửa chữa</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="right card">
                        <a href="#!" class="waves-effect waves-light btn blue darken-1 modal-trigger">Thêm</a>
                        <a href="#myaleart" class="waves-effect waves-light btn blue draken-2 modal-trigger">Lưu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myaleart" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận lưu mục này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Bạn có chắc chắn muốn lưu lại ?</p>
        </div>
        <div class="modal-footer">
            <button id="xacnhan" type="button" class="btn blue darken-2 modal-close">Xác nhận</button>
            <button type="button" class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
    <li><a class="dropdown-child" href="#!" name="sau">Đã sửa chữa</a></li>
    <li><a class="dropdown-child" href="#!" name="truoc">Chưa sửa chữa</a></li>
</ul>

<script src="~/js/Briefs_List.js"></script>
<script src="~/js/Custom JS/CDVT/Car/incident.js"></script>
<script src="~/js/Custom JS/CDVT/Capnhat/incident.js"></script>