@{
    ViewData["Title"] = "dieu-dong";
    if (Session["departName"].ToString().Contains("Phân xưởng"))
    {
        Layout = "~/Views/Shared/_Layout_PhanXuong.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    }
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center">Chi tiết quyết định điều động số @ViewBag.code</h3>
            <div class="col s12 table_container">
                <table class="table-bordered striped table-responsive centered"
                       style="margin-top:30px; text-align:center;" id="complex_header">
                    <thead>
                        <tr>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th>Vị trí ban đầu</th>
                            <th>Thời gian điều động đến</th>
                            <th>Vị trí lắp đặt chi tiết</th>
                            <th></th>
                            <th></th>
                            <th>Đã xử lý</th>
                        </tr>
                    </thead>
                </table>
            </div>
            @if (ViewBag.AddAble == true)
            {
                <a class="btn blue darken-2 modal-trigger" href="#alert">Lưu</a>
            }
        </div>
    </div>
</div>

<div class="modal" id="sctx">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Tên vật tư</th>
                                <th>Số lượng trong quyết định</th>
                                <th>Số lượng đã nhận</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id='submitvattu' class='waves-effect waves-light btn blue darken-2 modal-trigger'>Lưu</a>
            <button id="exit-button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="thietbicon">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">Mã thiết bị con</th>
                                <th rowspan="2">Tên thiết bị con</th>
                                <th colspan="2">Số lượng đi kèm</th>
                                <th colspan="2">Số lượng dự phòng</th>
                            </tr>
                            <tr>
                                <th>Trong quyết định</th>
                                <th>Đã nhận</th>
                                <th>Trong quyết định</th>
                                <th>Đã nhận</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id='submitvattu' class='waves-effect waves-light btn blue darken-2 modal-trigger'>Lưu</a>
            <button id="exit-button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="alert">
    <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <h4>Lưu ý: bạn không thể sửa đổi vật tư cho quyết định sau khi đã xử lý xong</h4>
        </div>
        <div class="modal-footer">
            <a id="submit" class="waves-effect waves-light btn blue darken-2 modal-trigger modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<script>
    function getSupplyJsonArray() {
        let output = {};
        let arr = [];
        for (var i = 1; i <= $("#sctx tbody tr").length; i++) {
            var temp = {};
            if ($("#sctx tbody tr:nth-child(" + i + ") td:nth-child(" + 4 + ") input").val() == 0) continue;
            temp.supply_id = $("#sctx tbody tr:nth-child(" + i + ") td:nth-child(" + 1 + ")").text();
            temp.quantity_in = $("#sctx tbody tr:nth-child(" + i + ") td:nth-child(" + 4 + ") input").val();
            arr.push(temp);
        }
        output.list = arr
        return JSON.stringify(output);
    }

    function getEquipJsonArray() {
        let output = {};
        let arr = [];
        for (var i = 1; i <= $("#thietbicon tbody tr").length; i++) {
            var temp = {};
            if ($("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 4 + ") input").val() == 0) continue;
            temp.equipmentId_dikem = $("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 1 + ")").text();
            temp.quantity_dikem = $("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 4 + ") input").val();
            if ($("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 5 + ")").text() != 0) {
                temp.quantity_duphong = $("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 6 + ") input").val();
            }
            arr.push(temp);
        }
        output.list = arr
        return JSON.stringify(output);
    }
</script>
<script src="~/js/Custom JS/CDVT/Capnhat/check.js"></script>

<script src="~/js/jquery.dataTables.min.js"></script>
<script>
    var dataTable;
    var documentary_id = @ViewBag.id;
    var equipmentId;

    $('#pre-load').show();
    dataTable = $('#complex_header').DataTable({
        "language": {
            "emptyTable": "Không tìm thấy dữ liệu",
            "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
            "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
            "paginate": {
                "first": "Trang đầu",
                "last": "Trang cuối",
                "next": "Trang sau",
                "previous": "Trang trước"
            }
        },
        "ajax": {
            "url": "/phong-cdvt/cap-nhat/quyet-dinh/dieu-dong/GetData",
            "type": "POST",
            "datatype": "json",
            "data": {
                "id": documentary_id
            },
            "cache": false
        },
        "columns": [
            { "data": "equipmentId", "name": "equipmentId" },
            { "data": "equipment_name", "name": "equipment_name" },
            { "data": "department_name", "name": "department_name" },
            { "data": "stringDate", "name": "stringDate" },
            { "data": "department_detail", "name": "department_detail" },
            {
                "data": "equipmentId", "name": "person_created", "render": function (data) {
                    return "<a data-equipmentId=\"" + data + "\" class=\"waves-effect waves-light btn-small blue modal-trigger dikem-duphong\" href=\"#thietbicon\">Chi tiết TB con</a>";
                }
            },
            {
                "data": "equipmentId", "name": "person_created", "render": function (data) {
                    return "<a data-equipmentId=\"" + data + "\" class=\"waves-effect waves-light btn-small blue modal-trigger sctx\" href=\"#sctx\">VT SCTX</a>";
                }
            },
            {
                "data": {}, "name": "person_created", "render": function (data) {
                    if (data.equipment_moveline_status == 0) return "<button id=\"buttonChon\" class='btn blue darken-2 buttonChon' value=\"" + data.equipmentId + "\">Chưa xử lý</button>";
                    else return "<button disabled class=\"btn blue darken-2\">Đã xử lý</button>"
                }
            }
        ],
        "serverSide": "true",
        "order": [0, "asc"],
        "rowId": "incident_id",
        "lengthChange": false,
        "searching": false,
        "initComplete": function (settings, json) {
            $('#pre-load').hide();
        },
        "columnDefs": [
            { targets: 5, orderable: false },
            { targets: 6, orderable: false }
        ],
        "preDrawCallback": function (settings) {
            $('#pre-load').show();
        },
        "drawCallback": function (settings) {
            $('#pre-load').hide();
        }
    });

    $(document).on("click", ".dikem-duphong", function () {
        $('#pre-load').show();
        $('#thietbicon tbody').empty();
        equipmentId = $(this).data("equipmentid");
        $('#thietbicon h3').text("Chi tiết thiết bị con của thiết bị " + equipmentId);
        $.ajax({
            type: "GET",
            url: "/phong-cdvt/cap-nhat/quyet-dinh/dieu-dong/so-luong",
            dataType: "json",
            success: function (data) {
                let $tr = "";
                let last_record = "";

                // Record đi kèm luôn tồn tại và được add trước vào db, dự phòng được add sau
                $.each(data, function( index , value ) {
                    if (value.equipmentId == equipmentId && value.equipmentId_dikem != null)
                    {
                        if (value["supplyStatus"] == "dikem") {
                            if (last_record == "dikem") {
                                $('#thietbicon tbody').append($tr + "<td>0</td><td>0</td></tr>");
                                $tr = "";
                            }
                            $tr = '<tr><td>' + value.equipmentId_dikem + '</td><td>' + value.equipment_name + '</td><td>' + value.quantity_plan + '</td>';
                            $tr += "<td><input class='form-control' type='number' min='" + value.quantity_in + "' max='" + value.quantity_plan + "' value='" + value.quantity_in + "' /></td>";
                            last_record = "dikem";
                        }
                        else {
                            last_record = "duphong"
                            if (!$tr.includes("<tr>"))
                                $tr = '<tr><td>' + value.equipmentId_dikem + '</td><td>' + value.equipment_name + '</td><td>0</td><td>0</td>';
                            $tr += "<td>" + value["quantity_plan"] + "</td>";
                            $tr += "<td><input class='form-control' type='number' min='" + value.quantity_in + "' max='" + value.quantity_plan + "' value='" + value.quantity_in + "' /></td></tr>";
                            $('#thietbicon tbody').append($tr);
                            $tr = "";
                        }
                    }
                });
                if (last_record == "dikem")
                    $('#thietbicon tbody').append($tr + "<td>0</td><td>0</td></tr>");
                $("#pre-load").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi');
            },
            data: {
                documentary_id: documentary_id,
                equipmentId: equipmentId
            },
            cache: false
        })
    })

    $(document).on("click", ".sctx", function () {
        $('#pre-load').show();
        $('#sctx tbody').empty();
        equipmentId = $(this).data("equipmentid");
        $('#sctx h3').text("Chi tiết vật tư SCTX của thiết bị " + equipmentId);
        $.ajax({
            type: "GET",
            url: "/phong-cdvt/cap-nhat/quyet-dinh/dieu-dong/so-luong",
            dataType: "json",
            success: function (data) {
                $.each(data, function( index , value ) {
                    if (value.equipmentId == equipmentId && value.supply_id != null)
                    {
                        let $tr = '<tr><td>' + value.supply_id + '</td><td>' + value.supply_name + '</td><td>' + value.quantity_plan + '</td>';
                        $tr += "<td><input class='form-control' type='number' min='" + value.quantity_in + "' max='" + value.quantity_plan + "' value='" + value.quantity_in + "' /></td></tr>";
                        $('#sctx tbody').append($tr);
                    }
                });
                $("#pre-load").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi');
            },
            data: {
                documentary_id: documentary_id,
                equipmentId: equipmentId
            },
            cache: false
        })
    })

    $(document).on("click", "#submit", function (e) {
        var equipments = "";
        for (var i = 0; i < $('#complex_header tbody tr').length; i++) {
            if ($('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').text() == "Đã xử lý")
                equipments += $('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').val() + "^"
        }
        if (equipments == "")
            return false;
        $("#pre-load").show();
        $.ajax({
            type: "POST",
            url: "/phong-cdvt/cap-nhat/quyet-dinh/dieu-dong/edit",
            dataType: "json",
            success: function (data) {
                if (data.success == true) {
                    dataTable.ajax.reload(function () {
                        $('#pre-load').hide();
                        successAlert(data.message);
                    });
                }
                else {
                    errorAlert(data.message);
                    $('#pre-load').hide();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
                errorAlert('Lỗi');
            },
            data: {
                documentary_id: documentary_id,
                edit: equipments
            },
            cache: false
        })
    });

    $(document).on("click", "#sctx #submitvattu", function (e) {
        $("#pre-load").show();
        $.ajax({
            type: "POST",
            url: "/phong-cdvt/cap-nhat/quyet-dinh/dieu-dong/so-luong",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    $('#sctx #exit-button').click();
                    successAlert(data.message);
                }
                else {
                    errorAlert(data.message);
                }
                $('#pre-load').hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
                errorAlert('Lỗi');
            },
            data: {
                list: function () { return getSupplyJsonArray(); },
                documentary_id: documentary_id,
                equipmentId: equipmentId,
                type: true
            },
            cache: false
        })
    });

    $(document).on("click", "#thietbicon #submitvattu", function (e) {
        $("#pre-load").show();
        $.ajax({
            type: "POST",
            url: "/phong-cdvt/cap-nhat/quyet-dinh/dieu-dong/so-luong",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    $('#thietbicon #exit-button').click();
                    successAlert(data.message);
                }
                else {
                    errorAlert(data.message);
                }
                $('#pre-load').hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
                errorAlert('Lỗi');
            },
            data: {
                list: function () { return getEquipJsonArray(); },
                documentary_id: documentary_id,
                equipmentId: equipmentId,
                type: false
            },
            cache: false
        })
    });
</script>