@{
    ViewData["Title"] = "Lichsu";
    if (Session["departID"].ToString().Contains("PX"))
    {
        Layout = "~/Views/Shared/_Layout_PhanXuong.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    }
}
<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />

<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />


<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            @*<div class="row m-b-40">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="col s6 tab"><a class="active" href="#hoatdong">Chi tiết hoạt động</a></li>
                            <li class="col s6 tab"><a href="#nhienlieu">Chi tiết tiêu thụ nhiên liệu</a></li>
                        </ul>
                    </div>
                </div>*@

            <div class="row table_container" id="hoatdong">
                <div class="advanded-search">
                    <div class="row">
                        <div class="center">
                            <h3 class="center"><b>CẬP NHẬT HOẠT ĐỘNG</b></h3>
                        </div>
                        <hr>
                        <form action="" method="post" role="form">
                            <div class="row center">
                                <div class="col l6 m6 s12">
                                    <div class="row">
                                        <div class="col l10 m10 s12 input-field">
                                            <input type="text" placeholder="Tìm kiếm theo mã thiết bị" class='form-control' id="equipmentId-search" />
                                        </div>
                                        <div class="col l10 m10 s12 input-field">
                                            <i class="fas fa-calendar-alt icon"></i>
                                            <input placeholder="Nhập ngày bắt đầu (từ)" type='text' class='datepicker-here center maxDate' data-language='vi' id="timeFrom-search" />
                                        </div>
                                        <div class="col l12 m12 s12 input-field">
                                            <a class="waves-effect waves-light btn-small blue modal-trigger" href="#myaddActi">Thêm hoạt động</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col l6 m6 s12">
                                    <div class="row">
                                        <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                            <input type="text" placeholder="Tìm kiếm theo tên thiết bị" class='form-control' id="equipmentName-search" />
                                        </div>
                                        <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                            <i class="fas fa-calendar-alt icon"></i>
                                            <input placeholder="Nhập ngày kết thúc (đến)" type='text' class='datepicker-here center minDate' data-language='vi' id="timeTo-search" />
                                        </div>
                                        <div class="col l12 m12 s12 input-field">
                                            <a class="waves-effect waves-light btn blue darken-2 modal-close modal-trigger" id="searchButtonActi">Tìm kiếm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row center">

                            </div>
                        </form>

                    </div>
                </div>


                <div class="col s12">
                    <table id="acti-table" class="table table-bordered striped table-responsive centered"
                           style="margin-top:30px; text-align:center;width : 100%">
                        <thead>
                            <tr>
                                <th rowspan="2" colspan="1">Ngày</th>
                                <th colspan="2">Thông tin thiết bị</th>
                                <th rowspan="1" colspan="3">Hoạt động </th>
                                <th rowspan="2" colspan="2"></th>
                            </tr>
                            <tr>
                                <th>Mã thiết bị</th>
                                <th>Tên thiết bị</th>
                                <th>Công việc trong ngày</th>
                                <th>Số giờ hoạt động trong ngày</th>
                                <th>Sản lượng(Tấn, Khối ,...)</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<form action="" method="POST" id="myeditform" role="form">
    <div class="modal fade" id="myacti">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Sửa hoạt động </h3>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã thiết bị : </label>
                            <div class="linedisplay">
                                <input type="text" class="form-control" id="equipmentId-edit" list="eqID" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày : </label>
                            <input type='text' class='datepicker-here form-control maxDate' data-language='vi' id="date-edit" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tên thiết bị  : </label>
                            <input type="text" class="form-control" id="equipmentname-edit" readonly />
                            <input type="hidden" class="form-control" id="activityid-edit" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Công việc trong ngày  : </label>
                            <input type="text" class="form-control" id="activityname-edit" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Số giờ hoạt động trong ngày  :</label>
                            <input type="number" min="1" max="24" class="form-control number" id="hours_per_day-edit" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Sản lượng  :</label>
                            <input type="number" min="1" class="form-control number" id="quantity-edit" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn blue darken-2 modal-close save-category " data-target="#updateBrief">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-edit-button">Thoát</button>
            </div>
        </div>
    </div>
</form>

<div class="modal open" id="updateBrief">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận cập nhật thông tin</h3>
        </div>
        <div class="modal-body">
            <p class="green-text">Bạn có muốn lưu phần đã sửa?</p>
        </div>
        <div class="modal-footer">
            <button class="btn blue darken-2 modal-close" type="submit">Lưu</button>
            <button class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>

<div class="modal fade" id="myaddActi">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm hoạt động</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col s12 m6">
                    <div class="form-group">
                        <label for="date">Tên thiết bị : </label>
                        <input type="text" class="form-control" id="equipmentname" readonly />
                    </div>
                    <div class="form-group">
                        <label for="name">Ngày hoạt động : </label>
                        <input type="text" class="datepicker-here form-control maxDate" data-language='vi' id="date-add" />
                    </div>
                    <div class="form-group">
                        <label for="name">Số giờ hoạt động : </label>
                        <input type="number" min="1" max="24" class="form-control" id="hours_per_day-add" />
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="form-group">
                        <label for="date">Biểm kiểm soát : </label>
                        <input type="text" class="form-control" id="equipmentId-add" list="eqID" />
                        @*<button type="button" class="btn light-blue lighten-1" onclick="getEquipmentname()">OK</button>*@
                    </div>
                    <div class="form-group">
                        <label for="supplier">Công việc :</label>
                        <input type="text" class="form-control" id="activity_name-add" />
                    </div>
                    <div class="form-group">
                        <label for="name">Sản lượng : </label>
                        <input type="number" min="1" class="form-control" id="quantity" />
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category" onclick="add()">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-add-button">Thoát</button>
        </div>
    </div>
</div>

<div id="myvattu" class="modal">
    <div class="modal-header center card">
        <h3><b>Danh sách vật tư tiêu hao hằng ngày</b></h3>
    </div>
    <div class="modal-body">
        <table id="Table" class="centered striped table-bordered">
            <tr>
                <td>Mã vật tư</td>
                <td><input type="text" class="form-control" /></td>
            </tr>
            <tr>
                <td>Tên vật tư</td>
                <td><input type="text" class="form-control" /></td>
            </tr>
            <tr>
                <td>ĐVT</td>
                <td><input type="text" class="form-control" /></td>
            </tr>
            <tr>
                <td>Số lượng</td>
                <td><input type="text" class="form-control" /></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn modal-close blue darken-2">Đóng</a>
    </div>
</div>

<div id="myaleart" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận xóa mục này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn blue darken-2 modal-close">Xóa</button>
            <button type="button" class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>

<datalist id="eqID">
    @foreach (var item in ViewBag.listEQ)
    {
        <option value="@item.equipmentId">@item.equipment_name</option>
    }
</datalist>

<datalist id="supplyID">
    @foreach (var item in ViewBag.listSupply)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>

<script>
    $(window).resize(function () {
        if ($(window).width() <= 600) {
            $("#searchButton1").hide();
            $("#searchButton2").show();
        } else {
            $("#searchButton1").show();
            $("#searchButton2").hide();
        }
    });
</script>

<link href="~/css/transfer_mobilize_history_timeline.css" rel="stylesheet" />
<script src="~/js/Briefs_List.js"></script>




@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
    <script>
        $('#myacti').keydown(function (e) {
            if (e.keyCode === 13)
                e.preventDefault();
        });
        $("#equipmentId-edit").keydown(function (e) {
            if (e.keyCode === 13)
                getEquipmentname1();
        })
        $('#myaddActi').keydown(function (e) {
            if (e.keyCode === 13)
                e.preventDefault();
        });
        $("#equipmentId-add").keydown(function (e) {
            if (e.keyCode === 13)
                getEquipmentname();
        })
    </script>

    <script>
        $(".number").keydown(function (e) {
            var text = $(this).val().toLowerCase();
            var doubleReg = /[+-]?([0-9]*[,])?[0-9]+$/;
            if (!doubleReg.test(text)) {
                $(this).val("");
            }
            var acceptList = [45, 35, 40, 34, 37, 9, 12, 39, 36, 38, 33, 8];// , 65, 86, 67, 90
            for (var i = 48; i <= 57; i++) {
                acceptList.push(i);
            }
            for (var i = 96; i <= 105; i++) {
                acceptList.push(i);
            }
            if (e.ctrlKey) {
                if (e.keyCode !== 65 && e.keyCode !== 86 && e.keyCode !== 67 && e.keyCode !== 90 && e.keyCode !== 88) {
                    e.preventDefault();
                } else {
                    acceptList.push(e.keyCode);
                }
            }
            if (acceptList.indexOf(e.keyCode) === -1) {
                e.preventDefault();
            }
        });
    </script>

    <script>
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                dataActiTable.destroy();
                searchActi();
            }
        });
    </script>

    <script>
        //function for date.
        $('.maxDate').datepicker({
            language: 'vi',
            maxDate: new Date(),
            minDate: new Date("1/1/1900")
        })
        $('.minDate').datepicker({
            language: 'vi',
            maxDate: new Date() // Now can select only dates, which goes after today
        })
        $(document).ready(function () {
            $('.datepicker-inline').remove();
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }

            var today = dd + '/' + mm + '/' + yyyy;

            //$(".minDate").each(function () {
            //    $(this).val(today);
            //});

            today = new Date("1/1/1900");
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = dd + '/' + mm + '/' + yyyy;

        });
    </script>
    <script>
        var Popup, dataActiTable;

        //get first data acti and fuel
        $(document).ready(function () {
            //get data
            searchActi();
        });

        //edit acti
        $(document).on("click", ".open-EditModal", function () {
            var activity = $(this).data('activity');
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/oto/cap-nhat-hoat-dong/getdata",
                dataType: "json",
                success: function (data) {
                    $("#date-edit").val(data.stringDate);
                    $('#equipmentId-edit').val(data.equipmentid);
                    $('#equipmentname-edit').val(data.equipment_name);
                    $('#activityname-edit').val(data.activityname);
                    $('#hours_per_day-edit').val(data.hours_per_day);
                    $('#quantity-edit').val(data.quantity);
                    $('#activityid-edit').val(data.activityid);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.notify("Lỗi load data", {
                        globalPosition: "top center",
                        className: "error"
                    });
                },
                data: {
                    activityid: Number(activity)
                },

                cache: false
            })
        });

        $("#myeditform").submit(function (e) {
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/oto/cap-nhat-hoat-dong/edit",
                dataType: "text",
                success: function () {
                    successAlert('Thành công', 'Chỉnh sửa thành công');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                },
                data: {
                    date1: $("#date-edit").val(),
                    equipmentId: $('#equipmentId-edit').val(),
                    activity_name: $('#activityname-edit').val(),
                    hours_per_day: $('#hours_per_day-edit').val(),
                    quantity: $('#quantity-edit').val(),
                    activityid: Number($('#activityid-edit').val())
                },
                cache: false
            }).done(function () {
                $('#exit-edit-button').click();
                dataActiTable.ajax.reload();
            })
            return false;
        });

        function add() {
            var data = {
                date1: document.getElementById("date-add").value,
                equipmentId: document.getElementById("equipmentId-add").value,
                activity_name: document.getElementById("activity_name-add").value,
                hours_per_day: document.getElementById("hours_per_day-add").value,
                quantity: document.getElementById("quantity").value
            };
            $.ajax({
                url: "/phong-cdvt/oto/cap-nhat-hoat-dong/addactivity",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function () {
                    //alert("oke");
                    dataActiTable.ajax.reload();
                    successAlert('Thành công', 'Thêm thành công');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert("fail");
                    errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                }
            });
        }
        equipmentId-add
        //get equipment name in add activity
        function getEquipmentname() { }

        //get equipment name in edit activity
        function getEquipmentname1() {
            var id = document.getElementById("equipmentId-edit").value;
            var em = { id: id };
            $.ajax({
                url: "/phong-cdvt/cap-nhat-hoat-dong/getEQname",
                type: "POST",
                data: JSON.stringify(em),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    document.getElementById("equipmentname-edit").value = data;
                },
                error: function () {
                    //alert("fail");
                }
            });
        }

        //ajax CRUD acti
        $(document).ready(function () {
            //ajax search
            $("#searchButtonActi").click(function () {
                dataActiTable.ajax.reload(function () {
                    $.notify("Tìm kiếm thành công", {
                        globalPosition: "top center",
                        className: "success"
                    })
                });
            });
        });

        function searchActi() {

            //get data
            dataActiTable = $('#acti-table').on('preXhr.dt', function (e, settings, data) {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
            }).DataTable({
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Sau",
                        "previous": "Trước"
                    }
                },
                "ajax": {
                    "url": "/phong-cdvt/oto/cap-nhat-hoat-dong/search-acti",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "equipmentId": function () { return $('#equipmentId-search').val() },
                        "equipmentName": function () { return $('#equipmentName-search').val() },
                        "timeFrom": function () { return $('#timeFrom-search').val() },
                        "timeTo": function () { return $('#timeTo-search').val() }
                    },
                    "cache": "false"
                },
                "drawCallback": function (settings) {
                    ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                    $("#pre-load").hide("slow", function () {
                    });
                    ////////////////////////////////////////////////
                },
                "columns": [
                    { "data": "stringDate", "name": "date" },
                    { "data": "equipmentid", "name": "equipmentid" },
                    { "data": "equipment_name", "name": "equipment_name" },
                    { "data": "activityname", "name": "activityname" },
                    { "data": "hours_per_day", "name": "hours_per_day" },
                    { "data": "quantity", "name": "quantity" },
                    {
                        "data": "activityid", "render": function (data) {
                            return "<a href=\"#myacti\" data-toggle=\"modal\" class=\"open-EditModal waves-effect waves-light btn blue darken-1 modal-trigger\" data-activity=\"" + data + "\">Chỉnh&nbsp;Sửa</a>";
                        },
                        "orderable": false,
                        "lengthChange": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "serverSide": true,
                "rowId": "activityid",
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false,
                "order": [0, "asc"],
                "initComplete": function (settings, json) {
                    ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                    $("#pre-load").hide("slow", function () {
                    });
                    //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                }
            });
        }
    </script>

}
