
@{
    ViewBag.Title = "GroupCriteria";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>DANH SÁCH NHÓM TIÊU CHÍ</b></h3>
            <div>
                <a class="btn blue darken-2 btn-small input-field modal-trigger" href="#modal_themNhomTieuChi">Thêm</a>
            </div>
            <div>
                <table id="nhomtieuchi" class="table table-bordered center">
                    <thead>
                        <tr>
                            <th>Tên nhóm tiêu chí</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!------------Modal themNhomCongViec------------->
<div class="modal" id="modal_themNhomTieuChi">
    <div class="modal-content">
        <h4 class="center"><b>Thêm nhóm tiêu chí</b></h4>
        <div class="row">
            <div class="col s12 m4 l3"></div>
            <div class="col s12 m4 l6">
                <label>Tên nhóm tiêu chí</label>
                <input type="text" class="form-control" id="tenNhomTieuChi_them" />
            </div>
            <div class="col s12 m4 l3"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="xacNhanThemNhomTieuChi" class="btn blue darken-2 btn-small">Xác nhận</button>
        <button id="dongThemNhomNhomTieuChi" class="btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>
<!------------Modal suaNhomCongViec----------->
<div class="modal" id="modal_suaNhomTieuChi">
    <div class="modal-content">
        <h4 lclass="center"><b>Sửa nhóm tiêu chí</b></h4>
        <div class="row">
            <div class="col s12 m4 l4"></div>
            <div class="col s12 m4 l4">
                <label>Tên nhóm tiêu chí</label>
                <input type="text" class="form-control" id="tenNhomTieuChi_sua" />
            </div>
            <div class="col s12 m4 l4"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="xacNhanSuaNhomTieuChi" class="btn blue darken-2 btn-small">Xác nhận</button>
        <button id="dongSuaNhomNhomTieuChi" class="btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!-----------------------------GET DATA NHOMTIEUCHI---------------------------->
<script>
    var table;
    $(document).ready(function () {
        $("#pre-load").show();
        table = $("#nhomtieuchi").DataTable({
            "ajax": {
                "url": "/phong-dieu-khien/quan-ly-nhom-tieu-chi/lay-du-lieu",
                "type": "GET",
                "datatype": "json",
                "dataSrc": function (json) {
                    return json["listData"]
                }
            },
            "columns": [
                { "name": "TenNhomTieuChi", "data": "TenNhomTieuChi" },
                {
                    "name": "", "data": "", "render": function (data, type, row) {
                        return "<a id=\"suaNhomTieuChi\" name=\"" + row["MaNhomTieuChi"] + "\" class=\"btn btn-small blue darken-2 modal-trigger\" href=\"#modal_suaNhomTieuChi\" >Sửa</a>"
                    },
                    "orderable": false,
                    "searchable": false
                },
                {
                    "name": "", "data": "", "render": function (data, type, row) {
                        return "<a id=\"xoaNhomTieuChi\" name=\"" + row["MaNhomTieuChi"] + "\" class=\"btn btn-small red darken-2 modal-trigger\">Xóa</a>"
                    },
                    "orderable": false,
                    "searchable": false
                }
            ],
            "serverSide": "true",
            "order": [0, "desc"],
            "searching": false,
            "lengthChange": false,
            "autoWidth": false,
            "filter": true,
            "info": false,
            "language": {
                emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                paginate:
                {
                    previous: "Trang trước",
                    next: "Trang sau",
                    first: "|<",
                    last: ">|"
                }
            },
            "initComplete": function (settings, json) {
                $("#pre-load").hide();
            }
        });

    });
</script>


<!---------------------------------------------------ADD NHOMCONGIVEC----------------------------------------------------->
<script>
    $(document).ready(function () {
        $("#xacNhanThemNhomTieuChi").click(function () {
            $.ajax({
                url: "/phong-dieu-khien/quan-ly-nhom-tieu-chi/them-nhom-tieu-chi",
                type: "POST",
                datatype: "json",
                data: {
                    "TenNhomTieuChi": function () { return $("#tenNhomTieuChi_them").val() }
                },
                success: function (response) {
                    if (response.success) {
                        //close the modal
                        $("#dongThemNhomNhomTieuChi").click();
                        //clear input in modal
                        $("#tenNhomTieuChi_them").val("");
                        //alert add successfully
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide the pre-load
                        $("#pre-load").hide();
                    } else {
                        //alert add fail
                        errorAlert(response.title, response.message);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {

                }
            })
        });
    });
</script>

<!---------------------------------------------------EDIT NHOMCONGVIEC------------------------------------------------------>
<script>
    $(document).ready(function () {
        //get data to input
        var manhomtieuchi;
        $("#nhomtieuchi").on("click", "#suaNhomTieuChi", function () {
            manhomtieuchi = $(this).attr("name");
            getData_FillData(manhomtieuchi);
        });

        //update
        $("#xacNhanSuaNhomTieuChi").click(function () {
            update(manhomtieuchi);
        });
    });
</script>


<!-------GET DATA BY MANHOMCONGVIEC TO AUTO INPUT TO MODAL suaNhomCongViec------->
<script>
    function getData_FillData(manhomtieuchi) {
        $("pre-load").show();
        $.ajax({
            url: "/phong-dieu-khien/quan-ly-nhom-tieu-chi/lay-nhomtieuchi-bang-manhomtieuchi",
            type: "POST",
            datatype: "json",
            data: {
                "manhomtieuchi": manhomtieuchi
            },
            success: function (response) {
                if (response.success) {
                    $("#tenNhomTieuChi_sua").val(response.tennhomtieuchi);
                    $("#pre-load").hide();
                }
            },
            error: function (response) {

            }
        })
    }
</script>
<!--------UPDATE------->
<script>
    function update(manhomtieuchi) {
        $("#pre-load").show();
        $.ajax({
            url: "/phong-dieu-khien/quan-ly-nhom-tieu-chi/cap-nhat-nhomtieuchi",
            type: "POST",
            datatype: "json",
            data: {
                "manhomtieuchi": manhomtieuchi,
                "tennhomtieuchi": function () { return $("#tenNhomTieuChi_sua").val() }
            },
            success: function (response) {
                if (response.success) {
                    //close modal
                    $("#dongSuaNhomNhomTieuChi").click();
                    //alert update successfully
                    successAlert(response.title, response.message);
                    //reload table
                    table.ajax.reload();
                    //hide pre-load
                    $("#pre-load").hide();
                }
            },
            error: function () {

            }
        })
    }
</script>

<!--------------------DELETE------------------------>
<script>
    var manhomtieuchi;
    $(document).ready(function () {
        $("#nhomtieuchi").on("click", "#xoaNhomTieuChi", function () {
            manhomtieuchi = $(this).attr("name");
            confirmAlert("Xác nhận xóa?", "Xác nhân xóa công việc", function () {
                delete_NhomTieuChi(manhomtieuchi)
            });
        });
    });
</script>
<script>
    function delete_NhomTieuChi(manhomtieuchi) {
        $("pre-load").show();
        $.ajax({
            url: "/phong-dieu-khien/quan-ly-nhom-tieu-chi/xoa-nhomtieuchi",
            type: "POST",
            datatype: "json",
            data: {
                "manhomtieuchi": manhomtieuchi
            },
            success: function (response) {
                if (response.success) {
                    //alert successfull deleting
                    successAlert(response.title, response.message);
                    //reload table
                    table.ajax.reload();
                    //hide the pre-loader
                    $("#pre-load").hide();
                } else if (response.error) {
                    //alert fail deleting
                    errorAlert(response.title, response.message);
                    //hide the pre-loader
                    $("#pre-load").hide();
                }
            },
            error: function (response) {

            }
        })
    }

</script>
