
@{
    ViewBag.Title = "GroupCriteria";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>DANH SÁCH NHÓM TIÊU CHÍ</b></h3>
            <div>
                <a class="btn blue darken-2 btn-small input-field modal-trigger" href="#modal_themNhomTieuChi">Thêm</a>
            </div>
            <div>
                <table id="nhomtieuchi" class="table table-bordered center">
                    <thead>
                        <tr>
                            <th>Tên nhóm tiêu chí</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!------------Modal themNhomCongViec------------->
<div class="modal" id="modal_themNhomTieuChi">
    <div class="modal-content">
        <h4 lclass="center"><b>Thêm nhóm tiêu chí</b></h4>
        <div class="row">
            <div class="col s12 m4 l4"></div>
            <div class="col s12 m4 l4">
                <label>Tên nhóm tiêu chí</label>
                <input type="text" class="form-control" id="tenNhomTieuChi_them" />
            </div>
            <div class="col s12 m4 l4"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="xacNhanThemNhomTieuChi" class="btn blue darken-2 btn-small">Xác nhận</button>
        <button id="dongThemNhomNhomTieuChi" class="btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>
