
@{
    ViewBag.Title = "InputCharcoal";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}
<style>
</style>
<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <h3 class="center">NHẬP LIỆU SẢN XUẤT</h3>
        <h5 class="center">Ngày <input class="datepicker-here center" type="text" placeholder="dd/mm/yyyy" /></h5>
        <h6 class="center">
            <a class="dropdown-trigger btn" data-target="drop-ca" style="background-color: #273146">Ca 1</a>
            -
            <a class="dropdown-trigger btn" data-target="drop-px" style="background-color: #273146">Khai thác 1</a>
            -
            <a class="dropdown-trigger btn" data-target="drop-to" style="background-color: #273146">Tổ 1</a>
        </h6>
        <h5 class="center">
            Ngày sản xuất 7/23
        </h5>
        <div class="row">
            <div class="col s12 m12 l12 table_container">
                <table class="table-input table-bordered">
                    <thead>
                        <tr>
                            <th class="tieu-chi" rowspan="2">Tiêu chí</th>
                            <th class="nhap-lieu" rowspan="2">Đơn vị đo</th>
                            <th class="nhap-lieu" rowspan="2">Thiết diện<br />đào</th>
                            <th class="nhap-lieu" rowspan="2">Bước chống</th>
                            <th class="nhap-lieu" rowspan="2">Công nghệ KT</th>
                            <th class="nhap-lieu" colspan="2">Vật liệu</th>
                            <th class="nhap-lieu" colspan="4">Sản lượng</th>
                            <th class="nhap-lieu" colspan="3">Tình trạng tiến độ</th>
                            <th class="nhap-lieu" colspan="2">Còn lại</th>
                            <th class="ghi-chu" rowspan="2">Ghi chú</th>
                        </tr>
                        <tr>
                            <th>Chống</th>
                            <th>Chèn</th>
                            <th>Thực hiện</th>
                            <th>Kế hoạch</th>
                            <th>Chênh lệch</th>
                            <th>Phần trăm hoàn thành</th>
                            <th>Lũy kế</th>
                            <th>Ké hoạch điều chỉnh</th>
                            <th>Phần trăm tiến độ</th>
                            <th>Tổng</th>
                            <th>1 ngày</th>
                        </tr>
                    </thead>
                    <tbody id="table-input-body">
                        <tr>
                            <td><input autocomplete="off" style="border:none" name="tieuChi" /></td>
                            <td><input autocomplete="off" style="border:none" name="donViDo" /></td>
                            <td><input autocomplete="off" style="border:none" name="thietDienDao" /></td>
                            <td><input autocomplete="off" style="border:none" name="buocChong" /></td>
                            <td><input autocomplete="off" style="border:none" name="CNKT" /></td>
                            <td><input autocomplete="off" style="border:none" name="chong" /></td>
                            <td><input autocomplete="off" style="border:none" name="chen" /></td>
                            <td><input autocomplete="off" style="border:none" name="thucHien" /></td>
                            <td><input autocomplete="off" style="border:none" name="keHoach" /></td>
                            <td><input autocomplete="off" style="border:none" name="chenhLech" /></td>
                            <td><input autocomplete="off" style="border:none" name="phanTramHT" /></td>
                            <td><input autocomplete="off" style="border:none" name="luyKe" /></td>
                            <td><input autocomplete="off" style="border:none" name="KHDC" /></td>
                            <td><input autocomplete="off" style="border:none" name="phanTramTD" /></td>
                            <td><input autocomplete="off" style="border:none" name="tong" /></td>
                            <td><input autocomplete="off" style="border:none" name="motNgay" /></td>
                            <td><input autocomplete="off" class="input-field" style="border:none" name="ghiChu" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col m12 center div_them3">
            <a id="buttonAdd" class="waves-effect waves-light btn blue darken-2">Thêm</a>
            <a id="buttonRemove" class="waves-effect waves-light btn blue darken-2">Xóa</a>
        </div>
    </div>
    <ul id="drop-ca" class="dropdown-content">
        <li><a class="dropdown-child-px" href="#!" name="Ca1">Ca 1</a></li>
        <li><a class="dropdown-child-px" href="#!" name="Ca2">Ca 2</a></li>
        <li><a class="dropdown-child-px" href="#!" name="Ca3">Ca 3</a></li>
    </ul>
    <ul id="drop-px" class="dropdown-content">
        <li><a class="dropdown-child-px" href="#!" name="KT1">Khai thác 1</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT2">Khai thác 2</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT3">Khai thác 3</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT4">Khai thác 4</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT5">Khai thác 5</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT6">Khai thác 6</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT7">Khai thác 7</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT8">Khai thác 8</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT9">Khai thác 9</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT10">Khai thác 10</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT11">Khai thác 11</a></li>
        <li><a class="dropdown-child-px" href="#!" name="DL3">Đào lò 3</a></li>
        <li><a class="dropdown-child-px" href="#!" name="DL5">Đào lò 5</a></li>
        <li><a class="dropdown-child-px" href="#!" name="DL7">Đào lò 7</a></li>
        <li><a class="dropdown-child-px" href="#!" name="DL8">Đào lò 8</a></li>
        <li><a class="dropdown-child-px" href="#!" name="XLM">Xây lắp mỏ</a></li>
        <li><a class="dropdown-child-px" href="#!" name="AS">Asean</a></li>
        <li><a class="dropdown-child-px" href="#!" name="TL">Thăng Long</a></li>
    </ul>
    <ul id="drop-to" class="dropdown-content">
        <li><a class="dropdown-child-to" href="#!" name="1">Tổ 1</a></li>
        <li><a class="dropdown-child-to" href="#!" name="2">Tổ 2</a></li>
        <li><a class="dropdown-child-to" href="#!" name="3">Tổ 3</a></li>
        <li><a class="dropdown-child-to" href="#!" name="4">Tổ 4</a></li>
        <li><a class="dropdown-child-to" href="#!" name="5">Tổ 5</a></li>
    </ul>
</div>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
@*<script src="~/js/Custom JS/Disable_input_material.js"></script>*@
<script src="~/js/Custom JS/form-input-border.js"></script>
<script src="~/js/Custom JS/DK/InputCharcoal/AddRow.js"></script>


@*<script src="~/Scripts/notify.min.js"></script>
<script src="~/Scripts/Scripts.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>*@