
@{
    ViewBag.Title = "InputCharcoal";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}
<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <h3 class="center">NHẬP LIỆU SẢN XUẤT</h3>
        <h5 class="center">Ngày <input class="datepicker-here center" type="text" placeholder="dd/mm/yyyy" /></h5>
        <h6 class="center">
            <a class="dropdown-trigger btn" data-target="drop-ca" style="background-color: #273146">Ca 1</a>
            -
            <a class="dropdown-trigger btn" data-target="drop-px" style="background-color: #273146">Khai thác 1</a>
        </h6>
        <h5 class="center">
            Ngày sản xuất 7/23
        </h5>
        <div class="row">
            <div class="col s12 m12 l12">
                <table class="table-bordered">
                    <tr>
                        <th colspan="2">Tiêu chí</th>
                        <th>Than sản xuất</th>
                        <th>Mét lò đào</th>
                        <th>Mét lò xén</th>
                    </tr>
                    <tr>
                        <th colspan="2">Đơn vị đo</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="2">Bước chống</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="2">Công nghệ KT</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th rowspan="2">Vật liệu</th>
                        <th>Chống</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Chèn</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th rowspan="4">Sản lượng</th>
                        <th>Thực hiện</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Kế hoạch</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Chênh lệch</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Phần trăm hoàn thành</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th rowspan="3">Tình trạng tiến độ</th>
                        <th>Lũy kế</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Ké hoạch điều chỉnh</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Phần trăm tiến độ</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th rowspan="2">Còn lại</th>
                        <th>Tổng</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>1 ngày</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="2">Ghi chú</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <ul id="drop-ca" class="dropdown-content">
        <li><a class="dropdown-child-px" href="#!" name="Ca1">Ca 1</a></li>
        <li><a class="dropdown-child-px" href="#!" name="Ca2">Ca 2</a></li>
        <li><a class="dropdown-child-px" href="#!" name="Ca3">Ca 3</a></li>
    </ul>
    <ul id="drop-px" class="dropdown-content">
        <li><a class="dropdown-child-px" href="#!" name="KT1">Khai thác 1</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT2">Khai thác 2</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT3">Khai thác 3</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT4">Khai thác 4</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT5">Khai thác 5</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT6">Khai thác 6</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT7">Khai thác 7</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT8">Khai thác 8</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT9">Khai thác 9</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT10">Khai thác 10</a></li>
        <li><a class="dropdown-child-px" href="#!" name="KT11">Khai thác 11</a></li>
        <li><a class="dropdown-child-px" href="#!" name="DL3">Đào lò 3</a></li>
        <li><a class="dropdown-child-px" href="#!" name="DL5">Đào lò 5</a></li>
        <li><a class="dropdown-child-px" href="#!" name="DL7">Đào lò 7</a></li>
        <li><a class="dropdown-child-px" href="#!" name="DL8">Đào lò 8</a></li>
        <li><a class="dropdown-child-px" href="#!" name="XLM">Xây lắp mỏ</a></li>
        <li><a class="dropdown-child-px" href="#!" name="AS">Asean</a></li>
        <li><a class="dropdown-child-px" href="#!" name="TL">Thăng Long</a></li>
    </ul>
</div>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>