
@{
    ViewBag.Title = "InputPlan";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link href="~/dist/css/pages/data-table.css" rel="stylesheet" />
<link href="~/assets/Custom css/DK/InputPlan/InputPlan.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12">
                <h3 class="center"><b>KẾ HOẠCH KỸ THUẬT CÔNG NGHỆ</b></h3>
            </div>
        </div>
        <!-- Date Picker -->
        <div class="row row-align">
            <div class="col s12">
                <h5 class="center">
                    Tháng
                    <input type="text"
                           class="datepicker-here center"
                           data-language='vi'
                           data-min-view="months"
                           data-view="months"
                           data-date-format="MM" value="6" />
                    Năm
                    <input type="text"
                           class="datepicker-here center"
                           data-language='vi'
                           data-min-view="years"
                           data-view="years"
                           data-date-format="yyyy"
                           value="2019" />
                </h5>
            </div>
        </div>
        <!-- Dropdown Trigger -->
        <div class="row row-align">
            <div class="col s12">
                <a class='dropdown-trigger btn' href='#' data-target='phanxuong'>Chọn phân xưởng</a>
                <a class='dropdown-trigger btn' href='#' data-target='donvi'>Chọn đơn vị</a>
                <a class='dropdown-trigger btn' href='#' data-target='phongban'>Chọn phòng ban</a>
            </div>
        </div>
        <!-- Table -->
        <div class="row row-align">
            <div class="col s12 table-responsive">
                <table id="input_table" class="table table-bordered center">
                    <thead>
                        <tr>
                            <th>Tiêu chí</th>
                            <th>Sản lượng</th>
                            <th>Số ngày làm việc</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Dropdown phân xưởng -->
<ul id='phanxuong' class='dropdown-content'>
    <li class="divider">PXKT</li>
    <li><a href="#!">PXKT 1</a></li>
    <li><a href="#!">PXKT 2</a></li>
    <li><a href="#!">PXKT 3</a></li>
    <li><a href="#!">PXKT 4</a></li>
    <li><a href="#!">PXKT 5</a></li>
    <li><a href="#!">PXKT 6</a></li>
    <li><a href="#!">PXKT 7</a></li>
    <li><a href="#!">PXKT 8</a></li>
    <li><a href="#!">PXKT 9</a></li>
    <li><a href="#!">PXKT 10</a></li>
    <li><a href="#!">PXKT 11</a></li>
    <li class="divider">PXĐL</li>
    <li><a href="#!">PXĐL 3</a></li>
    <li><a href="#!">PXĐL 5</a></li>
    <li><a href="#!">PXĐL 7</a></li>
    <li><a href="#!">PXĐL 8</a></li>
    <li class="divider">PXVT</li>
    <li><a href="#!">PXVT 1</a></li>
    <li><a href="#!">PXVT 2</a></li>
</ul>
<!-- Dropdown đơn vị -->
<ul id='donvi' class='dropdown-content'>
</ul>
<!-- Dropdown phòng ban -->
<ul id='phongban' class='dropdown-content'>
</ul>

<script src="~/assets/extra-libs/prism/prism.js"></script>
<script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="~/js/Custom JS/DK/InputPlan/InputPlanDatepicker.js"></script>
<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
<script>
    $(document).ready(function () {
        $('#input_table').DataTable({
            searching: false
        });
    });
</script>
