
@{
    ViewBag.Title = "InputCharcoal";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}

<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
@using (Html.BeginForm("SaveChange", "Input", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return SaveChange(this);",
    data_restUrl = Url.Action("SaveChange", "Input")
}))
{
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="center">NHẬP LIỆU SẢN XUẤT</h3>
                <div class="row">
                    <div class="input-field col s4 m4 l4"></div>
                    <div class="input-field col l2 m2 s2">
                        <input id="ngaySanXuat" name="ngaySX" required autocomplete="off" class="form-control center" placeholder="Ngày sản xuất" />
                    </div>
                    <div class="input-field col l2 m2 s2">
                        <input id="SoNgaySX" class="form-control center" value="@ViewBag.SoNgaySX" disabled />
                    </div>
                    <div class="input-field col s4 m4 l4"></div>
                </div>
                <div class="input-field col l4 m12 s12">
                    <input type="text" placeholder="Ngày" value="@ViewBag.NgayNhap" autocomplete="off" class='form-control date-click center' id="dateInput" name="ngayNhap" multiple />
                </div>
                <div class="input-field col l4 m12 s12">
                    <select class="form-control" id="cbx-px" name="px_value" onchange="change()">
                        <option value="" disabled selected>Phân xưởng</option>
                        <option value="PXKT1">Khai thác 1</option>
                        <option value="PXKT2">Khai thác 2</option>
                        <option value="PXKT3">Khai thác 3</option>
                        <option value="PXKT4">Khai thác 4</option>
                        <option value="PXKT5">Khai thác 5</option>
                        <option value="PXKT6">Khai thác 6</option>
                        <option value="PXKT7">Khai thác 7</option>
                        <option value="PXKT8">Khai thác 8</option>
                        <option value="PXKT9">Khai thác 9</option>
                        <option value="PXKT10">Khai thác 10</option>
                        <option value="PXKT11">Khai thác 11</option>
                        <option value="PXDL3">Đào lò 3</option>
                        <option value="PXDL5">Đào lò 5</option>
                        <option value="PXDL7">Đào lò 7</option>
                        <option value="PXDL8">Đào lò 8</option>
                        <option value="PXDL2">Thăng Long</option>
                        <option value="CTA">Asean</option>
                        <option value="PXDL1">Xây lắp mỏ</option>
                        <option value="PXST">Sàng tuyển</option>
                        <option value="PXLT">Lộ thiên</option>
                        <option value="KCS">KCS</option>
                    </select>
                </div>
                <div class="input-field col l4 m12 s12">
                    <select class="form-control" id="cbx-group" name="ca_value">
                        <option value="1">Ca 1</option>
                        <option value="2">Ca 2</option>
                        <option value="3">Ca 3</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12 table_container">
                        <table class="table-kt table-bordered table-input">
                            <thead>
                                <tr>
                                    <th class="tieu-chi" rowspan="2">Tiêu chí</th>
                                    <th class="nhap-lieu" rowspan="2">Đơn vị đo</th>
                                    <th class="nhap-lieu" colspan="4">Sản lượng</th>
                                    <th class="nhap-lieu" colspan="3">Tình trạng tiến độ</th>
                                    <th class="nhap-lieu" colspan="2">Còn lại</th>
                                    <th class="ghi-chu" rowspan="2">Ghi chú</th>
                                </tr>
                                <tr>
                                    <th>Thực hiện</th>
                                    <th>Kế hoạch</th>
                                    <th>Chênh lệch</th>
                                    <th>Phần trăm hoàn thành</th>
                                    <th>Lũy kế</th>
                                    <th>Ké hoạch điều chỉnh</th>
                                    <th>Phần trăm tiến độ</th>
                                    <th>Tổng</th>
                                    <th>1 ngày</th>
                                </tr>
                            </thead>
                            <tbody id="table-input-body">
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" id="luyKe" value="@ViewBag.luyKe" />

                    <button class="btn blue darken-2" type="submit">Lưu</button>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<script src="~/js/Custom JS/DK/InputCharcoal/AddRow.js"></script>

<script>
    $(document).ready(function () {
        $(".date-click").datepicker({
            onSelect: function (dateText) {
                change();
            }
        });
    })

    //$(".datepicker-here").keydown(function (e) {
    //    if (e.KeyCode != 8) {
    //        e.preventDefault()
    //    } else {
    //        $(this).val("");
    //    }
    //});


    function change() {
        confirmAlert("Dữ liệu chưa được lưu?", "Xác nhận đổi",
            function () {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
                var px_value = $('#cbx-px').val();
                var date = $('#dateInput').val();
                var ca_value = $('#cbx-group').val();
                $.ajax({
                    type: 'POST',
                    url: '/change',
                    dataType: 'json',
                    data: { 'px_value': px_value, 'date': date, 'ca_value': ca_value },
                    success: function (response) {
                        if (response.success) {
                            $("#SoNgaySX").val(response.dateSX)
                            $("#table-input-body").empty();
                            for (i = 0; i < response.listSXLoad.length; i++) {
                                $("#table-input-body").append("<tr>");
                                $("#table-input-body").append('<th><input class="center" readonly style="border:none" name="tenTieuChi" value="' + response.listSXLoad[i].TenTieuChi + '"/></th>');
                                $("#table-input-body").append("<th>" + response.listSXLoad[i].DonViDo + "</th>");
                                $("#table-input-body").append('<td><input class="center" value="' + response.listSXLoad[i].SanLuong + '" id="thucHien' + i + '" autocomplete="off" style="border:none" name="thucHien" onchange="THOnchange(' + i + ')"/></td>' +
                                    '<td><input class="center"  value="' + response.listSXLoad[i].KeHoach + '"   id="keHoach' + i + '" autocomplete="off" style="border:none" name="keHoach" onchange="KHOnchange(' + i + ')" /></td>' +
                                    '<td><input class="center" readonly id="chenhLech' + i + '" autocomplete="off" style="border:none" name="chenhLech" /></td>' +
                                    '<td><input class="center" readonly id="phanTramHT' + i + '" autocomplete="off" style="border:none" name="phanTramHT" /></td>' +
                                    '<td><input class="center"  readonly id="luyKe' + i + '" value="' + response.listSXLoad[i].LuyKe + '" autocomplete="off" style="border:none" name="luyKe" />' +
                                    ' <input type="hidden" id="luyKeHidden' + i + '" value="' + response.listSXLoad[i].LuyKe + '" /></td > ' +
                                    '<td><input class="center"  value="' + response.listSXLoad[i].KHDC + '"  id="KHDC' + i + '"  autocomplete="off" style="border:none" name="KHDC" onchange="KHDCOnchange(' + i + ')"/></td>' +
                                    '<td><input class="center" readonly id="phanTramTD' + i + '"  autocomplete="off" style="border:none" name="phanTramTD" /></td>' +
                                    '<td><input class="center" readonly id="tong' + i + '" autocomplete="off" style="border:none" name="tong" /></td>' +
                                    '<td><input class="center" readonly id="motNgay' + i + '" autocomplete="off" style="border:none" name="motNgay" /></td>' +
                                    '<td><input class="center"  value="' + response.listSXLoad[i].GhiChu + '"  autocomplete="off" class="input-field" style="border:none" name="ghiChu" /></td>');
                                $("#table-input-body").append("</tr>");
                            }
                            $("#pre-load").hide("slow", function () {
                            });
                            successAlert("Đổi thành công", "");
                        } else {
                            $("#SoNgaySX").val(response.dateSX)
                            $("#table-input-body").empty();
                            for (i = 0; i < response.listSXLoad.length; i++) {
                                $("#table-input-body").append("<tr>");
                                $("#table-input-body").append('<th><input class="center" readonly style="border:none" name="tenTieuChi" value="' + response.listSXLoad[i].TenTieuChi + '"/></th>');
                                $("#table-input-body").append("<th>" + response.listSXLoad[i].DonViDo + "</th>");
                                $("#table-input-body").append('<td><input class="center"  id="thucHien' + i + '" autocomplete="off" style="border:none" name="thucHien" onchange="THOnchange(' + i + ')"/></td>' +
                                    '<td><input class="center"     id="keHoach' + i + '" autocomplete="off" style="border:none" name="keHoach" onchange="KHOnchange(' + i + ')" /></td>' +
                                    '<td><input class="center" readonly id="chenhLech' + i + '" autocomplete="off" style="border:none" name="chenhLech" /></td>' +
                                    '<td><input class="center" readonly id="phanTramHT' + i + '" autocomplete="off" style="border:none" name="phanTramHT" /></td>' +
                                    '<td><input class="center"  readonly id="luyKe' + i + '" value="' + response.luyKe[i].LuyKe + '" autocomplete="off" style="border:none" name="luyKe" />' +
                                    ' <input type="hidden" id="luyKeHidden' + i + '" value="' + response.luyKe[i].LuyKe + '" /></td > ' +
                                    '<td><input class="center"  id="KHDC' + i + '"  autocomplete="off" style="border:none" name="KHDC" onchange="KHDCOnchange(' + i + ')"/></td>' +
                                    '<td><input class="center" readonly id="phanTramTD' + i + '"  autocomplete="off" style="border:none" name="phanTramTD" /></td>' +
                                    '<td><input class="center" readonly id="tong' + i + '" autocomplete="off" style="border:none" name="tong" /></td>' +
                                    '<td><input class="center" readonly id="motNgay' + i + '" autocomplete="off" style="border:none" name="motNgay" /></td>' +
                                    '<td><input class="center"  autocomplete="off" class="input-field" style="border:none" name="ghiChu" /></td>');
                            }
                            $("#pre-load").hide("slow", function () {
                            });
                            successAlert("Đổi thành công", "");
                        }
                    }
                })
            }
        );
    }
</script>
<script>

    function THOnchange(i) {
        var ngaySX = document.getElementById("ngaySanXuat").value;
        var tongNgaySX = document.getElementById("SoNgaySX").value;

        var TH = document.getElementById("thucHien" + i).value;
        var KH = document.getElementById("keHoach" + i).value;
        document.getElementById("chenhLech" + i).value = TH - KH;
        if (KH != 0) {
            document.getElementById("phanTramHT" + i).value = ((TH / KH) * 100).toFixed(2);
        }

        var LK = parseInt(document.getElementById("luyKeHidden" + i).value);
        document.getElementById("luyKe" + i).value = LK + parseInt(TH);

        var KHDC = document.getElementById("KHDC" + i).value;
        var LK = parseInt(document.getElementById("luyKe" + i).value);
        if (KHDC != 0) {
            document.getElementById("phanTramTD" + i).value = ((LK / KHDC) * 100).toFixed(2);
        }

        document.getElementById("tong" + i).value = KHDC - LK;

        document.getElementById("motNgay" + i).value = (KHDC - LK) / (tongNgaySX - ngaySX);


    }

    function KHOnchange(i) {
        var TH = document.getElementById("thucHien" + i).value;
        var KH = document.getElementById("keHoach" + i).value;
        document.getElementById("chenhLech" + i).value = TH - KH;
        if (KH != 0) {
            document.getElementById("phanTramHT" + i).value = ((TH / KH) * 100).toFixed(2);
        }
    }

    function KHDCOnchange(i) {
        var ngaySX = document.getElementById("ngaySanXuat").value;
        var tongNgaySX = document.getElementById("SoNgaySX").value;
        var KHDC = document.getElementById("KHDC" + i).value;
        var LK = parseInt(document.getElementById("luyKe" + i).value);
        if (KHDC != 0) {
            document.getElementById("phanTramTD" + i).value = ((LK / KHDC) * 100).toFixed(2);
        }
        document.getElementById("tong" + i).value = KHDC - LK;
        document.getElementById("motNgay" + i).value = (KHDC - LK) / (tongNgaySX - ngaySX);

    }

    function NgaySXOnchange() {

    }
</script>
<script>
    function SaveChange(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        successAlert('Thành công', 'Thêm thành công');
                    } else {
                        errorAlert('Có lỗi', 'Thêm không thành công');
                    }
                }
            });

        }
        return false;
    }
</script>
