@model QUANGHANH2.Models.LichSuBoSungSYLL

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thêm lịch sử bổ sung sơ yếu lý lịch</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddLichSuBoSung", "Brief", FormMethod.Post, new { onSubmit = "return SubmitForm(this) " }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-horizontal">
                    <hr />
                    <div class="form-group">
                        <strong for="worker-numb">Năm bổ sung</strong>
                        <div class="col-md-10">
                            <input type="text"
                                   id="date_year_add"
                                   class="datepicker-here datepicker-add center"
                                   data-language='vi'
                                   data-min-view="years"
                                   data-view="years"
                                   data-date-format="yyyy"
                                   required
                                   />
                            @Html.EditorFor(model => model.NamBoSung, new { htmlAttributes = new { @style = "display: none !important", @class = "form-control", @id = "date_add_year" } })
                            @Html.ValidationMessageFor(model => model.NamBoSung, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu" class="waves-light btn blue darken-2 white-text" id="save_add_date"/>
                        </div>
                    </div>
                </div>
                </div>
                }
            </div>
</body>
</html>
<script>
    $(document).ready(function () {
        
    })
    $('#save_add_date').click(function () {
        $('#date_add_year').val($('#date_year_add').val());
    })
</script>