@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/assets/Custom css/TCLD/Brief/ManageBrief/ListAll.css" rel="stylesheet" />
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<div class="user-roll card" id="vld-antoan">
    <div class="card-content">
        <div class="row center">
            <h3 class="black-text"><b>BẢNG TỔNG HỢP DANH SÁCH TOÀN CÔNG TY</b></h3>
        </div>
        <hr />
        <div class="row">
            <div class="table_container">
                <div class="col s12 m12 l12 input-field">
                    <a class="btn btn-small blue darken-2" id="exportExcel"><i class="fas fa-file-excel"></i>&nbsp;Excel</a>
                </div>
                <table id="example" class="table-hover table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Đơn vị</th>
                            <th rowspan="2">LĐ Tổng số</th>
                            <th rowspan="2">Nữ</th>
                            <th colspan="6">Gián tiếp</th>
                            <th colspan="4">Công nhân đơn vị sản xuất chính</th>
                            <th colspan="4">Công nhân Phục vụ, phụ trợ</th>
                            <th rowspan="2">Ghi chú</th>
                        </tr>
                        <tr>
                            <th>Tổng số<br />gián tiếp</th>
                            <th>Quản<br />đốc,TP</th>
                            <th>PP,<br />PQĐ</th>
                            <th>PQĐ<br />CĐ</th>
                            <th>NVKT,<br />Cán sự</th>
                            <th>Chuyên<br />viên</th>
                            <th>Tổng số</th>
                            <th>Khai<br />thác</th>
                            <th>Cơ điện<br />lò</th>
                            <th>Khác</th>
                            <th>Tổng số</th>
                            <th>Phục<br />vụ</th>
                            <th>KTV</th>
                            <th>Phụ<br>trợ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Tổng cộng</th>
                            <th>3,171</th>
                            <th>419</th>
                            <th>383</th>
                            <th>48</th>
                            <th>142</th>
                            <th>21</th>
                            <th>6</th>
                            <th>166</th>
                            <th>2,059</th>
                            <th>1,360</th>
                            <th>390</th>
                            <th>309</th>
                            <th>729</th>
                            <th>364</th>
                            <th></th>
                            <th>365</th>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        
<div id="pre-load" hidden>
    <div class="loading">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/extra-libs/Datatables/datatables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script>
    var table;
                $(document).ready(function () {
                    console.log('ready');
                    table = $('#example')
                        .on('preXhr.dt', function (e, settings, data) {

                                   ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
      				  $("#pre-load").show("slow", function () {
      				   });
      				  $("#pre-load").css("z-index", "99999");
			          ////////////////////////////////////////////////////////////////////////

                           //     data.sessionId = "@ViewBag.id";
                            //    data.selectList = JSON.stringify(arrCarSelected);
                            })
                        .DataTable({
"language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",
                                                  
                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                         "bAutoWidth": false,
                        "serverSide": "true",
                        "bFilter": false,
                        "ordering": false,
                        "processing": false,
                        "searching": false,
                        "info": false,
                        "bLengthChange": false,
                        "ajax": {
                            "url": "/Employees/getDataTongNhanSu",
                            "type": "POST",
                            "datatype": "json"
                        },
                         "drawCallback": function( settings ) {
                            $("#pre-load").hide("slow", function () {
      		              });
                            },

            

                        "columns": [     
                            {
                                data: 'dv', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                }

                            },
                            { data: 'ldts', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'nu', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'tsgt', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'qd', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'pppgd' , "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                }},
                            { data: 'pqdcd', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'nvkt', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'cv', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'ts1', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'kt', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'cdl', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'khac', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'ts2', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'pv' , "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                }},
                            { data: 'ktv', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            { data: 'pt', "render": function (data, type, row) {
                                    if (row['ghichu'] == 'tong') {
                                        return "<span style='color:red'>" + data;
                                    } else if (row['ghichu'] == 'phongban') {
                                        return "<b>"+data;
                                    } else {
                                        return data;
                                    }
                                } },
                            {
                                data: 'ghichu', render: function (data) {
                                    return "";
                                }
                            },
                            

                        ],
                        "success": function (data) {
                            console.log(data);
                            },
                        "initComplete": function (settings, json) {
                            $("#pre-load").hide("slow", function () {
      		  });
                            }

                    });

                });


     function exportExcel() {
        
       
        $.ajax({
            type: 'POST',
            url: '/Employees/exportExcelToListEmployees',
            dataType: 'json',
            success: function (response) {
               if (response.success) {
        //Tải file excel về theo như location được gửi về từ controller
        window.location.href = response.location;
        $("#pre-load").hide("slow", function () {
            });
            } else {
            alert("error");
            }

            }
        });

    }

    $('#exportExcel').click(function (e) {
        $("#pre-load").show("slow", function () {
      				   });
      				  $("#pre-load").css("z-index", "99999");
        e.preventDefault();
        exportExcel();
    });



</script>

