@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">

@{
    ViewBag.Title = "Add";
    List<string> right = (List<string>)Session["RightIDs"];
}

<div class="col s12 m12 l12">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="center"><b>DANH SÁCH HỒ SƠ NHÂN VIÊN</b></h3>
                <hr>
                <div class="col s12 m12 l12">
                    <div class="row center">
                        <div class="col l3 m12 s12 input-field">
                            <input type="text" placeholder="Mã nhân viên" class='form-control autocomplete_MNV' id="searchMaNV" multiple />
                        </div>
                        <div class="col l3 m12 s12 input-field">
                            <input type="text" placeholder="Tên nhân viên" class='form-control autocomplete_Name' id="searchTenNV" multiple />
                        </div>
                        <div class="col l3 m12 s12 input-field">
                            <select class="form-control" id="searchGioiTinh">
                                <option value="" selected>Giới tính</option>
                                <option value="true">Nam</option>
                                <option value="false">Nữ</option>
                            </select>
                        </div>
                        <div class="col l3 m12 s12 input-field">
                            <button class="waves-effect waves-light btn blue darken-2 btn-small" id="searchButton"><i class="fas fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <div class="left col s12 m6 l6">
                    <div class="row">
                        <div class="left col s12 m6 l12">
                            <div class="row">
                                <div class="col s3 m3 l3">
                                    <a class="waves-effect waves-light btn btn-small blue darken-2 modal-trigger input-field" href="/phong-tcld/quan-ly-nhan-vien/tuyen-dung-nhan-vien" style="width:120px" data-target="tuyendung">Tuyển Dụng</a>
                                </div>
                                @*<div class="col s2 m3 l3">
                                    <a class="waves-effect waves-light btn btn-small blue darken-2 modal-trigger input-field" style="width:120px" href="@Url.Content("/phong-tcld/quan-ly-nhan-vien/them-nhan-vien")">Thêm</a>
                                </div>*@
                                <div class="col s3 m3 l3">
                                    <a class="waves-effect waves-light btn btn-small blue darken-2 input-field" id="danhsachhosonhanvien"><i class="fas fa-file-excel"></i>&nbsp;Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>

                    <div class="col s12 m12 l12 table-responsive">

                        <table id="test-table" class="tcld table-bordered mytablr" style="width:100%; margin-top: 20px; max-height:600px!important">
                            <thead>
                                <tr>
                                    <th>
                                        Mã nhân viên
                                    </th>
                                    <th>
                                        Tên nhân viên
                                    </th>
                                    <th>
                                        Ngày sinh
                                    </th>
                                    <th>
                                        Giới tính
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                    <th>
                                        Trạng thái làm việc
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<ul id='dropdown' class='dropdown-content'>
    <li><a href="@Url.Content("/phong-tcld/quan-ly-nhan-vien/lich-su-lam-viec")" class="black-text">Làm việc</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="@Url.Content("/phong-tcld/quan-ly-nhan-vien/chi-tiet-dieu-dong")" class="black-text">Điều chuyển</a></li>
</ul>

<div id="deleteBriefs" class="modal open">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận thanh lý hợp đồng</h3>
        </div>
        @using (Html.BeginForm("TLHD", "Employees", FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            onSubmit = "return tlhdAjax(this);",
            data_restUrl = Url.Action("TLHD", "Employees")
        }))
        {

            <div class="modal-body">
                <p class="red-text">Lý do thanh lý hợp đồng?</p>
                <div class="row">
                    <div class="col s6 m6 l12">
                        <label>Số quyết định</label>
                        <input name="soQD" class=' form-control' placeholder="Số quyết định" />
                    </div>
                    <div class="col s6 m6 l6">
                        <label>Lí do chấm dứt</label>
                        <select name="lydo" class="form-control" id="tlhd" onchange="onSelectTypeOfEndContract()">
                            <option value="Đi học">Đi học</option>
                            <option value="Hưu trí">Hưu trí</option>
                            <option value="Xin chấm dứt HĐLĐ, thôi việc">Xin chấm dứt HĐLĐ, thôi việc</option>
                            <option value="Sa thải">Sa thải</option>
                            <option value="Đơn phương chấm dứt HĐLĐ, bỏ việc">Đơn phương chấm dứt HĐLĐ, bỏ việc</option>
                            <option value="Đi nghĩa vụ quân sự">Đi nghĩa vụ quân sự</option>
                            <option id="dvn">Đi đơn vị ngoài</option>
                            <option value="Ốm chết rủi ro">Ốm chết rủi ro</option>
                            <option value="Chết do tai nạn lao động">Chết do tai nạn lao động</option>
                            <option id="khac">Các trường hợp khác</option>
                        </select>
                    </div>
                    <div class="col s6 m6 l6">
                        <label>Ngày chấm dứt</label>
                        <input name="dateTLHD" id="datepicker" type='text' class='datepicker-here form-control' data-language='vi' placeholder="Ngày chấm dứt" />
                    </div>

                </div>
                <div class="row">
                    <div id="containerOption1" class="col s6 m6 l6" style="display: none">
                        <label>
                            <input name="group1" type="radio" value="Đi các đơn vị trong TKV" checked />
                            <span>Đi các đơn vị trong TKV</span>
                        </label>
                        <label>
                            <input name="group1" value="Đi các đơn vị ngoài TKV" type="radio" />
                            <span>Đi các đơn vị ngoài TKV</span>
                        </label>
                    </div>
                    <div id="containerOption2" class="col s6 m6 l6" style="display: none">
                        <label>
                            <input id="else1" name="group2" type="radio" value="Hết hạn HĐLĐ" checked />
                            <span>Hết hạn HĐLĐ</span>
                        </label>
                        <br />
                        <label>
                            <input id="else2" name="group2" type="radio" />
                            <span><input id="else" name="elseCase" class="form-control" placeholder="Trường hợp khác" required disabled /></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect waves-light btn blue darken-2 modal-close">Xác nhận</button>
                <input type="hidden" name="id" id="tlhdd" />
                <button type="button" class="waves-effect waves-light btn blue darken-2 modal-close">Hủy</button>
            </div>
            //thuongvn
            <input type="hidden" name="id" id="historyElementID" />
        }
    </div>
</div>

<div id="history" class="modal open">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Chuyển đến</h3>
        </div>
        <div class="modal-body row">
            <div class="col l6 m6 s6 center">
                <a class="waves-light btn blue darken-2 btn-small" onclick=getHistoryEployee();>Lịch sử làm việc</a>
            </div>
            <form action="/phong-tcld/quan-ly-nhan-vien/chi-tiet-dieu-dong" method="get">
                <div class="col l6 m6 s6 center">
                    <button type="submit" class="waves-effect waves-light btn blue darken-2 btn-small" id="btnDieuChuyen">Điều động</button>
                </div>
                <input name="ddid" type="hidden" id="ctdd" />
            </form>
        </div>
    </div>
</div>

<script src="~/js/Custom JS/TCLD/Brief/Briefs_List.js"></script>
<script src="~/js/advancedsearch/advancedsearch.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<link href="~/css/advancedsearch/advancedsearch.css" rel="stylesheet" />
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />

<script src="~/assets/extra-libs/Datatables/datatables.min.js"></script>
<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script src="~/Scripts/Scripts.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        var Popup, dataTable;


        function tlhdAjax(form) {
            $("#pre-load").show();
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    dataType: "text",
                    data: $(form).serialize(),
                    success: function (respone) {
                        dataTable.ajax.reload();
                        if (JSON.parse(respone)["success"]) {
                            errorAlert('Lỗi', JSON.parse(respone)["message"]);
                        } else if (JSON.parse(respone)["success"] == "soQDExist") {
                            errorAlert('Lỗi', JSON.parse(respone)["message"]);
                        }
                        else {
                            successAlert('Thành công', 'Thanh lý thành công');
                        }
                    },
                });
            }
            $("#pre-load").hide();
            return false;
        }

        $("#else2").click(function (event) {
            $("#else").prop("disabled", false);
        });
        $("#else1").click(function (event) {
            $("#else").prop("disabled", true);
        });
        $("#else").change(function () {
            $("#else2").val($("#else").val);
        });


        function getOne() {
            var id = document.getElementById("tlhdd").value;
            $.ajax({
                url: "/delete",
                data: JSON.stringify({ ID: id }, { soQD: soQD }),
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    dataTable.ajax.reload();
                    if (result.message === "Rollback") {
                        errorAlert('Lỗi', 'Chưa nhập ngày chấm dứt');
                    } else {
                        successAlert('Thành công', 'Thanh lý thành công');

                    }

                },

            });
        }

        $(document).ready(function () {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
            dataTable = $('#test-table')
                .on('preXhr.dt', function (e, settings, data) {
                    ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                    ////////////////////////////////////////////////////////////////////////
                })
                .DataTable({
                    "ajax": {
                        "url": "/phong-tcld/quan-ly-nhan-vien/danh-sach-nhan-vien",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "MaNV": function () { return $('#searchMaNV').val() },
                            "TenNV": function () { return $('#searchTenNV').val() },
                            "Gender": function () { return $('#searchGioiTinh').val() },
                        }
                    },
                    "columns": [
                        {
                            "data": "MaNV", "name": "MaNV", "render": function (data) {
                                return "<a href='/phong-tcld/quan-ly-nhan-vien/xem-chi-tiet-nhan-vien?id=" + data + "' >" + data + "</a>"
                            },
                        },
                        { "data": "Ten", "name": "Ten" },
                        {
                            "data": "NgaySinh", "name": "NgaySinh", "render": function (data) {
                                return dateFormat(data);
                            }
                        },
                        {
                            "data": "GioiTinh", "name": "GioiTinh", "render": function (data) {
                                return genderFormat(data);
                            }
                        },
                        { "data": "SoDienThoai", "name": "SoDienThoai" },
                        { "data": "TenTrangThai", "name": "TenTrangThai" },
                        {
                            "data": "MaNV", "render": function (data) {
                                return "<a class='waves-effect waves-light btn blue darken-2 btn-small' href='/phong-tcld/quan-ly-nhan-vien/chinh-sua-nhan-vien?id=" + data + "'  data-target='dropdown1'><span class='ti-pencil-alt'>&nbsp;Sửa</span></a> &nbsp;&nbsp;&nbsp;" +
                                     "<a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' onclick='getHistoryID(" + data + "); getTransferHistory(" + data + "); ' data-target='history'><span class='fas fa-history'>&nbsp;Xem</span></a> &nbsp;&nbsp;&nbsp;" +
                                    "<a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' onclick='getTlhd(" + data + ")' data-target='deleteBriefs'><span class='fas fa-times-circle'>&nbsp;TLHĐ</span></a>";

                            },
                            "orderable": false,
                            "searchable": false,
                        }
                        //{
                        //    "data": "MaNV", "render": function (data) {
                        //        return "<a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' onclick='getHistoryID(" + data + ")' data-target='history'><span class='fas fa-history'>&nbsp;Xem</span></a>";
                        //    },
                        //    "orderable": false,
                        //    "searchable": false,
                        //},
                        //{
                        //    "data": "MaNV", "render": function (data) {
                        //        return "<a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' onclick='getTlhd(" + data + ")' data-target='deleteBriefs'><span class='fas fa-times-circle'>&nbsp;TLHĐ</span></a>";
                        //    },
                        //    "orderable": false,
                        //    "searchable": false,
                        //}
                    ],
                    "drawCallback": function (settings) {
                        ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        ////////////////////////////////////////////////
                    },
                    "serverSide": "true",
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",

                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                    "order": [0, "asc"],
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "initComplete": function (settings, json) {
                        ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                    }

                });
        });

        $(document).ready(function () {
            var dataTable = $('#test-table').DataTable();
            $("#searchButton").click(function () {
                dataTable.ajax.reload(function () {
                    //$.notify("Tìm kiếm thành công", {
                    //    globalPosition: "top center",
                    //    className: "success"
                    //})
                    //successAlert('Thành công', 'Tìm kiếm thành công');
                });
            });
        });

        function getTransferHistory(a) {
            document.getElementById("ctdd").value = a;
        }

        //thuong
        function getHistoryID(a) {
            document.getElementById("historyElementID").value = a;
        }
        function getHistoryEployee() {
            var id = document.getElementById("historyElementID").value;
            if (id != null) {
            window.location.href ='@Url.Action("WorkHistory", "WorkHistory")?id=' + id;
        }

        }
        function getTlhd(a) {
            document.getElementById("tlhdd").value = a;
        }

        function sub(a) {
            var s = "form" + a;
            document.getElementById(s).SubmitForm();
        }

        function Edit(url) {
            $.post(url)
                .done(function (response) {

                });
            window.location.href = url;
        }

        function genderFormat(d) {
            if (d) {
                return "Nam";
            } else {
                return "Nữ";
            }
        }

        function dateFormat(d) {
            if (d == null) {
                return "";
            }
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }

        //function SubmitForm(form) {
        //    $.validator.unobtrusive.parse(form);
        //    if ($(form).valid()) {
        //        $.ajax({
        //            type: "POST",
        //            url: form.action,
        //            data: $(form).serialize(),
        //            dataTable.ajax.reload();
        //            success: function (data) {
        //                console.log('ahihi');
        //                if (data.success) {
        //                    Popup.dialog('close');
        //                    dataTable.ajax.reload();

        //                    $.notify(data.message, {
        //                        globalPosition: "top center",
        //                        className: "success"
        //                    })

        //                }
        //            }
        //        });
        //    }
        //    return false;
        //}

        $("#danhsachhosonhanvien").click(function () {
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-tcld/quan-ly-nhan-vien/danh-sach-nhan-vien/excel",
                cache: false
            }).done(function () {
                window.location.href = "/excel/TCLD/download/Danh-sách-nhân-viên.xlsx";
                $("#pre-load").hide();
            })
        });
    </script>
}
<script>
    $("#datepicker").keydown(function (e) {
        e.preventDefault();
    });
</script>
