@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link rel="stylesheet" href="~/css/tuan_css/css/history_css/StyleSheet.css" />
<link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
<link rel="stylesheet" type="text/css" href="~/assets/libs/pickadate/lib/themes/default.css">
<link rel="stylesheet" type="text/css" href="~/assets/libs/pickadate/lib/themes/default.date.css">
<link rel="stylesheet" type="text/css" href="~/assets/libs/pickadate/lib/themes/default.time.css">

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="report_title center">
                <B>LỊCH SỬ LÀM VIỆC</B>
            </h3>
            <hr />
        </div>
        <div class="row">
            <div class="col l10 s12 m12">
                <table class="table-bordered">
                    <tr>
                        <th>Mã nhân viên:</th>
                        <td><input disabled type="text" id="ws_maNV" class="center" /></td>
                    </tr>
                    <tr>
                        <th>Họ và tên: </th>
                        <td><input disabled type="text" id="ws_ten" class="center" /></td>
                    </tr>
                    <tr>
                        <th>Giới tính: </th>
                        <td><input disabled type="text" id="ws_gioiTinh" class="center" /></td>
                    </tr>
                    <tr>
                        <th>Ngày sinh: </th>
                        <td><input disabled type="text" id="ws_ngaySinh" class="center" /></td>
                    </tr>
                    <tr>
                        <th>Địa chỉ: </th>
                        <td><input disabled type="text" id="ws_diaChi" class="center" /></td>
                    </tr>
                    <tr>
                        <th>Chức vụ: </th>
                        <td><input disabled type="text" id="ws_chucVu" class="center" /></td>
                    </tr>
                    <tr>
                        <th>Bộ phận: </th>
                        <td><input disabled type="text" id="ws_boPhan" class="center" /></td>
                    </tr>
                    <tr>
                        <th>Ngày gần nhất đi làm: </th>
                        <td><input disabled type="text" id="ws_ngayDiLamGanNhat" class="center" /></td>
                    </tr>
                </table>
            </div>
            <div class="col l2 s12 m12 center middle">
                <img class="avatar middle" src="~/images/avatar.png" style="width: 150px; height: 150px" />
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="center">
            <h3><b>LỊCH SỬ ĐI LÀM</b></h3>
        </div>

        <div class="col l12 s12">
            <table class="table table-bordered striped table-responsive" id="work_history_table">
                <thead>
                    <tr>
                        <th>Ngày đi làm</th>
                        <th>Ca làm</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
            </table>
        </div>
        <br />

    </div>
</div>

<script src="~/assets/libs/pickadate/lib/compressed/picker.js"></script>
<script src="~/assets/libs/pickadate/lib/compressed/picker.date.js"></script>
<script src="~/assets/libs/pickadate/lib/compressed/picker.time.js"></script>
<script src="~/assets/libs/pickadate/lib/compressed/legacy.js"></script>
<script src="~/assets/libs/moment/moment.js"></script>
<script src="~/assets/libs/daterangepicker/daterangepicker.js"></script>
<script src="~/dist/js/pages/forms/datetimepicker/datetimepicker.init.js"></script>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    var datatable_day_history;
    //$("#pre-load").show();
    $(document).ready(function () {

        getHistoryWork();
        datatable_day_history = $('#work_history_table').DataTable({

            "ajax": {
                "url": '@Url.Action("getDataHistoryWork", "WorkHistory")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                {
                    "data": "ngayDiemDanh", "name": "ngayDiemDanh", "render": function (data) {
                        return dateFormat(data);
                    }
                },
       
                {
                    "data": "calamViec", "name": "calamViec"
                },
                {
                    "data": "ghiChu", "name": "ghiChu"
                }

            ],
            "language": {
                "zeroRecords": "Không có dữ liệu",
                paginate:
                {
                    previous: "Trang trước",
                    next: "Trang sau",
                    first: "|<",
                    last: ">|"
                }
            },
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "initComplete": function () {
                $("#pre-load").hide();
            }
        });
        datatable_inside.ajax.reload();
    });

    function getHistoryWork() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("workHistoryOfEmployee", "WorkHistory")',
            dataType: "json",
            success: function (data) {
                console.log(data.data);
                $('#ws_maNV').val(data.data[0].MaNV);
                $('#ws_ten').val(data.data[0].Ten);
                $('#ws_gioiTinh').val(data.data[0].GioiTinh);
                $('#ws_ngaySinh').val(dateFormat(data.data[0].NgaySinh));
                $('#ws_diaChi').val(data.data[0].DiaChi);
                $('#ws_chucVu').val(data.data[0].ChucVu);
                $('#ws_boPhan').val(data.data[0].BoPhan);
                $('#ws_ngayDiLamGanNhat').val(dateFormat(data.data[0].NgayDiLamGanNhat));
            }
        });
    }
    function dateFormat(d) {
        if (d != null && d != "") {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }
        else {
            return (d);
        }
    }
</script>