@model IEnumerable<QUANGHANH2.Models.Documentary>
@{
    ViewData["Title"] = "Danghiemthu";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}


<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12">

                <div class="advanded-search">
                    <div class="row">
                        <h3 class="center"><b>DANH SÁCH THIẾT BỊ ĐÃ NGHIỆM THU</b></h3>
                        <hr>
                        <div class="row center">
                            <div class="col l1 m12 s12 input-field">

                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <i class="fas fa-calendar-alt icon"></i>
                                <input type='text' class='datepicker-here center maxDate' id="min_Date" data-language='vi' value="Nhập ngày bắt đầu (từ)" style="height: 24px" />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <i class="fas fa-calendar-alt icon"></i>
                                <input type='text' class='datepicker-here center minDate' id="max_Date" data-language='vi' value="Nhập ngày kết thúc (đến)" style="height: 24px" />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã quyết định" id="doccumentid" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã tài sản cố định" id="equimentid" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo tên thiết bị" id="equimentname" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <button class="btn blue darken-2 btn-small" id="searchButton1">Tìm kiếm</button>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col s12">
                    <table id="docTable" class="striped table-bordered centered responsive-table mytable">
                        <thead>
                            <tr>
                                <th colspan="4">Thông tin thiết bị</th>
                            </tr>
                            <tr>
                                <th>Quyết định số</th>
                                <th>Mã TSCĐ</th>
                                <th>Tên thiết bị</th>
                                <th>Ngày nghiệm thu</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="vattu" class="modal">
    <div class="modal-header center card">
        <h3><b>Nghiệm thu</b></h3>
    </div>
    <div class="modal-body">
        <table id="Table" class="centered striped table-bordered">
            <tr>
                <td>Ngày nghiệm thu</td>
                <td><input class="form-control" type="date" /></td>
            </tr>
            <tr>
                <td>Mã nghiệm thu</td>
                <td><input class="form-control" type="text" /></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn modal-close blue">Lưu</a>
        <a class="btn modal-close blue darken-2">Đóng</a>
    </div>
</div>
<div id="thongtin" class="modal">
    <div class="modal-header center-align">
        <h3><b>Thông tin quyết định</b></h3>
    </div>
    <div class="modal-body" id="detailTable">

    </div>
</div>
<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa quyết định sửa chữa</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Ngày : </label>
                            <input type="date" class="form-control" value="10/1/2019" />
                        </div>
                        <div class="form-group">
                            <label for="date">Người lập quyết định : </label>
                            <input type="text" class="form-control" value="Nguyễn Thị Thương" />
                        </div>
                        <div class="form-group">
                            <label for="date">Số lượng thiết bị : </label>
                            <input type="number" class="form-control" value="10" />
                        </div>

                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="id">Số quyết định : </label>
                            <input type="text" class="form-control" value="001" />
                        </div>
                        <div class="form-group">
                            <label for="date">Người phê duyệt quyết định : </label>
                            <input type="text" class="form-control" value="Nguyễn Văn Thái" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div id="myaleart" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận lưu mục này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Bạn có chắc chắn muốn lưu lại ?</p>
        </div>
        <div class="modal-footer">
            <a id="xacnhan" href="/phong-cdvt/cap-nhat/quyet-dinh"><button type="button" class="btn blue darken-2 modal-close">Xác nhận</button></a>
            <button type="button" class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>
<script src="~/js/Custom JS/CDVT/Capnhat/update.js"></script>
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
<script src="~/js/advancedsearch/advancedsearch.js"></script>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        //$("#pre-load").show("slow", function () {
        // });
        //$("#pre-load").css("z-index", "99999");
        var Popup, dataTable;

        $(document).ready(function () {
            dataTable = $('#docTable').on('preXhr.dt', function (e, settings, data) {

      				  $("#pre-load").show("slow", function () {
      				   });
      				  $("#pre-load").css("z-index", "99999");
                }).DataTable({
                "ajax": {
                    "url": "/phong-cdvt/da-nghiem-thu/search",
                    "type": "POST",
                        "datatype": "json",
                        "data": {
                        "document_code": function () { return $('#doccumentid').val() },
                        "equimentid": function () {return $('#equimentid').val() },
                        "equimentname": function () {return $('#equimentname').val() },
                        "date_start": function () {return $('#min_Date').val() },
                        "date_end": function () {return $('#max_Date').val() }
                        },
               },
                "drawCallback": function (settings) {
                    $("#pre-load").hide("slow", function () {
                });
                },
                    "columns": [
                        {
                            "data": "temp", "name" : "documentary_id", "render": function (data) {
                            return "<a id='click' class='modal-trigger' data-target='thongtin' onclick=Detail('@Url.Action("Detail","nghiemthu")?id=" + data.split("^")[0] + "')> "+data.split("^")[1]+"</a>";

                        },
                        },
                    { "data": "equipmentId", "name": "equipmentId", "render": function (data) {
                            //return "<td><a href='#capnhat' class='modal-trigger'>"+data+"</a></td>";
                        return "<a class='modal-trigger' onclick=GetData('@Url.Action("Index","VatTuQuyetDinh")?id=" + data + "')>" + data + "</a>";
                        },
                    },
                    { "data": "equipment_name", "name": "equipment_name" },
                    {
                        "data": "acceptance_date", "name": "acceptance_date","render": function (data) {
                            return dateFormat(data);
                        }
                    }
                    ],
                "searching": false,
                "bLengthChange": false,
                "serverSide": "true",
                "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",
                                                  
                        },
                        info: "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                "order": [0, "asc"],
                "initComplete": function(settings, json) {
    		    $("#pre-load").hide("slow", function () {
      		  });
             }
           
            });


        });


          function GetData(url) {
             window.location.href = url;
        }
        function dateFormat(d) {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }


            function Detail(url) {
             $.get(url)
                 .done(function (response) {
                     $("#detailTable").html(response)
            });
                return false;
        }
         function GetData(url) {
             window.location.href = url;
        }
        function Update(url) {
            $.get(url)
                .done(function (response) {
                    $("#update").html(response)
                });
            return false;
        }

        $(".datepicker-here").keydown(function (e) {
            e.preventDefault();
        });
      

        
        $("#searchButton1").click(function () {
            $("#pre-load").show();
           dataTable.ajax.reload(function () {
                    $.notify("Tìm kiếm thành công", {
                        globalPosition: "top center",
                        className: "success"
                    })
                });
        });
        $("#min_Date").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#searchButton1").click();
            $("#min_Date").blur();
        }
        });
        $("#max_Date").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#searchButton1").click();
            $("#max_Date").blur();
        }
        });
        $("#equimentid").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#searchButton1").click();
            $("#equimentid").blur();
        }
        });
        $("#equimentname").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#searchButton1").click();
            $("#equimentname").blur();
        }
        });
        $("#doccumentid").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#searchButton1").click();
            $("#doccumentid").blur();
        }
        });

    </script>
}


