@model IEnumerable<QUANGHANH2.Models.Documentary>

@{
    ViewData["Title"] = "cap-nhat-thiet-bi";
    if (Session["departID"].ToString().Contains("PX"))
    {
        Layout = "~/Views/Shared/_Layout_PhanXuong.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    }
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12">

                <div class="advanded-search">
                    <div class="row">
                        <h3 class="center"><b>DANH SÁCH THIẾT BỊ CHỜ NGHIỆM THU</b></h3>
                        <hr>
                        <div class="row center">
                            <div class="col l1 m12 s12 input-field">

                            </div>
                            <div class="col l1 m12 s12 input-field">

                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã quyết định" id="doccumentid" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã tài sản cố định" id="equimentid" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo tên thiết bị" id="equimentname" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col s12">
                    <table id="docTable" class="striped table-bordered centered responsive-table mytable">
                        <thead>
                            <tr>
                                <th rowspan="2">Quyết định số</th>
                                <th rowspan="2">Loại quyết định</th>
                                <th colspan="2">Thông tin thiết bị</th>
                                <th rowspan="2"></th>
                                <th rowspan="2"></th>
                                <th rowspan="2"></th>
                            </tr>
                            <tr>
                                <th>Mã thiết bị</th>
                                <th>Tên thiết bị</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="thongtin" class="modal">
    <div class="modal-header center-align">
        <h3><b>Thông tin quyết định</b></h3>
    </div>
    <div class="modal-body" id="detailTable">

    </div>
</div>
<div id="vattu" class="modal">
    <div class="modal-header center card">
        <h3><b>Nghiệm thu</b></h3>
    </div>
    <div class="modal-body">
        <table id="Table" class="centered striped table-bordered">
            <tr>
                <td>Ngày nghiệm thu</td>
                <td type="datetime-local" id="datetime"></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn modal-close blue">Lưu</a>
        <a class="btn modal-close blue darken-2">Đóng</a>
    </div>
</div>

<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body table_container">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive centered table-bordered mytable">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
            <input type="hidden" id="mathietbi" disabled />
            <input type="hidden" id="maquyetdinh" disabled />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#pre-load').show();
        var Popup, dataTable;
        $(document).ready( function () {
            dataTable = $('#docTable').DataTable({
                "ajax": {
                    "url": "/phong-cdvt/nghiem-thu/search",
                    "type": "POST",
                "datatype": "json",
                "data": {
                    "document_code": function () { return $('#doccumentid').val() },
                    "equiment_id": function () { return $('#equimentid').val() },
                    "equiment_name": function () { return $('#equimentname').val() }
                    //"dateStart": $('#date-start-search').val(),
                    //"dateEnd": $('#date-end-search').val()
                    },
                },
                "drawCallback": function (settings) {
                    $("#pre-load").hide("slow", function () {
                });

                },
                "columns": [
                    {
                        "data": "temp", "name" : "documentary_id", "render": function (data) {
                            return "<a  class='modal-trigger' data-target='thongtin' onclick=Detail('@Url.Action("Detail","nghiemthu")?id=" + data.split("^")[0] + "')> "+data.split("^")[1]+"</a>";

                        },
                    },
                    { "data": "documentary_name", "name": "documentary_name" },
                    { "data": "equipmentId", "name": "equipmentId" },
                    { "data": "equipment_name", "name": "equipment_name" },
                    {
                        "data": {}, "render": function (data) {
                            if (data.di_kem || data.can)
                                return "<td><a class='btn blue modal-trigger open-DiKem' data-equip='" + data.equipmentId + "' data-code='" + data.documentary_id + "' href='#mylist'>Chi tiết VT</a></td>";
                            else
                                return "";
                        },
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "data": {}, "render": function (data) {
                            if (data.du_phong)
                                return "<td><a class='btn blue modal-trigger open-DuPhong' data-equip='" + data.equipmentId + "' data-code='" + data.documentary_id + "' href='#mylist'>VT dự phòng</a></td>";
                            else
                                return "";
                        },
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "data": "idAndid", "render": function (data) {
                            return "<td><a class='btn blue darken-2 modal-trigger open-UpdateModal' data-equip='" + data.split("^")[0] + "' data-code='" + data.split("^")[1] + "' >Nghiệm&nbsp;thu</a></td>";
                        },
                        "orderable": false,
                        "searchable":false
                    }
                ],
                "searching": false,
                "bLengthChange": false,
                "serverSide": "true",
                "language": {
                    emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|",

                    },
                    info: "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                },
                "order": [0, "asc"],
                "initComplete": function(settings, json) {
    		        $("#pre-load").hide("slow", function () {});
                }
            });
        });

        $(document).on("click", ".open-DiKem", function () {
            $('#pre-load').show();
            $("#test").find("tr").remove();
            var documentary_id = $(this).data("code");
            var equipmentId = $(this).data("equip");
            $('#mylist h3').text("Thiết bị " + equipmentId)
            $("#mathietbi").val(equipmentId)
            $("#maquyetdinh").val(documentary_id)
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/GetSupply",
                dataType: "json",
                success: function (data) {
                    $(function () {
                        var header = $('<tr>').html('<th>Mã vật tư</th><th>Số lượng xin cấp</th><th>Số lượng đã nhận</th><th>Số lượng sử dụng</th><th>Số lượng lấy ra</th><th>Ghi chú</th>');
                        header.appendTo('#test thead');
                        $.each(data, function (i, item) {
                            var temp = item.supplyStatus == null ? "" : item.supplyStatus;
                            var $tr = $('<tr>').append(
                                $('<td>').html('<input type="text" value="' + item.supply_id + '" readonly class="form-control" />'),
                                $('<td>').html('<input type="text" value="' + item.quantity_plan + '" readonly class="form-control" />'),
                                $('<td>').html("<input readonly class='form-control' type='number' min='" + item.quantity_in + "' max='" + item.quantity_plan + "' value='" + item.quantity_in + "' />"),
                                $('<td>').html("<input readonly class='form-control' type='number' min='" + item.quantity_used + "' max='" + item.quantity_plan + "' value='" + item.quantity_used + "' />"),
                                $('<td>').html("<input readonly class='form-control' type='number' min='" + item.quantity_out + "' max='" + item.quantity_plan + "' value='" + item.quantity_out + "' />"),
                                $('<td>').html("<input readonly class='form-control' type='text' value='" + temp + "' />")
                            );
                            $tr.appendTo('#test tbody');
                        });
                    });
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                },
                data: {
                    documentary_id: documentary_id,
                    equipmentId: equipmentId
                },
                cache: false
            })
        })

        $(document).on("click", ".open-DuPhong", function () {
            $('#pre-load').show();
            $("#test").find("tr").remove();
            var documentary_id = $(this).data("code");
            var equipmentId = $(this).data("equip");
            $('#mylist h3').text("Thiết bị " + equipmentId)
            $("#mathietbi").val(equipmentId)
            $("#maquyetdinh").val(documentary_id)
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/GetSupplyDuPhong",
                dataType: "json",
                success: function (data) {
                    $(function () {
                        var header = $('<tr>').html('<th>Mã vật tư</th><th>Số lượng xin cấp</th><th>Số lượng đã nhận</th><th>Số lượng sử dụng</th><th>Số lượng lấy ra</th>');
                        header.appendTo('#test thead');
                        $.each(data, function (i, item) {
                            var $tr = $('<tr>').append(
                                $('<td>').html('<input type="text" value="' + item.supply_id + '" readonly class="form-control" />'),
                                $('<td>').html('<input type="text" value="' + item.quantity_plan + '" readonly class="form-control" />'),
                                $('<td>').html("<input readonly class='form-control' type='number' min='" + item.quantity_in + "' max='" + item.quantity_plan + "' value='" + item.quantity_in + "' />"),
                                $('<td>').html("<input readonly class='form-control' type='number' min='" + item.quantity_used + "' max='" + item.quantity_plan + "' value='" + item.quantity_used + "' />"),
                                $('<td>').html("<input readonly class='form-control' type='number' min='" + item.quantity_out + "' max='" + item.quantity_plan + "' value='" + item.quantity_out + "' />")
                            );
                            $tr.appendTo('#test tbody');
                        });
                    });
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                },
                data: {
                    documentary_id: documentary_id,
                    equipmentId: equipmentId
                },
                cache: false
            })
        })

        function Detail(url) {
                $.get(url)
                .done(function (response) {
                    $("#detailTable").html(response)
                });
                return false;
        }
        function GetData(url) {
            window.location.href = url;
        }

        $(document).on("click", ".open-UpdateModal", function () {
            var equipmentId = $(this).data('equip');
            var documentary_id = $(this).data('code');
            var documentary_code = $(this).parent().parent().children().eq(0).text();
            confirmAlert(
            'Bạn có chắc chắn muốn nghiệm thu không?',
            '',
            function nghiemthu(){
                $.ajax({
                type: "POST",
                url: "/phong-cdvt/nghiem-thu/Edit",
                dataType: "json",
                success: function (data) {
                    if (data.success == true)
                        successAlert('Thành công', data.message);
                    else
                        errorAlert('Lỗi', data.message);
                    dataTable.ajax.reload()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi', 'Có lỗi xảy ra');
                },
                data: {
                    id: equipmentId,
                    documentary_code: documentary_code,
                    documentary_id: documentary_id
                },
                cache: false
            })
            });
        });

        $("#searchButton").click(function () {
            $("#pre-load").show();
            dataTable.ajax.reload(function () {
                $.notify("Tìm kiếm thành công", {
                    globalPosition: "top center",
                    className: "success"
                })
            });
        });
        $("#doccumentid").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#searchButton").click();
                $("#doccumentid").blur();
            }
        });
        $("#equimentid").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#searchButton").click();
                $("#equimentid").blur();
            }
        });
        $("#equimentname").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#searchButton").click();
                $("#equimentname").blur();
            }
        });
    </script>
}

