@model IEnumerable<QUANGHANH2.Models.Documentary>

@{
    ViewData["Title"] = "cap-nhat-thiet-bi";
    if (Session["departName"].ToString().Contains("Phân xưởng"))
    {
        Layout = "~/Views/Shared/_Layout_PhanXuong.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    }
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12">

                <div class="advanded-search">
                    <div class="row">
                        <h3 class="center"><b>DANH SÁCH THIẾT BỊ CHỜ NGHIỆM THU</b></h3>
                        <hr>
                        <div class="row center">
                            <div class="col l1 m12 s12 input-field">

                            </div>
                            <div class="col l1 m12 s12 input-field">

                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã quyết định" id="doccumentid" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo mã tài sản cố định" id="equimentid" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <input type="text" placeholder="Tìm kiếm theo tên thiết bị" id="equimentname" class='form-control' />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col s12 table_container">
                    <table id="docTable" class="striped table-bordered centered table-responsive mytable">
                        <thead>
                            <tr>
                                <th rowspan="2">Quyết định số</th>
                                <th rowspan="2">Loại quyết định</th>
                                <th colspan="2">Thông tin thiết bị</th>
                                <th rowspan="2"></th>
                                <th rowspan="2"></th>
                                <th rowspan="2"></th>
                            </tr>
                            <tr>
                                <th>Mã thiết bị</th>
                                <th>Tên thiết bị</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="thongtin">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thông tin quyết định</h3>
        </div>
        <div class="modal-body table_container">
            <div class="row">
                <table>
                    <tr>
                        <td>Nơi xử lý:</td>
                        <td id="department_name"></td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td id="date_created"></td>
                    </tr>
                    <tr>
                        <td>Người tạo:</td>
                        <td id="person_created"></td>
                    </tr>
                    <tr>
                        <td>Nội dung:</td>
                        <td id="reason"></td>
                    </tr>
                    <tr>
                        <td>Nguồn thu/vốn:</td>
                        <td id="out_in_come"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

@*Modal chỉnh sửa số lượng vật tư của quyết định sửa chữa, bảo dưỡng, trung đại tu*@
<div class="modal" id="vattu">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Danh sách vật tư dùng để sửa chữa <span></span></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Tên vật tư</th>
                                <th>Số lượng xin cấp</th>
                                <th>Số lượng đã nhận</th>
                                <th>Số lượng sử dụng</th>
                                <th>Số lượng thu hồi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="submit" class="waves-effect waves-light btn blue darken-2 modal-trigger modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

@*Modal chỉnh sửa số lượng thiết bị con của quyết định sửa chữa, bảo dưỡng, trung đại tu*@
<div class="modal" id="thietbi">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Danh sách thiết bị đi kèm cần thay thế <span></span></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã thiết bị con</th>
                                <th>Tên thiết bị con</th>
                                <th>Số lượng xin cấp</th>
                                <th>Số lượng đã nhận</th>
                                <th>Số lượng sử dụng</th>
                                <th>Số lượng thu hồi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="submit" class="waves-effect waves-light btn blue darken-2 modal-trigger modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

@*Modal chỉnh sửa số lượng của quyết định thu hồi, thanh lý*@
<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body table_container">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive centered table-bordered mytable">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="overwrite-detail" class="btn blue">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

@*Modal chỉnh sửa số lượng vật tư sctx của quyết định điều động*@
<div class="modal" id="sctx">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Tên vật tư</th>
                                <th>Số lượng trong quyết định</th>
                                <th>Số lượng đã nhận</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id='submitvattu' class='waves-effect waves-light btn blue darken-2 modal-trigger'>Lưu</a>
            <button id="exit-button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

@*Modal chỉnh sửa số lượng thiết bị con của quyết định điều động*@
<div class="modal" id="thietbicon">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">Mã thiết bị con</th>
                                <th rowspan="2">Tên thiết bị con</th>
                                <th colspan="2">Số lượng đi kèm</th>
                                <th colspan="2">Số lượng dự phòng</th>
                            </tr>
                            <tr>
                                <th>Trong quyết định</th>
                                <th>Đã nhận</th>
                                <th>Trong quyết định</th>
                                <th>Đã nhận</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id='submitvattu' class='waves-effect waves-light btn blue darken-2 modal-trigger'>Lưu</a>
            <button id="exit-button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

@*Modal chỉnh sửa số lượng vật tư đi kèm của quyết định điều chỉnh*@
<div class="modal" id="dieu-chinh2">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th>Mã vật tư con</th>
                                <th>Tên vật tư con</th>
                                <th>Số lượng ban đầu</th>
                                <th>Số lượng điều chỉnh</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class='waves-effect waves-light btn blue darken-2 submit-dieu-chinh'>Lưu</a>
            <button id="exit-button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

@*Modal chỉnh sửa số lượng thiết bị đi kèm của quyết định điều chỉnh*@
<div class="modal" id="dieu-chinh1">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th>Mã thiết bị con</th>
                                <th>Tên thiết bị con</th>
                                <th>Số lượng ban đầu</th>
                                <th>Số lượng điều chỉnh</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class='waves-effect waves-light btn blue darken-2 submit-dieu-chinh'>Lưu</a>
            <button class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#pre-load').show();
        var dataTable, equipmentId, documentary_id, isSupply, attach_to, documentary_type;

        function ajaxEdit(selector) {
            let url;
            switch (documentary_type) {
                case 1:
                    url = "/phong-cdvt/quyet-dinh/sua-chua/xu-ly/edit";
                    break;
                case 2:
                    url = "/phong-cdvt/quyet-dinh/bao-duong/xu-ly/edit";
                    break;
                case 6:
                    url = "/phong-cdvt/quyet-dinh/trung-dai-tu/xu-ly/edit";
                    break;
                default:
                    return false;
            }

            $('#pre-load').show();
            let input = {};
            for (var i = 0; i < $(selector).length; i++) {
                let $tr = $(selector).eq(i);
                let a = {};
                a.quantity_in = $tr.find(".quantity_in").val();
                a.quantity_used = $tr.find(".quantity_used").val();
                a.quantity_out = $tr.find(".quantity_out").val();
                input[$tr.data("id")] = a;
            }

            $.ajax({
                url: url,
                method: "post",
                dataType: "json",
                cache: false,
                data: {
                    data: JSON.stringify(input)
                },
                success: function (response) {
                    if (response.success)
                        successAlert("Cập nhật thành công");
                    else
                        errorAlert(response.message);
                    $('#pre-load').hide();
                },
                error: function () {
                    errorAlert("Có lỗi xảy ra");
                    $('#pre-load').hide();
                }
            });
        }

        $(document).ready(function () {
            dataTable = $('#docTable').DataTable({
                "ajax": {
                    "url": "/phong-cdvt/nghiem-thu/search",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "document_code": function () { return $('#doccumentid').val() },
                        "equiment_id": function () { return $('#equimentid').val() },
                        "equiment_name": function () { return $('#equimentname').val() }
                        //"dateStart": $('#date-start-search').val(),
                        //"dateEnd": $('#date-end-search').val()
                    },
                },
                "drawCallback": function (settings) {
                    $("#pre-load").hide("slow", function () { });
                },
                "columns": [
                    {
                        "data": {}, "name": "documentary_id", "render": function (data) {
                            return "<a class='modal-trigger thongtin' href='#thongtin' data-id='" + data.documentary_id + "'> " + data.documentary_code + "</a>";

                        },
                    },
                    { "data": "documentary_name", "name": "documentary_name" },
                    { "data": "equipmentId", "name": "equipmentId" },
                    { "data": "equipment_name", "name": "equipment_name" },
                    {
                        "data": {}, "render": function (data) {
                            if (data.documentary_type == '1' || data.documentary_type == '2' || data.documentary_type == '6')
                                return "<a class=\"vattu btn blue darken-2 modal-trigger\" data-id=" + data.documentary_id + " data-type=" + data.documentary_type + " data-equipment=\"" + data.equipmentId + "\" data-attach=\"" + data.attach_to + "\" href=\"#vattu\">Vật tư cần</a>";
                            else if (data.documentary_type == '3')
                                return "<a data-id=\"" + data.documentary_id + "\" data-equipmentId=\"" + data.equipmentId + "\" class=\"waves-effect waves-light btn-small blue modal-trigger dikem-duphong\" href=\"#thietbicon\">Chi tiết TB con</a>";
                            else if (data.documentary_type == '7')
                                return "<a data-isSupply=false data-documentary_id=\"" + data.documentary_id + "\" data-equipmentId=\"" + data.equipmentId + "\" class=\"waves-effect waves-light btn-small blue modal-trigger dieu-chinh\" href=\"#dieu-chinh1\">TB đi kèm</a>";
                            else if (data.di_kem || data.can)
                                return "<td><a class='btn blue modal-trigger open-DuPhong' data-equip='" + data.equipmentId + "' data-code='" + data.documentary_id + "' href='#mylist'>Chi tiết VT</a></td>";
                            else
                                return "";
                        },
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "data": {}, "render": function (data) {
                            if ((data.documentary_type == '1' || data.documentary_type == '2' || data.documentary_type == '6') && data.attach_to == null)
                                return "<a class=\"thietbi btn blue darken-2 modal-trigger\" data-id=" + data.documentary_id + " data-type=" + data.documentary_type + " data-equipment=\"" + data.equipmentId + "\" data-attach=\"" + data.attach_to + "\" href=\"#thietbi\">Thiết&nbsp;bị&nbsp;con&nbsp;cần</a>";
                            else if ((data.documentary_type == '1' || data.documentary_type == '2' || data.documentary_type == '6') && data.attach_to != null)
                                return "";
                            else if (data.documentary_type == "3")
                                return "<a data-id=\"" + data.documentary_id + "\" data-equipmentId=\"" + data.equipmentId + "\" class=\"waves-effect waves-light btn-small blue modal-trigger sctx\" href=\"#sctx\">VT SCTX</a>";
                            else if (data.documentary_type == "7")
                                return "<a data-isSupply=true data-documentary_id=\"" + data.documentary_id + "\" data-equipmentId=\"" + data.equipmentId + "\" class=\"waves-effect waves-light btn-small blue modal-trigger dieu-chinh\" href=\"#dieu-chinh2\">VT đi kèm</a>";
                            else if (data.du_phong)
                                return "<td><a class='btn blue modal-trigger open-DuPhong' data-equip='" + data.equipmentId + "' data-code='" + data.documentary_id + "' href='#mylist'>VT SCTX</a></td>";
                            else
                                return "";
                        },
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "data": {}, "render": function (data) {
                            return "<td><a class='btn blue darken-2 modal-trigger open-UpdateModal' data-id=" + data.acceptance_id + " >Nghiệm&nbsp;thu</a></td>";
                        },
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "searching": false,
                "bLengthChange": false,
                "serverSide": "true",
                "language": {
                    emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|",

                    },
                    info: "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                },
                "order": [0, "asc"],
                "initComplete": function (settings, json) {
                    $("#pre-load").hide("slow", function () { });
                }
            });
        });

        $(document).on('click', '.thongtin', function () {
            $('#pre-load').show();
            $('#thongtin h3').text("Thông tin quyết định" + $(this).text())
            $.ajax({
                url: "/phong-cdvt/nghiem-thu/detail",
                type: "post",
                dataType: "json",
                cache: false,
                data: {
                    documentary_id: $(this).data("id")
                },
                success: function (data) {
                    $('#department_name').text(data.department_name);
                    let dateString = data.date_created.substr(6);
                    let currentTime = new Date(parseInt(dateString));
                    let month = currentTime.getMonth() + 1;
                    let day = currentTime.getDate();
                    let year = currentTime.getFullYear();
                    let date = day + "/" + month + "/" + year;
                    $('#date_created').text(date);
                    $('#person_created').text(data.person_created);
                    $('#reason').text(data.reason);
                    $('#out_in_come').text(data.out_in_come);
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                    $('#pre-load').show();
                },
            })
        })

        $(document).on('click', '.vattu', function () {
            $('#vattu tbody').empty();
            $('#pre-load').show();
            equipmentId = $(this).data("equipment");
            documentary_type = $(this).data("type");
            attach_to = $(this).data("attach");
            documentary_id = $(this).data("id");
            $.ajax({
                url: "/phong-cdvt/quyet-dinh/sua-chua/nghiem-thu/GetData",
                method: "post",
                dataType: "json",
                cache: false,
                data: {
                    equipmentId: equipmentId,
                    documentary_type: documentary_type,
                    attach_to: attach_to,
                    isSupply: true,
                    documentary_id: documentary_id
                },
                success: function (response) {
                    if (response.success) {
                        for (let i = 0; i < response.data.length; i++) {
                            let $tr = $('<tr>').append(
                                $('<td>').text(response.data[i].supply_id),
                                $('<td>').text(response.data[i].supply_name),
                                $('<td>').html(response.data[i].quantity_plan),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_in + " max=" + response.data[i].quantity_plan + " class='form-control quantity_in' />"),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_used + " max=" + response.data[i].quantity_plan + " class='form-control quantity_used' />"),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_out + " max=" + response.data[i].quantity_plan + " class='form-control quantity_out' />"),
                            ).data("id", response.data[i].supplyDocumentaryEquipmentId);
                            $tr.appendTo('#vattu tbody');
                        }
                    }
                    $('#pre-load').hide();
                },
                error: function () {
                    $('#pre-load').hide();
                }
            })
        })

        $(document).on('click', '.thietbi', function () {
            $('#thietbi tbody').empty();
            $('#pre-load').show();
            equipmentId = $(this).data("equipment");
            documentary_type = $(this).data("type");
            attach_to = $(this).data("attach");
            documentary_id = $(this).data("id");
            $.ajax({
                url: "/phong-cdvt/quyet-dinh/sua-chua/nghiem-thu/GetData",
                method: "post",
                dataType: "json",
                cache: false,
                data: {
                    equipmentId: equipmentId,
                    documentary_type: documentary_type,
                    attach_to: attach_to,
                    isSupply: false,
                    documentary_id: documentary_id
                },
                success: function (response) {
                    if (response.success) {
                        for (let i = 0; i < response.data.length; i++) {
                            let $tr = $('<tr>').append(
                                $('<td>').text(response.data[i].equipmentId),
                                $('<td>').text(response.data[i].equipment_name),
                                $('<td>').html(response.data[i].quantity_plan),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_in + " max=" + response.data[i].quantity_plan + " class='form-control quantity_in' />"),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_used + " max=" + response.data[i].quantity_plan + " class='form-control quantity_used' />"),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_out + " max=" + response.data[i].quantity_plan + " class='form-control quantity_out' />"),
                            ).data("id", response.data[i].supplyDocumentaryEquipmentId);
                            $tr.appendTo('#thietbi tbody');
                        }
                    }
                    $('#pre-load').hide();
                },
                error: function () {
                    $('#pre-load').hide();
                }
            })
        })

        $('#vattu #submit').click(function () {
            ajaxEdit("#vattu tbody tr");
        })

        $('#thietbi #submit').click(function () {
            ajaxEdit("#thietbi tbody tr");
        })

        $(document).on("click", ".open-DiKem", function () {
            $('#pre-load').show();
            $("#test").find("tr").remove();
            var documentary_id = $(this).data("code");
            equipmentId = $(this).data("equip");
            isSupply = false;
            $('#mylist h3').text("Thiết bị " + equipmentId)
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/GetEquipAttached",
                dataType: "json",
                success: function (data) {
                    $(function () {
                        var header = $('<tr>').html('<th>Mã vật tư</th><th>Tên vật tư</th><th>Số lượng đi kèm</th><th>Số lượng đã nhận</th><th>Ghi chú</th>');
                        header.appendTo('#test thead');
                        $.each(data, function (i, item) {
                            var temp = item.supplyStatus == null ? "" : item.supplyStatus;
                            var $tr = $('<tr>').append(
                                $('<td>').html('<input class="form-control equipmentId_dikem" type="text" value="' + item.equipmentId_dikem + '" readonly />'),
                                $('<td>').html('<input class="form-control" type="text" value="' + item.equipment_name + '" readonly />'),
                                $('<td>').html('<input class="form-control quantity_plan" type="number" value="' + item.quantity_plan + '" />'),
                                $('<td>').html("<input class='form-control quantity_in' type='number' value='" + item.quantity_in + "' />"),
                                $('<td>').html("<input class='form-control note' type='number' value='" + temp + "' />")
                            );
                            $tr.appendTo('#test tbody');
                        });
                    });
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                },
                data: {
                    documentary_id: documentary_id,
                    equipmentId: equipmentId
                },
                cache: false
            })
        })

        $(document).on("click", ".open-DuPhong", function () {
            $('#pre-load').show();
            $("#test").find("tr").remove();
            documentary_id = $(this).data("code");
            equipmentId = $(this).data("equip");
            isSupply = true;
            $('#mylist h3').text("Thiết bị " + equipmentId)
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/GetSupplyDuPhong",
                dataType: "json",
                success: function (data) {
                    $(function () {
                        var header = $('<tr>').html('<th>Mã vật tư</th><th>Số lượng xin cấp</th><th>Số lượng đã nhận</th><th>Số lượng sử dụng</th><th>Số lượng lấy ra</th>');
                        header.appendTo('#test thead');
                        $.each(data, function (i, item) {
                            var $tr = $('<tr>').append(
                                $('<td>').html('<input class="form-control supply_id" type="text" readonly value="' + item.supply_id + '" />'),
                                $('<td>').html('<input class="form-control quantity_plan" type="number" value="' + item.quantity_plan + '" />'),
                                $('<td>').html("<input class='form-control quantity_in' type='number' value='" + item.quantity_in + "' />"),
                                $('<td>').html("<input class='form-control quantity_used' type='number' value='" + item.quantity_used + "' />"),
                                $('<td>').html("<input class='form-control quantity_out' type='number' value='" + item.quantity_out + "' />")
                            );
                            $tr.appendTo('#test tbody');
                        });
                    });
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                },
                data: {
                    documentary_id: documentary_id,
                    equipmentId: equipmentId
                },
                cache: false
            })
        })

        //Lấy dữ liệu của quyết định điều chỉnh
        $(document).on("click", ".dieu-chinh", function () {
            $("#pre-load").show();
            isSupply = $(this).data("issupply");
            equipmentId = $(this).data('equipmentid');
            documentary_id = $(this).data('documentary_id');
            documentary_type = 7;
            let base_query = isSupply == true ? "#dieu-chinh2" : "#dieu-chinh1";
            $(base_query + " tbody").empty();
            $(base_query + " h3").text("Danh sách vật tư đi kèm của thiết bị " + equipmentId)
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/quyet-dinh/sua-chua/nghiem-thu/GetData",
                dataType: "json",
                success: function (response) {
                    $.each(response.data, function (i, item) {
                        let $tr = $('<tr>').append(
                            $('<td>').html(item.id),
                            $('<td>').text(item.name),
                            $('<td>').text(item.quantity_before),
                            $('<td>').html("<input class='form-control quantity_after' type='number' min=0 value='" + item.quantity_after + "' />"),
                        ).prop("id", item.supplyDocumentaryEquipmentId);
                        $(base_query + " tbody").append($tr);
                    });
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                },
                data: {
                    documentary_id: documentary_id,
                    equipmentId: equipmentId,
                    isSupply: isSupply,
                    documentary_type: documentary_type
                },
                cache: false
            })
        });

        $(document).on("click", ".submit-dieu-chinh", function () {
            let base_query = isSupply == true ? "#dieu-chinh2" : "#dieu-chinh1";
            let input = [];
            if ($(base_query + " tbody tr").length == 0)
                return;
            $("#pre-load").show();
            for (var i = 0; i < $(base_query + " tbody tr").length; i++) {
                input.push({
                    id: $(base_query + " tbody tr:eq(" + i + ")").prop("id"),
                    quantity_after: $(base_query + " tbody tr:eq(" + i + ") .quantity_after").val()
                });
            }
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/nghiem-thu/dieu-chinh/cap-nhat",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        $(base_query + ' .modal-close').click();
                        successAlert(data.message);
                    }
                    else {
                        errorAlert(data.message);
                    }
                    $('#pre-load').hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    errorAlert('Lỗi');
                },
                data: {
                    list: JSON.stringify(input)
                },
                cache: false
            })
        })

        $('#overwrite-detail').click(function () {
            $('#pre-load').show();
            let list = []
            if (isSupply) {
                for (var i = 0; i < $('#test tbody tr').length; i++) {
                    let a = {};
                    a.supply_id = $('#test tbody tr:nth-child(' + (i + 1) + ') .supply_id').val();
                    a.quantity_plan = $('#test tbody tr:nth-child(' + (i + 1) + ') .quantity_plan').val();
                    a.quantity_in = $('#test tbody tr:nth-child(' + (i + 1) + ') .quantity_in').val();
                    a.quantity_used = $('#test tbody tr:nth-child(' + (i + 1) + ') .quantity_used').val();
                    a.quantity_out = $('#test tbody tr:nth-child(' + (i + 1) + ') .quantity_out').val();
                    list.push(a);
                }
            }
            else {
                for (var i = 0; i < $('#test tbody tr').length; i++) {
                    let a = {};
                    a.equipmentId_dikem = $('#test tbody tr:nth-child(' + (i + 1) + ') .equipmentId_dikem').val();
                    a.quantity_plan = $('#test tbody tr:nth-child(' + (i + 1) + ') .quantity_plan').val();
                    a.quantity_in = $('#test tbody tr:nth-child(' + (i + 1) + ') .quantity_in').val();
                    list.push(a);
                }
            }
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/nghiem-thu/cap-nhat-so-luong",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        $('#exit-button').click()
                        successAlert(data.message)
                    }
                    else
                        errorAlert(data.message)
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                },
                data: {
                    documentary_id: documentary_id,
                    equipmentId: equipmentId,
                    isSupply: isSupply,
                    list: JSON.stringify(list)
                },
                cache: false
            })
        })

        $(document).on("click", ".open-UpdateModal", function () {
            let acceptance_id = $(this).data("id");
            confirmAlert(
                'Bạn có chắc chắn muốn nghiệm thu không?',
                '',
                function nghiemthu() {
                    $.ajax({
                        type: "POST",
                        url: "/phong-cdvt/nghiem-thu/Edit",
                        dataType: "json",
                        success: function (data) {
                            if (data.success == true)
                                successAlert('Thành công', data.message);
                            else
                                errorAlert('Lỗi', data.message);
                            dataTable.ajax.reload()
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            errorAlert('Lỗi', 'Có lỗi xảy ra');
                        },
                        data: {
                            acceptance_id: acceptance_id,
                        },
                        cache: false
                    })
                });
        });

        $("#searchButton").click(function () {
            $("#pre-load").show();
            dataTable.ajax.reload();
        });

        $(document).on("click", ".dikem-duphong", function () {
            $('#pre-load').show();
            $('#thietbicon tbody').empty();
            equipmentId = $(this).data("equipmentid");
            documentary_id = $(this).data("id");
            $('#thietbicon h3').text("Chi tiết thiết bị con của thiết bị " + equipmentId);
            $.ajax({
                type: "GET",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/dieu-dong/so-luong",
                dataType: "json",
                success: function (data) {
                    let $tr;
                    let last_record = "";

                    // Record đi kèm luôn tồn tại và được add trước vào db, dự phòng được add sau
                    $.each(data, function (index, value) {
                        if (value.equipmentId == equipmentId && value.equipmentId_dikem != null) {
                            if (value["supplyStatus"] == "dikem") {
                                if (last_record == "dikem") {
                                    $('#thietbicon tbody').append($tr + "<td>0</td><td>0</td></tr>");
                                    $tr = "";
                                }
                                $tr = '<tr><td>' + value.equipmentId_dikem + '</td><td>' + value.equipment_name + '</td><td>' + value.quantity_plan + '</td>';
                                $tr += "<td><input class='form-control' type='number' min='" + value.quantity_in + "' max='" + value.quantity_plan + "' value='" + value.quantity_in + "' /></td>";
                                last_record = "dikem";
                            }
                            else {
                                last_record = "duphong"
                                $tr += "<td>" + value["quantity_plan"] + "</td>";
                                $tr += "<td><input class='form-control' type='number' min='" + value.quantity_in + "' max='" + value.quantity_plan + "' value='" + value.quantity_in + "' /></td></tr>";
                                $('#thietbicon tbody').append($tr);
                                $tr = "";
                            }
                        }
                    });
                    if (last_record == "dikem")
                        $('#thietbicon tbody').append($tr + "<td>0</td><td>0</td></tr>");
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                },
                data: {
                    documentary_id: documentary_id,
                    equipmentId: equipmentId
                },
                cache: false
            })
        })

        $(document).on("click", ".sctx", function () {
            $('#pre-load').show();
            $('#sctx tbody').empty();
            equipmentId = $(this).data("equipmentid");
            documentary_id = $(this).data("id");
            $('#sctx h3').text("Chi tiết vật tư SCTX của thiết bị " + equipmentId);
            $.ajax({
                type: "GET",
                url: "/phong-cdvt/cap-nhat/quyet-dinh/dieu-dong/so-luong",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (index, value) {
                        if (value.equipmentId == equipmentId && value.supply_id != null) {
                            let $tr = '<tr><td>' + value.supply_id + '</td><td>' + value.supply_name + '</td><td>' + value.quantity_plan + '</td>';
                            $tr += "<td><input class='form-control' type='number' min='" + value.quantity_in + "' max='" + value.quantity_plan + "' value='" + value.quantity_in + "' /></td></tr>";
                            $('#sctx tbody').append($tr);
                        }
                    });
                    $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi');
                },
                data: {
                    documentary_id: documentary_id,
                    equipmentId: equipmentId
                },
                cache: false
            })
        })

        $(document).on("click", "#sctx #submitvattu", function (e) {
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/nghiem-thu/cap-nhat-so-luong-dieu-dong",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        $('#sctx #exit-button').click();
                        successAlert(data.message);
                    }
                    else {
                        errorAlert(data.message);
                    }
                    $('#pre-load').hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    errorAlert('Lỗi');
                },
                data: {
                    list: function () { return getSupplyJsonArray(); },
                    documentary_id: documentary_id,
                    equipmentId: equipmentId,
                    type: true
                },
                cache: false
            })
        });

        $(document).on("click", "#thietbicon #submitvattu", function (e) {
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/nghiem-thu/cap-nhat-so-luong-dieu-dong",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        $('#thietbicon #exit-button').click();
                        successAlert(data.message);
                    }
                    else {
                        errorAlert(data.message);
                    }
                    $('#pre-load').hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    errorAlert('Lỗi');
                },
                data: {
                    list: function () { return getEquipJsonArray(); },
                    documentary_id: documentary_id,
                    equipmentId: equipmentId,
                    type: false
                },
                cache: false
            })
        });

        function getSupplyJsonArray() {
            let output = {};
            let arr = [];
            for (var i = 1; i <= $("#sctx tbody tr").length; i++) {
                var temp = {};
                if ($("#sctx tbody tr:nth-child(" + i + ") td:nth-child(" + 4 + ") input").val() == 0) continue;
                temp.supply_id = $("#sctx tbody tr:nth-child(" + i + ") td:nth-child(" + 1 + ")").text();
                temp.quantity_in = $("#sctx tbody tr:nth-child(" + i + ") td:nth-child(" + 4 + ") input").val();
                arr.push(temp);
            }
            output.list = arr
            return JSON.stringify(output);
        }

        function getEquipJsonArray() {
            let output = {};
            let arr = [];
            for (var i = 1; i <= $("#thietbicon tbody tr").length; i++) {
                var temp = {};
                if ($("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 4 + ") input").val() == 0) continue;
                temp.equipmentId_dikem = $("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 1 + ")").text();
                temp.quantity_dikem = $("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 4 + ") input").val();
                temp.quantity_duphong = $("#thietbicon tbody tr:nth-child(" + i + ") td:nth-child(" + 6 + ") input").val();
                arr.push(temp);
            }
            output.list = arr
            return JSON.stringify(output);
        }
    </script>
}

