
@{
    ViewData["Title"] = "danhsachquyetdinhdieudong";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
@{
    List<string> right = (List<string>)Session["RightIDs"];
}

<div class="card">
    <div class="card-content">
        <div class="row center">
            <div class="col m12">
                <h3><b>DANH SÁCH QUYẾT ĐỊNH ĐIỀU ĐỘNG</b></h3>
                <div class="col l4 m4 s12">
                    <div class="col l8 m8 s12 offset-l1 offset-m1 input-field">
                        <input type="text" placeholder="Tên người lập quyết định" class='form-control' id="person_created-search"
                               multiple />
                    </div>
                </div>
                <div class="col l4 m4 s12">
                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type='text' class='datepicker-here center maxDate' id="date-start-search" data-language='vi' placeholder="Nhập ngày bắt đầu (từ)" style="height: 24px" />
                    </div>
                </div>
                <div class="col l4 m4 s12">
                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type='text' class='datepicker-here center minDate' id="date-end-search" data-language='vi' placeholder="Nhập ngày kết thúc (đến)" style="height: 24px" />
                    </div>
                </div>
                <div class="col s12">
                    <button class="btn blue darken-2 btn-small" id="searchButton1">Tìm kiếm</button>
                </div>
                <div class="col left">
                    @{
                        foreach (var item in right)
                        {
                            if (item.Equals("83"))
                            {
                                <a href="/phong-cdvt/dieu-dong" class="waves-effect waves-light btn blue darken-1 blue">Thêm</a>

                            }
                        }
                    }
                    <a href="javascript:void(0);" id="ExportExcel" class="waves-effect waves-light btn blue darken-1 blue">Xuất Excel</a>
                </div>
                <div class="col s12">
                    <table class="striped centered responsive-table mytable table-bordered" id="DocumnetaryTable">
                        <thead>
                            <tr>
                                <th class="center">Ngày</th>
                                <th class="center">Số quyết định</th>
                                <th class="center">Người lập quyết định</th>
                                <th class="center">Số lượng thiết bị</th>
                                <th class="center">Lý do quyết định</th>
                                @*<th class="center">Nguồn vốn</th>*@
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@{
    foreach (var item in right)
    {
        if (item.Equals("84"))
        {

            <form action="" method="POST" id="myupdateform" role="form">
                <div id="myupdate" class="modal">
                    <div class="modal-header center-align">
                        <h3>Cập nhật mã quyết định</h3>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="row">
                                <div class="form-group" hidden>
                                    <input type="text" class="form-control" value="" id="documentary_id_update" />
                                </div>
                                <div class="col s12 m6">
                                    <div class="form-group">
                                        <label for="date">Ngày : </label>
                                        <input type="text" class="form-control datepicker-here" style="width: 100% !important;" id="date_created_edit" />
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="date">Mã quyết định: </label>
                                        <input type="text" class="form-control" disabled="disabled" value="" id="documentary_id_edit" />
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Mã quyết định: </label>
                                        <input type="text" class="form-control" value="" id="documentary_code_edit" />
                                    </div>

                                </div>
                                <div class="col s12 m6">
                                    <div class="form-group">
                                        <label for="id">Lý do quyết định : </label>
                                        <input type="text" class="form-control" value="" id="reason_edit" />
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Người lập quyết định : </label>
                                        <input type="text" class="form-control" value="" id="person_created_edit" />
                                    </div>
                                    @*<div class="form-group">
                                        <label for="date">Nguồn vốn : </label>
                                        <input type="text" class="form-control" value="" id="out_in_come_edit" />
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnSave" class="btn blue darken-2 modal-close save-category">Lưu</button>
                        <button type="button" id="exit-update-button" class="btn light-blue lighten-1 modal-close">Thoát</button>
                        <a href="#myaleart" class="waves-effect waves-light btn red modal-trigger">Xoá bản nháp này</a>
                    </div>
                </div>
            </form>

            <div id="myaleart" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Xác nhận xóa mục này</h3>
                    </div>
                    <div class="modal-body">
                        <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="Delete" class="btn blue darken-2 modal-close" value="Xóa">
                        <button type="button" class="btn red modal-close">Hủy</button>
                    </div>
                </div>
            </div>
        }
    }
}
<script>
    $(window).resize(function () {
        if ($(window).width() <= 600) {
            $("#searchButton1").hide();
            $("#searchButton2").show();
        } else {
            $("#searchButton1").show();
            $("#searchButton2").hide();
        }
    });
    $("#documentary_code-search").keyup(function (e) {
        if (e.which == 13) {
            $("#searchButton1").click();
            $("#documentary_code-search").blur();
        }
    });

    $("#person_created-search").keyup(function (e) {
        if (e.which == 13) {
            $("#searchButton1").click();
            $("#person_created-search").blur();
        }
    });
    $("#date-start-search").keyup(function (e) {
        if (e.which == 13) {
            $("#searchButton1").click();
            $("#date-start-search").blur()
        }
    });
    $("#date-end-search").keyup(function (e) {
        if (e.which == 13) {
            $("#searchButton1").click();
            $("#date-end-search").blur();
        }
    });
</script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    @*<script>

            $(".datepicker-here").keydown(function (e) {
                e.preventDefault();
            });
        </script>*@
    <script>
     	$("#pre-load").show();
        $("#pre-load").css("z-index", "9999");
            var Popup, dataTable;

 //--------------Get Data--------------------

            $(document).ready(function () {
            dataTable = $('#DocumnetaryTable').on('preXhr.dt', function (e, settings, data) {

                    $("#pre-load").show();
                    $("#pre-load").css("z-index", "9999");
                })
                .DataTable({
                    "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                "paginate": {
                    "first": "Trang đầu",
                    "last": "Trang cuối",
                    "next": "Trang sau",
                    "previous": "Trang trước"
                }
            },
                "ajax": {
                    "url": "/phong-cdvt/quyet-dinh/dieu-dong/search",
                    "type": "POST",
                    "datatype": "json",
                        "error": function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#pre-load").hide();
                        $.notify(XMLHttpRequest.responseText, {
                        globalPosition: "top center",
                        className: "error"
                    });
                     },
                     "data": {
                         "documentary_code": function() { return $('#documentary_code-search').val() },
                         "person_created": function() { return $('#person_created-search').val() },
                         "dateStart": function() { return $('#date-start-search').val() },
                         "dateEnd": function() { return $('#date-end-search').val() }
                        }
                    },
                    "drawCallback": function () {
                        $("#pre-load").hide();
                    },
                "columns": [

                    {
                        "data": "date_created", "name": "date_created", "render": function (data) {
                            return dateFormat2(data);
                        },
                    },
                    {
                        "data": "tempId", "name": "tempId", "render": function (data) {
                            if (data.split("^")[1] == "true") {
                                return "<a  onclick=GetData('@Url.Action("LoadPage","ChiTietQuyetDInh")?id=" + data + "')> " + data.split("^")[2] + "</a>";
                            }
                            else {
                                return "<a></a>";
                            }
                        }
                    },
                    { "data": "person_created", "name": "person_created" },
                    { "data": "count", "name": "count" },
                    { "data": "reason" , "name" : "reason"},
                    //{ "data": "out_in_come", "name": "out_in_come" },
                    {
                        "data": "tempId", "render": function (data) {
                            return "<a href=\"#myupdate\" data-toggle=\"modal\" class=\"open-UpdateModal waves-effect waves-light btn blue darken-1 modal-trigger\" data-incident-id=\"" + data.split("^")[0] + "\">Cập&nbsp;nhật</a>";
                                    },
                        "orderable": false,
                        "searchable":false,

                    },
                    {
                        "data": "tempId", "render": function (data) {
                            return " <a class=\"waves-effect waves-light btn blue darken-1 modal-trigger\" onclick=GetData('@Url.Action("LoadPage","ChiTietQuyetDInh")?id=" + data.split("^")[0] + "')>Chi&nbsp;tiết</a>";
                     },
                        "orderable": false,
                        "searchable":false,

                    }
                ],
                "serverSide": "true",
                "order": [1, "desc"],
                "lengthChange": false,
                    "searching": false,
                 "initComplete": function () {
                    $("#pre-load").hide();
                }
            });

        });


            function GetData(url) {
            window.location.href = url;
        }
//-------------- format Date ------------------------------
            function dateFormat2(d) {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
            }
   

//---------------Search Data -----------------

    $("#searchButton1").click(function () {

            $("#pre-load").show();
            dataTable.ajax.reload(function () {
               $.notify("Tìm kiếm thành công", {
                      globalPosition: "top center",
                     className: "success"
                    })
            });
            });

 //--------------Get Data--------------------

         $(document).on("click", ".open-UpdateModal", function () {
             var id = $(this).data('incident-id').toString();
             var ListId = [id];
            $.ajax({
                type: "POST",
                url: "/suaChuaQD/GetById",
                contentType: "application/json",
                dataType: "json",
                data: '{docID: ' + JSON.stringify(ListId) + '}',
                success: function (data) {
                    $("#documentary_id_update").val(data.documentary_id);
                    $("#documentary_id_edit").val(data.documentary_id);
                    $("#date_created_edit").val(dateFormat2(data.date_created));
                    $('#documentary_code_edit').val(data.documentary_code);
                    $('#person_created_edit').val(data.person_created);
                    $('#reason_edit').val(data.reason);
                    //$('#out_in_come_edit').val(data.out_in_come);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.notify(XMLHttpRequest.responseText, {
                        globalPosition: "top center",
                        className: "error"
                    });
                },
                cache: false
            })
     });
//------------------------Export Excel------------------------

            $("#ExportExcel").click(function () {
            $("#pre-load").show();
            $("#pre-load").css("z-index", "9999");
            $.ajax({
                url: '@Url.Action("ExportExcel","QuyetDInh")',
                type: 'POST',

            }).done(function () {
                window.location.href = "/excel/CDVT/download/DieuDongThietBi.xlsx";
                 $("#pre-load").hide();
            })
        });



        //------------Update---------------------

       
         $("#myupdateform").submit(function (e) {
           $("#pre-load").show();
                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/quyet-dinh/dieu-dong/update",
                    dataType: "json",
                        success: function (data) {
                        if (data.success == true) {
                            dataTable.ajax.reload();
                            successAlert('Cập nhật quyết định thành công','');
                        }
                        else {
                            errorAlert('Lỗi',data.message);
                        }
                       

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                        $.notify(XMLHttpRequest.responseText, {
                            globalPosition: "top center",
                            className: "error"
                        });
                    },
                    data: {

                        documentary_id: $('#documentary_id_update').val(),
                        documentary_code: $('#documentary_code_edit').val(),
                        date_created: $('#date_created_edit').val().split(/\//).reverse().join('/'),
                        person_created: $('#person_created_edit').val(),
                        reason: $('#reason_edit').val(),
                        //out_in_come: $('#out_in_come_edit').val()
                    },
                    cache: false
                }).done(function () {
                    $('#pre-load').hide();
                    $('#exit-update-button').click();
                })
                return false;
            });

 //--------------Delete--------------------

        $("#Delete").click(function () {
          $("#pre-load").show();
                    $("#pre-load").css("z-index", "9999");
          var docID = $('#documentary_id_update').val();
                $.ajax({
                    type: "POST",
                    url: "/QuyetDInh/DeleteDoc",
                    data: '{docID: ' + docID + '}',
                    contentType: "application/json",
                    dataType: "script",
                     success: function () {
                             dataTable.ajax.reload();
                             successAlert('Xóa quyết định thành công','');
                           
                             $("#pre-load").hide();
                         $('#exit-update-button').click();
                        }
                    });
        });


    </script>
}





