@{
    ViewData["Title"] = "ReportIncident";
    Layout = "~/Views/Shared/_Layout_BGD2.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="center">
                    <h3>
                        <b>BÁO CÁO SỰ CỐ</b>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input class="datepicker-here center"data-language='vi' data-view="months" data-min-view="months" data-date-format="MM yyyy" value="Tháng 8 2019" />
                    </h3>

                </div>

                <div>
                    <div class="col s12 m12 l12">
                        <hr>
                        <ul class="tabs" style="overflow-x:hidden; overflow-y:hidden">
                            <li class="tab col x6 s6 m6 l6"><a class="active" href="#bieudobaocaosuco">BIỂU ĐỒ BÁO CÁO NHANH SỰ CỐ</a></li>
                            <li class="tab col x6 s6 m6 l6"><a href="#chitietbaocaosuco">CHI TIẾT SỰ CỐ</a></li>
                        </ul>
                        <hr>
                    </div>

                    <div id="bieudobaocaosuco">
                        <div class="col s12 m12 l12">
                            <div class="analytics-info">
                                <div id="baocaosuco" style="height:600px;"></div>
                            </div>
                        </div>
                    </div>

                    <div id="chitietbaocaosuco" class="col s12 m12 l12 table_container">
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Đơn vị</th>
                                    <th>Ngày</th>
                                    <th>Thời gian ách tắc</th>
                                    <th>Sự cố</th>
                                    <th>Thời gian xử lý</th>
                                    <th>Tình trạng xử lý</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>I</th>
                                    <th colspan="7">Sự cố thiết bị cơ điện</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>KT1</th>
                                    <th></th>
                                    <th>12h00</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>3/5</td>
                                    <td>06h10</td>
                                    <td>Sự cố hỏng HGT MC 1 LC</td>
                                    <td>Từ 4h50 ngày 2/5-:-11h00 ngày 3/5</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>7/5</td>
                                    <td>02h20</td>
                                    <td>Sự cố cháy tay dao KĐT cấp điện cho BT dốc</td>
                                    <td>Từ 20h40-:-23h00</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>9/5</td>
                                    <td>03h30</td>
                                    <td>Sự cố cháy động cơ BT dốc</td>
                                    <td>Từ 11h30-:-15h00</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>KT2</th>
                                    <th></th>
                                    <th>29h50</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>6/5</td>
                                    <td>02h45</td>
                                    <td>Sự cố dò cáp điện máy khấu</td>
                                    <td>Từ 3h30-:-3h30 và Từ 4h15-:-6h30</td>
                                    <td class="red">Chưa xử lý</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>13/5</td>
                                    <td>01h05</td>
                                    <td>Sự cố đứt xích MC DV</td>
                                    <td>Từ 5h45-:6h50</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>17/5</td>
                                    <td>02h30</td>
                                    <td>Sự cố bục ống thủy lực dưới đáy thùng dầu dẫn đến 2 tang khấu không nâng hạ được</td>
                                    <td>Từ 19h30-:-22h30</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>KT3</th>
                                    <th></th>
                                    <th>05h00</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>25/5</td>
                                    <td>05h00</td>
                                    <td>Sự cố hỏng trạm dịch (cả 2 máy)</td>
                                    <td>Từ 2h00-:-7h00</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>KT4</th>
                                    <th></th>
                                    <th>03h15</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>13/5</td>
                                    <td>03h15</td>
                                    <td>Sự cố cháy KĐT BT1</td>
                                    <td>Từ 10h45-:-14h00</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>KT6</th>
                                    <th></th>
                                    <th>02h00</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>7/5</td>
                                    <td>02h00</td>
                                    <td>Sự cố MC DV-160 (dài 65m) trong ca 3 bị đứt xích 4 lần</td>
                                    <td></td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>KT7</th>
                                    <th></th>
                                    <th>05h00</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>4/5</td>
                                    <td>05h00</td>
                                    <td>Sự cố rò cáp điện lò TVT-103-:-90</td>
                                    <td>Từ đầu ca 2 -:- 2h20</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>KT8</th>
                                    <th></th>
                                    <th>18h30</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>3/5</td>
                                    <td>04h00</td>
                                    <td>Sự cố kẹt rulo MC1 LC</td>
                                    <td>Từ đầu ca 2 -:- 19h30</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>3/5</td>
                                    <td>00h45</td>
                                    <td>Sự cố MC DV-110 bị kẹt xích</td>
                                    <td>Từ 20h30-:-21h25</td>
                                    <td class="yellow">Xử lý chạy tạm</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>4/5</td>
                                    <td>01h30</td>
                                    <td>Sự cố đứt xích gầm MC1 LC</td>
                                    <td>Từ 2h00-:-3h30</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>4/5</td>
                                    <td>01h45</td>
                                    <td>Sự cố đứt xích gầm MC2 LC</td>
                                    <td>Từ 4h40-:-5h45</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td rowspan="3">7/5</td>
                                    <td>00h20</td>
                                    <td>Sự cố hỏng rulo MC1 LC</td>
                                    <td>Từ 14h30-:-14h50</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>02h15</td>
                                    <td>Sự cố cháy máy biến áp trong MC2 LC</td>
                                    <td>Từ 22h45-:-1h00</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>02h30</td>
                                    <td>Sự cố MC2 bị dò điện</td>
                                    <td>Từ 3h00-:-5h30</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>8/5</td>
                                    <td>01h00</td>
                                    <td>Sự cố rulo MC1 LC bị vỡ</td>
                                    <td>Từ 18h00-:-19h00</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>9/5</td>
                                    <td>02h30</td>
                                    <td>Sự cố cháy động cơ MC1 LC</td>
                                    <td>Từ 4h30-:-6h00</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td rowspan="2">29/5</td>
                                    <td>00h55</td>
                                    <td>Sự cố đứt xích MC1 LC</td>
                                    <td>Từ 4h40-:-5h35</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>01h00</td>
                                    <td>Sự cố tuột cá buli nối với động cơ MC DV</td>
                                    <td>Từ 6h00-:-7h00</td>
                                    <td class="red">Chưa xử lý</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>KT11</th>
                                    <th></th>
                                    <th>01h30</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>4/5</td>
                                    <td>00h20</td>
                                    <td>Sự cố kẹt rulo đuôi BT DV-120</td>
                                    <td>Từ 18h10-:-18h30</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>16/5</td>
                                    <td>01h10</td>
                                    <td>Sự cố rò điện thiết bị LC</td>
                                    <td>Từ 00h10-:-1h20</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>CĐM</th>
                                    <th></th>
                                    <th>02h00</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>16/5</td>
                                    <td>02h00</td>
                                    <td>Sự cố cháy cuộn thúc rơ le rò tại trạm điện 42 (cấp điện các px ĐL7, KT8, KT10)</td>
                                    <td>Từ 23h45 (ngày 16/5)-:-01h45 (ngày 17/5)</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>S.Tuyển</th>
                                    <th></th>
                                    <th>06h15</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>13/5</td>
                                    <td>01h55</td>
                                    <td>Sự cố rulo đỡ băng cấp liệu 1 bị vỡ vòng bi</td>
                                    <td>Từ 19h20-:-21h15</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>21/5</td>
                                    <td>04h20</td>
                                    <td>Sự cố vỡ vòng bi sàng Cục 4, Cục 5</td>
                                    <td>Từ 19h55-:-0h15</td>
                                    <td class="green">Xử lý xong</td>
                                    <td>Phải tạm dừng nhận than Dương Huy để xử lý</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>VT1</th>
                                    <th></th>
                                    <th>32h55</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td rowspan="2">18/5</td>
                                    <td>01h10</td>
                                    <td>Sự cố hỏng quạt gió làm mát động cơ BT dốc MB+30</td>
                                    <td>Từ 19h20-:-20h30</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>00h40</td>
                                    <td>Sự cố chập điện của tủ điện điều khiển quang lật-175</td>
                                    <td>Từ 0h50-:-1h30</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>23/5</td>
                                    <td>18h00</td>
                                    <td>Sự cố tuột mối lưu hóa băng tải dốc +30-:--175</td>
                                    <td>Từ 15h00-:-9h00</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>24/5</td>
                                    <td>13h05</td>
                                    <td>Sự cố tuột mối lưu hóa băng tải dốc +30-:--175</td>
                                    <td>Từ 17h40-:-6h45</td>
                                    <td class="green">Xử lý xong</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th colspan="2">TỔNG</th>
                                    <th></th>
                                    <th>121h20</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Stacked Bar Chart JS-->
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="~/js/Custom JS/CustomChart.js"></script>
