@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout_KCS.cshtml";
}
<link href="~/assets/uploader/dropzone.min.css" rel="stylesheet" />
<link href="~/assets/uploader/icons.min.css" rel="stylesheet" />
<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
<style>
    .file-description {
        width: 120px !important;
    }

    .dropzone .dz-preview .dz-progress .dz-upload {
        background: #29bb22 !important;
        background: linear-gradient(to bottom, #7ceb69, #29bb22) !important;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        -webkit-transition: width 300ms ease-in-out;
        -moz-transition: width 300ms ease-in-out;
        -ms-transition: width 300ms ease-in-out;
        -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out;
    }
</style>
<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
            <link rel="stylesheet" href="~/css/tuan_css/css/kcs_css/style.css" />
            <div class="row table_container">
                <div class="row">
                    <h4 class="report_title">
                        <B>BÁO CÁO CHẤT LƯỢNG THAN TỒN KHO - TIÊU THỤ VÀ THAN SẠCH SẢN XUẤT</B>
                        <br />
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type='text' class='datepicker-here center' id="ngay-chon" data-language='vi' />
                        <br /><br />
                    </h4>
                    <hr />
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col s12">
                                <form action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzone">
                                    <div class="fallback">
                                        <input type="file" id="fUpload" name="file" class="form-control" single />
                                    </div>
                                    <div class="dz-message needsclick">
                                        <i class="medium material-icons dp48">cloud_upload</i>
                                        <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                        <span class="text-muted font-13">(File hợp lệ: xls, xlsx)</span>
                                    </div>
                                </form>
                                <br />
                                <div class="clearfix text-right mt-3">
                                    <button type="button"
                                            class="btn-danger blue waves-effect waves-light btn"
                                            id="btnUpload">
                                        <i class="material-icons dp48">send</i>
                                        Tải lên
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="row">
                    <div class="col l4 m4 s12">
                        <div class="input-field col s12">
                            <div class="file-field">
                                <div data-target="modal1" class="modal-trigger btn cyan">
                                    <i class="fas fa-file-excel"></i><span> Nhập từ Excel</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l8 m8 s12">
                        <div class="input-field col s12 ">
                            <div class="file-field right">
                                <div class=" btn cyan">
                                    <i class="fas fa-save"></i> Lưu báo cáo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>

</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="modal_title">Nhập liệu từ Excel</h4>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <div class="file-field">
                                            <div class="btn cyan">
                                                <i class="fas fa-file-excel"></i><span>  Chọn file</span>
                                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                            <i class="fas fa-cloud-upload-alt"></i> Tải lên
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
</div>
<script>
    $(function () {
        $(".select-dropdown").remove();
        $(".caret").remove();
        //////////////////////////////////////
        var date = new Date();
        var selectedDate = "";
        selectedDate="@ViewBag.ngay";
        if (selectedDate === "0"||selectedDate==="") {
            $("#ngay-chon").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());
        } else {
            $("#ngay-chon").val(selectedDate);
        }

        $(".datepicker-inline").remove();
    })
</script>

@*PREVENT SPECIAL CHARACTERS*@
@*<script>
        var editable = document.getElementsByClassName('editable');
        for (var i = 0; i < editable.length; i++) {
            editable[i].addEventListener('keydown', function (event) {
                var x = event.which || event.keyCode;
                var ingnore_letters = [];
                var ingnore_special_chars = [188, 191, 222, 186, 221, 219, 187, 48, 57, 111, 106, 107, 220, 16, 32, 107];
                var lowEnd = 66;
                var highEnd = 89;
                for (var i = 0; i < highEnd - 66 + 1; i++) {
                    lowEnd++;
                    if (lowEnd != 67 && lowEnd != 86 && lowEnd != 88) {
                        ingnore_letters[i] = lowEnd;
                    }
                }

                if (jQuery.inArray(x, ingnore_letters) !== -1 || jQuery.inArray(x, ingnore_special_chars) !== -1) {
                    event.preventDefault();
                }
            });
        }
        editable[0].focus();
    </script>*@

@*MODALS*@
@*<script>
        var elem = document.querySelector('.modal');
        var instance = M.Modal.init(elem, options);
    </script>*@

@*SELECT ALL WHEN FOCUS CELL*@
@*<script>
        $('.editable').each(function () {
            $(this).on('focus', function () {
                var cell = this;
                var range, selection;
                if (document.body.createTextRange) {
                    range = document.body.createTextRange();
                    range.moveToElementText(cell);
                    range.select();
                } else if (window.getSelection) {
                    selection = window.getSelection();
                    range = document.createRange();
                    range.selectNodeContents(cell);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }
            });
        });
    </script>*@

@*standardized cell data*@
@*set to 0 if input of blank or full of '0' characters*@
@*<script>
        $('.editable').each(function () {
            $(this).focusout(function () {
                var floatReg = /[+-]?([0-9]*[.])?[0-9]+/;
                var text = $(this).text();
                if (!floatReg.test(text)) {
                    $(this).html(0);
                } else {
                    $(this).html(parseFloat(text));
                }
                text = $(this).text();
                if (text.length > 8) {
                    $(this).html(text.substring(0, 8));
                }
            });
        });
    </script>*@
@*preventing input many '.' on one input time*@
@*<script>
        $('.editable').each(function () {
            $(this).keydown(function (event) {
                if (((event.keyCode === 190 || event.keyCode === 231) && $(this).text().indexOf(".") != -1)
                    || ((event.keyCode === 189) && $(this).text().indexOf("-") != -1)
                    || ((event.keyCode === 109) && $(this).text().indexOf("-") != -1)) {
                    event.preventDefault();
                }
            });
        });
    </script>*@
@*Unfocus cell when press enter*@
@*<script>
        $('.editable').each(function () {
            $(this).keydown(function (event) {
                if ((event.keyCode === 13)) {
                    $(this).blur();
                }
            });
        });
    </script>*@
@*limit of input length*@
@*<script>
        $('.editable').each(function () {
            $(this).keydown(function (event) {
                var text = $(this).text();
                if ((text.length >= 8) && event.keyCode != 8 && event.keyCode != 65 && event.keyCode != 90 && event.keyCode != 9 && getSelectionText() === "") {
                    event.preventDefault();
                    $(this).html(text.substring(0, 8));
                }
            });
        });
        function getSelectionText() {
            var text = "";
            if (window.getSelection) {
                text = window.getSelection().toString();
            } else if (document.selection && document.selection.type != "Control") {
                text = document.selection.createRange().text;
            }
            return text;
        }
    </script>
    <script>
        $('.editable').each(function () {
            $(this).keyup(function (event) {
                var text = $(this).text();
                if ((text.indexOf('a') !== -1) || (text.indexOf('â') !== -1)) {
                    $(this).html($(this).text().replace('a', ''));
                    $(this).html($(this).text().replace('â', ''));
                }
                if ((text.indexOf('z') !== -1)) {
                    $(this).html($(this).text().replace('z', ''));
                }
                if ((text.indexOf('c') !== -1)) {
                    $(this).html($(this).text().replace('c', ''));
                }
                if ((text.indexOf('v') !== -1)) {
                    $(this).html($(this).text().replace('v', ''));
                }
                if ((text.indexOf('x') !== -1)) {
                    $(this).html($(this).text().replace('x', ''));
                }
                if ((text.indexOf('=') !== -1)) {
                    $(this).html($(this).text().replace('=', ''));
                }
                if ((text.indexOf('-') !== 0 && text.indexOf('-') !== -1)) {
                    $(this).html($(this).text().replace('-', ''));
                }
            });
        });
    </script>
    <script>
        $(function () {
            var i = 1;
            var j = 1
            $(".editable").each(function () {
                $(this).attr("id", i + "-" + j);
                j++;
                if (i !== 21 && j === 18) {
                    i++;
                    j = 1;
                }
            });

            $(".editable").each(function () {
                $(this).keydown(function (event) {
                    var $focused = $(':focus');
                    if (event.keyCodde === 39) {
                        var a = $focused.attr('id').split('-');
                        alert(a[0] + ";" + (a[1]++));
                    }
                });
            });
        });
    </script>*@

<script src="~/dist/js/pages/forms/jquery.validate.min.js"></script>
<!--uPLOADER-->
<script src="~/assets/uploader/dropzoneMultiple.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>
<script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
<script src="~/assets/sweetalert/sweetalert2.min.js"></script>
<script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>

<!--Ca 1-->
<script>
    var count = 0;
    var data = new FormData();


    //Create by TUANKQ
Dropzone.options.myAwesomeDropzone = {
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 10, // MB
    addRemoveLinks: true,
    autoProcessQueue: false,
    dictRemoveFile: 'Hủy',
    clickable: true,
    //acceptedFiles: 'application/xls,.xlsx,image/*,application/pdf',
    maxFiles: 10,
    uploadMultiple: true,
    parallelUploads: 10,
    maxfilesexceeded: function() {
        //for (var i = 0; i < this.files.length; i++){
        //   this.removeFile(this.files[i]);
        //}
        var myDropzone = this;
        errorAlert("Chọn tối đa 10 file", "");
        myDropzone.removeAllFiles();
    },
    init: function () {
        this.on("addedfile", function () {
            $(".dz-preview").last().append("<input class=\"file-description form-control\" placeholder=\"Chú thích file\" type=\"text\"/> \n ");
        });
        var myDropzone = this;
        // Update selector to match your button
        $("#btnUpload").click(function (e) {
            e.preventDefault();
            myDropzone.processQueue();
        });
        //this.on("processing", function (file) {

        //});
        this.on('sending', function (file, xhr, formData) {

                count++;

                data.append("file", file);

                $("#pre-load").show("slow", function () {
                });

            var n = myDropzone.getAcceptedFiles().length;
            if (count === n) {
                var ngaynhap = $("#ngay-chon").val();
                data.append("ngayNhap", ngaynhap);

                var link = window.location.href;
                var phanxuong = "@ViewBag.phanxuong";

                data.append("phanxuong", phanxuong);
                var notes = [];
                $(".file-description").each(function () {
                    notes.push($(this).val());
                });
                data.append("notes", notes);

                $.ajax({
                    type: "POST",
                    url: "/phong-kcs/upload-file",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                         $("#pre-load").hide("slow", function () {
                         });
                        if (data.success) {
                            reloadAlert("Tải lên thành công!", 1000);
                        } else {
                            errorAlert("Lỗi!", 1000);
                            window.location.reload();
                        }
                    },
                });
            }
        });
    },
    dictResponseError: "Lỗi (Code: {{statusCode}})",
    dictFileTooBig: "Kích cỡ file quá lớn ({{filesize}}MB). Kích cỡ file tối đa: {{maxFilesize}}MB ",
    dictInvalidFileType: "File không hợp lệ. Hãy chọn một file Excel (xls, xlsx)",
};

</script>