@{
    ViewBag.Title = "Chi tiết ô tô";
    Layout = "~/Views/Shared/_CDVT_Layout.cshtml";
}

<div class="col-md-12" style="border: 1px solid black; margin:20px 10px; padding-bottom:30px;">
    <div class="col-md-12" style="margin-bottom:40px">
        <div class="col-md-4">
            <h3>Chi tiết ô tô</h3>
        </div>
        <div class="col-md-2">
            <input list="size" class="form-control" placeholder="Nhập từ khóa để tìm kiếm"
                   style="margin-top:20px;float:left">
            <datalist id="size">
                <option value=""></option>
            </datalist>
        </div>
        <div class="col-md-2">
            <button type="submit"
                    style="margin-top:20px;border: 1px solid #ccc;height:33px; border-radius: 10%">
                Tìm kiếm
            </button>
        </div>
        <div class="col-md-4">
            <a href="#addEmployeeModal" data-toggle="modal"><button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Thêm</button></a>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải lên</button>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải về</button>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">In báo cáo</button>
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal">
            <label class="control-label col-xs-4" for="usr">Hiển chị số dòng/trang</label>
            <div class="col-xs-8">
                <input list="sizes">
                <datalist id="sizes">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </datalist>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-hover"
               style="margin-top:30px; text-align:center;zoom: 80%;">
            <tr>
                <td>Tên</td>
                <td>Mã</td>
                <td>Biển số</td>
                <td>Ngày hoạt động</td>
                <td>Số giờ hoạt động trong ngày</td>
                <td>Ngày bảo dưỡng gần nhất</td>
                <td>Công việc trong ngày</td>
                <td>Sản lượng</td>
                <td>Vị trí</td>
                <td>Phân xưởng sử dụng</td>
                <td></td>
            </tr>
            <tr>
                <td>Xe tải</td>
                <td>XT00</td>
                <td>14A-00000</td>
                <td>1/1/2019</td>
                <td>10</td>
                <td>1/12/2018</td>
                <td>Chở than khai thác</td>
                <td>10 tấn</td>
                <td>Lò 1</td>
                <td>Phân xưởng 1</td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>Xe tải</td>
                <td>XT00</td>
                <td>14A-00000</td>
                <td>2/1/2019</td>
                <td>10</td>
                <td>1/12/2018</td>
                <td>Chở than khai thác</td>
                <td>10 tấn</td>
                <td>Lò 1</td>
                <td>Phân xưởng 1</td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>Xe tải</td>
                <td>XT00</td>
                <td>14A-00000</td>
                <td>3/1/2019</td>
                <td>10</td>
                <td>1/12/2018</td>
                <td>Chở than khai thác</td>
                <td>10 tấn</td>
                <td>Lò 1</td>
                <td>Phân xưởng 1</td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>Xe tải</td>
                <td>XT00</td>
                <td>14A-00000</td>
                <td>4/1/2019</td>
                <td>10</td>
                <td>1/12/2018</td>
                <td>Chở than khai thác</td>
                <td>10 tấn</td>
                <td>Lò 1</td>
                <td>Phân xưởng 1</td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>Xe tải</td>
                <td>XT00</td>
                <td>14A-00000</td>
                <td>5/1/2019</td>
                <td>10</td>
                <td>1/12/2018</td>
                <td>Chở than khai thác</td>
                <td>10 tấn</td>
                <td>Lò 1</td>
                <td>Phân xưởng 1</td>
                <td>
                    <a href="#delete" data-toggle="modal">
                        <button class="btn btn-danger">
                            Xóa
                        </button>
                    </a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Giao diện nhập sự cố</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="maintaineday">Ngày bảo dưỡng gần nhất: </label>
                            <input type="date" class="form-control" id="maintaineday" />
                        </div>
                        <div class="form-group">
                            <label for="day">Ngày hoạt động: </label>
                            <input type="date" class="form-control" id="day" />
                        </div>
                        <div class="form-group">
                            <label for="work">Công việc trong ngày: </label>
                            <input type="text" class="form-control" id="work" />
                        </div>
                        <div class="form-group">
                            <label for="location">Vị trí: </label>
                            <input type="text" class="form-control" id="location" />
                        </div>
                        <div class="form-group">
                            <label for="reason">Nguyên nhân sự cố: </label>
                            <input type="text" class="form-control" id="reason" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" style="height:60px"></div>
                        <div class="form-group">
                            <label for="hours">Số giờ hoạt động: </label>
                            <input type="number" class="form-control" id="hours" />
                        </div>
                        <div class="form-group">
                            <label for="quantity">Sản lượng: </label>
                            <input type="number" class="form-control" id="quantity" />
                        </div>
                        <div class="form-group">
                            <label for="condition">Tình trạng: </label>
                            <input type="text" class="form-control" id="condition" />
                        </div>
                        <div class="form-group">
                            <label for="management">Phân xưởng sử dụng: </label>
                            <input type="text" class="form-control" id="management" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" style="float: left;">Nhập lại</button>
                    <button type="submit" class="btn btn-primary" style="float: left;">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
