
@{
    ViewBag.Title = "Chi_tiet_thiet_bi_may";
    Layout = "~/Views/Shared/_CDVT_Layout.cshtml";
}

<div class="col-md-12" style="border: 1px solid black; margin:20px 10px; padding-bottom:30px;">

    <div class="col-md-12" style="margin-bottom:80px;margin-top: 0px;zoom : 80%">
        <div class="col-md-4">
            <div class="page-admin-header">
                <i class="fa fa-contents"></i>
                <h3 style="font-weight:600; padding-left:20px;color:#4e73df;margin-top:0px;">Chi tiết thiết bị máy móc </h3>
            </div>
        </div>
        <div class="col-md-2">
            <input list="size" class="form-control" placeholder="Nhập từ khóa để tìm kiếm"
                   style="margin-top:20px;float:left">
            <datalist id="size">
                <option value="Máy nén khí">Máy nén khí</option>
                <option value="Máy xúc lật">Máy xúc lật</option>
                <option value="Máy bơm">Máy bơm</option>
            </datalist>
        </div>
        <div class="col-md-2">
            <button type="submit"
                    style="margin-top:20px;border: 1px solid #ccc;height:33px; border-radius: 10%">
                Tìm kiếm
            </button>
        </div>
        <div class="col-md-4">
            <a href="#add" data-toggle="modal">
                <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">
                    Thêm
                </button>
            </a>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải lên</button>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải về</button>
            <button class="btn btn-custom" type="submit" style="margin-top:20px;">In báo cáo</button>
        </div>
    </div>

    <div class="col-md-12" style="zoom : 80%">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <button class="btn btn-custom" type="submit" style="margin-right:20px;border: 1px solid #ccc;
								border-radius: 10%; margin-left: 150px;">
                Xem bảo dưỡng
            </button>
            <button class="btn btn-custom" type="submit" style="margin-right:20px;border: 1px solid #ccc;
								border-radius: 10%">
                Xem sửa chữa
            </button>
            <button class="btn btn-custom" type="submit" style="border: 1px solid #ccc;
								border-radius: 10%">
                Xem khấu hao
            </button>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered" style="margin-top:30px; text-align:center;zoom : 80%">
            <tr style="font-weight: 600">
                <td rowspan="2" colspan="1">Ngày</td>
                <td rowspan="1" colspan="3"> Hoạt động </td>
                <td rowspan="1" colspan="3"> Tiêu thụ nhiên liệu </td>
                <td rowspan="2" colspan="1">Tình trạng</td>
                <td rowspan="2" colspan="1">Phân xưởng sử dụng</td>
                <td rowspan="2" colspan="1">Vị trí</td>
                <td rowspan="2" colspan="1">Ghi chú </td>
                <td rowspan="2" colspan="1">Sửa , xóa...</td>
            </tr>
            <tr style="font-weight: 600">
                <td>Công việc trong ngày</td>
                <td>Số giờ hoạt động trong ngày</td>
                <td>Sản lượng</td>
                <td>Loại nhiên liệu</td>
                <td>Lượng tiêu thụ</td>
                <td>Đơn vị</td>
            </tr>
            <tr>
                <td>6/8/2019</td>
                <td></td>
                <td>10</td>
                <td>300</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>7/8/2019</td>
                <td></td>
                <td>11</td>
                <td>500</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>8/8/2019</td>
                <td></td>
                <td>12</td>
                <td>700</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                    <button type="submit" class="btn btn-custom">Sửa</button>
                </td>
            </tr>
        </table>
        <div class="col-md-4 col-md-offset-4" style="text-align:center">
            <button type="submit" style="margin-top:20px;padding:6px 12px;border:none"><i class="fa fa-arrow-left"></i></button>
            <a style="padding:8px 14px;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-decoration:none">1</a>
            <a style="padding:8px 14px;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-decoration:none">2</a>
            <button type="submit" style="margin-top:20px;padding:6px 12px;border:none"><i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</div>