
@{
    ViewBag.Title = "Theo dõi nhiên liệu";
    Layout = "~/Views/Shared/_CDVT_Layout.cshtml";
}

<div class="col-md-12" style="border: 1px solid black; margin:20px 10px; padding-bottom:30px;">
    <div class="col-md-12" style="margin-bottom:40px">
        <div class="col-md-4">
            <h3>Theo dõi mức tiêu thụ nhiên liệu</h3>
        </div>
        <div class="col-md-3">
            <input list="size" class="form-control" placeholder="Nhập từ khóa để tìm kiếm"
                   style="margin-top:20px;float:left">
            <datalist id="size">
                <option value="Băng tải khung">Băng tải khung</option>
                <option value="Máng cào SGB 420/22">Máng cào SGB 420/22</option>
                <option value="Máy xúc lật">Máy xúc lật</option>
                <option value="Sàng tuyền">Sàng tuyền</option>
                <option value="Máy nén khí">Máy nén khí</option>
                <option value="Máy bơm">Máy bơm</option>
                <option value="Ô tô trung xa, phục vụ">Ô tô trung xa, phục vụ</option>
                <option value="Xe goòng">Xe goòng</option>
                <option value="Tàu điện">Tàu điện</option>
                <option value="Máy gạt">Máy gạt</option>
                <option value="Máy xúc hầm lò">Máy xúc hầm lò</option>
                <option value="Máy xúc thủy lực">Máy xúc thủy lực</option>
                <option value="Máy khoan lộ thiên">Máy khoan lộ thiên</option>
                <option value="Máy khoan hầm lò">Máy khoan hầm lò</option>
                <option value="Cáp tời">Cáp tời</option>
            </datalist>
        </div>
        <div class="col-md-2">
            <button type="submit"
                    style="margin-top:20px;border: 1px solid #ccc;height:33px; border-radius: 10%">
                Tìm kiếm
            </button>
        </div>
        <div class="col-md-3">
            <a href="#addEmployeeModal" data-toggle="modal"><button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px" onclick="document.getElementById('date').valueAsDate = new Date()">Thêm</button></a>
            <button style="padding:6px 12px;margin-top:20px;" class="btn btn-custom">In báo cáo</button>
        </div>
    </div>
    <div class="col-md-4">
        <form class="form-horizontal">
            <label class="control-label col-xs-2" for="usr">Năm</label>
            <div class="col-xs-8">
                <input list="sizes" class="form-control" value="2019">
                <datalist id="sizes">
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </datalist>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <table class="table table-hover" style="margin-top:30px; text-align:center">
            <tr>
                <th style="text-align:center">Tháng</th>
                <th>Mã thiết bị sử dụng</th>
                <th>Tên thiết bị sử dụng</th>
                <th>Loại nhiên liệu tiêu thụ</th>
                <th>Lượng tiêu thụ</th>
                <th>Đơn vị</th>
                <th>Chỉnh sửa</th>
            </tr>
            <tr>
                <td>6-2019</td>
                <td>63149187</td>
                <td>Ô tô trung xa, phục vụ</td>
                <td>Xăng</td>
                <td>300</td>
                <td>Lít</td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>6-2019</td>
                <td>23213141</td>
                <td>Ô tô trung xa, phục vụ</td>
                <td>Dầu nhũ hóa</td>
                <td>190</td>
                <td>Lít</td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>6-2019</td>
                <td>23214187</td>
                <td>Ô tô trung xa, phục vụ</td>
                <td>Dầu mỡ</td>
                <td>9</td>
                <td>Lít</td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>7-2019</td>
                <td>63149187</td>
                <td>Ô tô trung xa, phục vụ</td>
                <td>Xăng</td>
                <td>300</td>
                <td>Lít</td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>7-2019</td>
                <td>23213141</td>
                <td>Ô tô trung xa, phục vụ</td>
                <td>Dầu nhũ hóa</td>
                <td>190</td>
                <td>Lít</td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>7-2019</td>
                <td>23214187</td>
                <td>Ô tô trung xa, phục vụ</td>
                <td>Dầu mỡ</td>
                <td>9</td>
                <td>Lít</td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr style="color:crimson">
                <th>Tổng</th>
                <td></td>
                <td></td>
                <th>Xăng</th>
                <th>600</th>
                <th>Lít</th>
                <td></td>
            </tr>
            <tr style="color:crimson">
                <th></th>
                <td></td>
                <td></td>
                <th>Dầu nhũ hóa</th>
                <th>380</th>
                <th>Lít</th>
                <td></td>
            </tr>
            <tr style="color:crimson">
                <th></th>
                <td></td>
                <td></td>
                <th>Dầu mỡ</th>
                <th>18</th>
                <th>Lít</th>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Giao diện nhập sử dụng nhiên liệu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="date">Ngày: </label>
                            <input type="month" class="form-control" id="date" />
                        </div>
                        <div class="form-group">
                            <label for="id">Mã thiết bị: </label>
                            <input type="text" class="form-control" id="id" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tên thiết bị: </label>
                            <input type="text" class="form-control" id="name" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="depreciation">Số seri: </label>
                            <input type="number" class="form-control" id="depreciation" />
                        </div>
                        <div class="form-group">
                            <label for="type">Loại nguyên liệu tiêu thụ: </label>
                            <select id="type" class="form-control">
                                <option value="gas">Xăng</option>
                                <option value="water">Nước</option>
                                <option value="oil">Dầu</option>
                                <option value="more">...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Lượng tiêu thụ: </label>
                            <input type="text" class="form-control" id="quantity" />
                        </div>
                        <div class="form-group">
                            <label for="unit">Đơn vị: </label>
                            <input type="text" class="form-control" id="unit" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" style="float: left;">Nhập lại</button>
                    <button type="submit" class="btn btn-primary" style="float: left;">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
