
@{
    Layout = "~/Views/CDVT/_Layout_CDVT.cshtml";
}

<div class="col-md-12" style="border: 1px solid black; margin:20px 10px; padding-bottom:30px;">
    <div class="col-md-12" style="margin-bottom:40px">
        <div class="col-md-4">
            <h3>Danh sách chung về sự cố và sửa chữa</h3>
        </div>
        <div class="col-md-3">
            <input list="size" class="form-control" placeholder="Nhập từ khóa để tìm kiếm"
                   style="margin-top:20px;float:left">
            <datalist id="size">
                <option value="Băng tải khung">Băng tải khung</option>
                <option value="Máng cào SGB 420/22">Máng cào SGB 420/22</option>
                <option value="Máy xúc lật">Máy xúc lật</option>
                <option value="Sàng tuyền">Sàng tuyền</option>
                <option value="Máy nén khí">Máy nén khí</option>
                <option value="Máy bơm">Máy bơm</option>
                <option value="Ô tô trung xa, phục vụ">Ô tô trung xa, phục vụ</option>
                <option value="Xe goòng">Xe goòng</option>
                <option value="Tàu điện">Tàu điện</option>
                <option value="Máy gạt">Máy gạt</option>
                <option value="Máy xúc hầm lò">Máy xúc hầm lò</option>
                <option value="Máy xúc thủy lực">Máy xúc thủy lực</option>
                <option value="Máy khoan lộ thiên">Máy khoan lộ thiên</option>
                <option value="Máy khoan hầm lò">Máy khoan hầm lò</option>
                <option value="Cáp tời">Cáp tời</option>
            </datalist>
        </div>
        <div class="col-md-2">
            <button type="submit"
                    style="margin-top:20px;border: 1px solid #ccc;height:33px; border-radius: 10%">
                Tìm kiếm
            </button>
        </div>
        <div class="col-md-3">
            <a href="#addEmployeeModal" data-toggle="modal"><button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px" onclick="document.getElementById('date').valueAsDate = new Date()">Thêm</button></a>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải lên</button>
            <button class="btn btn-custom" type="submit" style="margin-top:20px; margin-right: 20px">Tải về</button>
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal">
            <label class="control-label col-xs-4" for="usr">Hiển chị số dòng/trang</label>
            <div class="col-xs-8">
                <input list="sizes">
                <datalist id="sizes">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </datalist>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <table class="table table-hover" style="margin-top:30px; text-align:center">
            <tr>
                <td>STT</td>
                <td>Tên thiết bị</td>
                <td>Số hiệu</td>
                <td>Ngày sữa chửa</td>
                <td>Ngày hoàn thành</td>
                <td>Chi phí</td>
                <td>Phân xưởng đang sử dụng</td>
                <td>Lí do sửa</td>
                <td>Chi tiết</td>
                <td>In báo cáo</td>
                <td>Chỉnh sửa</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Máy khoan</td>
                <td>MK12</td>
                <td>12-07-2019</td>
                <td>19-07-2019</td>
                <td>100.000<sup>đ</sup></td>
                <td>Lò than 1</td>
                <td>Hỏng nguồn</td>
                <td><button type="button" class="btn btn-custom">Chi tiết</button></td>
                <td><button style="padding:6px 12px;border:none"><i class="glyphicon glyphicon-print"></i></button></td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Máy xúc hầm lò</td>
                <td>MA1</td>
                <td>12-05-2019</td>
                <td>23-05-2019</td>
                <td>400.000<sup>đ</sup></td>
                <td>Lò than 2</td>
                <td>Hỏng nguồn</td>
                <td><button type="button" class="btn btn-custom">Chi tiết</button></td>
                <td><button style="padding:6px 12px;border:none"><i class="glyphicon glyphicon-print"></i></button></td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Máy nén khí</td>
                <td>TNSD</td>
                <td>24-05-2019</td>
                <td>01-06-2019</td>
                <td>800.000<sup>đ</sup></td>
                <td>Phân xưởng 2</td>
                <td>Hỏng con quay</td>
                <td><button type="button" class="btn btn-custom">Chi tiết</button></td>
                <td><button style="padding:6px 12px;border:none"><i class="glyphicon glyphicon-print"></i></button></td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Máy bơm</td>
                <td>MNS</td>
                <td>04-07-2019</td>
                <td>12-07-2019</td>
                <td>700.000<sup>đ</sup></td>
                <td>Lò than 2</td>
                <td>Hỏng van</td>
                <td><button type="button" class="btn btn-custom">Chi tiết</button></td>
                <td><button style="padding:6px 12px;border:none"><i class="glyphicon glyphicon-print"></i></button></td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Động cơ 22kw</td>
                <td>TOSA</td>
                <td>24-05-2019</td>
                <td>12-06-2019</td>
                <td>1.200.000<sup>đ</sup></td>
                <td>Lò than 1</td>
                <td>Không rõ</td>
                <td><button type="button" class="btn btn-custom">Chi tiết</button></td>
                <td><button style="padding:6px 12px;border:none"><i class="glyphicon glyphicon-print"></i></button></td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Máy tời</td>
                <td>SCK</td>
                <td>04-04-2019</td>
                <td>12-04-2019</td>
                <td>500.000<sup>đ</sup></td>
                <td>Phân xưởng 2</td>
                <td>Gãy trục</td>
                <td><button type="button" class="btn btn-custom">Chi tiết</button></td>
                <td><button style="padding:6px 12px;border:none"><i class="glyphicon glyphicon-print"></i></button></td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>Máy xúc thủy lực</td>
                <td>NFGA</td>
                <td>27-06-2019</td>
                <td>10-07-2019</td>
                <td>1.400.000<sup>đ</sup></td>
                <td>Phân xưởng 1</td>
                <td>Hỏng bánh xe</td>
                <td><button type="button" class="btn btn-custom">Chi tiết</button></td>
                <td><button style="padding:6px 12px;border:none"><i class="glyphicon glyphicon-print"></i></button></td>
                <td>
                    <button type="button" class="btn btn-custom">Sửa</button>
                    <a href="#delete" data-toggle="modal"><button class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
        </table>
        <div class="col-md-4 col-md-offset-4" style="text-align:center">
            <button type="submit" style="margin-top:20px;padding:6px 12px;border:none"><i class="fa fa-arrow-left"></i></button>
            <a style="padding:8px 14px;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-decoration:none;background-color:cornflowerblue">1</a>
            <a style="padding:8px 14px;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-decoration:none">2</a>
            <button type="submit" style="margin-top:20px;padding:6px 12px;border:none"><i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Giao diện nhập sửa chữa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body col-lg-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="date">Ngày sửa chữa: </label>
                            <input type="date" class="form-control" id="date" />
                        </div>
                        <div class="form-group">
                            <label for="id">Mã thiết bị: </label>
                            <input type="text" class="form-control" id="id" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tên thiết bị: </label>
                            <input type="text" class="form-control" id="name" />
                        </div>
                        <div class="form-group">
                            <label for="depreciation">Số seri: </label>
                            <input type="number" class="form-control" id="depreciation" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="receiver">Bộ phận bàn giao: </label>
                            <input type="text" class="form-control" id="receiver" />
                        </div>
                        <div class="form-group">
                            <label for="reason">Lý do sửa chữa: </label>
                            <input type="text" class="form-control" id="reason" />
                        </div>
                        <div class="form-group">
                            <label for="status">Tình trạng: </label>
                            <select id="status" class="form-control">
                                <optgroup label="Có sẵn">
                                    <option value="ready">Chờ huy động</option>
                                    <option value="fixing">Chờ sửa chữa</option>
                                </optgroup>
                                <optgroup label="Không có sẵn">
                                    <option value="sale">Chờ thanh lý</option>
                                    <option value="sold">Đã thanh lý</option>
                                    <option value="using">Đang sử dụng</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" style="float: left;">Nhập lại</button>
                    <button type="submit" class="btn btn-primary" style="float: left;">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
