@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_TCLD_Layout.cshtml";
}

<div class="row" style="padding-bottom: 20px">
    <div>
        <div class="text-center">
            <div class="btn-custom form-control"><label>Thêm hồ sơ</label></div>
        </div>
        <div>
            <h3>Thông tin cá nhân</h3>
            <div class="col-sm-12">
                <div class="col-sm-8" style="margin-top: 50px">
                    <label>Họ và tên khai sinh</label>
                    <input class="form-control" type="text" placeholder="Tên khai sinh" />

                </div>
                <div class="col-sm-4" style="margin-bottom: -60px">
                    <img src="~/images/avatar.png" alt="" width="190" height="190" style="margin-top:-50px; margin-left: 30px"><br>
                    <button class="btn btn-custom" style="margin-left: 90px">Tải lên</button>
                </div>
                <div class="col-sm-4">
                    <label>Các tên gọi khác</label>
                    <input class="form-control" type="text" placeholder="Tên khác" />
                </div>
                <div class="col-sm-4">
                    <label>Giới tính</label>
                    <select class="form-control">
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <label>Cấp ủy hiện tại</label>
                    <input class="form-control" type="text" placeholder="Cấp ủy" />
                </div>
                <div class="col-sm-4">
                    <label>Cấp ủy kiêm</label>
                    <input class="form-control" type="text" placeholder="Cấp ủy kiêm" />
                </div>
                <div class="col-sm-6">
                    <label>Chức vụ</label>
                    <input class="form-control" type="text" placeholder="Chức vụ" />
                </div>
                <div class="col-sm-6">
                    <label>Phụ cấp chức vụ</label>
                    <input class="form-control" type="text" placeholder="Phụ cấp" />
                </div>
                <div class="col-sm-4">
                    <label>Ngày sinh</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-4">
                    <label>Nơi sinh</label>
                    <input class="form-control" type="text" placeholder="Nơi sinh" />
                </div>
                <div class="col-sm-4">
                    <label>Dân tộc</label>
                    <input class="form-control" type="text" placeholder="Dân tộc" />
                </div>
                <div class="col-sm-8">
                    <label>Quê quán</label>
                    <input class="form-control" type="text" placeholder="Quê quán" />
                </div>
                <div class="col-sm-4">
                    <label>Tôn giáo</label>
                    <input class="form-control" type="text" placeholder="Tôn giáo" />
                </div>
                <div class="col-sm-8">
                    <label>Nơi ở hiện nay</label>
                    <input class="form-control" type="text" placeholder="Nơi ở hiện nay" />
                </div>
                <div class="col-sm-4">
                    <label>Số điện thoại</label>
                    <input class="form-control" type="text" placeholder="Số điện thoại" />
                </div>
                <div class="col-sm-12">
                    <label>Thành phần gia đình xuất thân</label>
                    <input class="form-control" type="text" placeholder="Thành phần gia đình" />
                </div>
                <div class="col-sm-12">
                    <label>Nghề nghiệp trược khi được tuyển dụng</label>
                    <input class="form-control" type="text" placeholder="Nghề trước khi tuyển dụng" />
                </div>
                <div class="col-sm-4">
                    <label>Ngày được tuyển dụng</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-4">
                    <label>Tại cơ quan</label>
                    <input class="form-control" type="text" placeholder="Cơ quan" />
                </div>
                <div class="col-sm-4">
                    <label>Ngày vào nơi đang công tác</label>
                    <input class="form-control" type="date" />
                </div>
            </div>
            <h3>Lý lịch chính trị</h3>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label>Ngày tham gia cách mạng</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-5">
                    <label>Ngày vào Đảng Cộng sản Việt Nam</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-3">
                    <label>Ngày chính thức</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-6">
                    <label>Ngày vào tổ chức chính trị xã hội</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-6">
                    <br /><br />
                    <i>(Ngày vào đoàn TNCSHCM, Công đoàn, Hội, ...)</i>
                </div>
                <div class="col-sm-3">
                    <label>Ngày nhập ngũ</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-3">
                    <label>Ngày xuất ngũ</label>
                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-6">
                    <label>Quân hàm, chức vụ cao nhất(Năm)</label>
                    <input type="text" class="form-control" placeholder="Quân hàm, chức vụ" />
                </div>
                <div class="col-sm-6">
                    <label>Trình độ học vấn</label><i>(Giáo dục phổ thông (lớp mấy))</i>
                    <select class="form-control">
                        <option>Tiểu học</option>
                        <option>THCS</option>
                        <option>THPT</option>
                        <option>Trung cấp</option>
                        <option>Đại học</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>Học hàm, học vị cao nhất</label><i>(GS, PGS, TS,...)</i>
                    <input type="text" class="form-control" placeholder="Học hàm, học vị" />
                </div>
                <div class="col-sm-6">
                    <label>Lý luận chính trị</label><i>(Cử nhân/Cao cấp, Trung cấp, Sơ cấp)</i>
                    <input type="text" class="form-control" placeholder="Lý luận trính trị" />
                </div>
                <div class="col-sm-6">
                    <label>Ngoại ngữ</label>
                    <input type="text" class="form-control" placeholder="Ngoại ngữ" />
                </div>
            </div>
            <h3>Thành tích cá nhân</h3>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <label>Công tác chính đang làm</label>
                    <input type="text" class="form-control" placeholder="Công tác chính" />
                </div>
                <div class="col-sm-6">
                    <label>Ngạch công chức</label>
                    <input type="text" class="form-control" placeholder="Công tác chính" />
                </div>
                <div class="col-sm-6">
                    <label>Mã số</label>
                    <input type="text" class="form-control" placeholder="Mã số" />
                </div>
                <div class="col-sm-4">
                    <label>Bậc lương</label>
                    <select class="form-control">
                        <option>Không có</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label>Hệ số</label>
                    <input type="text" class="form-control" placeholder="Hệ số" />
                </div>
                <div class="col-sm-4">
                    <label>Từ tháng</label>
                    <select class="form-control">
                        <option>Không có</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <label>Danh hiệu được phong</label><i>(Năm nào)</i>
                    <input type="text" class="form-control" placeholder="Danh hiệu" />
                </div>
                <div class="col-sm-6">
                    <label>Sở trường công tác</label>
                    <input type="text" class="form-control" placeholder="Sở trường" />
                </div>
                <div class="col-sm-6">
                    <label>Công việc đã làm lâu nhất</label>
                    <input type="text" class="form-control" placeholder="Công việc" />
                </div>
                <div class="col-sm-12">
                    <label>Khen thưởng</label><i>(Huân, huy chương, năm nào)</i>
                    <input type="text" class="form-control" placeholder="Khen thưởng" />
                </div>
                <div class="col-sm-12">
                    <label>Kỷ luật</label><i>(Năm nào, lí do, hình thức,...</i>
                    <input class="form-control" type="text" placeholder="Kỷ luật" />
                </div>
            </div>
            <h3>Sức khỏe</h3>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <label>Tình trạng sức khỏe</label>
                    <select class="form-control">
                        <option>Khỏe</option>
                        <option>Bình thường</option>
                        <option>Yếu</option>
                        <option>Bệnh mãn tính(ghi rõ)</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Bệnh mãn tính (nếu có)" />
                </div>
                <div class="col-sm-4">
                    <label>Chiều cao</label><i>(m)</i>
                    <input type="number" class="form-control" placeholder="Cao (m)" />
                </div>
                <div class="col-sm-4">
                    <label>Cân nặng</label><i>(kg)</i>
                    <input type="number" class="form-control" placeholder="Nặng (kg)" />
                </div>
                <div class="col-sm-4">
                    <label>Nhóm máu</label>
                    <input type="text" class="form-control" placeholder="Nhóm máu" />
                </div>
                <div class="col-sm-4">
                    <label>Số chứng minh nhân dân</label>
                    <input type="number" class="form-control" placeholder="CMT nhân dân" />
                </div>
                <div class="col-sm-4">
                    <label>Thương binh loại</label>
                    <select class="form-control">
                        <option>Không</option>
                        <option>1/4(Thương tật 81% trở lên)</option>
                        <option>2/4(Thương tật từ 61% trở lên)</option>
                        <option>3/4(Thương tật từ 41% trở lên)</option>
                        <option>4/4(Thương tật từ 21% trở lên)</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label>Gia đình liệt sĩ</label>
                    <input type="text" class="form-control" placeholder="Liệt sĩ" />
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <br />
                    <button class="btn btn-primary" style="margin-left: 90px">Thêm</button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>
     

