@{
    ViewData["Title"] = "new_dashboard";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="row">
    <div class="col l12 m12 s12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="center black-text">
                        <h3><b>DANH SÁCH KHEN THƯỞNG</b></h3>
                    </div>
                    <hr />
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col l6 s6">
                                <a class="active" href="#khenthuongpb">KHEN THƯỞNG PHÒNG BAN</a>
                            </li>
                            <li class="tab col l6 s6">
                                <a href="#khenthuongcn">KHEN THƯỞNG CÁ NHÂN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="khenthuongpb">
    <div class="card">
        <div class="card-content">
            <div class="center">
                <h5 class="black-text m-b-5">DANH SÁCH KHEN THƯỞNG PHÒNG BAN</h5>
                <hr />
            </div>
            <div class="row">
                <div class="search_kt">
                    <a class="btn btn-small blue darken-2 modal-trigger input-field " href="#modalAddPb">Thêm</a>
                    <a class="btn btn-small blue darken-2 modal-trigger input-field btn_search float_kt ">Tìm kiếm</a>
                    <input class="datepicker-here center form-control float_kt" data-language="vi" value="09/10/2019" />
                    <input type="text" placeholder="Mã KT" class='form-control float_kt' />
                    <input type="text" placeholder="Tên phòng ban" class='form-control float_kt' />
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered centered striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Phòng Ban</th>
                            <th width="10%">Mã khen thưởng</th>
                            <th width="10%">Mã QĐ khen thưởng</th>
                            <th>Ngày khen thưởng</th>
                            <th>Hình thức khen thưởng</th>
                            <th>Lý do khen thưởng</th>
                            <th width="17%">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Đào lò 3</td>
                            <td>KT1</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Đào lò 5</td>
                            <td>KT2</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Đào lò 8</td>
                            <td>KT3</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Khai thác 1</td>
                            <td>KT4</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Khai thác 1</td>
                            <td>KT5</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Khai thác 2</td>
                            <td>KT6</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Khai thác 3</td>
                            <td>KT7</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Khai thác 4</td>
                            <td>KT8</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Khai thác 5</td>
                            <td>KT9</td>
                            <td>SF113</td>
                            <td>20-8-2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------------------------->
<div class="row" id="khenthuongcn">
    <div class="card">
        <div class="card-content">
            <div class="center">
                <h5 class="black-text m-b-5">DANH SÁCH KHEN THƯỞNG CÁ NHÂN</h5>
                <hr />
            </div>
            <div class="row">
                <div class="search_kt">
                    <a class="btn btn-small blue darken-2 modal-trigger input-field" href="#modalAddCn">Thêm</a>
                    <a class="btn btn-small blue darken-2 modal-trigger input-field btn_search float_kt ">Tìm kiếm</a>
                    <input type="text" class="datepicker-here center form-control float_kt" data-language="vi" value="09/10/2019" />
                    <p class="float_kt">Ngày:</p>
                    <input type="text" placeholder="Mã KT" class='form-control float_kt' />
                    <p class="float_kt">Mã khen thưởng:</p>
                    <input type="text" placeholder="Tên NV" class='form-control float_kt' />
                    <p class="float_kt">Tên NV:</p>
                    <input type="text" placeholder="Mã NV" class='form-control float_kt' />
                    <p class="float_kt">Mã NV:</p>
                </div>

            </div>
            <div class="row">
                <table class="table table-bordered centered striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã NV</th>
                            <th width="15%">Tên NV</th>
                            <th width="10%">Mã khen thưởng</th>
                            <th width="10%">Mã QĐ khen thưởng</th>
                            <th>Ngày khen thưởng</th>
                            <th>Hình thức khen thưởng</th>
                            <th>Lý do khen thưởng</th>
                            <th width="15%">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>7832</td>
                            <td>Vũ Thành Long</td>
                            <td>KT9</td>
                            <td>SD113</td>
                            <td>20/8/2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>7542</td>
                            <td>Nguyễn Đức Huy</td>
                            <td>KT10</td>
                            <td>SD113</td>
                            <td>20/8/2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>3232</td>
                            <td>Vũ Đức Duy</td>
                            <td>KT11</td>
                            <td>SD113</td>
                            <td>20/8/2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>13354</td>
                            <td>Đào Văn Sơn</td>
                            <td>KT12</td>
                            <td>SD113</td>
                            <td>20/8/2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>1232</td>
                            <td>Vũ Thành Long</td>
                            <td>KT13</td>
                            <td>SD113</td>
                            <td>20/8/2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>7832</td>
                            <td>Vũ Văn Hấu</td>
                            <td>KT14</td>
                            <td>SD113</td>
                            <td>20/8/2019</td>
                            <td>Cộng vào tiền thưởng cuối năm</td>
                            <td>Đạt năng suất cao</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------------------------------->
<div id="modalAddPb" class="modal">
    <div class="modal-content">
        <h4>Thêm quyết định khen thưởng phòng ban</h4>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Ngày khen thưởng:</p>
        </div>
        <div class="col l6">
            <input type="text" class="datepicker-here form-control" data-language="vi" placeholder="Ngày khen thưởng" />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Tên phòng ban:</p>
        </div>
        <div class="col l6">
            <input type="text" placeholder="Tên phòng ban" class='form-control' />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Mã QĐ khen thưởng:</p>
        </div>
        <div class="col l6">
            <input type="text" placeholder="Mã QĐ khen thưởng" class='form-control' />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Hình thức khen thưởng:</p>
        </div>
        <div class="col l6">
            <input type="text" placeholder="Hình thức khen thưởng" class='form-control autocomplete_Name' multiple />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Lý do khen thưởng:</p>
        </div>
        <div class="col l6">
            <textarea placeholder="Hình thức khen thưởng" rows="15" cols="50"></textarea>
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Ghi chú:</p>
        </div>
        <div class="col l6">
            <textarea placeholder="Hình thức khen thưởng" rows="10" cols="50"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-small blue darken-2 modal-trigger modal-close" href="#!">Lưu</a>
    </div>
</div>
<!----------------------------------------------------------------------->
<div id="modalAddCn" class="modal">
    <div class="modal-content">
        <h4>Thêm quyết định khen thưởng cá nhân</h4>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Ngày khen thưởng:</p>
        </div>
        <div class="col l6">
            <i class="fas fa-calendar-alt icon"></i>
            <input type="text" class="datepicker-here form-control" data-language="vi" value="09/10/2019" />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Mã NV:</p>
        </div>
        <div class="col l6">
            <input type="text" placeholder="Mã nhân viên" class='form-control' />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Tên NV:</p>
        </div>
        <div class="col l6">
            <input type="text" placeholder="Tên nhân viên" class='form-control' />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Mã QĐ khen thưởng:</p>
        </div>
        <div class="col l6">
            <input type="text" placeholder="Mã QĐ khen thưởng" class='form-control' />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Hình thức khen thưởng:</p>
        </div>
        <div class="col l6">
            <input type="text" placeholder="Hình thức khen thưởng" class='form-control' multiple />
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Lý do khen thưởng:</p>
        </div>
        <div class="col l6">
            <textarea placeholder="Hình thức khen thưởng" rows="15" cols="50"></textarea>
        </div>
    </div>
    <div class="row kt">
        <div class="col l3">
            <p>Ghi chú:</p>
        </div>
        <div class="col l6">
            <textarea placeholder="Hình thức khen thưởng" rows="10" cols="50"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-small blue darken-2 modal-trigger modal-close" href="#!">Lưu</a>
    </div>
</div>
<!-- Editable -->
<script type="text/javascript" src="~/assets/libs/jsgrid/dist/jsgrid.min.js"></script>
<script src="~/dist/dashboard_Tuan/jsgrid-init_Tuan.js"></script>
<!--chart-->
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="~/assets/extra-libs/c3/d3.min.js"></script>
<script src="~/assets/extra-libs/c3/c3.min.js"></script>
<!-- line chart -->
<script src="~/dist/js/pages/c3-chart/bar-pie/c3-pie.js"></script>
<script src="~/js/Custom JS/TCLD/beo_bar_chart.js"></script>
<script src="~/js/Custom JS/TCLD/beo_line_chart.js"></script>

<!--Custom js QUANGHANH-->
<link href="~/assets/Custom css/TCLD/BonusAndDiscipline/KhenThuong.css" rel="stylesheet" />


