
@{
    ViewData["Title"] = "Chi_tiet_Quyet_dinh";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
@using QUANGHANH2.Controllers.CDVT.Quyetdinh.SuaChua

<div class="card">
    <div class="card-content">
        <div class="center">
            <h3><b>CHI TIẾT QUYẾT ĐỊNH TRUNG ĐẠI TU @ViewBag.documentary_code</b></h3>
        </div>
        <div class="col s12">
            <div class="row table_container">
                <table class="striped centered table-bordered" id="complex_header">
                    <thead>
                        <tr>
                            <th class="center-align">Mã thiết bị</th>
                            <th class="center-align">Tên thiết bị</th>
                            <th class="center-align">Số lượng</th>
                            <th class="center-align">Loại trung đại tu</th>
                            <th class="center-align">Lý do</th>
                            <th class="center-align">Ngày dự kiến xong</th>
                            <th class="center-align">Loại trung đại tu tiếp theo</th>
                            <th class="center-align">Thời gian trung đại tu tiếp theo (giờ)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            @if (ViewBag.AddAble == true)
            {
                <a class="btn blue darken-2 modal-trigger" href="#alert">Lưu</a>
            }
        </div>
    </div>
</div>

<div class="modal" id="vattu">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Danh sách vật tư dùng để trung đại tu <span></span></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Tên vật tư</th>
                                <th>Số lượng xin cấp</th>
                                <th>Số lượng đã nhận</th>
                                <th>Số lượng sử dụng</th>
                                <th>Số lượng thu hồi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="submit" class="waves-effect waves-light btn blue darken-2 modal-trigger modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="thietbi">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Danh sách thiết bị đi kèm cần thay thế <span></span></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã thiết bị con</th>
                                <th>Tên thiết bị con</th>
                                <th>Số lượng xin cấp</th>
                                <th>Số lượng đã nhận</th>
                                <th>Số lượng sử dụng</th>
                                <th>Số lượng thu hồi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="submit" class="waves-effect waves-light btn blue darken-2 modal-trigger modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="alert">
    <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <h4>Lưu ý: bạn không thể sửa đổi vật tư/thiết bị con cho quyết định sau khi đã xử lý xong</h4>
        </div>
        <div class="modal-footer">
            <a id="savechange" class="waves-effect waves-light btn blue darken-2 modal-trigger modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<script>
    var dataTable, documentary_big_maintain_id;
    var documentary_id = @ViewBag.documentary_id;

    $(document).ready(function () {
        $('#pre-load').show();
        dataTable = $('#complex_header').DataTable({
            "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                "paginate": {
                    "first": "Trang đầu",
                    "last": "Trang cuối",
                    "next": "Trang sau",
                    "previous": "Trang trước"
                }
            },
            "ajax": {
                "url": "/phong-cdvt/quyet-dinh/trung-dai-tu/xu-ly/GetData",
                "type": "POST",
                "datatype": "json",
                "data": {
                    "id": documentary_id
                },
                "cache": false
            },
            "columns": [
                { "data": "equipmentId", "name": "equipmentId" },
                { "data": "equipment_name", "name": "equipment_name" },
                { "data": "quantity", "name": "quantity" },
                { data: "remodel_type", name: "remodel_type" },
                { data: "equipment_big_maintain_reason", name: "equipment_big_maintain_reason" },
                { data: "end_date", name: "end_date" },
                { data: "next_remodel_type", name: "next_remodel_type" },
                { data: "next_end_time", name: "next_end_time" },
                {
                    "data": "documentary_big_maintain_id",
                    "render": function (data) {
                        return "<a class=\"vattu btn blue darken-2 modal-trigger\" data-id=" + data + " href=\"#vattu\">Vật tư cần</a>";
                    },
                    orderable: false
                },
                {
                    "data": {},
                    "render": function (data) {
                        if (data.attach_to == null)
                            return "<a class=\"thietbi btn blue darken-2 modal-trigger\" data-id=" + data.documentary_big_maintain_id + " href=\"#thietbi\">Thiết&nbsp;bị&nbsp;con&nbsp;cần</a>";
                        else
                            return "";
                    },
                    orderable: false
                },
                {
                    "data": {},
                    "render": function (data) {
                        if (data.equipment_big_maintain_status == 0) return "<button id=\"buttonChon\" class='btn blue darken-2 buttonChon' value=\"" + data.documentary_big_maintain_id + "\">Chưa xử lý</button>";
                        else return "<button disabled class=\"btn blue darken-2\">Đã xử lý</button>"
                    },
                    orderable: false
                }
            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "lengthChange": false,
            "searching": false,
            "initComplete": function (settings, json) {
                $('#pre-load').hide();
            },
            "preDrawCallback": function (settings) {
                $('#pre-load').show();
            },
            "drawCallback": function (settings) {
                $('#pre-load').hide();
            }
        });

        $(document).on('click', '.vattu', function () {
            $('#vattu tbody').empty();
            $('#pre-load').show();
            documentary_big_maintain_id = $(this).data("id");
            $.ajax({
                url: "/phong-cdvt/quyet-dinh/trung-dai-tu/chi-tiet",
                method: "post",
                dataType: "json",
                cache: false,
                data: {
                    documentary_big_maintain_id: $(this).data("id"),
                    isSupply: true
                },
                success: function (response) {
                    if (response.success) {
                        for (let i = 0; i < response.data.length; i++) {
                            let $tr = $('<tr>').append(
                                $('<td>').text(response.data[i].supply_id),
                                $('<td>').text(response.data[i].supply_name),
                                $('<td>').html(response.data[i].quantity_plan),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_in + " max=" + response.data[i].quantity_plan + " class='form-control quantity_in' />"),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_used + " max=" + response.data[i].quantity_plan + " class='form-control quantity_used' />"),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_out + " max=" + response.data[i].quantity_plan + " class='form-control quantity_out' />"),
                            ).data("id", response.data[i].supplyDocumentaryEquipmentId);
                            $tr.appendTo('#vattu tbody');
                        }
                    }
                    $('#pre-load').hide();
                },
                error: function () {
                    $('#pre-load').hide();
                }
            })
        })

        $(document).on('click', '.thietbi', function () {
            $('#thietbi tbody').empty();
            $('#pre-load').show();
            documentary_big_maintain_id = $(this).data("id");
            $.ajax({
                url: "/phong-cdvt/quyet-dinh/trung-dai-tu/chi-tiet",
                method: "post",
                dataType: "json",
                cache: false,
                data: {
                    documentary_big_maintain_id: $(this).data("id"),
                    isSupply: false
                },
                success: function (response) {
                    if (response.success) {
                        for (let i = 0; i < response.data.length; i++) {
                            let $tr = $('<tr>').append(
                                $('<td>').text(response.data[i].equipmentId),
                                $('<td>').text(response.data[i].equipment_name),
                                $('<td>').html(response.data[i].quantity_plan),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_in + " max=" + response.data[i].quantity_plan + " class='form-control quantity_in' />"),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_used + " max=" + response.data[i].quantity_plan + " class='form-control quantity_used' />"),
                                $('<td>').html("<input type='number' min='1' value=" + response.data[i].quantity_out + " max=" + response.data[i].quantity_plan + " class='form-control quantity_out' />"),
                            ).data("id", response.data[i].supplyDocumentaryEquipmentId);
                            $tr.appendTo('#thietbi tbody');
                        }
                    }
                    $('#pre-load').hide();
                },
                error: function () {
                    $('#pre-load').hide();
                }
            })
        })

        $('#vattu #submit').click(function () {
            ajaxEdit("#vattu tbody tr");
        })

        $('#thietbi #submit').click(function () {
            ajaxEdit("#thietbi tbody tr");
        })
    })

    $("#complex_header").on("click", ".buttonChon", function () {
        if ($(this).text() == "Chưa xử lý") {
            $(this).text('Đã xử lý')
        }
        else {
            $(this).text('Chưa xử lý')
        }
    });

    $(document).on("click", "#savechange", function myfunction() {
        var equipments = [];
        for (var i = 0; i < $('#complex_header tbody tr').length; i++) {
            if ($('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').text() == "Đã xử lý" && !$('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').prop("disabled"))
                equipments.push($('#complex_header tbody tr:nth-child(' + (i + 1) + ') button').val());
        }
        if (equipments.length == 0)
            return false;
        $("#pre-load").show();
        $.ajax({
            type: "POST",
            url: "/phong-cdvt/quyet-dinh/trung-dai-tu/xu-ly",
            dataType: "json",
            success: function (data) {
                if (data.success == true) {
                    dataTable.ajax.reload(function () {
                        $('#pre-load').hide();
                        successAlert(data.message);
                    });
                }
                else {
                    $('#pre-load').hide();
                    errorAlert(data.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
                errorAlert('Lỗi');
            },
            data: {
                id: documentary_id,
                edit: JSON.stringify(equipments)
            },
            cache: false
        })
    })

    function ajaxEdit(selector) {
        $('#pre-load').show();
        let input = {};
        for (var i = 0; i < $(selector).length; i++) {
            let $tr = $(selector).eq(i);
            let a = {};
            a.quantity_in = $tr.find(".quantity_in").val();
            a.quantity_used = $tr.find(".quantity_used").val();
            a.quantity_out = $tr.find(".quantity_out").val();
            input[$tr.data("id")] = a;
        }

        $.ajax({
            url: "/phong-cdvt/quyet-dinh/trung-dai-tu/xu-ly/edit",
            method: "post",
            dataType: "json",
            cache: false,
            data: {
                data: JSON.stringify(input),
                documentary_type: 1
            },
            success: function (response) {
                if (response.success)
                    successAlert("Cập nhật thành công");
                else
                    errorAlert(response.message);
                $('#pre-load').hide();
            },
            error: function () {
                errorAlert("Có lỗi xảy ra");
                $('#pre-load').hide();
            }
        });
    }
</script>