@{
    ViewBag.Title = "BaoHiemOto";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row center">
            <h3><b>THÔNG TIN BẢO HIỂM ÔTÔ</b></h3>
            <hr>
            <datalist id="listid-s"></datalist>
            <form action="" method="POST" id="mysearchform" role="form">
                <div class="col l6 m6 s12">
                    <div class="col l7 m7 s12 offset-l2 offset-m2 input-field">
                        <input list="listid-s" type="text" placeholder="Tìm kiếm theo mã thiết bị" class='form-control' id="equipmentId-search" />
                    </div>
                    <div class="col l7 m7 s12 offset-l2 offset-m2 input-field">
                        <input list="listid-s" type="text" placeholder="Tìm kiếm theo tên thiết bị" class='form-control' id="equipmentName-search" />
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="col l10 m10 s12 input-field">
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type='text' class='datepicker-here center' id="date-start-search" data-language='vi' placeholder="Ngày hết hạn (từ)" style="height: 34px" />
                    </div>
                    <div class="col l10 m10 s12 input-field">
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type='text' class='datepicker-here center' id="date-end-search" data-language='vi' placeholder="Ngày hết hạn (đến)" style="height: 34px" />
                    </div>
                </div>
                <div class="col l12 m12 s12">
                    <div class="col l12 m12 s12 input-field center">
                        <a class="waves-effect waves-light btn blue darken-2 modal-close modal-trigger" id="searchButton1">Tìm kiếm</a>
                    </div>
                </div>
            </form>
            <div class="col s12 table_container">
                <table class="table-bordered striped table-responsive centered"
                       style="margin-top:30px; text-align:center;" id="complex_header">
                    <thead>
                        <tr>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th>Tình trạng hiện tại</th>
                            <th>Thời gian hết hạn bảo hiểm</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<form action="" method="POST" id="myeditform" role="form">
    <div id="myedit" class="modal">
        <div class="modal-content">
            <div class="modal-header center">
                <h3><b>Cập nhật bảo hiểm</b></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Thời gian bảo hiểm dự tính sau: </label>
                            <input required type='text' class='datepicker-here form-control minDate' data-language='vi' value="" id="date-temp-edit" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" readonly id="id-edit" />
                <button class="waves-effect waves-light btn blue darken-2   ">Lưu</button>
                <button type="button" class="btn light-blue modal-close darken-2" id="exit-edit-button">Đóng</button>
            </div>
        </div>
    </div>
</form>
@using (Html.BeginForm("ChangeID", "Hoatdong", FormMethod.Post, new
{
    id = "ChangeIDForm",
    enctype = "multipart/form-data",
    onSubmit = "return ChangeID(this);",
    data_restUrl = Url.Action("ChangeID", "Hoatdong", new { id = "" })
}))
{
    <input type="hidden" id="id-s" name="id" value=" " />
    <input type="hidden" id="ck" name="ck" value="0" />
}

<script>
    var ck = true;
    var waittime = 0;
   $(document).ready(function () {
        setInterval(function () {
            waittime++;
            if (waittime > 2 && ck == true) {
                $("#ChangeIDForm").submit();
                waittime = 0;
                ck = false;
            }
            if (waittime > 10) {
                ck = true;
            }
        }, 1000); 
    });

    $("#equipmentId-search").keyup(function (e) {
        if (e.which == 13) {
            $("#searchButton1").click();
            $("#documentary_code-search").blur();
        } else {
            var text = $("#equipmentId-search").val();
            $("#id-s").val(text);
            $("#ck").val("0");
            if (waittime > 1) {
                $("#ChangeIDForm").submit();
                waittime = 0;
            } else {
                waittime = 0;
            }


        }
    });

    $("#equipmentName-search").keyup(function (e) {
        if (e.which == 13) {
            $("#searchButton1").click();
            $("#documentary_code-search").blur();
        } else {
            var text = $("#equipmentName-search").val();
            $("#id-s").val(text);
            $("#ck").val("1");
            if (waittime > 1) {
                $("#ChangeIDForm").submit();
                waittime = 0;
            } else {
                waittime = 0;
            }


        }
    });

    function ChangeID(form) {

        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    $("#listid-s").empty();
                    var option = "";
                    for (var i = 0; i < data.id.length; i++) {
                        var s = data.id[i].equipmentId;
                        var a = "<option value='" + s + "'>" + s + "</option>";
                        option += a;
                    }
                    $("#listid-s").append(option);
                },
                error: function () {
                    alert(response.data.message);

                }
            });
        }

        return false;
    }


    $(document).ready(function () {
        $('#date-temp-edit').datepicker({
            language: 'vi',
            minDate: new Date()
        })

        $('.datepicker-inline').remove();
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + (yyyy + 30);
        $(".minDate").each(function () {
            $(this).val(today);
        });
        today = new Date("1/1/1900");
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        $(".maxDate").val(today)
    });

    $(document).ready(function () {
        $('input[required]').each(function myfunction() {
            $(this).attr("oninvalid", "setCustomValidity('Không được bỏ trống ô này')");
            $(this).attr("oninput", "this.setCustomValidity('')");
        })
    })
</script>
@section scripts{
    <script>
        var Popup, dataTable;
        $("#pre-load").show();

        $(document).ready(function () {
            dataTable = $('#complex_header').DataTable({
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang sau",
                        "previous": "Trang trước"
                    }
                },
                "ajax": {
                    "url": "/phong-cdvt/oto/bao-hiem",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "equipmentId": function () { return $('#equipmentId-search').val() },
                        "equipmentName": function () { return $('#equipmentName-search').val() },
                        "dateStart": function () { return $('#date-start-search').val() },
                        "dateEnd": function () { return $('#date-end-search').val() }
                    },
                    "cache": false
                },
                "columns": [
                    { "data": "equipmentId", "name": "equipmentId" },
                    { "data": "equipment_name", "name": "equipment_name" },
                    { "data": "statusname", "name": "statusname" },
                    { "data": "stringExpectedTime", "name": "inspect_date" },
                    {
                        "data": {}, "render": function (data) {
                            return "<a href=\"#myedit\" data-toggle=\"modal\" class=\"open-EditModal waves-effect waves-light btn blue darken-1 modal-trigger\" data-equipmentId=\"" + data.equipmentId + "\" data-inspect_id=\"" + data.inspect_id + "\">Cập&nbsp;nhật</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "serverSide": "true",
                "order": [3, "asc"],
                "rowId": "incident_id",
                "lengthChange": false,
                "searching": false,
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                },
                "preDrawCallback": function (settings) {
                    $('#pre-load').show();
                },
                "drawCallback": function (settings) {
                    $('#pre-load').hide();
                }
            });
        });


        $(document).ready(function () {
            var dataTable = $('#complex_header').DataTable();

            //ajax add
            $("#myeditform").submit(function (e) {
                $("#pre-load").show();
                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/oto/bao-hiem/add",
                    dataType: "json",
                    success: function (data) {
                        dataTable.ajax.reload();
                        if (data.success == true)
                            successAlert('Thành công', data.message);
                        else
                            errorAlert('Lỗi', data.message);
                        $('#exit-edit-button').click();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                        errorAlert('Lỗi', 'Có lỗi xảy ra');
                    },
                    data: {
                        inspect_id: $('#id-edit').val(),
                        dateTemp: $('#date-temp-edit').val()
                    },
                    cache: false
                }).done(function () {
                    $("#pre-load").hide();
                    $("#exit-update-button").click();
                })
                return false;
            });

            //search
            $("#searchButton1").click(function () {
                $("#pre-load").show();
                dataTable.ajax.reload(function () {
                    $("#pre-load").hide();
                })
            });
        });

        //get data and push to modal edit
        $(document).on("click", ".open-EditModal", function () {
            $('#myedit h3').text("Cập nhật bảo hiểm cho thiết bị " + $(this).data('equipmentid'));
            var inspect_id = $(this).data('inspect_id');
            $('#id-edit').val(inspect_id);
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = dd + '/' + mm + '/' + (yyyy + 1);
            $('#myedit .minDate').val(today);
        });
    </script>
}