.check-box {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid #555;
}

.text-font__normal {
    font-family: Poppins-Regular;
    font-size: 16px;
}

#page-title {
    color: #4d4d4d;
    margin-bottom: 30px;
}

ul.text-center li {
    margin-bottom: 20px !important;
    text-align: left;
    color: gray;
    background: white;
    font-size: 15px;
    padding: 10px !important;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(171,171,171,1);
    -moz-box-shadow: 3px 3px 12px 0px rgba(171,171,171,1);
    box-shadow: 3px 3px 12px 0px rgba(171,171,171,1);
}

    ul.text-center li * {
        color: #259bff;
        font-size: 15px;
        vertical-align: middle;
    }

    ul.text-center li button {
        padding: 3px;
    }

.login100-form {
    width: 350px !important;
}

.nav-icon {
    width: 5%;
    height: 4%;
    float: right
}

ul.text-center li form .nav-icon {
    margin-right: 20px;
}

.nav-icon {
    margin-top: 4px;
    animation: blinker 2s linear infinite;
}

.nav-container {
    cursor: pointer;
    transition: transform .5s;
}
    .nav-container:hover {
        transform: scale(1.2);
    }

@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}