
@{
    Layout = null;
    string version = string.Concat("v", typeof(QUANGHANH2.MvcApplication).Assembly.GetName().Version);
}
<style>

    .check-box {
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 10px;
        border: 1px solid #555;
    }

    .text-font__normal {
        font-family: Poppins-Regular;
        font-size: 16px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập | Công Ty Than Quang Hanh</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/util.css">
    <link rel="stylesheet" type="text/css" href="/css/login/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login/custom.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/login/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!--===============================================================================================-->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <link href="~/css/preloader/css.css" rel="stylesheet" />

</head>
<body>
    <div class="limiter">
        <div id="pre-load" hidden>
            <div class="loading">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt style="padding-bottom: 120px;">
                    <img src="/images/login/quanghanh.png" alt="IMG">
                </div>
                <div class="login100-form validate-form">
                    <span class="login100-form-title" style="padding-bottom: 0 !important;">
                        <h3><b>CỔNG CHUYỂN ĐỔI HỆ THỐNG</b></h3>
                    </span>
                    <div class="text-center">
                        <p>
                            @using (Html.BeginForm("Index", "LogIn", FormMethod.Get, new { @class = "login100-form validate-form" }))
                            {
                                <button class="btn btn-link" type="submit">
                                    <span class="text-font__normal">Hệ thống quản lý và điều độ sản xuất</span>
                                </button>
                            }
                        </p>
                        <p>
                            <a class="text-font__normal" href="http://113.162.60.102:6868/">
                                Hệ thống quản lý nhân sự - suất ăn - văn phòng
                            </a>
                        </p>
                        <p>
                            <a class="text-font__normal" href="https://quanghanh.tacnghiep.net/">
                                Hệ thống tác nghiệp & Quản lý công văn
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="/js/login/main.js"></script>
    <script>
        $(".loading").css("z-index", 99999);
        $('body').css('overflow', '');
        function showPreLoad() {

            $('#pre-load').show();
        }
    </script>
</body>
</html>