
@{
    Layout = null;
    string version = string.Concat("v", typeof(QUANGHANH2.MvcApplication).Assembly.GetName().Version);
}
<style>
 
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập | Công Ty Than Quang Hanh</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/util.css">
    <link rel="stylesheet" type="text/css" href="/css/login/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login/custom.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/login/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet">
    <!--===============================================================================================-->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <link href="~/css/preloader/css.css" rel="stylesheet" />
    <link href="~/css/navpage.css" rel="stylesheet" />
</head>
<body>
    <div class="limiter">
        <div id="pre-load" hidden>
            <div class="loading">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt style="padding-bottom: 120px;">
                    <img src="/images/login/quanghanh.png" alt="IMG">
                </div>
                <div class="login100-form validate-form">
                    <span class="login100-form-title" style="padding-bottom: 0 !important;">
                        <b><h4 id="page-title">ĐIỀU HƯỚNG HỆ THỐNG</h4></b>
                    </span>
                    <ul class="text-center">
                        <li class="nav-container">
                            @using (Html.BeginForm("Index", "LogIn", FormMethod.Get, new { @class = "login100-form validate-form" }))
                            {
                                <button class="btn btn-link navigator-link" type="submit">
                                    <span class="text-font__normal">Hệ thống quản lý và điều độ sản xuất</span>
                                </button>
                                <img class="nav-icon" src="~/assets/images/nav/next-icon.png"/>
                            }

                        </li>
                        <li class="nav-container" onclick="window.location.href='http://113.162.60.102:6868/'">
                            <a class="text-font__normal navigator-link">
                                Hệ thống quản lý nhân sự/suất ăn/văn phòng 
                            </a>
                            <img class="nav-icon" src="~/assets/images/nav/next-icon.png" />
                        </li>
                        <li class="nav-container" onclick="window.location.href='https://quanghanh.tacnghiep.net/'">
                            <a class="text-font__normal navigator-link">
                                Hệ thống tác nghiệp & Quản lý công văn
                            </a>
                            <img class="nav-icon" src="~/assets/images/nav/next-icon.png" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/assets/extra-libs/prism/prism.js"></script>
    <script src="~/dist/js/custom.min.js"></script>
    <script src="/js/login/main.js"></script>
    <script src="~/js/anime.min.js"></script>
    <script>
        $(".loading").css("z-index", 99999);
        $('body').css('overflow', '');
        function showPreLoad() {

            $('#pre-load').show();
        }

    </script>
</body>
</html>