@{
    ViewData["Title"] = "quyet-dinh-sua-chua";
    {
        Layout = "~/Views/Shared/_Layout_Cam.cshtml";
    }

}

<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="center">
            <h3><b>CHI TIẾT QUYẾT ĐỊNH</b></h3>
        </div>
        <div class="col s12">
            <div class="row table_container">
                <table class="striped centered table-bordered" id="DocumnetaryTable">
                    <thead>
                        <tr>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th>Vị trí</th>
                            <th>Lý do sửa chữa</th>
                            <th>Vật tư cần  </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId">Danh sách vật tư đi kèm</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <table id="test" class="striped table-responsive centered table-bordered mytable">
                    <thead>
                        <tr>
                            <th>Mã vật tư</th>
                            <th>Tên vật tư</th>
                            <th>Số lượng</th>
                            <th>Chất lượng</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <input type="hidden" id="dsvattu" disabled />
            <input type="hidden" id="mathietbi" disabled />
            <input type="hidden" id="maquyetdinh" disabled />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-add-button">Thoát</button>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/sweetalert/sweetalert2.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
    <script>

            $(document).ready(function () {
          	$("#pre-load").show();
        $("#pre-load").css("z-index", "9999");
            DocumnetaryTable1 = $('#DocumnetaryTable')
                .on('preXhr.dt', function (e, settings, data) {

                    $("#pre-load").show();
                    $("#pre-load").css("z-index", "9999");
                   data.sessionId = "@ViewBag.id";

                }).DataTable({
                    "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                "paginate": {
                    "first": "Trang đầu",
                    "last": "Trang cuối",
                    "next": "Trang sau",
                    "previous": "Trang trước"
                }
            },
                "ajax": {
                    "url": "@Url.Action("Detail","ChitietSuachuaCam")",
                    "type": "POST",
                    "datatype": "json",
                    },
                    "drawCallback": function () {
                        $("#pre-load").hide();
                    },
                    "columns": [
                        { "data": "camera_id", "name": "camera_id" },
                        { "data": "camera_name", "name": "camera_name" },
                        { "data": "room_name", "name": "room_name" },
                        { "data": "reason", "name": "reason" },
                        {
                            "data": "idAndEquip", "name": "idAndEquip", "render": function (data) {
                            return "<a data-list=\"" + data + "\" class=\"waves-effect waves-light btn-small blue modal-trigger open-Modal\" href=\"#mylist\">Vật tư đi kèm</a>";
                             },
                        }
                        
                ],
                    "serverSide": true,
                    "order": [0, "asc"],
                    "lengthChange": false,
                    "searching": false,
                   "initComplete": function () {
                    $("#pre-load").hide();
                }

            });
            });


          //get data and push to modal list
        $(document).on("click", ".open-Modal", function () {
            $("#pre-load").show();
            $("#test").find("tr:gt(0)").remove();
            var QDIdAndEquipId = $(this).data('list');
            $('#listId').text("Danh sách vật tư đi kèm của thiết bị " + QDIdAndEquipId.split("^")[1])
            $("#mathietbi").val(QDIdAndEquipId.split("^")[1])
            $("#maquyetdinh").val(QDIdAndEquipId.split("^")[0])
            $.ajax({
                type: "POST",
                url: "/camera/GetSupply",
                dataType: "json",
               success: function (data) {
                   if (data.success == true) {
                       $(function () {
                           $.each(data.data, function (i, item) {
                               var $tr = $('<tr>').append(
                                   $('<td>').text(item.supply_id),
                                   $('<td>').text(item.supply_name),
                                   $('<td>').text(item.quantity_plan),
                                   $('<td>').text(item.supplyStatus)
                               );
                               $tr.appendTo('#test');
                           });
                       });
                   }
                    else {
                       errorAlert('', data.message);
                       $("#exit-add-button").click();
                   }
                           $("#pre-load").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.notify(XMLHttpRequest.responseText, {
                        globalPosition: "top center",
                        className: "error"
                    });
                     $("#pre-load").hide();
                },
                data: {
                    documentary_id: QDIdAndEquipId.split("^")[0],
                    equipmentId: QDIdAndEquipId.split("^")[1]
                },
                cache: false
            })
        });


            function dateFormat2(d) {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }
    </script>
}

