@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<style>
    #detailModal {
        overflow-y: scroll;
        width: 90%;
        max-height: 90% !important;
    }

    #toast-container {
        min-width: 10%;
        top: 0;
        right: 50%;
        transform: translateX(50%) translateY(50%);
    }

    #export-button {
        float: right !important;
        margin-bottom: 10px !important;
    }
</style>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content row">
                <div>
                    <h3 class="center"><b>QUYẾT ĐỊNH CHƯA XỬ LÍ</b></h3>
                </div>
                <div class="row">
                    <div class="input-field col s2">

                    </div>
                    <div class="input-field col s3">
                        <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='input-field form-control ' id="searchMaNV" multiple />
                    </div>
                    <div class="input-field col s3">
                        <input type="text" placeholder="Tìm kiếm theo ngày" class=' input-field thoigian datepicker-here form-control ' id="searchDate" multiple />
                    </div>
                    <div class="input-field col s2">
                        <button class=" waves-effect waves-light btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                    </div>
                </div>
                <br />
                <div class="col s12 m12 l12">
                    <br />
                    <table id="quyetDinhTable" class="striped responsive-table table-bordered">
                        <thead>
                            <tr>
                                <th class="center">Số thứ tự</th>
                                <th class="center">Số quyết định</th>
                                <th class="center">Ngày quyết định</th>
                                <th class="center"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <br />

            </div>
        </div>
    </div>
</div>
<div id="detailModal" class="modal">
    <div class="modal-content">
        <h4>Chi tiết điều động</h4>
        <p>Số quyết định: <b id="soqd-detail"></b></p>
        <p>Ngày quyết định: <b id="ngayqd-detail"></b></p>
        <div class="col l3 m3">
            <div class=" btn cyan left waves-effect waves-light" id="export-button">
                <i class="fas fa-file-word"></i><span> Xuất Quyết định</span>
            </div>
        </div>
        <table class="striped responsive-table table-bordered">
            <thead>
                <tr>
                    <th>Số thứ tự</th>
                    <th>Mã nhân viên</th>
                    <th style="width: 400px">Họ và tên</th>
                    <th style="width: 300px">Đơn vị cũ</th>
                    <th style="width: 200px">Chức vụ cũ</th>
                    <th style="width: 300px">Đơn vị điều động</th>
                    <th style="width: 200px">Chức vụ điều động</th>
                    <th style="width: 200px">Thang bậc lương</th>
                    <th style="width: 200px">Phụ cấp</th>
                    <th style="width: 200px">Bậc</th>
                    <th style="width: 200px">Mức lương</th>
                    <th style="width: 300px">Lý do điều động</th>
                </tr>
            </thead>
            <tbody id="detail-table">
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Đóng</a>
    </div>
</div>
<script src="~/js/Custom JS/Disable_input_material.js"></script>
@section scripts{

    <script>
        var elem = document.querySelector('.modal');
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
    <script>
        ///////////////////DATATABLES AND SEARCHING///////////////////
        $("#pre-load").show("slow", function () {
        });
        $("#pre-load").css("z-index", "99999");
        var Popup, dataTable;

        $(document).ready(function () {
            var stt = 0;
            dataTable = $('#quyetDinhTable')
                .on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");

                    data.searchMaNV = $("#searchMaNV").val();
                    data.searchDate = $("#searchDate").val();
                })
                .DataTable({
                    "ajax": {
                        "url": "/phong-tcld/dieu-chuyen/chua-xu-li-dieu-chuyen",
                        "type": "POST",
                        "datatype": "json",
                    },
                    "drawCallback": function (settings) {
                        $("#pre-load").hide("slow", function () {
                        });
                    },
                    "columns": [
                        {
                            "render": function (data, type, full, meta) {
                                return meta.row+1;
                            }
                        },
                        {
                            "data": "SoQuyetDinh", "name": "SoQuyetDinh",
                            "render": function (data, type, full) {
                                return "<button class=\" waves-effect waves-light btn blue darken-2 btn-small\" onclick='updateSoQD(" + full.MaQuyetDinh + ")'><i class=\"far fa-edit\"></i> Cập nhật số quyết định</button>";
                            }
                        },
                        {
                            "data": "NgayQuyetDinh", "name": "NgayQuyetDinh",
                            "render": function (data) {
                                var dateString = data.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var month = currentTime.getMonth() + 1;
                                var day = currentTime.getDate();
                                var year = currentTime.getFullYear();
                                var date = day + "/" + month + "/" + year;
                                return date;
                            }
                        },
                        {
                            "render": function (data, type, full) {
                                return "<a class=\"waves-effect waves-light btn  blue modal-trigger\" href=\"#detailModal\" onclick='detail(" + full.MaQuyetDinh + ")'><i class=\"fas fa-file-alt\"></i><span> Chi tiết</a>\n" +
                                    "<a class=\" waves-effect waves-light btn blue darken-2 btn-small \" onclick='deleteQD(" + full.MaQuyetDinh + ")'><i class=\"fa fa-trash\"></i><span> Xóa</a>";
                            },
                            "orderable": false
                        }
                    ],
                    "serverSide": "true",
                    "order": [2, "desc"],
                    "searching": false,
                    "bLengthChange": false,
                    "autoWidth": false,
                    "bFilter": true,
                    "bInfo": false,
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|"
                        }
                    },
                    "initComplete": function (settings, json) {

                        $("#pre-load").hide("slow", function () {
                        });
                    }

                });
            $(".dataTables_paginate").css("float", "left");

            $("#searchButton").click(function () {
                if ($("#searchSoQuyetDinh").val() !== "" || $("#searchMaNV").val() !== "" || $("#searchDate").val() !== "") {
                    dataTable.ajax.reload();
                }
            });
            $(".input-field").keydown(function (e) {
                if (($("#searchSoQuyetDinh").val() !== "" || $("#searchMaNV").val() !== "" || $("#searchDate").val() !== "") && e.keyCode === 13) {
                    dataTable.ajax.reload();
                }
            });


            function changeState(value, state) {
                $.ajax({
                    type: "POST",
                    url: "/sua-chua/save-session/",
                    data: {
                        id: JSON.stringify(value),
                        state: JSON.stringify(state)
                    },
                    dataType: "json",
                    success: function (data) {
                        alert("here" + data.d.toString());
                    }
                });
            }
        });
        function updateList(id) {
            isExist = false;
            for (let i = 0; i < arrCarSelected.length; i++) {
                if (arrCarSelected[i] == id) {
                    isExist = true;
                    arrCarSelected.splice(i, 1);
                    break;
                }
            }
            if (!isExist && id != "" && id != null) {
                arrCarSelected.push(id)
            }
        }
        function sendData() {
            $.each($("input[name='abc']:checked"), function () {
            });
        }

        ///////////////////VALIDATE/////////////
        $(".thoigian").keydown(function (e) {
            if (e.keyCode === 8) {
                $(".thoigian").val("");
            } else {
                e.preventDefault();
            }
            
        });
    </script>

    <script>
        function detail(id) {
            $("#pre-load").show("slow", function () {
            });
            $('body').css('overflow', 'auto');
            $("#detail-table").empty();
            $("#soqd-detail").empty();
            $("#ngayqd-detail").empty();
            $.ajax({
                type: 'post',
                url: '/phong-tcld/dieu-chuyen/da-xu-li-dieu-chuyen-detail',
                data: { MaQD: JSON.stringify(id) },
                success: function (response) {
                    $("#soqd-detail").append(" " + "Chưa có");
                    $("#ngayqd-detail").append(" " + convertDate(response.list[0].NgayQuyetDinh));
                    $("#export-button").attr('onclick', 'exportQD(' + response.list[0].MaQuyetDinh + ')');
                    if (response.success) {
                        var stt = 1;
                        for (var i = 0; i < response.list.length; i++) {
                            $("#detail-table").append("<tr>");
                            $("#detail-table").append("<td>" + (stt++) + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].MaNV + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].Ten + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].DonViCu + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].ChucVuCu + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].DonViMoi + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].ChucVuMoi + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].ThangLuong + "</td>");
                            $("#detail-table").append("<td>" + AddComma(response.list[i].PhuCap==null?"0":response.list[i].PhuCap) + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].BacLuongMoi + "</td>");
                            $("#detail-table").append("<td>" + AddComma(response.list[i].MucLuongMoi) + "</td>");
                            $("#detail-table").append("<td>" + response.list[i].LyDoDieuDong + "</td>");
                            $("#detail-table").append("</tr>");
                        }
                        $("#pre-load").hide("slow", function () {
                        });
                    } else {

                    }
                }
            })
        }
        function convertDate(data) {
            var dateString = data.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }
        function exportQD(id) {
            $("#pre-load").show("slow", function () {
            });
            $.ajax({
                type: 'post',
                url: '/phong-tcld/dieu-chuyen/da-xu-li-dieu-chuyen-detail-export',
                data: { MaQD: JSON.stringify(id) },
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.location;
                        $("#pre-load").hide("slow", function () {
                        });
                    } else {
                        $("#pre-load").hide("slow", function () {
                        });
                        errorAlert("Lỗi", "");
                    }
                }
            })
        }
    </script>
    <script>
        function deleteQD(id) {
            confirmAlert("Xác nhận xóa", "Xóa quyết định",
                function () {
                    $("#pre-load").show("slow", function () {
                    });
                    $.ajax({
                        type: 'post',
                        url: '/phong-tcld/dieu-chuyen/chua-xu-li-dieu-chuyen-delete',
                        data: { MaQD: JSON.stringify(id) },
                        success: function (response) {
                            if (response.success) {
                                $("#pre-load").hide("slow", function () {
                                });
                                reloadAlert("Xóa quyết định thành công!", 3000);
                            } else {
                                $("#pre-load").hide("slow", function () {
                                });
                                errorAlert(response.message, "");
                            }
                        }
                    })
                }
            )
        }
    </script>
    <script>
        function updateSoQD(id) {
            submitSingle("Cập nhật số quyết định", "Cập nhật", function (data) {
                $("#pre-load").show("slow", function () {
                });
                $.ajax({
                    type: 'post',
                    url: '/phong-tcld/dieu-chuyen/chua-xu-li-dieu-chuyen-update',
                    data: {
                        MaQD: JSON.stringify(id),
                        SoQDText: JSON.stringify(data)
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            $("#pre-load").hide("slow", function () {
                            });
                            reloadAlert("Cập nhật quyết định thành công!", 3000);
                        } else {
                            $("#pre-load").hide("slow", function () {
                            });
                            errorAlert(response.message, "");
                        }
                    }
                })
            })
        }
    </script>
    <script>
        function AddComma(Num) { //function to add commas to textboxes
            Num += '';
            Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
            Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
            x = Num.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1))
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            return x1 + x2;
        }
    </script>
}