
@{
    ViewData["Title"] = "Consumption";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="row table_container">
    <div class="col s12">
        <div class="center">
            <h1 class="centered"><b>Theo dõi tiêu thụ nhiên liệu</b></h1>
        </div>

        <ul class="right">
            <li class="myli" style="display: inline-block">
                <a class="waves-effect waves-light btn btn-round green">Tải lên</a>
            </li>
            <li class="myli" style="display: inline-block">
                <a class="waves-effect waves-light btn btn-round green">In báo cáo</a>
            </li>
        </ul>
        <ul class="left"></ul>

        <div style="height: 35px"></div>
        <table class="table table-bordered striped table-responsive centered"
               style="margin-top:30px; text-align:center;">
            <thead>
                <tr>
                    <th style="text-align:center">Tháng</th>
                    <th style="min-width:100px">Loại nhiên liệu tiêu thụ</th>
                    <th>Lượng tiêu thụ</th>
                    <th>Đơn vị</th>
                    <th colspan="2"></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1/2019</td>
                    <td>Xăng</td>
                    <td>300</td>
                    <td>Lít</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>2/2019</td>
                    <td>Dầu nhũ hóa</td>
                    <td>190</td>
                    <td>Lít</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>3/2019</td>
                    <td>Dầu mỡ</td>
                    <td>9</td>
                    <td>Lít</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>4/2019</td>
                    <td>Xăng</td>
                    <td>300</td>
                    <td>Lít</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>5/2019</td>
                    <td>Dầu nhũ hóa</td>
                    <td>190</td>
                    <td>Lít</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>6/2019</td>
                    <td>Dầu mỡ</td>
                    <td>9</td>
                    <td>Lít</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr style="color:crimson">
                    <th>Tổng</th>
                    <th>Xăng</th>
                    <th>600</th>
                    <th>Lít</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="color:crimson">
                    <th></th>
                    <th>Dầu nhũ hóa</th>
                    <th>380</th>
                    <th>Lít</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="color:crimson">
                    <th></th>
                    <th>Dầu mỡ</th>
                    <th>18</th>
                    <th>Lít</th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myadd">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Tháng : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="id">Mã thiết bị : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tên thiết bị : </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="name">Loại nhiên liệu tiêu thụ : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Lượng tiêu thụ : </label>
                            <input type="number" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="id">Đơn vị : </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Tháng : </label>
                            <input type="text" class="form-control" value="1/2019" />
                        </div>
                        <div class="form-group">
                            <label for="id">Mã thiết bị sử dụng : </label>
                            <input type="text" class="form-control" value="63149187" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tên thiết bị sử dụng : </label>
                            <input type="text" class="form-control" value="Ô tô trung xa, phục vụ" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="name">Loại nhiên liệu tiêu thụ : </label>
                            <input type="text" class="form-control" value="Xăng" />
                        </div>

                        <div class="form-group">
                            <label for="supplier">Lượng tiêu thụ : </label>
                            <input type="number" class="form-control" value="300" />
                        </div>


                        <div class="form-group">
                            <label for="id">Đơn vị : </label>
                            <input type="text" class="form-control" value="Lít" />
                        </div>


                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div id="myaleart" class="modal">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Xóa mục này?
            </div>
            <div class="col s3">
                Dữ liệu sẽ không thể phục hồi sau thao tác này
                <div class="col s4 offset-s8" style="margin-top:30px">
                    <a class="waves-effect waves-light btn btn-round red">Xác nhận</a>
                    <a class="waves-effect waves-light btn btn-round blue">Thoát</a>
                </div>
            </div>
        </div>

    </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Danh sách hết bảo hiểm</a></li>
    <li><a href="#!">Danh sách hết khấu hao</a></li>
    <li><a href="#!">Danh sách đang bảo dưỡng</a></li>
    <li><a href="#!">Danh sách đang sửa chữa</a></li>
    <li><a href="#!">Danh sách đang gặp sự cố</a></li>
</ul>
<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
    <a class="btn-floating btn-large red"><i class="material-icons">settings</i></a>
    <ul>
        <li>
            <a class="btn-floating red tooltipped" data-position="left" data-tooltip="In báo cáo">
                <i class="material-icons">assignment</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green tooltipped" data-position="left" data-tooltip="Tải lên">
                <i class="material-icons">publish</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Thêm">
                <i class="material-icons">add</i>
            </a>
        </li>
    </ul>
</div>
<div class="modal fade" id="myadd">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Nhập nhiên liệu tiêu thụ</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã thiết bị gặp sự cố : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="id">Số hiệu : </label>
                            <input type="number" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Vị trí gặp sự cố : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Thời gian bắt đầu sự cố : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Thời gian dùng hoạt động</label>
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="id">Tên thiết bị : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Biển số(nếu có) :</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Đơn vị chịu trách nhiệm : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="number">Thời gian xử lý xong sự cố: </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Lý do sự cố</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div id="myaleart" class="modal">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Xóa mục này?
            </div>
            <div class="col s3">
                Dữ liệu sẽ không thể phục hồi sau thao tác này
                <div class="col s4 offset-s8" style="margin-top:30px">
                    <a class="waves-effect waves-light btn btn-round red">Xác nhận</a>
                    <a class="waves-effect waves-light btn btn-round blue">Thoát</a>
                </div>
            </div>
        </div>
    </div>
</div>