
@{
    ViewBag.Title = "Điểm Danh";
    Layout = "~/Views/Shared/PX/_Layout_PXKT.cshtml";
}

<link href="~/assets/Custom css/PX/PXKT/ReportProduct.css" rel="stylesheet" />
<style>
    table {
        counter-reset: tableCount;
    }

    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
</style>

<div class="card">
    <div class="card-content">
        <form>
            <div class="row center">
                <h3>
                    THỰC HIỆN ĐIỂM DANH CỦA VTL1 <a class="dropdown-trigger btn" id="ca" href="#" data-target="dropdown_ca" style="background-color:#273146">CA 1</a> NGÀY <input type="text" id="inputdate" class="datepicker-here center" data-language="vi">
                    <a class="btn waves-effect waves-light blue modal-trigger" id="btn-view" href="#" onclick="getcontent();">Xem</a>
                    <br><br>
                </h3>
                <hr>
            </div>
            <div class="row center">
                <table id="attendance" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Mã Nhiên Viên</th>
                            <th>Tên Nhân Viên</th>
                            <th>Đi làm</th>
                            <th>Thời gian  có mặt</th>
                            <th>Ngày</th>
                            <th>Lý do vắng mặt</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<ul id='dropdown_ca' class='dropdown-content'>
    <li><a class="dropdown-child-ca" href="#" name="ca1">CA 1</a></li>
    <li><a class="dropdown-child-ca" href="#" name="ca2">CA 2</a></li>
    <li><a class="dropdown-child-ca" href="#" name="ca3">CA 3</a></li>
</ul>


<div id="modal1" class="modal">
    <div class="modal-content">
        <h3><b>Bạn có chắc chắn muốn lưu không?</b></h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn blue" id="btn_agrr" onclick="Update();">Lưu</a>
        <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn red">Hủy</a>
    </div>
</div>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#attendance').DataTable({
                "lengthChange": false,
                "filter": false
            });
        })
    </script>    
}



