@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/PX/_Layout_PXKT.cshtml";
}

<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet" />
<link href="~/dist/css/pages/easy-pie-chart.css" rel="stylesheet" />
<link href="/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="/dist/css/pages/easy-pie-chart.css" rel="stylesheet">

<!--Custom Css QUANGHANH-->
<link href="~/assets/Custom css/DK/ReportHuman/ReportChart_Mothly.css" rel="stylesheet" />
<link href="~/assets/Custom css/PX/PXKT/ReportProduct.css" rel="stylesheet" />


<div class="row">
    <div class="col l12 m12 s12">
        <div class="card">
            <div class="card-content">
                <h3 class="center">
                    <b>BÁO CÁO THỰC HIỆN KẾ HOẠCH SẢN XUẤT PHÂN XƯỞNG KHAI THÁC 11 </b>
                </h3>
                <!--Date here-->
                <br>
                <hr />
                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="card info-gradient card-hover">
                            <div class="card-content">
                                <div class="col l12">
                                    <h3 class="white-text m-b-5 center">Kế hoạch năm 2019</h3>
                                    <hr />
                                    <br />
                                </div>
                                <div class="row">
                                    <div class="col l6 m6 s12">
                                        <div class="d-flex no-block align-items-center">
                                            <div class="fontsize_custom">
                                                <p class="white-text m-b-5 fontsize_custom">Than:112,000 Tấn</p>
                                                <h6 class="white-text op-1">Sản lượng theo kế hoạch</h6>
                                                <h6 class="white-text op-1">Đạt 40,494 Tấn trong 6T</h6>
                                            </div>
                                            <div class="ml-auto">
                                                <span class="white-text display-6">
                                                    <i class="material-icons">timelapse</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l6 m6 s12">
                                        <div class="d-flex no-block align-items-center">
                                            <div class="fontsize_custom">
                                                <p class="white-text m-b-5 fontsize_custom">Mét lò:200m</p>
                                                <h6 class="white-text op-1">Sản lượng theo kế hoạch</h6>
                                                <h6 class="white-text op-1">Đạt 230m trong 6T</h6>
                                            </div>
                                            <div class="ml-auto">
                                                <span class="white-text display-6">
                                                    <i class="material-icons">equalizer</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l12 m12 s12">
                        <div class="card info-gradient card-hover">
                            <div class="card-content">
                                <div class="row">
                                    <h3 class="white-text m-b-5 center">Kế hoạch quý II/2019</h3>
                                    <hr />
                                    <br />
                                </div>
                                <div class="row">
                                    <div class="col l6 m6 s12">
                                        <div class="d-flex no-block align-items-center">
                                            <div class="fontsize_custom">
                                                <p class="white-text m-b-5 fontsize_custom">Than:32,000 Tấn</p>
                                                <h6 class="white-text op-1">Sản lượng theo kế hoạch</h6>
                                                <h6 class="white-text op-1">Đạt 23,564 Tấn trong 1/2 quý</h6>
                                            </div>
                                            <div class="ml-auto">
                                                <span class="white-text display-6">
                                                    <i class="material-icons">timelapse</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l6 m6 s12">
                                        <div class="d-flex no-block align-items-center">
                                            <div class="fontsize_custom">
                                                <p class="white-text m-b-5">Mét lò:60m</p>
                                                <h6 class="white-text op-1">Sản lượng theo kế hoạch</h6>
                                                <h6 class="white-text op-1">Đạt 98m trong 1/2 quý</h6>

                                            </div>
                                            <div class="ml-auto">
                                                <span class="white-text display-6">
                                                    <i class="material-icons">equalizer</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="btn-mg-bt">
                    <a class="btn waves-effect waves-light blue" id="btn-fix" href="@Url.Content("/phan-xuong-khai-thac/nhap-du-lieu")">Nhập dữ liệu</a>
                </div>
                <div class="table-container">
                    <table class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>
                                <th>Ngày</th>
                                <th>Tổng lao động đi làm</th>
                                <th>Than KT/kế hoạch</th>
                                <th>% thực hiện được so với kế hoạch</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="@Url.Content("/phan-xuong-khai-thac/chi-tiet")">13/7/2019</a></td>
                                <td>67</td>
                                <td>160/350</td>
                                <td>45,7%</td>
                            </tr>
                            <tr>
                                <td><a href="#">12/7/2019</a></td>
                                <td>66</td>
                                <td>210/350</td>
                                <td>60%</td>
                            </tr>
                            <tr>
                                <td><a href="#">11/7/2019</a></td>
                                <td>65</td>
                                <td>181/350</td>
                                <td>51,7%</td>
                            </tr>
                            <tr>
                                <td><a href="#">10/7/2019</a></td>
                                <td>62</td>
                                <td>289/350</td>
                                <td>82,6%</td>
                            </tr>
                            <tr>
                                <td><a href="#">9/7/2019</a></td>
                                <td>66</td>
                                <td>233/350</td>
                                <td>66,6%</td>
                            </tr>
                            <tr>
                                <td><a href="#">8/7/2019</a></td>
                                <td>65</td>
                                <td>166/350</td>
                                <td>47,4%</td>
                            </tr>
                            <tr>
                                <td><a href="#">6/7/2019</a></td>
                                <td>56</td>
                                <td>371/350</td>
                                <td>106%</td>
                            </tr>
                            <tr>
                                <td><a href="#">5/7/2019</a></td>
                                <td>63</td>
                                <td>336/350</td>
                                <td>96%</td>
                            </tr>
                            <tr>
                                <td><a href="#">4/7/2019</a></td>
                                <td>60</td>
                                <td>289/350</td>
                                <td>82,6%</td>
                            </tr>
                            <tr>
                                <td><a href="#">3/7/2019</a></td>
                                <td>64</td>
                                <td>310/350</td>
                                <td>88,6%</td>
                            </tr>
                            <tr>
                                <td><a href="#">2/7/2019</a></td>
                                <td>63</td>
                                <td>255/350</td>
                                <td>72,9%</td>
                            </tr>
                            <tr>
                                <td><a href="#">1/7/2019</a></td>
                                <td>62</td>
                                <td>185/350</td>
                                <td>52,9%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>