
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/PX/_Layout_PXKT.cshtml";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<div class="card">
    <div class="card-content">
        <form>
            <div class="row center">
                <h3>
                    ĐIỂM DANH CỦA DL3 <a class="dropdown-trigger btn" id="ca" href="#" data-target="dropdown_ca" style="background-color:#273146">CA 1</a> NGÀY <input type="text" id="inputdate" class="datepicker-here center" data-language="vi">
                    <a class="btn waves-effect waves-light blue modal-trigger" id="btn-view" href="#" onclick="getcontent();">Xem</a>
                    <br><br>
                </h3>
                <hr>
            </div>
            <div class="row center" style="overflow-x:auto!important">
                <table id="attendanceTable" class="cell-border striped hover">
                    <thead>
                        <tr>
                            <th>Mã Điều Động</th>
                            <th>Mã Nhân Viên</th>
                            <th>Mã Đơn Vị</th>
                            <th>Tên Nhân Viên</th>
                            <th>Đi làm</th>
                            <th>Thời gian có mặt</th>
                            <th>Lý do vắng mặt</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn" id="EditSaveBtn" onclick="EditOrUpdate()"><i class="material-icons right">border_color</i>Cập Nhật</a>
            </div>
        </form>
    </div>
</div>
<ul id='dropdown_ca' class='dropdown-content'>
    <li><a class="dropdown-child-ca" href="#" name="ca1">CA 1</a></li>
    <li><a class="dropdown-child-ca" href="#" name="ca2">CA 2</a></li>
    <li><a class="dropdown-child-ca" href="#" name="ca3">CA 3</a></li>
</ul>


<div id="modal1" class="modal">
    <div class="modal-content">
        <h3><b>Bạn có chắc chắn muốn lưu không?</b></h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn blue" id="btn_agrr" onclick="Update();">Lưu</a>
        <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn red">Hủy</a>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        var mode = 0;
        $(document).ready(() => {
            $('input.timepicker').timepicker({});
            attendanceTable = $("#attendanceTable").DataTable({
                "columnDefs": [
                    { "className": "dt-center", "targets": "_all" }
                ],
                "responsive": true,
                "order": [],
                "filter": false,
                "paging": false,
                "bLengthChange": false,
                "ajax": {
                    "url": "/phan-xuong-khai-thac/diem-danh",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": function (result) {
                        return JSON.parse(result.data);
                    }
                },
                "columns": [
                    { data: "MaDD" },
                    { data: "maNV" },
                    { data: "maDV" },
                    { data: "tenNV" },
                    {
                        data: "status", render: function (data) {
                            if (data) {
                                return "<label><input type=\"checkbox\" checked=\"checked\"/ disabled=\"disabled\" class=\"checkBox\"><span></span></label>";
                            } else {
                                return "<label><input type=\"checkbox\"disabled=\"disabled\"class=\"checkBox\"/><span></span></label>";
                            }
                        }
                    },
                    {
                        data: "timeAttendance", render: function (data) {
                            if (data != null) {
                                return "<span class=\"dateTime\">" + data + "</span>"
                            } else
                                return "<span class=\"dateTimeTest\"></span>"
                        }
                    },
                    {
                        data: "reason", render: function (data, type, row) {
                            if (data == null) {
                                return "";
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        data: "description", render: function (data) {
                            if (data != null) {
                                return "<input disabled value=\"" + data + "\" type=\"text\" class=\"\">"
                            } else
                                return "<input disabled value=\"\" type=\"text\" class=\"inputTest\">"
                        }
                    }
                ]
            })
        })

        function validateInput() {

        }

        function EditOrUpdate() {
            // mode == 0 => view mode , mode ==1 => edit mode
            if (mode == 0) {
                $("#EditSaveBtn").html("<i class=\"material-icons right\">border_color</i>Lưu");
                $(".inputTest").removeAttr("disabled")
                $(".checkBox").removeAttr("disabled")
                $(".reasonTest").html("<select class=\"browser-default \"> <option value=\"\" disabled selected>Lựa chọn lý do</option> <option value=\"1\">Ốm</option> <option value=\"2\">Vô lý do</option><option value=\"3\">Nghỉ phép</option></option> <option value=\"2\">Vô lý do</option><option value=\"4\">Khác</option></select>");
                //
                mode = 1;
            } else {
                $("#EditSaveBtn").html("<i class=\"material-icons right\">border_color</i>Cập Nhật");
                mode = 0;
                //$("#attendanceTable").DataTable().ajax = {
                //    "url": "/phan-xuong-khai-thac/diem-danh/cap-nhat",
                //    "type": "POST",
                //    "datatype": "json"
                //}
                var dataUpdate = updateReason();
                if (dataUpdate.length > 0) {
                    $("#attendanceTable").on('preXhr.dt', function (e, settings, data) {
                        data.sessionId = JSON.stringify(dataUpdate)
                    })
                    $("#attendanceTable").DataTable().ajax.url("/phan-xuong-khai-thac/diem-danh/cap-nhat").load();
                } else {
                    $.notify("Cập nhật thành công", {
                        globalPosition: "Không được bỏ trống lý do khác",
                        className: "fail"
                    })
                }
            }
        }

        function updateReason() {
            var heads = ["maDD", "maNV", "maDV", "tenNV", "status", "timeAttendance", "reason", "description"];
            //
            var rows = [];
            count = 0;
            $("tbody tr").each(function () {
                cur = {};
                //cur["maDD"] = $("#attendanceTable").row(count).data()["maDD"];
                //count++;
                $(this).find("td").each(function (i, v) {
                    if (heads[i] != "maDD") {
                        if (heads[i] != "status" && heads[i] != "reason") {
                            cur[heads[i]] = $(this).text().trim();
                        }
                        if (heads[i] == "status") {
                            var attr = $(this).children("label").children("input");
                            cur[heads[i]] = attr.is(":checked");
                        }
                        if (heads[i] == "reason") {
                            cur[heads[i]] = $(this).children("span").find(":selected").text();
                        }
                        if (heads[i] == "description") {
                            if ($(this).children("span").find(":selected").text() == "Khác" && $(this).children("input").val() == "") {
                                return []
                            }
                            cur[heads[i]] = $(this).children("input").val();
                        }
                    }
                });
                rows.push(cur);
                cur = {};
            });
            return rows;
        }
    </script>
}