
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/PX/_Layout_PXKT.cshtml";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<div class="card">
    <div class="card-content">
        <form>
            <div class="row">
                <div class="col l3 row">
                    <div class="col l6">
                        <div class="row">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" id="workedAllCheckbox" onclick="searchEmployee()" />
                                <span>Những người đi làm</span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" id="notWorkedAllCheckbox" onclick="searchEmployee()" />
                                <span>Những người không đi làm</span>
                            </label>
                        </div>
                    </div>
                    <div class="col l6 center">
                        <div> <h5>Lần cuối cập nhật: </h5></div>
                        <div> <h5 id="timeFetchSuccessfully">@ViewBag.time </h5></div>
                    </div>
                </div>
                <div class="col l6 center">
                    <h3>
                        ĐIỂM DANH CỦA <span id="departmentID">PXKT1</span> <a class="dropdown-trigger btn" id="ca" href="#" data-target="dropdown_ca" style="background-color:#273146">CA 1</a> NGÀY <input type="text" id="inputdate" class="datepicker-here center" data-language="vi" value="" />
                        <a class="btn waves-effect waves-light blue modal-trigger" id="btn-view" href="#" onclick="getcontent();">Xem</a>
                        <br><br>
                    </h3>
                </div>
                <div class="col l3 center">
                    <a class="waves-effect waves-light btn-large" onclick="fetchAPI()">Cập nhật điểm danh</a>
                </div>
                <hr>
            </div>
            <div class="row center" style="overflow-x:auto!important">
                <table id="attendanceTable" class="cell-border striped hover">
                    <thead>
                        <tr>
                            <th>Thuộc danh sách đi làm</th>
                            <th>Mã Nhân Viên</th>
                            <th>Tên Nhân Viên</th>
                            <th>Đi làm</th>
                            <th>Mã Điểm Danh</th>
                            <th>Thời gian có mặt</th>
                            <th>Lý do vắng mặt</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn" id="EditSaveBtn" onclick="EditOrUpdate()"><i class="material-icons right">border_color</i>Cập Nhật</a>
            </div>
        </form>
    </div>
</div>
<ul id='dropdown_ca' class='dropdown-content'>
    <li><a class="dropdown-child-ca" href="#" name="ca1">CA 1</a></li>
    <li><a class="dropdown-child-ca" href="#" name="ca2">CA 2</a></li>
    <li><a class="dropdown-child-ca" href="#" name="ca3">CA 3</a></li>
</ul>


<div id="modal1" class="modal">
    <div class="modal-content">
        <h3><b>Bạn có chắc chắn muốn lưu không?</b></h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn blue" id="btn_agrr" onclick="Update();">Lưu</a>
        <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn red">Hủy</a>
    </div>
</div>

<span hidden value="hihi" id="createdHeader"></span>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(() => {
            var currentTime = new Date();
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            // default date
            date = "10/09/2019"
            //
            $("#inputdate").val(date);
            //
        })
    </script>
    <script>
        var mode = 0;
        $(document).ready(() => {
            $('input.timepicker').timepicker({});
            attendanceTable = $("#attendanceTable")
                .on('preXhr.dt', function (e, settings, data) {
                        data.session = $("#ca").text().split(" ")[1];
                        data.department = $("#departmentID").text();
                        data.date = convertToSQLDate($("#inputdate").val());
                })
                .DataTable({
                "columnDefs": [
                    { "className": "dt-center", "targets": "_all" }
                ],
                "responsive": true,
                "order": [],
                "filter": false,
                "paging": false,
                "bLengthChange": false,
                "ajax": {
                    "url": "/phan-xuong-khai-thac/diem-danh",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": function (result) {
                        return JSON.parse(result.data);
                    }
                },
                "initComplete": function (settings) {
                    $("#8056").html("hihi");
                },

                "columns": [
                    {
                        data: "headerID", render: function (data, type, row) {
                            if (data == true) {
                                return "<label><input onclick=\"clickConfirm(this)\" type=\"checkbox\" checked=\"checked\" disabled=\"disabled\" class=\"checkBox1\" id='" + row["maNV"] + "-confirmed'/><span></span></label>";
                            } else {
                                return "<label><input onclick=\"clickConfirm(this)\" type=\"checkbox\"disabled=\"disabled\"class=\"checkBox1\" id=\"" + row["maNV"].trim() + "-confirmed\"/><span></span></label>";
                            }
                        }
                    },
                    { data: "maNV" },
                    { data: "tenNV" },
                    {
                        data: "status", render: function (data, type, row) {
                            if (data) {
                                return "<label><input onclick=\"clickConfirm(this)\" type=\"checkbox\" checked=\"checked\" disabled=\"disabled\" class=\"checkBox1\" id='" + row["maNV"] + "-   status'/><span></span></label>";
                            } else {
                                return "<label><input onclick=\"clickConfirm(this)\" type=\"checkbox\"disabled=\"disabled\"class=\"checkBox1\" id=\"" + row["maNV"].trim() + "-status\"/><span></span></label>";
                            }
                        }
                    },
                    {
                        data: "headerID", render: function (data) {
                            if (data != null) {
                                return data
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        data: "timeAttendance", render: function (data) {
                            if (data != null) {
                                return "<span class=\"dateTime\">" + data + "</span>"
                            } else
                                return "<span class=\"dateTimeTest\"></span>"
                        }
                    },
                    {
                        data: "reason", render: function (data, type, row) {
                            if (row['status']) {
                                return ""
                            } else {
                                if (data != null) {
                                    return "<span class=\"reasonBox\">" + data + "</span>"
                                } else {
                                    return "<span class=\"reasonBox\">" + "</span>"
                                }
                            }
                        }
                    },
                    {
                        data: "description", render: function (data) {
                            if (data != null) {
                                return "<input disabled value=\"" + data + "\" type=\"text\" class=\"inputDescription\">"
                            } else
                                return "<input disabled value=\"\" type=\"text\" class=\"inputDescription\">"
                        }
                    }
                ]
            })
        })

        function convertToSQLDate(dateInput) {
            var date = dateInput.split("/")[0]
            var month = dateInput.split("/")[1]
            var year = dateInput.split("/")[2]
            //
            return year + "-" + month + "-" + date;
            //
        }

        function validateInput() {

        }

        function loadDatatableWith(url) {
            return new Promise((resolve, reject) => {
                $("#attendanceTable").DataTable().ajax.url(url).load();
                console.log("1");
                resolve("successfully");
            })

        }

        function EditOrUpdate() {
            // mode == 0 => view mode , mode ==1 => edit mode
            if (mode == 0) {
                $("#EditSaveBtn").html("<i class=\"material-icons right\">border_color</i>Lưu");
                $(".inputTest").removeAttr("disabled")
                $(".inputDescription").removeAttr("disabled")
                $(".checkBox").removeAttr("disabled")
                $(".checkBox1").removeAttr("disabled")
                console.log(mode)
                $("#workedAllCheckbox").hide();
                $("#notWorkedAllCheckbox").hide();
                $(".reasonBox").html("<select class=\"browser-default \"> <option value=\"\" disabled selected>Lựa chọn lý do</option> <option value=\"1\">Ốm</option> <option value=\"2\">Vô lý do</option><option value=\"3\">Nghỉ phép</option></option><option value=\"4\">Khác</option></select>");
                //
                mode = 1;
            } else {
                $("#EditSaveBtn").html("<i class=\"material-icons right\">border_color</i>Cập Nhật");
                mode = 0;
                var dataUpdate = updateReason();
                if (dataUpdate.length > 0) {
                    $("#attendanceTable").on('preXhr.dt', function (e, settings, data) {
                        data.sessionId = JSON.stringify(dataUpdate)
                        data.session = $("#ca").text().split(" ")[1];
                        data.department = $("#departmentID").text();
                        data.date = convertToSQLDate($("#inputdate").val());
                    })
                    // $("#attendanceTable").DataTable().ajax.url("/phan-xuong-khai-thac/diem-danh/cap-nhat").load();
                    loadDatatableWith("/phan-xuong-khai-thac/diem-danh/cap-nhat")
                        .then((status) => {
                            console.log(status);
                            $("#workedAllCheckbox").show();
                            $("#notWorkedAllCheckbox").show();
                    })
                } else {
                    $.notify("Cập nhật thành công", {
                        globalPosition: "Không được bỏ trống lý do khác",
                        className: "fail"
                    })
                    $("#workedAllCheckbox").show();
                    $("#notWorkedAllCheckbox").show();
                }
            }
        }

        function clickConfirm(checkbox) {
            // format : id+"confirm" or id+"status"
            var clickedID = $(checkbox).attr("id");
            //
            var confirm = $("#" + clickedID.split("-")[0] + "-confirmed").is(":checked");
            var status = $("#" + clickedID.split("-")[0] + "-status").is(":checked");
            console.log("confirm: " + confirm)
            console.log("status: " + status)
            if (clickedID.split("-")[1] == "confirmed") {
                if (!confirm) {
                    $("#" + clickedID.split("-")[0] + "-status").attr("checked", false);
                }
            }
            else {
                if (!confirm && status) {
                    $("#" + clickedID.split("-")[0] + "-confirmed").attr("checked", true);
                    console.log("#" + clickedID.split("-")[0] + "-confirmed")
                }
            }
        }

        function updateReason() {
            var heads = ["isEnvolved","maNV","tenNV", "status","headerID", "timeAttendance", "reason", "description"];
            //
            var rows = [];
            count = 0;
            $("tbody tr").each(function () {
                cur = {};
                $(this).find("td").each(function (i, v) {
                    if (i != 4) {
                        if (heads[i] != "status" && heads[i] != "isEnvolved") {
                            cur[heads[i]] = $(this).text().trim();
                        }
                        if (heads[i] == "status" || heads[i] == "isEnvolved") {
                            var attr = $(this).children("label").children("input");
                            cur[heads[i]] = attr.is(":checked");
                        }
                        if (heads[i] == "reason") {
                            var selectValue = $(this).children("span").children("select").val();
                            // console.log($(this).children("span").children("select").val())
                            switch (selectValue) {
                                case "1":
                                    cur[heads[i]] = "Ốm";
                                    break;
                                case "2":
                                    cur[heads[i]] = "Vô lý do";
                                    break;
                                case "3":
                                    cur[heads[i]] = "Nghỉ phép";
                                    break;
                                case "4":
                                    cur[heads[i]] = "Khác";
                                    break;
                                default:
                                    cur[heads[i]] = "";
                                    break;
                            }
                        }
                        if (heads[i] == "description") {
                            cur[heads[i]] = $(this).children("input").val();
                        }
                    }
                });
                cur["headerID"] = $("#attendanceTable").DataTable().row(count).data()["headerID"];
                count++;
                rows.push(cur);
                cur = {};
            });
            return rows;
        }

        function fetchAPI() {
            $("#attendanceTable").on('preXhr.dt', function (e, settings, data) {
                data.session = $("#ca").text().split(" ")[1];
                data.department = $("#phanxuong").text();
                data.date = convertToSQLDate($("#inputdate").val());
            })
            $("#attendanceTable").DataTable().ajax.url("/phan-xuong-khai-thac/diem-danh/lay-thong-tin")
                .load()
            $("#timeFetchSuccessfully").html("@ViewBag.time")
        }

        function searchEmployee() {
            $("#attendanceTable").on('preXhr.dt', function (e, settings, data) {
                data.workChecked = $("#workedAllCheckbox").is(":checked");
                data.notWorkChecked = $("#notWorkedAllCheckbox").is(":checked");
                data.session = $("#ca").text().split(" ")[1];
                data.department = $("#departmentID").text();
                data.date = convertToSQLDate($("#inputdate").val());
            })
            $("#attendanceTable").DataTable().ajax.url("/phan-xuong-khai-thac/diem-danh/lua-chon-diem-danh").load();
        }
    </script>
}