@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/c3/c3.min.css">
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link href="/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">

<div class="card">
    <div class="card-content">
        <div class="col s12">
            <div class="center">
                <h3 class="centered" style="padding-top:20px"><b>BÁO CÁO BẢO DƯỠNG THIẾT BỊ</b></h3>
                <div class="day">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type='text' class='datepicker-here center' id="minMaxDate" data-language='vi' value="15/08/2019" />
                    </h3>
                </div>
                <div class="month" style="display: none">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type="text"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="months"
                               data-view="months"
                               data-date-format="MM yyyy" value="Tháng 6 2019" />
                    </h3>
                </div>
                <div class="quarter" style="display: none">
                    <div class="row">
                        <div class="col l4 m4"></div>
                        <div class="col l2 m2 s4">
                            <select class="form-control" style="width: 30%">
                                <option>Quý I</option>
                                <option selected>Quý II</option>
                                <option>Quý III</option>
                                <option>Quý IV</option>
                            </select>
                        </div>
                        <div class="col l2 m2 s6">
                            <input type="text"
                                   class="datepicker-here center form-control"
                                   data-language='vi'
                                   data-min-view="years"
                                   data-view="years"
                                   data-date-format="yyyy" value="2019" style="width: 150px !important" />
                        </div>
                    </div>
                </div>
                <div class="year" style="display: none">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type="text"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="years"
                               data-view="years"
                               data-date-format="yyyy" value="2019" />
                    </h3>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12">
                <a id="type" class='dropdown-trigger btn' href='#' data-target='dropdown1' style="width:250px;background-color:#273146;margin-bottom:20px">Xem Theo Ngày</a>
            </div>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" onclick="ResizeChart()" href="#bieudo"><b>Biểu đồ</b></a></li>
                    <li class="tab col s6"><a href="#solieu"><b>Bảng báo cáo</b></a></li>
                </ul>
            </div>
        </div>

    </div>

</div>
<ul id='dropdown1' class='dropdown-content'>
    <li><a id="day" href="#">Xem Theo Ngày</a></li>
    <li><a id="month" href="#">Xem Theo Tháng</a></li>
    <li><a id="quarter" href="#">Xem Theo Quý</a></li>
    <li><a id="year" href="#">Xem Theo Năm</a></li>
</ul>


<div id="bieudo">
    <div class="card">
        <div class="card-content center-align">
            <div class="row">
                <div class="col l12 s12">
                    <h5 class="card-title">Thống kê thiết bị bảo dưỡng</h5>
                    <div style="margin-top: 40px">
                        <div data-label="53%" class="css-bar css-bar-55 css-bar-lg css-bar-warning">
                        </div>
                    </div>
                </div>

                <div class="col l6 s12">
                    <h3 class="font-medium">900</h3>
                    <h6 class="red-text font-medium m-b-0">Thiết bị bảo dưỡng</h6>
                </div>

                <div class="col l6 s12">
                    <h3 class="font-medium">1700</h3>
                    <h6 class="green-text font-medium m-b-0">Tổng thiết bị</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 l6">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title">Tổng chi phí bảo dưỡng</h5>
                    <div id="maintain-value" style="height:250px; width:100%;" class="m-t-20"></div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div style="margin-top:10px">
                            <h4 class="font-medium"><span style="color:#1e88e5">Tổng :</span>25,200 (triệu đồng)</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col s12 l6">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title">Tổng thiết bị sửa chữa</h5>
                    <div id="maintain-type" style="height:250px; width:100%;" class="m-t-20"></div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div style="margin-top:10px">
                            <h4 class="font-medium"><span style="color:#1e88e5">Tổng :</span>900 (chiếc)</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="row">

        <div id="solieu" class="col s12">
            <div class="report_container">

                <div class="row table_container">
                    <div class="col l12">
                        <table class="table table-bordered striped table-responsive">
                            <thead>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 left">
                        <div class="export_btn_container">
                            <a style="margin-bottom:20px" class="waves-effect waves-light btn mybtn" onclick="window.open('bao-duong/excel')">Xuất ra file excel</a>
                        </div>
                    </div>
                    <div class="col l12">
                        <h3>TỔNG HỢP BÁO CÁO: </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="summary_container">
                        <div class="col l6 summary_left">
                            <table class=" table-bordered striped">
                                <tbody>
                                    <tr>
                                        <th class="total_row">Tổng số lao động đến ngày 19/9: </th>
                                        <td class="total_row">1794</td>
                                    </tr>
                                    <tr>
                                        <th>KT</th>
                                        <td>1334</td>
                                    </tr>
                                    <tr>
                                        <th>CĐ</th>
                                        <td>400</td>
                                    </tr>
                                    <tr>
                                        <th>HS</th>
                                        <td>60</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col l6 summary_right">
                            <table class=" table-bordered striped">
                                <tbody>
                                    <tr>
                                        <th class="total_row">Tổng số lao động nghỉ ốm dài: </th>
                                        <td class="total_row">45</td>
                                    </tr>
                                    <tr>
                                        <th>...</th>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <th>...</th>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <th>...</th>
                                        <td>...</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="~/js/Custom JS/CDVT/Report/DetailManu.js"></script>
<script src="~/js/Custom JS/CDVT/Report/ChangeDateType.js"></script>
<script>
    $('#minMaxDate').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });
    $(document).ready(function () {
        var date = new Date();
        var d = date.getMonth() + 1 + '/' + date.getDate() + '/' + date.getFullYear();
        $("#minMaxDate").val(d);
        $("#type").html("Xem Theo Ngày");
    });
</script>

<script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<!-- This page plugin js -->
<!-- ============================================================== -->
<script src="/assets/libs/chartist/dist/chartist.min.js"></script>
<script src="/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="/assets/libs/gaugeJS/dist/gauge.min.js"></script>
<script src="/assets/extra-libs/c3/d3.min.js"></script>
<script src="/assets/extra-libs/c3/c3.min.js"></script>
<script src="/assets/extra-libs/sparkline/sparkline.js"></script>

<script src="~/js/Custom JS/CDVT/Report/maintain-type.js"></script>
<script src="~/js/Custom JS/CDVT/Report/maintain-value.js"></script>

<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" />
<script src="~/js/thang_js/PowerUsage.js"></script>
<script src="~/js/DetailManu.js"></script>
<script src="~/js/thang_js/ChangeDateType.js"></script>
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>

