
@{
    ViewData["Title"] = "Báo cáo sử dụng điện năng theo Quý";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>

<div class="card">
    <div class="card-content">
        <div class="col s12">
            <div class="center">
                <h3 class="centered" style="padding-top:20px"><b>BÁO CÁO SỬ DỤNG NĂNG LƯỢNG ĐIỆN</b></h3>
                <div class="day">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type='text' class='datepicker-here center' id="minMaxDate" data-language='vi' value="15/08/2019" />
                    </h3>
                </div>
                <div class="month" style="display: none">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type="text"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="months"
                               data-view="months"
                               data-date-format="MM yyyy" value="Tháng 6 2019" />
                    </h3>
                </div>
                <div class="quarter" style="display: none">
                    <div class="row">
                        <div class="col l4 m4"></div>
                        <div class="col l2 m2 s4">
                            <select class="form-control" style="width: 30%">
                                <option>Quý I</option>
                                <option selected>Quý II</option>
                                <option>Quý III</option>
                                <option>Quý IV</option>
                            </select>
                        </div>
                        <div class="col l2 m2 s6">
                            <input type="text"
                                   class="datepicker-here center form-control"
                                   data-language='vi'
                                   data-min-view="years"
                                   data-view="years"
                                   data-date-format="yyyy" value="2019" style="width: 150px !important" />
                        </div>
                    </div>
                </div>
                <div class="year" style="display: none">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type="text"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="years"
                               data-view="years"
                               data-date-format="yyyy" value="2019" />
                    </h3>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12">
                <a id="type" class='dropdown-trigger btn' href='#' data-target='dropdown1' style="width:250px;background-color:#273146;margin-bottom:20px">Xem Theo Ngày</a>
            </div>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" onclick="ResizeChart()" href="#bieudo"><b>Biểu đồ</b></a></li>
                    <li class="tab col s6"><a href="#solieu"><b>Bảng báo cáo</b></a></li>
                </ul>
            </div>
        </div>

    </div>

</div>
<ul id='dropdown1' class='dropdown-content'>
    <li><a id="day" href="#">Xem Theo Ngày</a></li>
    <li><a id="month" href="#">Xem Theo Tháng</a></li>
    <li><a id="quarter" href="#">Xem Theo Quý</a></li>
    <li><a id="year" href="#">Xem Theo Năm</a></li>
</ul>


<div id="bieudo">
    <div class="row">
        <div class="col s12 l3">
            <div class="card" style="height: 200px">
                <div class="card-content align-items-center">
                    <div class="row">
                        <div class="col s12">
                            <h6 class="card-subtitle">Điện năng sử dụng</h6>
                            <h4>24,710,978 kWh</h4>
                        </div>
                        <div class="col s12">
                            <div class="progress">
                                <div class="determinate amber darken+3" style="width: 48%"></div>
                            </div>
                        </div>
                        <div class="col s12">
                            <h4>48%</h4>
                            <h6 class="card-subtitle">Quý 2 so với kế hoạch năm</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 l3">
            <div class="card" style="height: 200px">
                <div class="card-content align-items-center">
                    <div class="row">
                        <div class="col s12">
                            <h6 class="card-subtitle">Sản lượng</h6>
                            <h4>1,517,457 tấn</h4>
                        </div>
                        <div class="col s12">
                            <div class="progress">
                                <div class="determinate amber darken+3" style="width: 45%"></div>
                            </div>
                        </div>
                        <div class="col s12">
                            <h4>45%</h4>
                            <h6 class="card-subtitle">Quý 2 so với kế hoạch năm</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 l3">
            <div class="card" style="height: 200px">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <!-- <h4>45%</h4> -->
                            <h6 class="card-subtitle center-align">Suất tiêu hao</h6>
                        </div>
                        <div class="col s12" style="margin-top: 20px">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h3 class="font-medium">15.07</h3>
                                    <h6 class="red-text font-medium m-b-0">Kế hoạch năm</h6>
                                </div>
                                <div class="ml-auto">
                                    <h3 class="font-medium">16.28</h3>
                                    <h6 class="green-text font-medium m-b-0">Thực hiện</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 l3">
            <div class="card mymanu" style="height: 200px">
                <div class="card-content center-align">
                    <h6 class="card-subtitle center-align m-b-0 white-text">Suất tiêu hao</h6>
                    <h1 class="font-light m-b-0 white-text" style="padding-top: 40px"> 108 % </h1>
                </div>
            </div>
        </div>

    </div>


        <div class="card">
            <div class="card-content analytics-info">
                <h5 class="card-title">Mức tiêu thụ điện năng thực tế quý II/dự kiến năm (%)</h5>
                <div id="PowerUsage1" style="height:600px;"></div>
            </div>
        </div>
       

</div>
<div class="card">

    <div class="row">

        <div id="solieu" class="col s12">
            <div class="row ">
                <div class="col l12">
                    <table class="table-bordered table-responsive striped">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" rowspan="2">Các khâu tiêu hao chính</th>
                                <th class="text-center" colspan="2">Điện năng sử dụng (kWh)</th>
                                <th class="text-center" colspan="3">Sản lượng</th>
                                <th class="text-center" colspan="3">Suất tiêu hao</th>
                                <th class="text-center" rowspan="2">Ghi chú</th>
                            </tr>
                            <tr>
                                <th>Kế hoạch năm</th>
                                <th>Thực hiện quý II</th>
                                <th>ĐVT</th>
                                <th>Kế hoạch năm</th>
                                <th>Thực hiện quý II</th>
                                <th>Kế hoạch năm</th>
                                <th>Thực hiện</th>
                                <th>So sánh %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-weight:bold">
                                <td></td>
                                <td>Tổng cộng</td>
                                <td>51,248,984</td>
                                <td>24,710,978</td>
                                <td>tấn</td>
                                <td>3,400,000</td>
                                <td>1,517,457</td>
                                <td>15.07</td>
                                <td>16.28</td>
                                <td>108</td>
                                <td></td>
                            </tr>
                            <tr class="parent" id="rowA6" style="cursor: pointer">
                                <td>1</td>
                                <td>Bơm nước chính</td>
                                <td>6,851,900</td>
                                <td>3,930,012</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="child-rowA6" style="display:none">
                                <td>_</td>
                                <td>Hầm lò</td>
                                <td>6,072,565</td>
                                <td>3,627,688</td>
                                <td>103m3</td>
                                <td>6,550</td>
                                <td>2,805</td>
                                <td>0.93</td>
                                <td>1.29</td>
                                <td>139</td>
                                <td></td>
                            </tr>
                            <tr class="child-rowA6" style="display:none">
                                <td>_</td>
                                <td>Lộ thiên</td>
                                <td>779,335</td>
                                <td>302,324</td>
                                <td>103m3</td>
                                <td>1,702</td>
                                <td>551</td>
                                <td>0.46</td>
                                <td>0.55</td>
                                <td>120</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Thông gió</td>
                                <td>11,090,284</td>
                                <td>5,554,235</td>
                                <td>103 tấn</td>
                                <td>1,700</td>
                                <td>840,678</td>
                                <td>6.52</td>
                                <td>6.61</td>
                                <td>101</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Đào lò chuẩn bị sản xuất</td>
                                <td>3,707,168</td>
                                <td>1,937,931</td>
                                <td>m</td>
                                <td>13,095</td>
                                <td>6,788</td>
                                <td>283</td>
                                <td>285</td>
                                <td>101</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Khai thác than lò chợ</td>
                                <td>4,185,694</td>
                                <td>1,978,970</td>
                                <td>tấn</td>
                                <td>1,340,000</td>
                                <td>635,701</td>
                                <td>3.1</td>
                                <td>3.1</td>
                                <td>100</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Chống xén</td>
                                <td>90,940</td>
                                <td>29,301</td>
                                <td>mét</td>
                                <td>2,500</td>
                                <td>806</td>
                                <td>36.4</td>
                                <td>36.4</td>
                                <td>100</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Bốc xúc</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Khoan</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Sàng tuyển</td>
                                <td>10,417,415</td>
                                <td>3,755,652</td>
                                <td>103m3</td>
                                <td>3,400</td>
                                <td>1,517</td>
                                <td>3.06</td>
                                <td>2.47</td>
                                <td>81</td>
                                <td></td>
                            </tr>
                            <tr class="parent" id="rowA9" style="cursor: pointer">
                                <td>9</td>
                                <td>Vận tải</td>
                                <td>5,059,779</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="child-rowA9" style="display:none">
                                <td>_</td>
                                <td>Băng tải</td>
                                <td>2,546,989</td>
                                <td>1,201,737</td>
                                <td>tấn</td>
                                <td>  1,484,000</td>
                                <td>698,431</td>
                                <td>1.72</td>
                                <td>1.72</td>
                                <td>100</td>
                                <td></td>
                            </tr>
                            <tr class="child-rowA9" style="display:none">
                                <td>_</td>
                                <td>Tầu điện</td>
                                <td>2,512,790</td>
                                <td>1,346,725</td>
                                <td>Tấn</td>
                                <td>3,404,024</td>
                                <td>1,683,345</td>
                                <td>0.74</td>
                                <td>0.80</td>
                                <td>108
                                <td></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Trục tải</td>
                                <td>2,348,860</td>
                                <td>1,278,404</td>
                                <td>tấn</td>
                                <td>300,747</td>
                                <td>148,724</td>
                                <td>7.81</td>
                                <td>8.60</td>
                                <td>110</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Khí nén</td>
                                <td>3,959,855</td>
                                <td>2,023,281</td>
                                <td>103 tấn</td>
                                <td>1,700</td>
                                <td>840,678</td>
                                <td>2.33</td>
                                <td>2.41</td>
                                <td>103.3
                                <td></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Phục vụ</td>
                                <td>3,229,241</td>
                                <td>1,584,009</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>49</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Khác</td>
                                <td>307,849</td>
                                <td>90,720.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row" style="margin:20px 0px 20px 0px">
                        <div class="col-lg-12 left">
                            <div class="export_btn_container">
                                <a class="waves-effect waves-light btn mybtn" onclick="window.open('nhien-lieu/excel')">Xuất ra file excel</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l12">
                            <h3>TỔNG HỢP BÁO CÁO: </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="summary_container">
                            <div class="col l6 summary_left">
                                <table class="table table-bordered striped">
                                    <tbody>
                                        <tr>
                                            <th class="total_row">Kế hoạch năm: </th>
                                            <td class="total_row"></td>
                                        </tr>
                                        <tr>
                                            <th>Điện năng sử dụng</th>
                                            <td>51,248,984</td>
                                        </tr>
                                        <tr>
                                            <th>Sản lượng</th>
                                            <td>3,400,000</td>
                                        </tr>
                                        <tr>
                                            <th>Suất tiêu hao</th>
                                            <td>15.07</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col l6 summary_right">
                                <table class="table table-bordered striped">
                                    <tbody>
                                        <tr>
                                            <th class="total_row">Thực hiện quý II	: </th>
                                            <td class="total_row"></td>
                                        </tr>
                                        <tr>
                                            <th>Điện năng sử dụng</th>
                                            <td>24,710,978</td>
                                        </tr>
                                        <tr>
                                            <th>Sản lượng</th>
                                            <td>1,517,457</td>
                                        </tr>
                                        <tr>
                                            <th>Suất tiêu hao</th>
                                            <td>16.28</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="~/js/Custom JS/CDVT/Report/PowerUsage.js"></script>
<script src="~/js/Custom JS/CDVT/Report/DetailManu.js"></script>
<script src="~/js/Custom JS/CDVT/Report/ChangeDateType.js"></script>
<script>
    $('#minMaxDate').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });
    $(document).ready(function () {
        var date = new Date();
        var d = date.getMonth() + 1 + '/' + date.getDate() + '/' + date.getFullYear();
        $("#minMaxDate").val(d);
        $("#type").html("Xem Theo Ngày");
    });
</script>