
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<link href="~/dist/css/pages/data-table.css" rel="stylesheet" />
<link href="~/assets/Custom css/TCLD/Eating/Register.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 center">
                <h3><b>ĐĂNG KÝ SUẤT ĂN CỦA PXKT 10</b></h3>
            </div>
            <div class="col s12 input-field center">
                <i class="fas fa-calendar-alt icon"></i>
                <input type="text"
                       data-range="true"
                       data-multiple-dates-separator=" - "
                       data-language="vi"
                       class="datepicker-here center" style="height: 24px"
                       value="01/09/2019 - 05/09/2019" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 table-responsive">
                <table id="complex_header" class="display table-bordered table" style="width:100%">
                    <thead>
                        <tr>
                            <th rowspan="2">Mã NV</th>
                            <th rowspan="2" >Tên</th>
                            <th colspan="3" >T2</th>
                            <th colspan="3" >T3</th>
                            <th colspan="3" >T4</th>
                            <th colspan="3" >T5</th>
                            <th colspan="3" >T6</th>
                            <th rowspan="2" >Chọn tất cả</th>
                        </tr>
                        <tr>
                            <th>K1</th>
                            <th>K2</th>
                            <th>K3</th>
                            <th>K1</th>
                            <th>K2</th>
                            <th>K3</th>
                            <th>K1</th>
                            <th>K2</th>
                            <th>K3</th>
                            <th>K1</th>
                            <th>K2</th>
                            <th>K3</th>
                            <th>K1</th>
                            <th>K2</th>
                            <th>K3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="1">
                            <td>1723</td>
                            <td>Lại Văn Sâm</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="1" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="2">
                            <td>1423</td>
                            <td>Lương Thế Dũng</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="2" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="3">
                            <td>1472</td>
                            <td>Lê Thế Dũng</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="3" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="4">
                            <td>1679</td>
                            <td>Trần Thị Thu</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="4" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="5">
                            <td>1623</td>
                            <td>Lê Thư Thái</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="5" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="6">
                            <td>1222</td>
                            <td>Phạm Văn Đồng</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="6" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="7">
                            <td>1236</td>
                            <td>Phạm Văn Mách</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="7" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="8">
                            <td>1872</td>
                            <td>Phạm Lý Đức</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="8" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="9">
                            <td>1285</td>
                            <td>Lê Văn Luyện</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="9" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr id="10">
                            <td>1059</td>
                            <td>Phạm Ngọc Vượng</td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                            <td>
                                <form action="#">
                                    <p>
                                        <label>
                                            <input type="checkbox" id="10" />
                                            <span></span>
                                        </label>
                                    </p>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="btn cyan waves-effect waves-light right">Đăng ký</button>
            </div>            
        </div>
    </div>
</div>
<script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
<script>
    $("input:checkbox").click(function () {
        $('tr#' + this.id + ' input:checkbox').not(this).prop('checked', this.checked);
    });
</script>

