@{
    ViewBag.Title = "MonthlyQuarterlyReport";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";

}
<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
<style>
    /*#table-container {
        transform: rotateX(180deg);
        overflow: auto;
    }

        #table-container > table {
            transform: rotateX(180deg);
        }*/

    /*#table-container > table > #tableHeader {
        position: fixed;
    }*/

    #yearCalendar {
        width: 15% !important;
        float: right;
    }

    #view-btn {
        float: left;
    }
</style>

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="center black-text row">
                <h3>
                    <b>
                        BÁO CÁO PHÂN XƯỞNG THEO NĂM
                    </b>
                </h3>

                <div class="row">
                    <div class="col l6 m6 s6">
                        <input type="number" id="yearCalendar" class="form-control datepicker-here datepicker-add center"
                               data-language='vi'
                               data-min-view="years"
                               data-view="years"
                               data-date-format="yyyy"
                               required value="2019" />
                    </div>
                    <div class="col l6 m6 s6">
                        <a id="view-btn" class="waves-effect waves-light btn blue darken-2" onclick="getInformation()">XEM</a>
                    </div>
                </div>
            </div>
            <br />
            <hr>
            <br />
        </div>
        <div class="row" id="table-container">
            <table class="centered highlight responsive-table striped responsive-table table-bordered" id="reportTable">
                <thead>
                    <tr>
                        <th rowspan="3">Nhóm tiêu chí</th>
                        <th colspan="12">Q1</th>
                        <th colspan="12">Q2</th>
                        <th colspan="12">Q3</th>
                        <th colspan="12">Q4</th>
                        <th colspan="5" rowspan="2">Cả năm</th>
                    </tr>
                    <tr>
                        <th colspan="3">THÁNG 1</th>
                        <th colspan="3">THÁNG 2</th>
                        <th colspan="3">THÁNG 3</th>
                        <th colspan="3">Tổng Quý</th>
                        <th colspan="3">THÁNG 4</th>
                        <th colspan="3">THÁNG 5</th>
                        <th colspan="3">THÁNG 6</th>
                        <th colspan="3">Tổng Quý</th>
                        <th colspan="3">THÁNG 7</th>
                        <th colspan="3">THÁNG 8</th>
                        <th colspan="3">THÁNG 9</th>
                        <th colspan="3">Tổng Quý</th>
                        <th colspan="3">THÁNG 10</th>
                        <th colspan="3">THÁNG 11</th>
                        <th colspan="3">THÁNG 12</th>
                        <th colspan="3">Tổng Quý</th>
                    </tr>
                    <tr>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>Tỷ lệ</th>
                        <th>TH</th>
                        <th>KHBD</th>
                        <th>KHDC</th>
                        <th>Tỷ lệ</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button style="display:none" id="showmodal" class="modal-trigger" data-target="modal_thieu">show</button>
<div class="modal" id="modal_thieu">
    <div class="modal-header center">
        <h4 style="margin-top: 15px">Các tiêu chí còn thiếu</h4>
    </div>
    <div class="modal-body card">
        <div class="card-content">
            <table class="table-bordered striped" id="thieu_table">
                <thead>
                    <tr>
                        <td>Phòng ban</td>
                        <td>Tiêu chí còn thiếu</td>
                    </tr>
                </thead>
                <tbody id="modal_tbody"></tbody>
            </table>
        </div>
    </div>
</div>

<span hidden value="hihi" id="createdHeader"></span>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/Scripts/notify.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script>
    $(document).ready(function () {
        let count = 0;
    });
</script>
<script>
    function getInformation() {
        $("#pre-load").show("slow", function () { });
        $.ajax({
            type: 'post',
            url: '/phong-dieu-khien/bao-cao-san-xuat-than/bao-cao-san-luong-toan-cong-ty-theo-thang-quy',
            data: {
                'years': $("#yearCalendar").val(),
            },
            success: function (response) {
                if (response.success == true) {
                    data = JSON.parse(response.data);
                    content = "";
                    tieuchiName = ["Jan", "JanKH", "JanPor", "Feb", "FebKH", "FebPor", "March", "MarchKH", "MarchPor", "Q1", "Q1KH", "Q1Por",
                                    "April", "AprilKH", "AprilPor", "May", "MayKH", "MayPor", "June", "JuneKH", "JunePor", "Q2", "Q2KH", "Q2Por",
                                    "July", "JulyKH", "JulyPor", "Aug", "AugKH", "AugPor", "Sep", "SepKH", "SepPor", "Q3", "Q3KH", "Q3Por",
                                    "Oct", "OctKH", "OctPor", "Nov", "NovKH", "NovPor", "Dec", "DecKH", "DecPor", "Q4", "Q4KH", "Q4Por",
                                    "totalYear", "firstPlan", "adjustedPlan", "totalYearPor"]
                    for (let index = 0; index < data.length; index++) {
                        content += "<tr>"
                        if (data[index]["isHeader"]) {
                            content += "<td colspan=\"53\"><b>" + data[index]["TenPhongBan"] + "</b></td>"
                        } else {
                            content += "<th>" + data[index]["TenNhomTieuChi"] + "</th>"
                        }
                        //
                        for (let i = 0; i < tieuchiName.length; i++) {
                            if (!data[index]["isHeader"]) {
                                if (data[index][tieuchiName[i]] != null) {
                                    var value = data[index][tieuchiName[i]];
                                    if (Math.floor(value) != value) {
                                        value = parseFloat(value).toFixed(1)
                                    }
                                    content += "<td>" + value + "</td>"
                                } else {
                                    if (tieuchiName[i] != "GhiChu") {
                                        content += "<td>" + 0 + "</td>"
                                    } else {
                                        content += "<td></td>"
                                    }
                                }
                            }
                        }
                        content += "</tr>"
                    }
                    $("#reportTable").children("tbody").html(content);
                }
                if (response.success == false) {
                    //errorAlert("", response.mess);
                    $("#modal_tbody").empty();
                    data = JSON.parse(response.thieu);
                    content = "";
                    for (var i = 0; i < data.length; i++) {
                        content += "<tr>";
                        content += "<td>" + data[i]["department_name"] + "</td>";
                        content += "<td>" + data[i]["TenNhomTieuChi"] + "</td>";
                        content += "</tr>";
                    }
                    $("#thieu_table").children("tbody").html(content);
                    $("#showmodal").click();
                }
                $("#pre-load").hide("slow", function () { });
            },
            error: function (response) {
            }
        })
    }
</script>
@*<script src="~/js/Custom JS/jquery-freeze-table-master/src/js/freeze-table.js"></script>*@
<script src="~/js/Custom JS/jquery-freeze-table-master/dist/js/freeze-table.js"></script>
<script>
    $("#table-container").freezeTable({});
</script>

@*<script>
        function moveScroll() {
            var scroll = $(window).scrollTop();
            var anchor_top = $("#reportTable").offset().top;
            var anchor_bottom = $("#bottom_anchor").offset().top;
            if (scroll > anchor_top && scroll < anchor_bottom) {
                clone_table = $("#clone");
                if (clone_table.length == 0) {
                    clone_table = $("#reportTable").clone();
                    clone_table.attr('id', 'clone');
                    clone_table.css({
                        position: 'fixed',
                        'pointer-events': 'none',
                        top: 0
                    });
                    clone_table.width($("#reportTable").width() + 2);
                    $("#table-container").append(clone_table);
                    $("#clone thead").css({ visibility: 'visible' });
                    $("#clone tbody").css({ visibility: 'hidden' });
                }
            } else {
                $("#clone").remove();
            }
        }
        $(window).scroll(moveScroll);
        $(window).resize(function () {
            $("#clone").width($("#reportTable").width() + 2);
        })
    </script>*@
