@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout_KCS.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
            <link rel="stylesheet" href="~/css/tuan_css/css/kcs_css/style.css" />
            <div class="row table_container">
                <div class="row">
                    <h3 class="report_title">
                        <B>BÁO CÁO CHẤT LƯỢNG THAN TỒN KHO - TIÊU THỤ VÀ THAN SẠCH SẢN XUẤT</B>
                        <br />
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type="text"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="months"
                               id="minMaxDate"
                               data-view="months"
                               data-date-format="MM yyyy"
                               value="Tháng 08 2019" />
                        <br /><br />
                    </h3>
                    <hr />
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col" class="non_editable column_title" rowspan="3">STT</th>
                                        <th scope="col" class="non_editable column_title" rowspan="3">
                                            Chủng loại
                                        </th>
                                        <th scope="col" class="non_editable column_title" rowspan="2" colspan="2">
                                            Tồn đầu kì
                                        </th>
                                        <th scope="col" class="non_editable column_title" colspan="7">
                                            Nhập trong kì
                                        </th>
                                        <th scope="col" class="non_editable column_title" colspan="6">
                                            Xuất trong kì
                                        </th>
                                        <th scope="col" class="non_editable column_title" rowspan="2" colspan="2">
                                            Tồn cuối kì
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="3" class="non_editable column_title">Than sản xuất</th>
                                        <th colspan="2" class="non_editable column_title">Nội bộ</th>
                                        <th colspan="2" class="non_editable column_title">Pha trộn</th>
                                        <th colspan="2" class="non_editable column_title">Tiêu thụ</th>
                                        <th colspan="2" class="non_editable column_title">Nội bộ</th>
                                        <th colspan="2" class="non_editable column_title">Pha trộn</th>
                                    </tr>
                                    <tr>
                                        <th class="non_editable column_title">SL</th>
                                        <th class="non_editable column_title">Ak</th>
                                        <th class="non_editable column_title">SL</th>
                                        <th class="non_editable column_title">%</th>
                                        <th class="non_editable column_title">Ak</th>
                                        <th class="non_editable column_title">SL</th>
                                        <th class="non_editable column_title">Ak</th>
                                        <th class="non_editable column_title">SL</th>
                                        <th class="non_editable column_title">Ak</th>
                                        <th class="non_editable column_title">SL</th>
                                        <th class="non_editable column_title">Ak</th>
                                        <th class="non_editable column_title">SL</th>
                                        <th class="non_editable column_title">Ak</th>
                                        <th class="non_editable column_title">SL</th>
                                        <th class="non_editable column_title">Ak</th>
                                        <th class="non_editable column_title">SL</th>
                                        <th class="non_editable column_title">Ak</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="highlight-row">
                                        <th class="non_editable" scope="row">I</th>
                                        <th class="non_editable row_title_left" scope="row">Than NKSX tổng số</th>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data" id="total_nksx">93.565</td>
                                        <td class="non_editable cell_data">100,00</td>
                                        <td class="non_editable cell_data">37,81</td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                        <td class="non_editable cell_data"></td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable row_title_center">1</td>
                                        <td class="non_editable"><i>Hầm lò</i></td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">47.506</td>
                                        <td class="cell_data">50,77</td>
                                        <td class="cell_data">38,80</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable row_title_center">2</td>
                                        <td class="non_editable"><i>Lộ thiên</i></td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">2.935</td>
                                        <td class="cell_data">3,14</td>
                                        <td class="cell_data">46,09</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable row_title_center">3</td>
                                        <td class="non_editable"><i>Than nhập Dương</i></td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">43.124</td>
                                        <td class="cell_data">46,09</td>
                                        <td class="cell_data">36,16</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr class="highlight-row">
                                        <td class="non_editable"></td>
                                        <th class="non_editable row_title_left" scope="row">Than NK tồn ĐK</th>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">47.862</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">46,56</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">6,44</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr class="highlight-row">
                                        <td class="non_editable"></td>
                                        <th class="non_editable row_title_left" scope="row">Than NK tồn CK</th>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">34.869</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">40,92</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">2,14</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr class="highlight-row">
                                        <th class="non_editable" scope="row">II</th>
                                        <th class="non_editable row_title_left" scope="row">Than NK vào sàng</th>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">106.558</td>
                                        <td class="cell_data">100,00</td>
                                        <td class="cell_data">40,73</td>
                                        <td class="cell_data">-2,91</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">8,19</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr class="highlight-row">
                                        <th class="non_editable" scope="row">III</th>
                                        <th class="non_editable row_title_left" scope="row">Than sạch sản xuất</th>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">86.615</td>
                                        <td class="cell_data">81,28</td>
                                        <td class="cell_data">31,22</td>
                                        <td class="cell_data">-1,54</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr class="highlight-row">
                                        <th class="non_editable" scope="row">1</th>
                                        <th class="non_editable row_title_left" scope="row">Than TCVN:</th>
                                        <td class="cell_data">10.675</td>
                                        <td class="cell_data">29,83</td>
                                        <td class="cell_data">81.604</td>
                                        <td class="cell_data">76,58</td>
                                        <td class="cell_data">31,05</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">83.459</td>
                                        <td class="cell_data">32,11</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">8.820</td>
                                        <td class="cell_data">19,56</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục 4a.2</td>
                                        <td class="cell_data">2.122</td>
                                        <td class="cell_data">8,72</td>
                                        <td class="cell_data">2.778</td>
                                        <td class="cell_data">2,61</td>
                                        <td class="cell_data">8,17</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">1.875,68</td>
                                        <td class="cell_data">7,62</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">3.024</td>
                                        <td class="cell_data">8.90</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục 5a.2</td>
                                        <td class="cell_data">1.539</td>
                                        <td class="cell_data">9,52</td>
                                        <td class="cell_data">924</td>
                                        <td class="cell_data">0,87</td>
                                        <td class="cell_data">9,47</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">2.463</td>
                                        <td class="cell_data">9,50</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục 3c.1</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục 4a.1</td>
                                        <td class="cell_data">304</td>
                                        <td class="cell_data">20,92</td>
                                        <td class="cell_data">5.531</td>
                                        <td class="cell_data">3,31</td>
                                        <td class="cell_data">20,04</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">3.601,81</td>
                                        <td class="cell_data">20,05</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">233</td>
                                        <td class="cell_data">21,00</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục 5a.1</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">41.097</td>
                                        <td class="cell_data">38,57</td>
                                        <td class="cell_data">28,80</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">37.296,75</td>
                                        <td class="cell_data">28,78</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">3.700</td>
                                        <td class="cell_data">29,00</td>
                                        <td class="cell_data">100</td>
                                        <td class="cell_data">28,00</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục 5b.1</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục 6a.1</td>
                                        <td class="cell_data">2.512</td>
                                        <td class="cell_data">38,24</td>
                                        <td class="cell_data">33.274</td>
                                        <td class="cell_data">31,23</td>
                                        <td class="cell_data">37,51</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">7.398</td>
                                        <td class="cell_data">36,25</td>
                                        <td class="cell_data">40.684,58</td>
                                        <td class="cell_data">37,35</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">2.500</td>
                                        <td class="cell_data">37,00</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục 6b.1</td>
                                        <td class="cell_data">4.198</td>
                                        <td class="cell_data">43,56</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">3.698</td>
                                        <td class="cell_data">43,50</td>
                                        <td class="cell_data">500</td>
                                        <td class="cell_data">44,00</td>
                                    </tr>
                                    <tr>
                                        <th class="non_editable" scope="row">2</th>
                                        <th class="non_editable row_title_left" scope="row">Than TCCS:</th>
                                        <td class="cell_data">5.972</td>
                                        <td class="cell_data">33,99</td>
                                        <td class="cell_data">5.011</td>
                                        <td class="cell_data">4,70</td>
                                        <td class="cell_data">34,06</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">7.717</td>
                                        <td class="cell_data">33,54</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">3.266</td>
                                        <td class="cell_data">35,18</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Than bùn 3C</td>
                                        <td class="cell_data">4.322</td>
                                        <td class="cell_data">41,75</td>
                                        <td class="cell_data">3.900</td>
                                        <td class="cell_data">3,66</td>
                                        <td class="cell_data">39,77</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">5.726,34</td>
                                        <td class="cell_data">40,46</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">2.495</td>
                                        <td class="cell_data">41,61</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục xô 1B</td>
                                        <td class="cell_data">1.650</td>
                                        <td class="cell_data">13,68</td>
                                        <td class="cell_data">1.111</td>
                                        <td class="cell_data">1,04</td>
                                        <td class="cell_data">14,05</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">1.990,71</td>
                                        <td class="cell_data">13,62</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">771</td>
                                        <td class="cell_data">14,37</td>
                                    </tr>
                                    <tr>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">Cục xô 1C</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr>
                                        <th class="non_editable" scope="row">IV</th>
                                        <th class="non_editable row_title_left" scope="row">Đá thải:</th>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">19.943</td>
                                        <td class="cell_data">18,72</td>
                                        <td class="cell_data">82,00</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                        <td class="cell_data">0</td>
                                    </tr>
                                    <tr class="highlight-row">
                                        <td class="non_editable"></td>
                                        <th class="non_editable" scope="row">CỘNG TỔNG</th>
                                        <td class="non_editable">16.647</td>
                                        <td class="non_editable">31,32</td>
                                        <td class="non_editable">86.615</td>
                                        <td class="non_editable">81,28</td>
                                        <td class="non_editable">31,22</td>
                                        <td class="non_editable"></td>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">3.398</td>
                                        <td class="non_editable">36,25</td>
                                        <td class="non_editable">91.176</td>
                                        <td class="non_editable">32,23</td>
                                        <td class="non_editable"></td>
                                        <td class="non_editable"></td>
                                        <td class="non_editable">7.398</td>
                                        <td class="non_editable">36,25</td>
                                        <td class="non_editable">12.086</td>
                                        <td class="non_editable">23,78</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col l4 m4 s12">
                    <div class="input-field col s12">
                        <div class="file-field">
                            <div class=" btn cyan " id="export-button">
                                <i class="fas fa-file-excel"></i><span> Xuất báo cáo</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l8 m8 s12">
                    <div class="input-field col s12 ">
                        <div class="file-field right">
                            <div class=" btn cyan" id="edit-button">
                                <i class="far fa-edit"></i> Sửa báo cáo</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@*PREVENT SPECIAL CHARACTERS*@
<script>
    var editable = document.getElementsByClassName('editable');
    for (var i = 0; i < editable.length; i++) {
        editable[i].addEventListener('keydown', function (event) {
            var x = event.which || event.keyCode;
            var ingnore_letters = [];
            var ingnore_special_chars = [191, 222, 186, 221, 219, 187, 48, 57, 111, 106, 107, 220, 16, 32, 107];
            var lowEnd = 66;
            var highEnd = 89;
            for (var i = 0; i < highEnd - 66 + 1; i++) {
                lowEnd++;
                if (lowEnd != 67 && lowEnd != 86 && lowEnd != 88) {
                    ingnore_letters[i] = lowEnd;
                }
            }

            if (jQuery.inArray(x, ingnore_letters) !== -1 || jQuery.inArray(x, ingnore_special_chars) !== -1) {
                event.preventDefault();
            }
        });
    }
    editable[0].focus();
</script>
@*SELECT ALL WHEN FOCUS CELL*@
<script>
    $('.editable').each(function () {
        $(this).on('focus', function () {
            var cell = this;
            var range, selection;
            if (document.body.createTextRange) {
                range = document.body.createTextRange();
                range.moveToElementText(cell);
                range.select();
            } else if (window.getSelection) {
                selection = window.getSelection();
                range = document.createRange();
                range.selectNodeContents(cell);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".datepicker-inline").removeClass();
        $("#minMaxDate").val('Tháng 8 2019');
    });
    $('#minMaxDate').datepicker({
        language: 'vi',
        maxDate: new Date(), // Now can select only dates, which goes after today
    });

</script>
<script src="~/js/exportToExcel/jquery.table2excel.js"></script>
<script>
    $("#export-button").click(function () {
        //$(".table-bordered").table2excel({
        //    // exclude CSS class
        //    exclude: ".noExl",
        //    name: "Worksheet Name",
        //    filename: "SomeFile", //do not include extension
        //    fileext: ".xls" // file extension
        //});
        window.location.href = '/excel/KCS/Báo cáo phòng KCS tháng 07 2019.xls';
    });
    $("#edit-button").click(function () {
        window.location.href = 'sua-bao-cao';
    });
</script>
<script src="~/dist/js/pages/forms/jquery.validate.min.js"></script>
