@{
    ViewData["Title"] = "cap-nhat-thiet-bi";

    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";

}
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>DANH SÁCH QUYẾT ĐỊNH</b></h3>
            <hr>
            <form action="" method="POST" id="mysearchform" role="form">
                <div class="col l4 m4 s12">
                    <div class="row">
                        <div class="col l10 m10 s12 input-field">
                            <input placeholder="Tìm kiếm theo số quyết định" class='form-control' id="id-search" />
                        </div>
                        <div class="col l10 m10 s12 input-field">
                            <select class="form-control" id="status-search">
                                <option value="0">Đang xử lý hoặc chưa nghiệm thu</option>
                                <option value="1">Đang xử lý</option>
                                <option value="2">Đã xử lý chưa nghiệm thu</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col l4 m4 s12">
                    <div class="row">
                        <div class="col l12 m12 s12 input-field">
                            <input autocomplete="off"
                                   id="date-search" type="text" data-auto-close="true" data-range="true"
                                   placeholder="khoảng thời gian tạo quyết định" data-multiple-dates-separator=" - "
                                   data-language="vi" class="datepicker-here form-control center" style="width: 100% !important" />
                        </div>
                    </div>
                </div>
                <div class="col l4 m4 s12">
                    <div class="row">
                        <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                            <input type="text" placeholder="Tìm kiếm theo nội dung quyết định" class='form-control' id="reason-search" />
                        </div>
                        <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                            <input type="text" placeholder="Tìm kiếm theo phân xưởng chịu trách nhiệm" class='form-control' id="department-search" />
                        </div>
                    </div>
                </div>
                <div class="col l12 m12 s12 input-field center">
                    <a class="waves-effect waves-light btn blue darken-2" id="searchButton1">Tìm kiếm</a>
                </div>
            </form>
            <div class="col s12 table_container">
                <table class="striped table-bordered centered table-responsive mytable" id="DSQD_id">
                    <thead>
                        <tr>
                            <th>Số quyết định</th>
                            <th>Loại quyết định</th>
                            <th>Đơn vị sửa chữa</th>
                            <th>Ngày tạo quyết định</th>
                            <th>Người tạo quyết định</th>
                            <th>Nội dung quyết định</th>
                            <th>Nguồn vốn/thu</th>
                            <th>Trạng thái quyết định</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />

@section scripts{
    <script>
        var dataTable;

        $(document).ready(function () {
            dataTable = $('#DSQD_id').DataTable({
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang sau",
                        "previous": "Trang trước"
                    }
                },
                "ajax": {
                    "url": "/phong-cdvt/camera/xu-ly",
                    "type": "POST",
                    "data": {
                        "documentary_id": function () { return $('#id-search').val() },
                        "department": function () { return $('#department-search').val() },
                        "reason": function () { return $('#reason-search').val() },
                        "dateStart": function () { return $('#date-search').val() },
                        "status": function () { return $('#status-search').val() }
                    },
                    "datatype": "json",
                    "cache": false
                },
                "columns": [
                    {
                        "data": {}, "name": "documentary_id", "render": function (data) {
                            return "<a href=\"/phong-cdvt/camera/xu-ly/sua-chua?id=" + data.documentary_id + "\"> " + data.documentary_code + "</a>";
                        },
                    },
                    { "data": "documentary_name", "name": "documentary_name" },
                    { "data": "department_name", "name": "department_name" },
                    { "data": "stringdate", "name": "date_created" },
                    { "data": "person_created", "name": "person_created" },
                    { "data": "reason", "name": "reason" },
                    { "data": "out_income", "name": "out_income" },
                    {
                        "data": "documentary_status", "name": "documentary_status", render: function (data) {
                            return (data == 1) ? "Đang xử lý" : "Đã xử lý chưa nghiệm thu"
                        }
                    },
                ],
                "serverSide": "true",
                "order": [3, "desc"],
                "rowId": "documentary_id",
                "lengthChange": false,
                "searching": false,
                "initComplete": function (settings, json) {
                    $('#pre-load').hide();
                },
                "preDrawCallback": function (settings) {
                    $('#pre-load').show();
                },
                "drawCallback": function (settings) {
                    $('#pre-load').hide();
                }
            });

            $("#searchButton1").click(function () {
                $("#pre-load").show();
                dataTable.ajax.reload();
            });
        });
    </script>
}