.timeline-box {
    position: relative;
    background-color: aliceblue;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px solid #17191B !important; 
    transition: all 0.3s ease;
    overflow: hidden;
}
