@{
    ViewData["Title"] = "ListFrequency";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/css/TABLE_BORDERED.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="row">
            <h3><b>Báo cáo tăng giảm lao động</b></h3>

            <div class="col s12 m12 l12 table_container">
                <table class="table-bordered" style="width: 150%">
                    <tr>
                        <th rowspan="4">Năm 2019</th>
                        <th class="blue-text">Đầu kỳ</th>
                        <th>Tháng 1</th>
                        <th>Tháng 2</th>
                        <th>Tháng 3</th>
                        <th>Tháng 4</th>
                        <th>Tháng 5</th>
                        <th>Tháng 6</th>
                        <th>Tháng 7</th>
                        <th>Tháng 8</th>
                        <th>Tháng 9</th>
                        <th>Tháng 10</th>
                        <th>Tháng 11</th>
                        <th>Tháng 12</th>
                        <th class="blue-text">Cuối kỳ</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="blue-text">3127</td>
                        <td>3130</td>
                        <td>3138</td>
                        <td>3174</td>
                        <td>3159</td>
                        <td>3186</td>
                        <td>3176</td>
                        <td>3171</td>
                        <td>3171</td>
                        <td>3171</td>
                        <td>3171</td>
                        <td>3171</td>
                        <td>3171</td>
                        <th><a href="@Url.Content("/phong-tcld/cham-dut-va-tuyen-dung/tang-giam-lao-dong/theo-quy")">Quý I</a></th>
                        <th>Quý II</th>
                        <th>Quý III</th>
                        <th>Quý IV</th>
                        <th>Tổng</th>
                    </tr>
                    <tr>
                        <th class="green-text">Tăng</th>
                        <td>13</td>
                        <td>18</td>
                        <td>46</td>
                        <td>29</td>
                        <td>47</td>
                        <td>45</td>
                        <td>34</td>
                        <td>23</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>77</td>
                        <td>121</td>
                        <td>57</td>
                        <td>0</td>
                        <td>255</td>
                    </tr>
                    <tr>
                        <th class="red-text">Giảm</th>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>44</td>
                        <td>36</td>
                        <td>29</td>
                        <td>44</td>
                        <td>28</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>30</td>
                        <td>109</td>
                        <td>72</td>
                        <td>0</td>
                        <td>211</td>
                    </tr>
                    <tr>
                        <th rowspan="4">Năm 2018</th>
                        <th class="blue-text">Đầu kỳ</th>
                        <td>Tháng 1</td>
                        <td>Tháng 2</td>
                        <td>Tháng 3</td>
                        <td>Tháng 4</td>
                        <td>Tháng 5</td>
                        <td>Tháng 6</td>
                        <td>Tháng 7</td>
                        <td>Tháng 8</td>
                        <td>Tháng 9</td>
                        <td>Tháng 10</td>
                        <td>Tháng 11</td>
                        <td>Tháng 12</td>
                        <th class="blue-text">Cuối kỳ</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="blue-text">3303</td>
                        <td>3307</td>
                        <td>3305</td>
                        <td>3267</td>
                        <td>3237</td>
                        <td>3204</td>
                        <td>3201</td>
                        <td>3204</td>
                        <td>3182</td>
                        <td>3176</td>
                        <td>3157</td>
                        <td>3151</td>
                        <td>3127</td>
                        <td>3127</td>
                        <th>Quý I</th>
                        <th>Quý II</th>
                        <th>Quý III</th>
                        <th>Quý IV</th>
                        <th>Tổng</th>
                    </tr>
                    <tr>
                        <th class="green-text">Tăng</th>
                        <td>15</td>
                        <td></td>
                        <td>32</td>
                        <td>22</td>
                        <td>17</td>
                        <td>23</td>
                        <td>23</td>
                        <td>9</td>
                        <td>14</td>
                        <td>6</td>
                        <td>23</td>
                        <td>14</td>
                        <td></td>
                        <td>47</td>
                        <td>62</td>
                        <td>46</td>
                        <td>43</td>
                        <td>198</td>
                    </tr>
                    <tr>
                        <th class="red-text">Giảm</th>
                        <td>11</td>
                        <td>2</td>
                        <td>70</td>
                        <td>52</td>
                        <td>50</td>
                        <td>26</td>
                        <td>20</td>
                        <td>31</td>
                        <td>20</td>
                        <td>25</td>
                        <td>29</td>
                        <td>38</td>
                        <td></td>
                        <td>83</td>
                        <td>128</td>
                        <td>71</td>
                        <td>92</td>
                        <td>374</td>
                    </tr>

                    <tr>
                        <th rowspan="4">Năm 2017</th>
                        <th class="blue-text">Đầu kỳ</th>
                        <td>Tháng 1</td>
                        <td>Tháng 2</td>
                        <td>Tháng 3</td>
                        <td>Tháng 4</td>
                        <td>Tháng 5</td>
                        <td>Tháng 6</td>
                        <td>Tháng 7</td>
                        <td>Tháng 8</td>
                        <td>Tháng 9</td>
                        <td>Tháng 10</td>
                        <td>Tháng 11</td>
                        <td>Tháng 12</td>
                        <th class="blue-text">Cuối kỳ</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="blue-text">3418</td>
                        <td>3421</td>
                        <td>3449</td>
                        <td>3410</td>
                        <td>3347</td>
                        <td>3341</td>
                        <td>3326</td>
                        <td>3334</td>
                        <td>3379</td>
                        <td>3344</td>
                        <td>3330</td>
                        <td>3296</td>
                        <td>3303</td>
                        <td>3303</td>
                        <th>Quý I</th>
                        <th>Quý II</th>
                        <th>Quý III</th>
                        <th>Quý IV</th>
                        <th>Tổng</th>
                    </tr>
                    <tr>
                        <th class="green-text">Tăng</th>
                        <td>15</td>
                        <td>43</td>
                        <td>9</td>
                        <td>12</td>
                        <td>30</td>
                        <td>24</td>
                        <td>23</td>
                        <td>55</td>
                        <td>13</td>
                        <td>7</td>
                        <td>10</td>
                        <td>47</td>
                        <td>288</td>
                        <td>67</td>
                        <td>66</td>
                        <td>91</td>
                        <td>64</td>
                        <td>288</td>
                    </tr>
                    <tr>
                        <th class="red-text">Giảm</th>
                        <td>12</td>
                        <td>15</td>
                        <td>48</td>
                        <td>75</td>
                        <td>36</td>
                        <td>39</td>
                        <td>15</td>
                        <td>10</td>
                        <td>48</td>
                        <td>21</td>
                        <td>44</td>
                        <td>40</td>
                        <td>403</td>
                        <td>75</td>
                        <td>150</td>
                        <td>73</td>
                        <td>105</td>
                        <td>403</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

