
@{
    ViewData["Title"] = "Frequency";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<link href="~/css/tuan_css/css/kcs_css/style.css" rel="stylesheet" />
<link href="~/css/TABLE_BORDERED.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="row">
                    <div class="center">
                        <h3>
                            <b>TỔNG HỢP CÁC ĐƠN VỊ CHẤM DỨT, TUYỂN DỤNG </b>
                        </h3>

                    </div>
                </div>
                <div class="row">
                    <div class="center">
                        <div class="col s4 m4 l4"></div>
                        <div class="col s5 m5 l5">
                            <div class="col s2 m2 l2"><h4>Năm</h4></div>
                            <div class="col s4 m4 l4">
                                <input type="text" id="calendar" class="form-control datepicker-here datepicker-add center"
                                       data-language='vi'
                                       data-min-view="years"
                                       data-view="years"
                                       data-date-format="yyyy"
                                       required value="Tổng hợp" />
                            </div>
                            <div class="col s5 m5 l5">
                                <a class="btn blue darken-2" style="background-color:#273146" id="btn_search">Tìm kiếm</a>
                            </div>
                        </div>
                        <div class="col s3 m3 l3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 table_container">
                        <br />
                        <table id="cd-td-table" class="table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th class="jsgrid-header-cell center" rowspan="2">STT</th>
                                    <th class="jsgrid-header-cell center" rowspan="2">Đơn vị</th>
                                    <th class="jsgrid-header-cell center" colspan="3">Số lượng chấm dứt</th>
                                    <th class="jsgrid-header-cell center" colspan="3">Số lượng tuyển dụng</th>
                                    <th class="jsgrid-header-cell center" rowspan="2">Chênh lệch</th>
                                    <th class="jsgrid-header-cell center" rowspan="2">Ghi chú</th>
                                </tr>
                                <tr>
                                    <th class="jsgrid-header-cell center">Tổng</th>
                                    <th class="jsgrid-header-cell center">Khai thác</th>
                                    <th class="jsgrid-header-cell center">Cơ điện</th>
                                    <th class="jsgrid-header-cell center">Tổng</th>
                                    <th class="jsgrid-header-cell center">Khai thác</th>
                                    <th class="jsgrid-header-cell center">Cơ điện</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col s12 m12 l12">
                    <br />
                    <a class="btn blue darken-2" style="background-color:#273146" id="ExportExcel">Xuất ra excel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<script src="~/js/Custom JS/TCLD/RecruitAndEnd/RecruitAndEnd.js"></script>
<script src="~/assets/libs/jsgrid/dist/db.js"></script>
<script type="text/javascript" src="~/assets/libs/jsgrid/dist/jsgrid.min.js"></script>
<script src="~/dist/js/pages/jsgrid/jsgrid-init.js"></script>
<link type="text/css" rel="stylesheet" href="~/assets/libs/jsgrid/dist/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/assets/libs/jsgrid/dist/jsgrid-theme.min.css" />
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
    var dataTable;
        $(Document).ready(() => {
            $("#pre-load").show()
            dataTable = $("#cd-td-table").on('preXhr.dt', function (e, settings, data) {
                $("#pre-load").show();
                $("#pre-load").css("z-index", "99999");
            }).DataTable({
                 "ajax": {
                     "url": '@Url.Action("GetAll", "RecruitmentAndEnd")',
                     "type": "POST",
                     "datatype": "json",
                },
                "drawCallback": function (settings) {
                    $("#pre-load").hide("slow", function () {
                    });
                },
                "columns": [
                    { "data": "Stt", "name": "Stt", "render": (data) => { return data }, "orderable": true},
                    { "data": "TenPhongBan", "name": "TenPhongBan", "render": (data) => { if (data == "Tổng cộng") { return "<b>"+data+"</b>" } else { return "<a class='font-weight-bold text-success'>" + data + "</a>" } }, "orderable": true },
                    { "data": "TongChamDut", "name": "TongChamDut", "render": (data) => { if (data != 0) { return "<b>" + data + "</b>" } else { return data } }, "orderable" : false },
                    { "data": "TongChamDutKhaiThac", "name": "TongChamDutKhaiThac", "render": (data) => { if (data != 0) { return "<b>" + data + "</b>" } else { return data } }, "orderable": false },
                    { "data": "TongChamDutCoDien", "name": "TongChamDutCoDien", "render": (data) => { if (data != 0) { return "<b>" + data + "</b>" } else { return data } }, "orderable": false },
                    { "data": "TongTuyenDung", "name": "TongTuyenDung", "render": (data) => { if (data != 0) { return "<b>" + data + "</b>" } else { return data } }, "orderable": false},
                    { "data": "TongTuyenDungKhaiThac", "name": "TongTuyenDungKhaiThac", "render": (data) => { if (data != 0) { return "<b>" + data + "</b>" } else { return data } }, "orderable": false },
                    { "data": "TongTuyenDungCoDien", "name": "TongTuyenDungCoDien", "render": (data) => { if (data != 0) { return "<b>" + data + "</b>" } else { return data } }, "orderable": false},
                    { "data": "ChenhLech", "name": "ChenhLech", "render": (data) => { if (data != 0) { return "<b>" + data + "</b>" } else { return data } }, "orderable": false},
                    { "data": "GhiChu", "name": "GhiChu", "render": (data) => { if (data == "") { return "<p>Không có ghi chú</P>" } else { return data } }, "orderable": false},

                ],
                "order": [0, 'asc'],
                "pageLength" : 20,
                "bLengthChange": false,
                "initComplete": () => { $("#pre-load").hide() },
                "searching": false,
                "paging": true,
                "order": [0, 'asc'],
                "serverSide": true,
                "language": {
                    emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|",

                    },
                    info: "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                },
            })
        })
        //
        $('#btn_search').click(() => {
            if ($("#calendar").val() == null) {
                return false;
            }
            $("#pre-load").show()
            var year = $("#calendar").val();
            dataTable.ajax.url('@Url.Action("GetAll", "RecruitmentAndEnd")?year=' + year).load(() => { $("#pre-load").hide() }, false)

        })

        $("#ExportExcel").click(function () {
            $("#pre-load").show();
            $("#pre-load").css("z-index", "9999");
            var year = $("#calendar").val();
            $.ajax({
                url: '@Url.Action("ExportExcel", "RecruitmentAndEnd")',
                type: 'POST',
                data: { year: year}

            }).done(function () {
                if ($("#calendar").val() != null && $("#calendar").val() != "" && $("#calendar").val() != "Tổng hợp") {
                    window.location.href = "/excel/TCLD/download/CD_TD_Report_" + year + ".xlsx";
                } else {
                    window.location.href = "/excel/TCLD/download/CD_TD_Report_Total.xlsx";
                }
                 $("#pre-load").hide();
            })
        });
    </script>

}
