.loading {
    background-color: #ffffffd1;
    clear: both;
    position: fixed;
    z-index: -1;
    height: 100%;
    width:100%;
}

#pre-load {
    position: absolute;
}

.preloader-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    height: 100%;
}
