
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<link href="~/dist/css/style.css" rel="stylesheet">
<!-- This page CSS -->
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <h3 class="center">BIÊN BẢN CHUNG</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12 table-responsive">
                <table id="scroll_ver" class="table-bordered" style="width:200%; margin-top: 20px; max-height:600px!important">
                    <thead>
                        <tr>
                            <th class="center">STT</th>
                            <th class="center">Tên nghề Công ty đang dùng</th>
                            <th class="center">Tên nghề theo 205</th>
                            <th class="center">Lương theo quy định</th>
                            <th class="center">Tên nghề theo Danh mục NN quy định</th>
                            <th class="center">VBản nghề NN</th>
                            <th class="center">ĐK làm việc</th>
                            <th class="center">Xếp loại ĐK làm việc</th>
                            <th class="center">Ngày nghỉ hằng năm</th>
                            <th class="center">Mức bồi dưỡng</th>
                            <th class="center">Tên gọi trong Công ty làm cơ sở ra QĐ</th>
                            <th class="center">Đối tượng áp dụng</th>
                            <th class="center">Khu vực sản xuất</th>
                            <th class="center">Đối tượng</th>
                            <th class="center">ĐK làm việc theo TT27</th>
                            <th class="center">Lương khởi điểm</th>
                            <th class="center">Các ý kiến tham khảo</th>
                            <th class="center">3561</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Công nhân sàng tuyển</td>
                            <td>Sàng tuyển thủ công, khai thác than thủ công ở mỏ lộ thiên </td>
                            <td>A1.10.I</td>
                            <td>Sàng tuyển thủ công, khai thác than thủ công ở mỏ lộ thiên</td>
                            <td>915</td>
                            <td>Công việc nặng nhọc, làm ngoài trời, chịu tác động của ồn, bụi.</td>
                            <td>4</td>
                            <td>14</td>
                            <td>4,000</td>
                            <td>Công nhân sàng tuyển thủ công, khai thác than thủ công ở mỏ lộ thiên (Làm than thủ công )</td>
                            <td></td>
                            <td>SXC</td>
                            <td>LĐGĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Nhặt than</td>
                            <td>Nhặt than, nhặt tạp chất trên băng</td>
                            <td>A1.10.I</td>
                            <td>Nhặt than, nhặt tạp chất trên băng</td>
                            <td>1152</td>
                            <td>Công việc đơn điệu; chịu tác động của môi trường nóng, ồn, rung và bụi than vượt tiêu chuẩn cho phép.</td>
                            <td>4</td>
                            <td>14</td>
                            <td>4,000</td>
                            <td>Công nhân nhặt than, nhặt tạp chất trên băng</td>
                            <td></td>
                            <td>SXC</td>
                            <td>LĐGĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Xúc dọn</td>
                            <td>Xúc dọn thủ công than và tạp chất trên băng  truyền tải</td>
                            <td>A1.10.I</td>
                            <td>Xúc dọn thủ công than và tạp chất trên băng  truyền tải</td>
                            <td>1152</td>
                            <td>Công việc đơn điệu; chịu tác động của môi trường nóng, ồn, rung và bụi than vượt tiêu chuẩn cho phép.</td>
                            <td>4</td>
                            <td>14</td>
                            <td>4,000</td>
                            <td>Công nhân xúc dọn thủ công than và tạp chất trên băng  truyền tải</td>
                            <td></td>
                            <td>SXC</td>
                            <td>LĐGĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Nổ mìn</td>
                            <td>Nổ mìn lộ thiên</td>
                            <td>A1.10.II</td>
                            <td>Nổ mìn lộ thiên</td>
                            <td>915</td>
                            <td>Công việc nặng nhọc, nguy hiểm, chịu tác động của ồn, bụi và khí NO2.</td>
                            <td>5</td>
                            <td>16</td>
                            <td>8,000</td>
                            <td>Công nhân bắn mìn lộ thiên</td>
                            <td></td>
                            <td>SXC</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Vận hành máy gạt</td>
                            <td>Vận hành máy gạt < 180 CV</td>
                            <td>A1.10.II</td>
                            <td>Lái máy gạt, ủi có công suất dưới 180</td>
                            <td>915</td>
                            <td>Chịu tác động của nóng, bụi, ồn và rung</td>
                            <td>4</td>
                            <td>14</td>
                            <td>6,000</td>
                            <td>Công nhân lái máy gạt, ủi có công suất dưới 180</td>
                            <td></td>
                            <td>SXC</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Vận hành máy xúc</td>
                            <td>Vận hành máy xúc < 4m3/gầu</td>
                            <td>A1.10.II</td>
                            <td>Lái máy xúc dung tích gầu dưới 4m3</td>
                            <td>915</td>
                            <td>Chịu tác động của nóng, bụi, ồn và rung</td>
                            <td>4</td>
                            <td>14</td>
                            <td>6,000</td>
                            <td>Công nhân lái máy xúc dung  tích gầu dưới 4m3</td>
                            <td></td>
                            <td>SXC</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>VH băng; VH băng tời ; CN vận hành máy lọc ép than bùn; VH quang lật </td>
                            <td>Vận hành băng tải; máng cào; tời</td>
                            <td>A1.10.II</td>
                            <td>Vận hành băng tải than</td>
                            <td>915</td>
                            <td></td>
                            <td>4</td>
                            <td>14</td>
                            <td>4,000</td>
                            <td>Công nhân vận hành băng tải than</td>
                            <td>Lộ thiên</td>
                            <td>SXC</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Vận hành khoan xoay cầu</td>
                            <td>Vận hành máy khoan xoay cầu</td>
                            <td>A1.10.III</td>
                            <td>Vận hành máy khoan xoay cầu</td>
                            <td>1453</td>
                            <td>Làm ngoài trời, nguy hiểm, tiếp xúc thường xuyên với ồn cao và bụi vượt tiêu chuẩn cho phép rất nhiều lần.</td>
                            <td>5</td>
                            <td>16</td>
                            <td>8,000</td>
                            <td>Công nhân vận hành máy khoan xoay cầu</td>
                            <td></td>
                            <td>SXC</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Vận hành máy gạt</td>
                            <td>Vận hành máy gạt >= 180 CV</td>
                            <td>A1.10.III</td>
                            <td>Lái máy gạt, ủi có công suất từ 180 CV trở lên.</td>
                            <td>915</td>
                            <td>Tư thế làm việc gò bó, chịu tác động của bụi, ồn cao và rung mạnh</td>
                            <td>5</td>
                            <td>16</td>
                            <td>8,000</td>
                            <td>Công nhân lái máy gạt, ủi có công suất từ 180 CV trở lên</td>
                            <td></td>
                            <td>SXC</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Vận hành máy xúc </td>
                            <td>Vận hành máyxúc >=4m3/gầu</td>
                            <td>A1.10.III</td>
                            <td>Lái máy xúc dung tích gầu từ 4m3 trở lên </td>
                            <td>1453</td>
                            <td>Công việc nặng nhọc, ảnh hưởng của bụi, ồn cao</td>
                            <td>5</td>
                            <td>16</td>
                            <td>8,000</td>
                            <td>Công nhân lái máy xúc dung  tích gầu từ  4m3 trở lên</td>
                            <td></td>
                            <td>SXC</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>ĐC Cơ điện</td>
                            <td>Sửa chữa cơ khí điện tại mỏ </td>
                            <td>A1.6.III</td>
                            <td>Sửa chữa cơ điện trong mỏ hầm lò</td>
                            <td>915</td>
                            <td>Nơi làm việc chật hẹp, nguy hiểm, tư thế lao động gò bó, chịu tác động của ồn, bụi than.</td>
                            <td>5</td>
                            <td>16</td>
                            <td>Ăn định lượng</td>
                            <td>Sửa chữa cơ điện trong mỏ hầm lò (Đốc công)</td>
                            <td>Các PX Đào lò, khai thác</td>
                            <td>SXC</td>
                            <td>CNKT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dist/js/materialize.min.js"></script>
<script src="~/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!-- ============================================================== -->
<!-- Apps -->
<!-- ============================================================== -->
<script src="~/dist/js/app.js"></script>
<script src="~/dist/js/app.init.js"></script>
<script src="~/dist/js/app-style-switcher.js"></script>
<!-- ============================================================== -->
<!-- Custom js -->
<!-- ============================================================== -->
<script src="~/dist/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<script>
    $(document).ready(function () {
        $(".form-control.form-control-sm").attr("class", "");
        $(".dataTables_scrollBody").css("max-height", "500px");
    });
</script>

