
@{
    ViewBag.Title = "Inside";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="card">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div>
                    <h3 class="center">QUYẾT ĐỊNH ĐÃ XỬ LÍ</h3>
                </div>
                <div class="row center">
                    <div class="col l2 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='form-control' id="manv" multiple />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo tên nhân viên" class='form-control' id="tennv" multiple />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo người giao hồ sơ" class='form-control' id="nguoigiaohoso" multiple />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo người giữ hồ sơ" class='form-control' id="nguoigiuhoso" multiple />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="row">
            <h3 class="black-text"><b>HỒ SƠ TRONG CÔNG TY</b></h3>
        </div>
        <br />

        <!---->
        <div class="card">
            <div class="card-content">
                <div>
                    <a class="btn btn-small blue darken-2 btn-mg" href="~/excel/TCLD/Certificate/Chứng chỉ của cả công ty.xlsx">Xuất ra file excel</a>
                </div>

                <br />
                <table id="inside_table" class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Số thẻ</th>
                            <th>Họ và tên</th>
                            <th>Ngày sinh</th>
                            <th>Người giao hồ sơ</th>
                            <th>Ngày nhận hồ sơ</th>
                            <th>Người giữ hồ sơ</th>
                            <th colspan="2">Thao tác</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    var datatable_inside, stt;
    $(document).ready(function () {
        datatable_inside = $('#inside_table').on('preXhr.dt', function (e, settings, data) {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
        })
            
            .DataTable({
                "ajax": {
                    "url": "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty",
                    "type": "POST",
                    "datatype": "json",
                },"drawCallback": function (settings) {
                    $("#pre-load").hide("slow", function () {
                    });
                },
            "columns": [
                { "data": "MaNV", "name": "MaNV" },
                { "data": "Ten", "name": "Ten"},
                {
                    "data": "NgaySinh", "name": "NgaySinh", "render": function (data) {
                        return dateFormat(data);
                    },},
                { "data": "NguoiGiaoHoSo", "name": "NguoiGiaoHoSo" },
                {
                    "data": "NgayNhanHoSo", "name": "NgayNhanHoSo", "render": function (data) {
                        return dateFormat(data);
                    },
                },
                { "data": "NguoiGiuHoSo", "name": "NguoiGiuHoSo"},
                {
                    "data": "MaNV", "render": function (data) {
                        return "<a class='waves-effect waves-light btn-small blue modal-trigger'  style='margin-left:5px' onclick=getEditIdEmp('" + data + "') >Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }
                ],
                "language": {
                    "zeroRecords": "Không có dữ liệu",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|"
                    }
                },
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "initComplete": function () {
                $("#pre-load").hide();
            }
        });
        datatable_inside.ajax.reload();
    });

    function getEditCertificateData(url) {
        $.get(url)
            .done(function (response) {
                $("#edit-modal-body").html(response)
            });
        return false;
    }

    function getEditIdEmp(id) {
        if (id != null) {
            window.location.href ='@Url.Action("InsideDetail", "Brief")?id=' + id;
        }
    }

    $("#searchButton").click(function () {
        $("#pre-load").show("slow", function () { });

            var manv = $("#manv").val();
            var tennv = $("#tennv").val();
            var nguoigiaohoso = $("#nguoigiaohoso").val();
        var nguoigiuhoso = $("#nguoigiuhoso").val();

            var arr = new Array();
            arr[0] = manv;
            arr[1] = tennv;
            arr[2] = nguoigiaohoso;
            arr[3] = nguoigiuhoso;
            datatable_inside.ajax.url('@Url.Action("searchlistAllBrief", "Brief")?searchList=' + arr).load(() => { $("#pre-load").hide("slow", function () { }) }, true)
    })

    function dateFormat(d) {
        if (d != null && d != "") {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }
        else {
            return (d);
        }
       
    }
</script>



