
@{
    ViewData["Title"] = "Outside";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/assets/Custom css/TCLD/Brief/ManageBrief/beo_ho_so_ngoai.css" rel="stylesheet" />
<link href="~/css/pre-loader/css.css" rel="stylesheet" />
<div class="col s12 m12 l12">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="center"><b>DANH SÁCH HỒ SƠ NGOÀI</b></h3>
                <hr>
                <div class="col l2 m12 s12 input-field">
                    <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='form-control' id="searchMa" multiple />
                </div>
                <div class="col l2 m12 s12 input-field">
                    <input type="text" placeholder="Tìm kiếm theo tên nhân viên" class='form-control' id="searchTen" multiple />
                </div>
                <div class="col l2 m12 s12 input-field">
                    <input type="text" placeholder="Tìm kiếm theo loại chấm dứt" class='form-control' id="searchLoaiChamDut" multiple />
                </div>

                

                <div class="col l3 m12 s12 input-field">
                    <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                </div>
                @*<div class="col s12 m12 l12" id="btn-fix-save">
            <a class="btn btn-small blue darken-2 input-field" id="btn-fix">Chỉnh sửa</a>
            <a class="btn btn-small blue darken-2 modal-trigger input-field" id="btn-save" href="#modal1">Lưu</a>
        </div>*@


                <div class="col s12  table-responsive">
                    <table class="striped table-bordered" id="example">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Số thẻ</th>
                                <th>Họ và tên</th>
                                <th>ĐV khi CDHĐ</th>
                                <th>Số BHXH</th>
                                <th>Số Điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>$320,800</td>
                                <td>Edinburgh</td>
                                <td>atatables.net</td>
                                <td>t.nixon@datatables.net</td>
                                <td>t.nixon@datatables.net</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br />

            </div>
        </div>
    </div>

    <div id="pre-load" hidden>
        <div class="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!--Javascript-->
    <script src="~/js/Custom JS/TCLD/Brief/Briefs_List.js"></script>
    <script src="~/js/advancedsearch/advancedsearch.js"></script>
    <script src="~/js/Custom JS/form-input-border.js"></script>
    <link href="~/css/advancedsearch/advancedsearch.css" rel="stylesheet" />
    <link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
    <!--Advance search js-->
    @*<script src="~/js/advancedsearch/advancedsearchList.js"></script>

        <script src="~/js/Custom JS/TCLD/Brief/ManageBrief/Brief_Outside.js"></script>*@

    @*<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@

    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />


    @section scripts{
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script>
                var table;
                $(document).ready(function () {
                    console.log('ready');
                    table = $('#example')
                        .on('preXhr.dt', function (e, settings, data) {

                                   ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
      				  $("#pre-load").show("slow", function () {
      				   });
      				  $("#pre-load").css("z-index", "99999");
			          ////////////////////////////////////////////////////////////////////////

                           //     data.sessionId = "@ViewBag.id";
                            //    data.selectList = JSON.stringify(arrCarSelected);
                            })
                        .DataTable({
                        "processing": false,
                        "searching": false,
                        "info": false,
                        "bLengthChange": false,
                        "ajax": {
                            "url": "/Brief/Outside",
                            "type": "POST",
                            "datatype": "json"
                        },
                         "drawCallback": function( settings ) {
                            $("#pre-load").hide("slow", function () {
      		              });
                                },
                        "columns": [
                            {
                                data: 'stt', "render": function (data, type, full, meta) {
                                    return meta.row + 1;
                                }
                            },
                            { data: 'manv' },
                            {
                                data: 'ten', "render": function (data, type, row) {
                                    return "<a href ='ho-so-ngoai-cong-ty/chi-tiet-ho-so?manv=" + row['manv'] + "'>" + data + "</a>";
                                }
                            },
                            { data: 'dvcdhd' },
                            { data: 'sobhxh' },
                            { data: 'sdt' },
                            { data: 'diachi' },
                            {
                                data: 'edit', "render": function (data, type, row) {
                                    return "<a class='waves-effect waves-light btn blue darken-2 btn-small btn-small' href ='ho-so-ngoai-cong-ty/chi-tiet-ho-so?manv=" + row['manv'] + "'><span class='ti-pencil-alt'>&nbsp;</span>" + 'Sửa' + "</a>";

                                }
                            }

                        ],
                        "success": function (data) {
                            console.log(data);
                            },
                        "initComplete": function (settings, json) {
                            $("#pre-load").hide("slow", function () {
      		  });
                            }

                    });

                });



                function searchTable() {
                    var object = {

                    }
                    $.ajax({



                    });
                }


                // click search
            function search() {

                console.log('search');
                var object = {
                    "manv": $('#searchMa').val(),
                    "ten": $('#searchTen').val(),
                    "loaichamdut": $('#searchLoaiChamDut').val()
                }
                var x = JSON.stringify(object);
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
                table.ajax.url('@Url.Action("searchOutSide", "Brief")?data=' + x).load(() => { $("#pre-load").hide() }, false);




            }
                $('#searchButton').click(function (e) {
                    console.log("Click search");
                    e.preventDefault();
                    search();


                });




        </script>

    }


