
@{
    ViewData["Title"] = "Outside";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/assets/Custom css/TCLD/Brief/ManageBrief/beo_ho_so_ngoai.css" rel="stylesheet" />
<link href="~/css/pre-loader/css.css" rel="stylesheet" />
<div class="col s12 m12 l12">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="center"><b>DANH SÁCH HỒ SƠ NGOÀI</b></h3>
                <hr>
                <div class="col l3 m12 s12 input-field">
                    <input type="text" placeholder="Mã nhân viên" class='form-control' id="employee_id_search" multiple />
                </div>
                <div class="col l3 m12 s12 input-field">
                    <input type="text" placeholder="Tên nhân viên" class='form-control' id="employee_name_search" multiple />
                </div>
                <div class="col l3 m12 s12 input-field">
                    <input type="text" placeholder="Loại chấm dứt" class='form-control' id="termination_type_search" multiple />
                </div>

                <div class="col l3 m12 s12 input-field center">
                    <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                </div>
                <div class="col s12 m12 l12 input-field">
                    <a class="btn btn-small blue darken-2" id="exportExcel"><i class="fas fa-file-excel"></i>&nbsp;Excel</a>
                </div>
                <div class="col s12  table-responsive">
                    <table class="striped table-bordered" id="outside_table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Số thẻ</th>
                                <th>Họ và tên</th>
                                <th>ĐV khi CDHĐ</th>
                                <th>Số BHXH</th>
                                <th>Số Điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Loại chấm dứt</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <br />

            </div>
        </div>
    </div>
</div>
<div id="pre-load" hidden>
    <div class="loading">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--Javascript-->
<script src="~/js/Custom JS/TCLD/Brief/Briefs_List.js"></script>
<script src="~/js/advancedsearch/advancedsearch.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<link href="~/css/advancedsearch/advancedsearch.css" rel="stylesheet" />
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
<!--Advance search js-->




@section scripts{
    <script>
        var datatable_outside;

        $(document).ready(function () {
            listAllRecords();
        });

        $("#searchButton").click(function () {
            datatable_outside.destroy();
            listAllRecords();
        });

        function listAllRecords() {
            datatable_outside = $('#outside_table')
                .on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                })
                .DataTable({
                    "ajax": {
                        "url": "@Url.Action("GetOutsideRecord", "Brief")",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "employee_id": function () { return $('#employee_id_search').val() },
                            "employee_name": function () { return $('#employee_name_search').val() },
                            "termination_name": function () { return $('#termination_type_search').val() }
                        },
                    },

                    "drawCallback": function (settings) {
                        ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        ////////////////////////////////////////////////

                    },
                    "columns": [
                        {
                            "data": 'stt', "render": function (data, type, full, meta) {
                                return meta.row + 1;
                            }
                        },
                        { "data": "employee_id", "name": "employee_id", },
                        { "data": "full_name", "name": "full_name" },
                        { "data": "department_name", "name": "department_name" },
                        { "data": "social_insurance_number", "name": "social_insurance_number" },
                        { "data": "phone_number", "name": "phone_number" },
                        { "data": "current_residence", "name": "current_residence" },
                        { "data": "termination_name", "name": "termination_name" },
                        {
                            "data": "employee_id",
                            "render": function (data, type, row) {
                                return "<a class='waves-effect waves-light btn-small blue modal-trigger' style='margin-left:5px' onclick='editRecord(" +data + ")'>Sửa</a>";
                            },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"
                        }
                    ],
                    "serverSide": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",

                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                    "bAutoWidth": false,
                    "order": [0, "asc"],
                    "initComplete": function (settings, json) {
                        ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                    },

                });
        }

        function editRecord(item) {
            if (item != null) {
                window.location.href ='@Url.Action("OutSideDetail", "Brief")?employee_id=' + item;
            }
        }

    $('#exportExcel').click(function () {
        $('#pre-load').show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("OutsideExportToExcel", "Brief")',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    window.location.href = response.location;
                    $("#pre-load").hide("slow", function () { });
                } else {
                    alert("Lỗi khi tải file");
                }
            }
        });
    });

    //$('#exportExcel').click(function (e) {
    //    $("#pre-load").show("slow", function () {
    //  				   });
    //  				  $("#pre-load").css("z-index", "99999");
    //    e.preventDefault();
    //    exportExcel();
    //});
    //function exportExcel() {


    //    $.ajax({
    //        type: 'POST',
    //        url: '/Brief/ExportExcel',
    //        dataType: 'json',
    //        success: function (response) {
    //           if (response.success) {
    //    //Tải file excel về theo như location được gửi về từ controller
    //    window.location.href = response.location;
    //    $("#pre-load").hide("slow", function () {
    //        });
    //        } else {
    //        alert("error");
    //        }

    //        }
    //    });

    //}


    </script>

}


