 
@{
    ViewBag.Title = "ListAccident";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}
<style>
    select {
        width: 100% !important;
    }
    .err{
       color:red !important;
   }
</style>
<link href="~/lib/mutiple select/slimselect.css" rel="stylesheet" />
<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="col m12">
                    <ul class="tabs">
                        <li class="tab col s12 m6 l6"><a class="active" href="#baocaotainan">Báo cáo tai nạn</a></li>
                        <li class="tab col s12 m6 l6"><a href="#hientranglo">Hiện trạng lò</a></li>
                    </ul>
                    <hr />
                </div>
                <div id="baocaotainan">
                    <div class="center">
                        <h3><b>DANH SÁCH TAI NẠN</b></h3>
                    </div>
                    <div class="row center">
                        <div class="col l6 m6 s12">
                            <div class="row">
                                <div class="col l10 m10 s12 input-field">
                                    <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='form-control' id="equipmentId-search" />
                                </div>
                                <div class="col l10 m10 s12 input-field">
                                    <i class="fas fa-calendar-alt icon"></i>
                                    <input placeholder="Nhập ngày bắt đầu (từ)" type='text' class='datepicker-here center maxDate' data-language='vi' id="timeFrom-search" />
                                </div>
                                <div class="col l12 m12 s12 input-field">
                                    <a class="waves-effect waves-light btn-small blue modal-trigger" href="#themtainan">Thêm Tai Nạn</a>
                                    <a class="waves-effect waves-light btn btn-small blue darken-2 input-field" id="export_excel"><i class="fas fa-file-excel"></i>&nbsp;Excel</a>

                                </div>

                            </div>
                        </div>
                        <div class="col l6 m6 s12">
                            <div class="row">
                                <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                    <input type="text" placeholder="Tìm kiếm theo tên nhân viên" class='form-control' id="equipmentName-search" />
                                </div>
                                <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                    <i class="fas fa-calendar-alt icon"></i>
                                    <input placeholder="Nhập ngày kết thúc (đến)" type='text' class='datepicker-here center minDate' data-language='vi' id="timeTo-search" />
                                </div>
                                <div class="col l12 m12 s12 input-field">
                                    <a class="waves-effect waves-light btn blue darken-2" id="searchButtonActi">Tìm kiếm</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12" style="margin-bottom:10px">

                    </div>
                    <div class="modal-content">
                        <table class="centered striped table-bordered" id="table_tainan">
                            <thead>
                                <tr>
                                    <th>Mã Nhân Viên</th>
                                    <th>Tên Nhân Viên</th>
                                    <th>Đơn vị</th>
                                    <th>Lý do tai nạn</th>
                                    <th>Loại tai nạn</th>
                                    <th>Ca</th>
                                    <th>Ngày</th>
                                    <th colspan="2"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div id="hientranglo">
                    <h3 class="center"><b>NHẬP HIỆN TRẠNG LÒ</b></h3>
                    <div class="row">
                        <div class="center col s12" style="margin-bottom: 20px">
                            <i class="fas fa-calendar-alt icon"></i>
                            <input type='text' class='datepicker-here center' id="date" data-language='vi' />
                            <a class="btn blue darken-2" onclick="getInformation()">XEM</a>

                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <table class="table-bordered" id="aspectDetailTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 400px !important">Phòng ban</th>
                                            <th>Ghi chú</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="col s12 m12 l12 input-field right row">

                                <a class="left"><button id="them" onclick="addRows()" type="submit" class="btn light-blue lighten-1"><i class="large material-icons">add</i></button></a>
                                <a class="left"><button id="remove" onclick="deleterow('aspectDetailTable')" class="btn light-blue lighten-1"><i class="large material-icons">remove</i></button></a>
                            </div>

                        </div>
                        <div class="col s12 m12 l12 input-field center row">
                            <button class="btn blue darken-2" type="submit" id="EditSaveBtn" @*onclick="EditOrUpdate()*@>CHỈNH SỬA</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <datalist id="EmployeeID">
        @foreach (var item in ViewBag.listNhanVien)
        {
            <option value="@item.MaNV">@item.Ten</option>
        }
    </datalist>
    <div id="themtainan" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Thêm tai nạn</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="col s12">
                            <label for="number">Mã nhân viên: </label>
                            <input list="EmployeeID" type="text" class="form-control" name="employeeid" placeholder="Mã nhân viên" id="employeeId" onchange=" searchMaNV(this)" />
                            <div id="validate-employee" class="err">
                            </div>
                        </div>
                        <div class="col s12">
                            <label for="number">Đơn vị: </label>
                            <input type="text" class="form-control" placeholder="Phân xưởng" name="department" id="department" readonly />
                        </div>
                        <div class="col s12">
                            <label for="number">Ca: </label>
                            <select id="ca" class="custom-select">
                                <option value="1">CA 1</option>
                                <option value="2">CA 2</option>
                                <option value="3">CA 3</option>
                            </select>
                        </div>
                        <div class="col s12">
                            <label for="number">Ngày xảy ra: </label>
                            <input type="text" class="  datepicker-here form-control" placeholder="Ngày" name="date" id="dateaccident" />
                            <div id="validate-day" class="err">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="col s12">
                            <label for="number">Tên nhân viên: </label>
                            <input type="text" class="form-control" placeholder="Tên nhân viên" name="employeename" id="employeeName" readonly />
                        </div>
                        <div class="col s12">
                            <label for="number">Lí do tai nạn: </label>
                            <input type="text" class="form-control" placeholder="Lý do tai nạn" name="reason" id="reason" />
                        </div>
                        <div class="col s12">
                            <label for="number">Loại tai nạn: </label>
                            <select id="loaitainan" class="custom-select">
                                <option value="Nặng">Nặng</option>
                                <option value="Nhẹ">Nhẹ</option>
                                <option value="Nghiêm trọng">Nghiêm trọng</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-2 col-md-10">
                    <button  class="btn blue btn-default " style="color:white" onclick="add()">Xác nhận</button>
                    <button type="submit" class="btn blue btn-default modal-close" style="color:white">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div id="edittainan" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Sửa tai nạn</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="col s12">
                            <label for="number">Mã nhân viên: </label>
                            <input list="EmployeeID" type="text" class="form-control" name="employeeid" placeholder="Mã nhân viên" id="employeeIdEdit" onchange=" searchMaNV(this)" />
                            <input type="hidden" class="form-control" name="employeeid" placeholder="Mã nhân viên" id="MaTaiNan" />
                            <div id="validate-employee-edit" class="err">
                            </div>
                        </div>
                        <div class="col s12">
                            <label for="number">Đơn vị: </label>
                            <input type="text" class="form-control" placeholder="Phân xưởng" name="department" id="departmentEdit" readonly />
                        </div>
                        <div class="col s12">
                            <label for="number">Ca: </label>
                            <select id="caEdit" class="custom-select">
                                <option value="1">CA 1</option>
                                <option value="2">CA 2</option>
                                <option value="3">CA 3</option>
                            </select>
                        </div>
                        <div class="col s12">
                            <label for="number">Ngày xảy ra: </label>
                            <input type="text" class=" datepicker-here form-control" placeholder="Ngày" name="date" id="dateEdit" />
                            <div id="validate-day-edit" class="err">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="col s12">
                            <label for="number">Tên nhân viên: </label>
                            <input type="text" class="form-control" placeholder="Tên nhân viên" name="employeename" id="employeeNameEdit" readonly />
                        </div>
                        <div class="col s12">
                            <label for="number">Lí do tai nạn: </label>
                            <input type="text" class="form-control" placeholder="Lý do tai nạn" name="reason" id="reasonEdit" />
                        </div>
                        <div class="col s12">
                            <label for="number">Loại tai nạn: </label>
                            <select id="loaitainanEdit" class="custom-select">
                                <option value="Nặng">Nặng</option>
                                <option value="Nhẹ">Nhẹ</option>
                                <option value="Nghiêm Trọng">Nghiêm Trọng</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-2 col-md-10">
                    <button id="submitedit" class="btn blue darken-2  save-category ">Lưu</button>
                    <button type="button" class="btn light-blue lighten-1 modal-close" id="exit">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myaleart" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận muốn chỉnh sửa mục này</h3>
            </div>
            <div class="modal-body">
                <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitedit1" class="btn blue darken-2 modal-close">Lưu</button>
                <button type="button" class="btn red modal-close" id="close1">Hủy</button>
            </div>
        </div>
    </div>
    <div id="themhientranglo" class="modal">
        @*<div class="modal-header">
                <h3 class="modal-title">Thêm Hiện Trạng Lò</h3>
            </div>*@
        <div class="modal-content">
            <label for="number">THÊM HIỆN TRẠNG LÒ: </label>
            <input type="text" class="form-control" id="hientrang" placeholder="Hiện trạng lò" />

        </div>
        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <button id="submitedit" class="btn blue darken-2 modal-close save-category modal-close" onclick="addNote()">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit">Thoát</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/sweetalert/sweetalert2.min.js"></script>
<script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
<!--Stacked Bar Chart JS-->
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script src="~/js/Custom JS/TCLD/Brief/ManageBrief/DeletePopup.min.js"></script>
<link href="~/assets/Custom css/TCLD/Brief/ManageBrief/DeletePopup.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    //function for date.
    $('.datepicker-here').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })
    
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });

</script>
<!--JavaScript của Báo cáo tai nạn-->
<script>
    $(document).ready(function () {
        //get data
        searchAccident();
    });
    $(document).ready(function () {
        //ajax search
        $("#searchButtonActi").click(function () {
            dataTable.ajax.reload(function () {

            });
        });
    });
    var exportSearch = [], isFirstInit = true;
    function searchAccident() {

        //get data
        dataTable = $('#table_tainan').on('preXhr.dt', function (e, settings, data) {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
        }).DataTable({
            "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Sau",
                    "previous": "Trước"
                }
            },
            "ajax": {
                "url": "/phong-dieu-khien/danh-sach-tai-nan/search-accident",
                "type": "POST",
                "datatype": "json",
                "data": {
                    "employeeID": function () { return $('#equipmentId-search').val() },
                    "EmployeeName": function () { return $('#equipmentName-search').val() },
                    "timeFrom": function () { return $('#timeFrom-search').val() },
                    "timeTo": function () { return $('#timeTo-search').val() }
                },
                "cache": "false",
                "dataSrc": function (json) {
                    index = 1;
                        if (isFirstInit) {
                            exportSearch = json.data;
                            isFirstInit = false;
                        } else {
                            exportSearch = [];
                            exportSearch = json.data;
                        }
                        return json.data;
                }
            },
            "drawCallback": function (settings) {
                $("#pre-load").hide("slow", function () {
                });
            },


            "columns": [
                { "data": "MaNV", "name": "MaNV" },
                { "data": "Ten", "name": "Ten" },
                { "data": "department_name", "name": "department_name" },
                { "data": "LyDo", "name": "LyDo" },
                { "data": "Loai", "name": "Loai" },
                { "data": "Ca_Name", "name": "Ca_Name" },
                { "data": "stringDate", "name": "stringDate"},
                {
                    "data": "MaTaiNan", "render": function (data) {
                        return "<a href=\"#edittainan\" data-toggle=\"modal\" class=\"open-EditModal waves-effect waves-light btn blue darken-1 modal-trigger\" data-maTaiNan=\"" + data + "\">Chỉnh&nbsp;Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                },
                {
                    "data": "MaTaiNan", "render": function (data) {
                        return "<a  class='waves-effect waves-light btn-small red ' style='margin-left:5px' onclick=getDeleteIdEmp(" + data + ")><i class='fa fa-trash'></i>Xóa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                }
            ],

            "serverSide": true,
            "rowId": "MaTaiNan",
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "order": [0, "asc"],
            "initComplete": function (settings, json) {
                ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                $("#pre-load").hide("slow", function () {
                });
                //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
            }

        });
    }
    
     $("#export_excel").click(function () {
                $("#pre-load").show();
                $.ajax({
                    dataType: "json",
                    contentType: "application/json, charset=utf-8",
                    type: 'POST',
                    url: '/phong-dieu-khien/bao-cao-tai-nan/export',
                    data: JSON.stringify(exportSearch),
                    success: function (res) {

                            var response = JSON.parse(JSON.stringify(res.data));
                            window.location = '/phong-dieu-khien/bao-cao-tai-nan/downloaddetail?fileGuid=' + response.FileGuid
                                + '&filename=' + response.FileName;

                    }
                });
                $("#pre-load").hide();
            });
    function searchMaNV(txtMaNV) {
        var tmp = {
            MaNV: txtMaNV.value
        };

        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-tai-nan/returnEmployeeName",
            data: JSON.stringify(tmp),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                document.getElementById("employeeName").value = r.Ten;
                document.getElementById("department").value = r.department_name;
                document.getElementById("employeeNameEdit").value = r.Ten;
                document.getElementById("departmentEdit").value = r.department_name;
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
            }
        });

    }

    function getDeleteIdEmp(MaTaiNan) {

        swal({
            title: "Xác nhận?",
            text: "Bạn không thể khôi phục lại khi xóa",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Đồng ý',
            cancelButtonText: "Quay lại",
            closeOnConfirm: false,
            closeOnCancel: true
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: "/phong-dieu-khien/bao-cao-tai-nan/deleteaccident",
                    dataType: "json",
                    data: {
                        MaTaiNan: JSON.stringify(MaTaiNan)
                    },

                    success: function () {
                        $('#table_tainan').DataTable().ajax.reload()
                    },
                    error: function (response) {
                        errorAlert('Lỗi', 'Có lỗi xảy ra , không thể xóa được');
                        $('#pre-load').hide();
                    }
                }).done(function () {
                    swal("Đã xóa thành công!", "");
                });
            } else {
                return false;
            }
        });
    }


    function dateFormat2(d) {
        var dateString = d.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = day + "/" + month + "/" + year;
        return (date);
    }
    function add() {
        var accident = {
            MaNV: document.getElementById("employeeId").value,
            LyDo: document.getElementById("reason").value,
            Ca: document.getElementById("ca").value,
            Loai: document.getElementById("loaitainan").value,
            stringDate: document.getElementById("dateaccident").value
        };
         if ($('#employeeId').val().trim() === '') {
            
            $('#validate-employee').text('Vui lòng nhập mã nhân viên');
            
            return false;
        }
        else {
            $('#validate-employee').text('');
         }
        if ($('#dateaccident').val().trim() === '') {
            
            $('#validate-day').text('Vui lòng chọn ngày');
            
            return false;
        }
        else {
            $('#validate-day').text('');
        }
        $.ajax({
            url: "/phong-dieu-khien/bao-cao-tai-nan/insertaccident",
            type: "POST",
            data: JSON.stringify(accident),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                 $('#themtainan').modal('close');
                dataTable.ajax.reload();
                successAlert('Thành công', 'Thêm thành công');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                dataTable.ajax.reload();
                $.notify(XMLHttpRequest.responseText, {
                    globalPosition: "top center",
                    className: "error"
                });
            }
        });
    }

    $(document).on("click", ".open-EditModal", function () {
        var MaTaiNan = $(this).data('matainan');


        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-tai-nan/getaccidentid",
            dataType: "json",
            success: function (data) {
                $('#employeeIdEdit').val(data.MaNV);

                $("#caEdit").val(data.Ca);
                $('#loaitainanEdit').val(data.Loai);
                $('#reasonEdit').val(data.LyDo);
                $('#dateEdit').val(data.stringDate);
                $('#MaTaiNan').val(data.MaTaiNan);
                $('#departmentEdit').val(data.department_name);
                $('#employeeNameEdit').val(data.Ten);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.notify(XMLHttpRequest.responseText, {
                    globalPosition: "top center",
                    className: "error"
                });
            },
            data: {
                MaTaiNan: Number(MaTaiNan)
            },

            cache: false
        })
    });
    $("#submitedit").click(function (e) {

        if ($('#employeeIdEdit').val().trim() === '') {
            
            $('#validate-employee-edit').text('Vui lòng nhập mã nhân viên');
            
            return false;
        }
        else {
            $('#validate-employee-edit').text('');
        }
        if ($('#dateEdit').val().trim() === '') {
            
            $('#validate-day-edit').text('Vui lòng nhập mã nhân viên');
            
            return false;
        }
        else {
            $('#validate-day-edit').text('');
        }
        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-tai-nan/editaccident",
            dataType: "text",
            success: function () {
                $("#edittainan").modal('close');
                dataTable.ajax.reload();
                successAlert('Thành công', 'Chỉnh sửa thành công');
                dataTable.ajax.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
                $.notify(XMLHttpRequest.responseText, {
                    globalPosition: "top center",
                    className: "error"
                });
                dataTable.ajax.reload();
                $('#close').click();
            },
            data: {
                MaNV: $('#employeeIdEdit').val(),
                LyDo: $('#reasonEdit').val(),
                Loai: $('#loaitainanEdit').val(),
                Ca: $('#caEdit').val(),
                stringDate: $('#dateEdit').val(),
                MaTaiNan: $('#MaTaiNan').val()
            },
            cache: false
        })
    });

    function addNote() {
        var accident = {
            GhiChu: document.getElementById("hientrang").value

        };
        $.ajax({
            url: "/phong-dieu-khien/bao-cao-tai-nan/insertnote",
            type: "POST",
            data: JSON.stringify(accident),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {

                dataTable.ajax.reload();
                successAlert('Thành công', 'Thêm thành công');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                dataTable.ajax.reload();
                errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
            }
        });
    }
</script>

<!--JavaScript cho Hiện trạng lò-->
<script>
    $(document).ready(function () {

        $('select').formSelect();
        mode = 0;
        //$('#addRowsbtn').hide();
        listAspectDepartments = [];
    });
    var dem;
    function addRows() {
        dem++;
        tableBody = $("#aspectDetailTable").children("tbody");
        content = tableBody.html();

        selectContent = "<select id=\"MaPhongBan" + dem + "\"class=\"browser-default \"  skipped=\"0\"> <option value=\"\" selected>Lựa chọn phòng ban</option>";
        unit = "";

        for (let i = 0; i < listAspectDepartments.length; i++) {
            selectContent += "<option value=\"" + listAspectDepartments[i].department_id + "\">" + listAspectDepartments[i].department_name + "</option>"

        }
        selectContent += "</select>"

        content = "<tr><td class=\"aspectAdded center\"> " + selectContent + "</td><td><input type=\"text\" id=\"note" + dem + "\"  ><input type=\"hidden\" id=\"MaAnToan" + dem + "\"  ></td></tr>";

        tableBody.append(content);
    }


    function getInformation() {
        if ($('#date').val() == "")
            return false;
        $('#pre-load').show();
        $("#aspectDetailTable").find("tr:gt(0)").remove();

        var date = document.getElementById("date").value;

        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-tai-nan/getinformation",
            dataType: "json",
            success: function (response) {

                listAspectDepartments = response.aspects;
                let data = response.data;
                $.each(data, function (i, item) {
                    //Danh sách vật tư.
                    i++;

                    selectContent = "<select id=\"MaPhongBan" + i + "\"class=\"browser-default \"  skipped=\"0\"> <option value=\"\" selected>Lựa chọn phòng ban</option>";


                    for (let i = 0; i < listAspectDepartments.length; i++) {
                        if (listAspectDepartments[i].department_id == item.MaPhongBan) {
                            selectContent += "<option selected value=\"" + listAspectDepartments[i].department_id + "\">" + listAspectDepartments[i].department_name + "</option>"
                        } else {
                            selectContent += "<option value=\"" + listAspectDepartments[i].department_id + "\">" + listAspectDepartments[i].department_name + "</option>"
                        }
                    }

                    selectContent += "</select>"
                    var $tr = $('<tr>').append(

                        $('<td>').html('<class=\"aspectAdded center\"> ' + selectContent + ''),
                        $('<td>').html('<input id=\"note' + i + '\"value="' + item.GhiChu + '"  ><input type="hidden" id=\"MaAnToan' + i + '\"value="' + item.MaCongTacAnToan + '"  ><input type="hidden" class=\"dem\"value="' + i + '"  >'),
                    );

                    $tr.appendTo('#aspectDetailTable TBODY ');
                }

                );


                var a = document.getElementsByClassName("dem").length;
                if (a == null) { dem = 0; }
                else { dem = a; }
                //dem1 = $("#dem1").text();

                //ViewMode();
                $('#pre-load').hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            },
            data: {
                date: date

            },
            cache: false
        })
    }

    $("#EditSaveBtn").click(function (e) {
        //EditMode();
        var antoan = new Array();
        var i = 0;
        $("#aspectDetailTable TBODY TR").each(function () {
            i++;
            var row = $(this);
            var maintainCar = {};

            maintainCar.stringDate = document.getElementById("date").value;
            maintainCar.GhiChu = document.getElementById("note" + i).value;
            var x = document.getElementById("MaPhongBan" + i);
            maintainCar.MaPhongBan = x.options[x.selectedIndex].value;


            maintainCar.MaCongTacAnToan = document.getElementById("MaAnToan" + i).value;
            antoan.push(maintainCar);

        });
        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-tai-nan/edit",
            data: JSON.stringify(antoan),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                dataTable.ajax.reload();
                successAlert('Thành công', 'Chỉnh sửa thành công');

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
                errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                $('#close1').click();
            },
            cache: false
        }).done(function () {

            $('#closeForm1').click();
            $('#close1').click();

        })
        return false;

    });
    function deleterow(tableID) {
        var table = document.getElementById(tableID);
        table.deleteRow(-1);
        dem--;
    }

</script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>


