@{
    ViewData["Title"] = "ReportJob";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center">
                <b>BÁO CÁO CHỨNG CHỈ LAO ĐỘNG</b>
            </h3>
            <div class="row center">
                <div class="col s6 input-field">
                    <input list="listid-s" type="text" placeholder="Tìm kiếm theo tên chứng chỉ" class='form-control' id="TenChungChi" />
                </div>
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn-small blue darken-2 modal-trigger" id="SearchButton">Tìm kiếm</a>
                </div>
            </div>
            <div class="col s12 table_container">
                <table class="table-bordered striped table-responsive centered" id="complex_header">
                    <thead>
                        <tr>
                            <th>Tên GCN, Thẻ AT</th>
                            <th>Thời gian cấp</th>
                            <th>Thời gian hết hạn</th>
                            <th>Số lượng</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var dataTable;
    $("#pre-load").show();

    $(document).ready(function () {
        dataTable = $('#complex_header').DataTable({
            "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                "paginate": {
                    "first": "Trang đầu",
                    "last": "Trang cuối",
                    "next": "Trang sau",
                    "previous": "Trang trước"
                }
            },
            "ajax": {
                "url": "/phong-tcld/chung-chi/bao-cao-chung-chi",
                "type": "POST",
                "datatype": "json",
                "data": {
                    "TenChungChi": function () { return $('#TenChungChi').val() }
                },
                "cache": false
            },
            "columns": [
                { "data": "TenChungChi", "name": "TenChungChi" },
                { "data": "NgayCap", "name": "NgayCap" },
                { "data": "NgayHetHan", "name": "NgayHetHan" },
                { "data": "SoLuong", "name": "SoLuong" }
            ],
            "serverSide": "true",
            "order": [0, "desc"],
            "lengthChange": false,
            "searching": false,
            "initComplete": function (settings, json) {
                $("#pre-load").hide();
            },
            "preDrawCallback": function (settings) {
                $('#pre-load').show();
            },
            "drawCallback": function (settings) {
                $('#pre-load').hide();
            }
        });

        $('#SearchButton').click(function () {
            dataTable.ajax.reload();
        })
    });
</script>