
@{
    ViewData["Title"] = "MonthlyOrQuarter";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}

<h2>MonthlyOrQuarter</h2>
<a href=" https://drive.google.com/open?id=1Rq5vd-IM9gV7vaQc3TtTop36XARKp4o4 ">https://drive.google.com/open?id=1Rq5vd-IM9gV7vaQc3TtTop36XARKp4o4</a>
