@{
    ViewData["Title"] = "BaoCaoLenPhongDK";
    if (Session["departID"].ToString().Contains("PX"))
    {
        Layout = "~/Views/Shared/_Layout_PhanXuong.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    }

}
<!--UPLOADER-->
<link href="~/assets/uploader/style_uploader.css" rel="stylesheet" />
<link href="~/assets/uploader/icons.min.css" rel="stylesheet" />
<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
<style>
    #chonngay-container {
        margin-left: auto;
        margin-right: auto;
        width: 8em
    }
</style>
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l12 m12 s12 center">
                            <h3><b>NHẬP BÁO CÁO LÊN PHÒNG ĐK</b></h3>
                        </div>
                    </div>
                    <br />
                    <div class="row center">
                        @*<div class="col l4 m4 s4 center"></div>*@
                        <divstyle ="width=40%" class="col l12 m12 s12 center">
                            <h3 id="chonngay-container">
                                <i class="fas fa-calendar-alt icon"></i>
                                <input id="ngay-chon" type='text' class='datepicker-here center' data-language='vi' />
                            </h3>
                    </div>
                </div>
                <div class="row" id="main-content">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="">Báo cáo từng ca</h5>
                                <br />
                                <ul class="collapsible collapsible-dark">
                                    <li class="active">
                                        <div class="collapsible-header"><i class="fas fa-paperclip"></i>Ca 1<span id="ca1" class="badge">Đã nhập</span></div>
                                        <div class="collapsible-body">
                                            <p><img width="25" style="vertical-align:middle" src="~/assets/uploader/icon.png" /><a href="#">Báo cáo thực hiện sản xuất theo kế hoạch.xlsx</a></p>
                                            <div data-target="modal1" style="margin-right:10px" class="modal-trigger waves-effect blue waves-light btn">
                                                <i class="fas fa-file-excel"></i><span>Cập nhật</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="fas fa-paperclip"></i>Ca 2<span id="ca2" class="badge">Chưa nhập</span></div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s12">
                                                    <form action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzone">
                                                        <div class="fallback">
                                                            <input type="file" id="fUpload" name="file" class="form-control" single />
                                                        </div>
                                                        <div class="dz-message needsclick">
                                                            <i class="medium material-icons dp48">cloud_upload</i>
                                                            <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                                            <span class="text-muted font-13">(File hợp lệ: xls, xlsx)</span>
                                                        </div>
                                                    </form>
                                                    <br />
                                                    <div class="clearfix text-right mt-3">
                                                        <button type="button"
                                                                class="btn-danger blue waves-effect waves-light btn"
                                                                id="btnUpload">
                                                            <i class="material-icons dp48">send</i>
                                                            Tải lên
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="fas fa-paperclip"></i>Ca 3<span id="ca3" class="badge">Chưa nhập</span></div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s12">
                                                    <form action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzone">
                                                        <div class="fallback">
                                                            <input type="file" id="fUpload" name="file" class="form-control" single />
                                                        </div>
                                                        <div class="dz-message needsclick">
                                                            <i class="medium material-icons dp48">cloud_upload</i>
                                                            <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                                            <span class="text-muted font-13">(File hợp lệ: xls, xlsx)</span>
                                                        </div>
                                                    </form>
                                                    <br />
                                                    <div class="clearfix text-right mt-3">
                                                        <button type="button"
                                                                class="btn-danger blue waves-effect waves-light btn"
                                                                id="btnUpload">
                                                            <i class="material-icons dp48">send</i>
                                                            Tải lên
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="modal_title">Nhập liệu từ Excel</h4>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <form action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzone">
                            <div class="fallback">
                                <input type="file" id="fUpload" name="file" class="form-control" single />
                            </div>
                            <div class="dz-message needsclick">
                                <i class="medium material-icons dp48">cloud_upload</i>
                                <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                <span class="text-muted font-13">(File hợp lệ: xls, xlsx)</span>
                            </div>
                        </form>
                        <br />
                        <div class="clearfix text-right mt-3">
                            <button type="button"
                                    class="btn-danger blue waves-effect waves-light btn"
                                    id="btnUpload">
                                <i class="material-icons dp48">send</i>
                                Tải lên
                            </button>
                            <a href="~/excel/TCLD/TuyenDung/Template/TuyenDungForm.xlsx" style="float:right;">Tải file mẫu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--uPLOADER-->
@section scripts{
    <script src="~/assets/uploader/dropzone.js"></script>
    <script src="~/assets/extra-libs/prism/prism.js"></script>
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>
    <script src="~/assets/extra-libs/toastr/toastr-init.js"></script>
    <script>
        $(function () {
            $(".select-dropdown").remove();
            $(".caret").remove();
            //////////////////////////////////////
            var date = new Date();
            $("#ngay-chon").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());
        })
    </script>
    <!--Stacked Bar Chart JS-->
    <script src="~/js/Custom JS/CustomChart.js"></script>
}

