
@{
    ViewData["Title"] = "ViewJobRegister";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="@Url.Content("~/css/Custom css/TCLD/table_job_register.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="card">
        <div class="card-content">
            <h3 class="center">
                <b>CHỨNG CHỈ, CHỨNG NHẬN ĐÀO TẠO<input class="center datepicker-here" data-language="vi" data-min-view="years" data-view="years" data-date-format="Năm yyyy" value="Năm 2019" /></b>
            </h3>
            <div class="card">
                <div class="row table_container">
                        <div class="col l15">
                            <table class="table table-responsive">
                                <tr class="header">
                                    <th>STT</th>
                                    <th>Tên công việc</th>
                                    <th class="center" colspan="7">Chứng chỉ</th>
                                </tr>
                                <tr>
                                    <th class="">1</th>
                                    <th>DGKNN</th>
                                    <td><label><input type="checkbox" checked /><span>Đạt</span></label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="">2</th>
                                    <th>AT Điện</th>
                                    <td><label><input type="checkbox" checked /><span>Bậc 2</span></label></td>
                                    <td><label><input type="checkbox"  /><span>Bậc 3</span></label></td>
                                    <td><label><input type="checkbox"  /><span>Bậc 4</span></label></td>
                                    <td><label><input type="checkbox"  /><span>Bậc 5</span></label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="">3</th>
                                    <th>Vật liệu nổ</th>
                                    <td><label><input type="checkbox" /><span>Người quản lý</span></label></td>
                                    <td><label><input type="checkbox" /><span>Chỉ huy nổ mìn</span></label></td>
                                    <td><label><input type="checkbox" /><span>Người phục vụ</span></label></td>
                                    <td><label><input type="checkbox" /><span>Người vận chuyển</span></label></td>
                                    <td><label><input type="checkbox" /><span>Quản lý kho VLNCN</span></label></td>
                                    <td><label><input type="checkbox" /><span>Thợ mìn hạng B</span></label></td>
                                    <td><label><input type="checkbox" checked /><span>Thợ mìn hạng C</span></label></td>
                                </tr>
                                <tr>
                                    <th class="">4</th>
                                    <th class="">Tời</th>
                                    <td><label><input type="checkbox" checked  /><span>Phụ trách toa xe</span></label></td>
                                    <td><label><input type="checkbox"  /><span>VH tời chở người</span></label></td>
                                    <td><label><input type="checkbox"  /><span>VH tời trục mỏ</span></label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="">5</th>
                                    <th class="">Thiết bị áp lực</th>
                                    <td><label><input type="checkbox" checked  /><span>VH hàn hơi</span></label></td>
                                    <td><label><input type="checkbox"  /><span>VH máy nén khí</span></label></td>
                                    <td><label><input type="checkbox"  /><span>VH nồi hơi</span></label></td>
                                    <td><label><input type="checkbox"  /><span>VH thiết bị áp lực</span></label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="">6</th>
                                    <th class="">Thiết bị nâng</th>
                                    <td><label><input type="checkbox" checked  /><span>VH Monoray</span></label></td>
                                    <td><label><input type="checkbox"  /><span>VH thiết bị nâng hạ</span></label></td>
                                    <td><label><input type="checkbox"  /><span>VH xe nâng hàng</span></label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <th class="">7</th>
                                    <th class="">Giảng viên HL ATLĐ</th>
                                    <td><label><input type="checkbox" checked  /><span>GVHL ATLĐ</span></label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <th class="">8</th>
                                    <th class="">Vì neo</th>
                                    <td><label><input type="checkbox" checked  /><span>Vì neo</span></label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="">9</th>
                                    <th class="">VH tàu điện</th>
                                    <td><label><input type="checkbox" checked  /><span></span></label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".nutchinhsua").on("click", "#chinhsua", function () {
            $("input").removeAttr("");
            $(this).html("Lưu");
            $(this).attr("id", "luu");


            $(".nutchinhsua").on("click", "#luu", function () {
                $("input").attr("","");
                $(this).html("Chỉnh sửa");
                $(this).attr("id", "chinhsua");
            });
        });

 
    });

</script>
