@{
    ViewData["Title"] = "ViewJobByPX";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="row">
    <div class="card">
        <div class="card-content">
            <h3 class="center">
                <b>ĐĂNG KÝ CÔNG VIỆC CỦA <a class="btn blue darken-2 btn-lg dropdown-trigger" href="#phanxuong">PHÂN XƯỞNG KHAI THÁC 1</a> <input class="center datepicker-here" data-language="vi" data-min-view="years" data-view="years" data-date-format="Năm yyyy" value="Năm 2019" /></b>
            </h3>
            <table class="table-bordered">
                <tr>
                    <th class="">STT</th>
                    <th class="">Tên nhân viên</th>
                    <th>ĐGKNN</th>
                    <th>AT Điện</th>
                    <th>Vật liệu nổ</th>
                    <th>Tời</th>
                    <th>Thiết bị áp lực</th>
                    <th>Thiết bị nâng</th>
                    <th>Giảng viên HL ATLĐ</th>
                    <th>Vì Neo</th>
                    <th>VH tàu điện</th>
                </tr>
                <tr>
                    <th class="">1</th>
                    <th class="">Nguyễn Văn Hải</th>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>

                </tr>
                <tr>
                    <th class="">2</th>
                    <th class="">Nguyễn Ngọc Lam</th>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>

                </tr>
                <tr>
                    <th class="">3</th>
                    <th class="">Nguyễn Hải Vũ</th>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>

                </tr>
                <tr>
                    <th class="">4</th>
                    <th class="">Trần Văn Thi</th>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>

                </tr>
                <tr>
                    <th class="">5</th>
                    <th class="">Nguyễn Hải Sâm</th>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>

                </tr>
                <tr>
                    <th class="">6</th>
                    <th class="">Trần Bá Hai</th>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>

                </tr>
                <tr>
                    <th class="">7</th>
                    <th class="">Trần Văn Thi</th>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                </tr>
                <tr>
                    <th class="">8</th>
                    <th class="">Vũ Minh Quyến</th>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                </tr>
                <tr>
                    <th class="">9</th>
                    <th class="">Phạm Văn Thiện</th>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                </tr>
                <tr>
                    <th class="">10</th>
                    <th class="">Hoàng Linh</th>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                    <td><label><input type="checkbox" checked /><span></span></label></td>
                    <td><label><input type="checkbox" /><span></span></label></td>
                </tr>
            </table>
            <div> 
                <a href="#luu" class="btn blue darken-2 input-field modal-trigger">Lưu</a>
            </div>
        </div>
    </div>
</div>
<ul id='phanxuong' class='dropdown-content'>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 1</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 2</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 3</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 4</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 5</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 6</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 7</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 8</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 9</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 10</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxkhaithac">Phân xưởng khai thác 11</a></li>

    <li><a class="dropdown-child-px" href="#!" name="pxdaolo">Phân xưởng đào lò 3</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxdaolo">Phân xưởng đào lò 5</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxdaolo">Phân xưởng đào lò 7</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxdaolo">Phân xưởng đào lò 8</a></li>

    <li><a class="dropdown-child-px" href="#!" name="pxlothien">Phân xưởng lộ thiên</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxvantai">Phân xưởng vận tải 1</a></li>
    <li><a class="dropdown-child-px" href="#!" name="pxvantai">Phân xưởng vận tải 2</a></li>
</ul>

<div class="modal" id="luu">
    <div class="modal-header center">
        <h3><strong>Xác nhận</strong></h3>
    </div>
    <hr/>
    <div class="modal-content">
        <h4><strong class="green-text">Xác nhận lưu ?</strong></h4>
    </div>
    <hr/>
    <div class="modal-footer">
        <a class="btn blue darken-2 modal-close">Đồng ý</a>
        <a class="btn red modal-close">Hủy</a>
    </div>
</div>
