
@{
    ViewBag.Title = "Department_Criteria_By_Year";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}

<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
<style>
    #toast-container {
        min-width: 10%;
        top: 0;
        right: 50%;
        transform: translateX(50%) translateY(50%);
    }

    #export-button {
        float: right !important;
    }
</style>
<div class="card">
    <div class="card-content">
        <h3 class="center">PHÂN XƯỞNG TIÊU CHÍ-NĂM</h3>
        <div class="row">
            <div class="input-field col l3 m12 s12">
                <a class="btn blue darken-2 right" id="yearBefore" onclick="getBeforeInformation()">LẤY DỮ LIỆU NĂM TRƯỚC</a>
            </div>
            <div class="input-field col l3 m12 s12">
                <input type="text" id="yearCalendar" autocomplete="off" class="form-control datepicker-here datepicker-add center"
                       data-language='vi'
                       data-min-view="years"
                       data-view="years"
                       data-date-format="Năm yyyy"
                       required placeholder="Năm" />
            </div>
            <div class="input-field col l3 m12 s12">
                <select class="form-control" id="cbx-px" name="px_value">
                    <option value="default-px" disabled selected>Phân xưởng</option>
                    @foreach (var px in ViewBag.listDepartments)
                    {
                        <option value="@px.department_id">@px.department_name</option>
                    }
                </select>
            </div>
            <div class="input-field col l1 m12 s12">
                <a class="btn blue darken-2 right" id="view-btn">XEM</a>
            </div>
            <div class="input-field col l12 m12 s12">
                <div class="center" id="message"></div>
            </div>
            <div class="input-field col l1 m12 s12">
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <table class="table-bordered" id="aspectDetailTable">
                        <thead>
                            <tr>
                                <th>Tiêu chí</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col s12 m12 l12 input-field right row">
                    <a class="btn blue darken-2" id="addRowsbtn">Thêm</a>
                </div>

            </div>
            <div class="col s12 m12 l12 input-field center row">
                <button class="btn blue darken-2" type="submit" id="EditSaveBtn" onclick="EditOrUpdate()">CHỈNH SỬA</button>
            </div>
        </div>
    </div>
</div>

<!--ADD ROW-->
<script>

    var editing = false
    $("#EditSaveBtn").click(function () {
        //$("#EditSaveBtn").prop('disabled', true);
        editing = false;
    });
    $("#addRowsbtn").click(function () {
        $("#EditSaveBtn").prop('disabled', false);
        editing = true;
    })
    function getNumberOfRows() {
        return $("#aspectDetailTable tbody").find('tr').length
    }

    window.onbeforeunload = function () {
        $('li .active').removeClass('active')
        return 'You have unsaved changes!';
    }

    $("#view-btn").click(function () {
        let rownum = getNumberOfRows()
        if (editing == true && rownum!=0) {
            r = confirm('Thay đổi hiện tại chưa được lưu lại! Đồng ý chuyển trang?')
            if (r == true) {
                getInformation()
            } 
        } else {
            getInformation()
        }
    })
    ///////////////////////////////////////////////////////////////////////////////////
    $(document).ready(function () {
        $('select').formSelect();
        mode = 0;
        $('#addRowsbtn').hide();
        listAspectDepartments = [];
    });
    var dem = 0;

    /////////////////////Button Thêm/////////////////////
    $("#addRowsbtn").on("click", function () {
        content = "";
        selectContent = "<select id=\"MaTieuChi" + dem + "\" onchange=\"return checkDuplicate(this);\" class=\"browser-default\" skipped=\"0\"> <option value=\"-1\" selected disabled>Lựa chọn tiêu chí</option>";

        for (let i = 0; i < listAspectDepartments.length; i++) {
            selectContent += "<option id=\"" + listAspectDepartments[i].MaTieuChi + "\" value=\"" + listAspectDepartments[i].MaTieuChi + "\">" + listAspectDepartments[i].TenTieuChi + "</option>";
        }
        selectContent += "</select>";
        content += "<tr id=\"MaTieuChi" + dem + "\"><td>" + selectContent + "</td><td><a id='delete-btn' name=\"MaTieuChi" + dem + "\" class='btn red darken-2'>Xóa</a></td></tr>";
        dem++;
        tableBody.append(content);
    });

    /////////////////////Button Xóa///////////////////////
    $("#aspectDetailTable").on("click", "#delete-btn", function () {
        $("tr#" + $(this).attr("name")).remove();
        emptyArr();
        $("#aspectDetailTable").find("select").each(function () {
            var value = $(this).val();
            if (value != null) {
                if (value !== -1 || currentSelectedValue.indexOf(value) !== -1) {
                    currentSelectedValue.push(value);
                }
            }
        })
        $("#aspectDetailTable .aspectName").each(function () {
            var value = $(this).attr("id");
            console.log(value);
            if (value != null) {
                if (value !== -1 || currentSelectedValue.indexOf(value) !== -1) {
                    currentSelectedValue.push(value);
                }
            }
        })
        ////////////////////////////
        let rownum = getNumberOfRows()
        if (rownum == 0) {
            $("#EditSaveBtn").prop('disabled', true);
        }
        editing = true;
    })
</script>


<!--LIST + ADD + UPDATE + DELETE-->
<script>
    //check button that user press is "View" or "GetDataLastYear"
    var checkButton;
    function getInformation() {
        dem = 0;
        if ($('#yearCalendar').val() == "" || $('#cbx-px').val() == null)
            return false;
        $('#pre-load').show();
        $.ajax({
            type: 'post',
            url: '/phong-dieu-khien/nhap-lieu-phong-ban-tieu-chi-theo-nam/lay-thong-tin',
            data: {
                'year': $("#yearCalendar").val().split(" ")[1],
                'department': $("#cbx-px").val(),
            },
            success: function (response) {
                tableBody = $("#aspectDetailTable").children("tbody");
                tableBody.empty();
                content = "";
                let reponseListPhongBanTieuChi = response.listPhongBanTieuChi;
                for (let i = 0; i < reponseListPhongBanTieuChi.length; i++) {
                    content += "<tr><td class=\"aspectName\" id=\"" + reponseListPhongBanTieuChi[i].MaTieuChi + "\">" + reponseListPhongBanTieuChi[i].TenTieuChi + "</td><td><a class='btn red darken-2' onclick='deleteInformation(" + reponseListPhongBanTieuChi[i].MaTieuChi + ",this)'>Xóa</a></td><tr>";
                }
                tableBody.html(content);
                ViewMode();
                mode = 0;
                listAspectDepartments = response.listTieuChi;
                emptyArr();

                //when list data of currentYear > 0 then disable button "Lấy dữ liệu năm trước"
                if (response.listPhongBanTieuChi.length > 0) {
                    $("#yearBefore").attr("disabled", "disabled");
                } else {
                    $("#yearBefore").removeAttr("disabled", "disabled");
                }

                //status
                status = response.status;

                //Add message
                $("#message").html(response.message);
                $("#EditSaveBtn").prop('disabled', false);
                editing = false;
                $('#pre-load').hide();
                $('#pre-load').hide();
            },
            error: function (response) {

            }
        })
    }

    function getBeforeInformation() {
        dem = 0;
        if ($('#yearCalendar').val() == "" || $('#cbx-px').val() == null)
            return false;
        $('#pre-load').show();
        $.ajax({
            type: 'post',
            url: '/phong-dieu-khien/nhap-lieu-phong-ban-tieu-chi-theo-nam/lay-thong-tin-nam-truoc',
            data: {
                'year': $("#yearCalendar").val().split(" ")[1],
                'department': $("#cbx-px").val(),
            },
            success: function (response) {
                tableBody = $("#aspectDetailTable").children("tbody");
                tableBody.empty();
                content = "";
                let reponseListPhongBanTieuChi = response.listPhongBanTieuChi;
                for (let i = 0; i < reponseListPhongBanTieuChi.length; i++) {
                    content += "<tr  id=\"MaTieuChi" + dem + "\"><td class=\"aspectName\" id=\"" + reponseListPhongBanTieuChi[i].MaTieuChi + "\">" + reponseListPhongBanTieuChi[i].TenTieuChi + "</td><td><a id='delete-btn' name=\"MaTieuChi" + dem + "\" class='btn red darken-2'>Xóa</a></td><tr>";
                    dem++;
                }
                tableBody.html(content);
                ViewMode();
                mode = 0;
                listAspectDepartments = response.listTieuChi;
                //reset arr to push currentSelectedValue
                emptyArr();
                for (var i = 0; i < reponseListPhongBanTieuChi.length; i++) {
                    currentSelectedValue.push(reponseListPhongBanTieuChi[i].MaTieuChi);

                }

                //status
                status = response.status;

                //Add message
                $("#message").html(response.message);
                $('#pre-load').hide();
            },
            error: function (response) {

            }
        })
    }

    function check() {
        tableBodyRows = $("#aspectDetailTable tbody tr")
            .each(function () {
                $(this).find("td").each(function (i, v) {

                })
            });
    }

    function ViewMode() {
        $("#EditSaveBtn").html("<i class=\"material-icons right\">border_color</i>CẬP NHẬT");
        $('#addRowsbtn').hide();
        $("#totalDays").attr("disable", true)
    }

    function EditMode() {
        $("#EditSaveBtn").html("<i class=\"material-icons right\">border_color</i>LƯU");
        $('#addRowsbtn').show();
        $("#totalDays").removeAttr("disabled")
    }

    function EditOrUpdate() {
        if (mode == 0) {
            //View Mode -> Edit

            EditMode();

            $('.editableContent').each(function () {
                content = $(this).text();

                if ($(this).attr("id").includes("amount")) {
                    $(this).html("<input type=\"number\" value=\"" + content + "\">")
                } else {
                    $(this).html("<input type=\"text\" value=\"" + content + "\">")
                }
            })

        } else {
            // Edit Mode -> View
            sendUpdateData();
            ViewMode();
        }
        mode = 1 - mode;
    }

    function sendUpdateData() {
        setTimeout($('#pre-load').show(), 3000)
        $.ajax({
            url: "/phong-dieu-khien/nhap-lieu-phong-ban-tieu-chi-theo-nam/cap-nhat-thong-tin",
            type: "post",
            data: {
                'year': $("#yearCalendar").val().split(" ")[1],
                'department': $("#cbx-px").val(),
                'currentSelectedValue': JSON.stringify(currentSelectedValue)
            },
            success: function (response) {
                successAlert('Thành công', 'Thao tác thành công');
                getInformation();
                $('#pre-load').hide();
            },
            error: function (response) {
                errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại.');
                $('#pre-load').hide();
            }
        })
    }

    function deleteInformation(MaTieuChi,el) {
        var year = $("#yearCalendar").val().split(" ")[1];
        confirmAlert("Xác nhận xóa?", "Bạn sẽ xóa tất cả kế hoạch của tiêu chí này trong năm " + year, function () {
            setTimeout($('#pre-load').show(), 3000);
            $.ajax({
                url: "/phong-dieu-khien/nhap-lieu-phong-ban-tieu-chi-theo-nam/xoa-tieu-chi-cua-phong-ban",
                type: "post",
                //dataType: "json",
                data: {
                    'year': $("#yearCalendar").val().split(" ")[1],
                    'department': $("#cbx-px").val(),
                    'maTieuChi': MaTieuChi
                },
                success: function (response) {
                    successAlert('Thành công', 'Thao tác thành công');
                    //getInformation();
                    $(el).parent().parent().hide();
                    $('#pre-load').hide();
                },
                error: function (response) {
                    errorAlert('Lỗi', 'Có lỗi xảy ra, không thể xóa.');
                    $('#pre-load').hide();
                }
            })
        })
    }

</script>

<!--VALIDATE-->
<script>
    var currentSelectedValue = [];
    var selectedValueTD = [];

    function emptyArr() {
        currentSelectedValue = [];
        selectedValueTD = [];
    }

    $("#aspectDetailTable").on("click", "select", function () {
        emptyArr();
        //////Push to array after empty//////
        $("#aspectDetailTable").find("select").each(function () {
            var value = $(this).val();
            if (value != null) {
                if (value !== -1 || currentSelectedValue.indexOf(value) !== -1) {
                    currentSelectedValue.push(value);
                }
            }
        })
        ///////////
        $("#aspectDetailTable").find("td").each(function () {
            var value = $(this).attr('id');
            if (value != null) {
                if (value !== -1 || selectedValueTD.indexOf(value) !== -1) {
                    //check when data from current selected Year
                    if (status !== 'CurrentYear') {
                        currentSelectedValue.push(value);
                    }
                    selectedValueTD.push(value);
                }
            }
        })
    });

    function checkDuplicate(selectTag) {
        selectedValue = selectTag.options[selectTag.selectedIndex].value;
        if (currentSelectedValue.indexOf(selectedValue) !== -1 || selectedValueTD.indexOf(selectedValue) !== -1) {
            selectTag.value = '-1';
            toastr.error('Tiêu chí này đã tồn tại', '');
        }
    }
    window.onbeforeunload = function () {
        $('li .active').removeClass('active')
        return 'You have unsaved changes!';
    }
</script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>




