@{
    ViewData["Title"] = "Maintenance";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">
                <h3 class="center" style="margin-bottom:40px"><b>CẬP NHẬT SỬA CHỮA</b></h3>
                <div class="col s12">
                    <div class="row table_container">
                        <table class="table-bordered striped table-responsive centered" style="zoom:80%;">
                            <thead>
                                <tr>
                                    <th rowspan="2">Số LSX, QĐ</th>
                                    <th rowspan="2">Ngày tháng LSX, QĐ</th>
                                    <th rowspan="2">Cấp SC</th>
                                    <th colspan="2">Thời gian SC</th>
                                    <th colspan="5">Chi tiết vật tư thay thế, SC</th>
                                    <th rowspan="2">KQ sau SC</th>
                                    <th colspan="5">Chi tiết vật tư thu hồi sau SC</th>
                                </tr>
                                <tr>
                                    <th>TG vào SC</th>
                                    <th>TG SC xong</th>
                                    <th>Mã VT</th>
                                    <th>Tên vật tư</th>
                                    <th>ĐVT</th>
                                    <th>Số lượng</th>
                                    <th>TTKT của vật tư</th>
                                    <th>Mã VT</th>
                                    <th>Tên vật tư</th>
                                    <th>ĐVT</th>
                                    <th>Số lượng</th>
                                    <th>TTKT của vật tư</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">1162/LSX-VQHC-CV về việc sửa chữa băng tải B650 Phân xưởng Khai thác 4</td>
                                    <td rowspan="2">15/7/2019</td>
                                    <td rowspan="2">
                                        SCTX
                                    </td>
                                    <td rowspan="2">2:15AM 15/7/2019</td>
                                    <td rowspan="2">4:15 AM 15/7/2019</td>
                                    <td rowspan="2">KLS</td>
                                    <td>Bản lề băng B650</td>
                                    <td>Bộ</td>
                                    <td>3</td>
                                    <td>
                                        <select class="form-control" style="min-width:120px">
                                            <option></option>
                                            <option>Mới 100%</option>
                                            <option>Cũ qua sử dụng</option>
                                            <option>Cũ qua sữa chữa</option>
                                        </select>
                                    </td>
                                    <td rowspan="2">
                                        <select class="form-control" style="min-width:120px">
                                            <option></option>
                                            <option>Đảm bảo yêu cầu kỹ thuật</option>
                                            <option>Không đạt</option>
                                        </select>
                                    </td>
                                    <td rowspan="2">KLS</td>
                                    <td>Bản lề băng B650</td>
                                    <td>Bộ</td>
                                    <td>3</td>
                                    <td>
                                        <select class="form-control" style="min-width:120px">
                                            <option></option>
                                            <option>Hỏng - phế liệu</option>
                                            <option>Cũ - tái sử dụng</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Đinh tán băng</td>
                                    <td>Cái</td>
                                    <td>12</td>
                                    <td>
                                        <select class="form-control" style="min-width:120px">
                                            <option></option>
                                            <option>Mới 100%</option>
                                            <option>Cũ qua sử dụng</option>
                                            <option>Cũ qua sữa chữa</option>
                                        </select>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="right card">
                        <a href="/phong-cdvt/cap-nhat/chi-tiet" class="waves-effect waves-light btn blue draken-2 modal-trigger">Thêm</a>
                        <a  href="#myaleart" class="waves-effect waves-light btn blue draken-2 modal-trigger">Lưu</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myaleart" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận lưu mục này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Bạn có chắc chắn muốn lưu lại ?</p>
        </div>
        <div class="modal-footer">
            <a id="xacnhan" href="/phong-cdvt/cap-nhat/quyet-dinh"><button type="button" class="btn blue darken-2 modal-close">Xác nhận</button></a>
            <button type="button" class="btn red modal-close">Hủy</button>
        </div>
    </div>
</div>
<script src="~/js/Custom JS/CDVT/Capnhat/update.js"></script>