
@{
    ViewBag.Title = "MonthlyQuarterlyReport";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";

}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="center black-text">
                <h3><b>BÁO CÁO PHÂN XƯỞNG</b></h3>
            </div>

        </div>
        <div class="row">
            <table class="centered highlight">
                <thead>
                    <tr>
                        <th rowspan="3"></th>
                        <th colspan="10">Q1</th>
                        <th colspan="10">Q2</th>
                        <th colspan="10">Q3</th>
                    </tr>
                    <tr>
                        <th colspan="2">THÁNG 1</th>
                        <th colspan="2">THÁNG 2</th>
                        <th colspan="2">THÁNG 3</th>
                        <th colspan="2">THÁNG 4</th>
                        <th colspan="2">Tổng Quý</th>
                        <th colspan="2">THÁNG 5</th>
                        <th colspan="2">THÁNG 6</th>
                        <th colspan="2">THÁNG 7</th>
                        <th colspan="2">THÁNG 8</th>
                        <th colspan="2">Tổng Quý</th>
                        <th colspan="2">THÁNG 9</th>
                        <th colspan="2">THÁNG 10</th>
                        <th colspan="2">THÁNG 11</th>
                        <th colspan="2">THÁNG 12</th>
                        <th colspan="2">Tổng Quý</th>
                    </tr>
                    <tr>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                        <th>TH</th>
                        <th>KH</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                        <th>Một Cục Cứt</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<span hidden value="hihi" id="createdHeader"></span>
