
@{
    ViewBag.Title = "Occupation";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>DANH SÁCH CÔNG VIỆC</b></h3>
            <div>
                <a class="waves-effects waves-light btn blue darken-2 btn-small input-field modal-trigger" href="#modal_themCongViec">Thêm</a>
            </div>
            <div>
                <table id="congviec" class="table table-bordered responsive-table center">
                    <thead>
                        <tr>
                            <th>Tên công việc</th>
                            <th>Thang lương</th>
                            <th>Phụ cấp</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!----------------Modal themCongViec---------------->
<div class="modal" id="modal_themCongViec">
    <div class="card">
        <div class="card-content">
            <h4><b>Thêm Công Việc</b></h4>
            <div class="modal-content">
                <div class="col s12 m12 l12">
                    <label>Tên công việc</label>
                    <input type="text" class="form-control" id="tenCongViec_them" />
                </div>
                <div class="col s12 m6 l6">
                    <label>Thang lương</label>
                    <input type="text" class="form-control" id="thangLuong_them" />
                </div>
                <div class="col s12 m6 l6">
                    <label>Phụ cấp</label>
                    <input type="text" class="form-control" id="phuCap_them" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="xacNhanThemCongViec" class="waves-effects waves-light btn blue darken-2 btn-small">Xác nhận</button>
                <button id="dongThemCongViec" class="waves-effects waves-light btn red darken-2 btn-small modal-close">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!----------------Modal suaCongViec----------------->
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!----------------------LIST----------------------->
<script>
    var table;
    $(document).ready(function () {
        $("#pre-load").show(),
            table = $("#congviec").DataTable({
                "ajax": {
                    "url": "/phong-tcld/quan-ly-cong-viec/danh-sach-cong-viec",
                    "type": "GET",
                    "datatype": "json",
                    "cache": "false",
                    "dataSrc": function (json) {
                        return json["congviec_list"];
                    }
                },
                "columns": [
                    {
                        "data": "TenCongViec", "name": "TenCongViec"
                    },
                    {
                        "data": "ThangLuong", "name": "ThangLuong"
                    },
                    {
                        "data": "PhuCap", "name": "PhuCap"
                    },
                    {
                        "data": "", "render": function (data, type, row) {
                            return "<a id=\"suaCongViec\" name=\"" + row["MaCongViec"] + "\" class=\"waves-effects waves-light btn blue darken-2 btn-small modal-trigger\">Sửa</a>";
                        },
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "data": "", "render": function (data, type, row) {
                            return "aaa";
                        },
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "serverSide": "true",
                "order": [0, "desc"],
                "searching": false,
                "bLengthChange": false,
                "autoWidth": false,
                "bFilter": true,
                "bInfo": false,
                "language": {
                    emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|"
                    }
                },
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                }
            });
    });
</script>
