
@{
    ViewBag.Title = "SideOccupation";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>DANH SÁCH DIỆN CÔNG VIỆC</b></h3>
            <div>
                <a class="btn blue darken-2 btn-small input-field modal-trigger" href="#themDienCongViec">Thêm</a>
            </div>
            <div>
                <table id="diencongviec" class="table table-bordered center">
                    <thead>
                        <tr>
                            <th>Diện công việc</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Modal themDienCongViec-->
<div id="themDienCongViec" class="modal">
    <div class="card">
        <div class="card-content">
            <h4 class="center"><b>Thêm Diện Công Việc</b></h4>
            <div class="modal-content">
                <div class="row">
                    <div class="col s1 m1 l1"></div>
                    <div class="col s12 m10 l10">
                        <label>Tên diện công việc</label>
                        <input type="text" class="form-control" id="tenDienCongViec" />
                    </div>
                    <div class="col s1 m1 l1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn blue darken-2 btn-small">Xác nhận</button>
                <button class="btn red darken-2 btn-small modal-close">Đóng</button>
            </div>
        </div>
    </div>
</div>
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#diencongviec").DataTable({
            "ajax": {
                "url": "phong-tcld/quan-ly-dien-cong-viec/danh-sach-dien-cong-viec",
                "type": "GET",
                "datatype": "json",
                "cache": "false",
                "dataSrc": ""
            }
        });

    });
</script>
