@{
    ViewData["Title"] = "Xincapvattu";
    if (Session["departName"].ToString().Contains("Phân xưởng"))
    {
        Layout = "~/Views/Shared/_Layout_PhanXuong.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    }

}
<!-- This page CSS -->
<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<link href="~/dist/datatable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>

<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <h3 class="center"><b>XIN CẤP VẬT TƯ SỬA CHỮA THƯỜNG XUYÊN</b></h3>
                </div>
                <div id="chitiet">
                    <div class="row">
                        <div class="col s12 table_container" id="table-wrapper2">
                            <table id="Table" class="table-bordered striped table-responsive centered" sstyle="margin-top:30px; text-align:center;width:100%;">
                                <thead>
                                    <tr>
                                        <th class="center-align">STT</th>
                                        <th class="center-align">Mã nhóm thiết bị</th>
                                        <th class="center-align">Tên</th>
                                        <th class="center-align">Mã TSCĐ</th>
                                        <th class="center-align">Mã vật tư</th>
                                        <th class="center-align">Vật tư SCTX</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2">
                    </div>
                    <div class="col s12 m4">
                    </div>
                    <div class="col s12 m4">
                        <a id="update" class="btn right" style="width:225px;background-color:#273146;margin-bottom:20px">Cập nhật</a>
                    </div>
                    <div class="col s12 m2">
                        <a id="submit" class="btn" style="width:225px;background-color:#273146;margin-bottom:20px">Xin Cấp</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title center">Vật tư dự phòng</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive centered table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Định mức chung</th>
                                <th>Kế hoạch chung</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="addcolumn" class="waves-effect waves-light btn blue darken-2 left"><i class='large material-icons'>add</i></a>
            <a id="submitvattu" class="waves-effect waves-light btn blue darken-2 right">Lưu</a>
        </div>
    </div>
</div>
<input type='hidden' id='vt_id' list='listVT' class='form-control' />
<datalist id="listVT">
    @foreach (var item in ViewBag.Supplies)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>

@section scripts{
    <script src="~/dist/datatable/jquery.dataTables.min.js"></script>
    <script>
        var payload;
        var datatable;
        $("#pre-load").show();

        $("#addcolumn").click(function () {
            var $tr = $('<tr>').append(
                $('<td>').html("<input type='text' id='vt_name' list='listVT' class='form-control' />"),
                $('<td>').html("<input type='number' min='0' value='0' class='form-control' />"),
                $('<td>').html("<input type='number' min='0' value='0' class='form-control' />"),
                $('<td>').html("<button type='button' class='btnSelect btn blue btn-small center'><i class='large material-icons'>remove</i></button>"),
            );
            $tr.appendTo('#test tbody');
        });

        $(document).ready(function () {
            var index = 1;
            datatable = $('#Table').DataTable({
                "ajax": {
                    "url": "/phong-cdvt/xin-cap-vat-tu-sctx/all",
                    "type": "GET",
                    "datatype": "json",
                    "cache": "false",
                    "dataSrc": function (json) {
                        payload = json.data;
                        if (payload.length == 0) {
                            $("#pre-load").hide();
                            $("#submit").attr("disabled", true);
                            $("#update").attr("disabled", true);
                            errorAlert('Không có vật tư cấp mới.');
                        }
                        return json.data;
                    }
                },
                "columns": [
                    { "data": null, "name": "Index", "render": function (data) { return index++; } },
                    { "data": "EquipmentCategoryId", "name": "EquipmentCategoryId" },
                    { "data": "EquipmentName", "name": "EquipmentName" },
                    { "data": "EquipmentId", "name": "EquipmentId" },
                    { "data": "SupplyId", "name": "SupplyId" },
                    {
                        "data": "", "render": function (data) {
                            return "<a data-target=\"mylist\" id=\"add2\" class=\"btn blue btn-small center modal-trigger\" style=\"margin-top:10px\">Thêm</a>";
                        }
                    },
                ],
                "processing": true,
                "order": [0, "asc"],
                "rowId": "SupplyId",
                "lengthChange": false,
                "searching": false,
                "paging": false,
                "initComplete": function (settings, json) {
                    $("#pre-load").hide();
                },
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang sau",
                        "previous": "Trang trước"
                    }
                }
            });
            $("#submit").click(function () {
                confirmAlert('Xác nhận', 'Nộp đơn xin cấp mới?', function () {
                    $("#pre-load").show();
                    $.ajax({
                        dataType: "json",
                        contentType: "application/json, charset=utf-8",
                        type: 'POST',
                        url: '/phong-cdvt/xin-cap-vat-tu-sctx/submit',
                        data: JSON.stringify(payload),
                        success: function (res) {
                            if (res.success) {
                                $("#submit").attr("disabled", true);
                                $("#update").attr("disabled", true);
                                $.notify('Nộp đơn thành công.', {
                                    globalPosition: 'top center',
                                    className: 'success'
                                });
                            } else {
                                $.notify('Nộp đơn thất bại.', {
                                    globalPosition: 'top center',
                                    className: 'error'
                                });
                            }
                        }
                    });
                    $("#pre-load").hide();
                });
            });
            $("#update").click(update);
        });

        function handleSupplyAverageChange(domId, id) {
            let value = 0;
            if (document.getElementById(domId) != null && document.getElementById(domId).value != '') {
                value = parse2PosNum(document.getElementById(domId).value);
            }
            for (let i = 0; i < payload.length; i++) {
                if (payload[i].Id == id) {
                    payload[i].SupplyAverage = value;
                }
            }

        }

        function handleSupplyPlanChange(domId, id) {
            let value = 0;
            if (document.getElementById(domId) != null && document.getElementById(domId).value != '') {
                value = parse2PosInt(document.getElementById(domId).value);
            }
            for (let i = 0; i < payload.length; i++) {
                if (payload[i].Id == id) {
                    payload[i].SupplyPlan = value;
                }
            }
        }

        function parse2PosInt(value) {
            var value = parseInt(value);
            if (value < 0) {
                return 0;
            }
            return value;
        }

        function parse2PosNum(value) {
            var value = parseFloat(value);
            if (value < 0) {
                return 0;
            }
            return value;
        }

        function update() {
            $("#pre-load").show();
            $.ajax({
                dataType: "json",
                contentType: "application/json, charset=utf-8",
                type: 'POST',
                url: '/phong-cdvt/xin-cap-vat-tu-sctx/update',
                data: JSON.stringify(payload),
                success: function (res) {
                    if (res.success) {
                        $.notify('Cập nhật đơn thành công.', {
                            globalPosition: 'top center',
                            className: 'success'
                        });
                        window.location.reload();
                    } else {
                        $.notify('Cập nhật đơn thất bại.', {
                            globalPosition: 'top center',
                            className: 'error'
                        });
                    }
                }
            });
            $("#pre-load").hide();
        }
    </script>
}