@{
    ViewData["Title"] = "Select";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<div class="row" id="chondieuchuyen">
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row center">
                    <div>
                        <h3 class="center">Điều động nhân viên</h3>
                    </div>
                    <div class="col l5 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='form-control' id="searchArea" multiple />
                    </div>
                    <div class="col l5 m12 s12 input-field">
                        <input type="text" placeholder="Tìm kiếm theo tên nhân viên" class='form-control' id="searchArea" multiple />
                    </div>
                    <div class="col l5 m12 s12 input-field">
                        <select class="form-control" id="departure">
                            <option value="" disabled selected>Chọn phòng ban</option>
                            <option value="1">Phòng tổ chức lao động</option>
                            <option value="2">Phòng cơ điện vận tải</option>
                            <option value="2">Phòng an toàn</option>
                            <option value="2">Phân xưởng khai thác 1</option>
                            <option value="2">Phân xưởng khai thác 2</option>
                            <option value="2">Phân xưởng khai thác 3</option>
                            <option value="2">Phân xưởng khai thác 5</option>
                            <option value="2">Phân xưởng đào lò 1</option>
                            <option value="2">Phân xưởng đào lò 2</option>
                            <option value="2">Phân xưởng đào lò 3</option>
                            <option value="2">Phân xưởng đào lò 5</option>
                        </select>
                    </div>
                    <div class="col l5 m12 s12 input-field">
                        <select class="form-control" id="position">
                            <option value="" disabled selected>Chọn phòng chức vụ</option>
                            <option value="1">Trưởng phòng</option>
                            <option value="2">Nhân viên kinh doanh</option>
                            <option value="2">Phó quản đốc</option>
                            <option value="2">Quản đốc</option>
                        </select>
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col m12">
        <div class="card">
            <div class="card-content">

                <div id="table-wrapper">
                    <div>
                        <div class="row">
                            <table id="myTable" class="striped responsive-table table-bordered">
                                <tr>
                                    <th class="center">Số thứ tự</th>
                                    <th class="center">Mã nhân viên</th>
                                    <th class="center">Họ và tên</th>
                                    <th class="center">Phân xưởng hiện tại</th>
                                    <th class="center">Chức vụ hiện tại</th>
                                    <th class="center">Tình trạng sức khỏe</th>
                                    <th class="center"></th>
                                </tr>
                                <tr>
                                    <td class="center">1</td>
                                    <td class="center">2179</td>
                                    <td class="center">Nguyễn Xuân Thoảng</td>
                                    <td class="center">Phân xưởng cơ khí</td>
                                    <td class="center">Thợ sửa chữa</td>
                                    <td class="center"><a id="sucKhoe" class="btn green darken-2">Tốt</a></td>
                                    <td><a id="buttonChon" class="2179 btn blue darken-2">Chọn</a></td>
                                </tr>
                                <tr>
                                    <td class="center">2</td>
                                    <td class="center">7751</td>
                                    <td class="center">Nguyễn Văn Hùng</td>
                                    <td class="center">Phân xưởng phục vụ</td>
                                    <td class="center">Kế toán</td>
                                    <td class="center"><a id="sucKhoe" class="btn green darken-2">Tốt</a></td>
                                    <td class="center"><a id="buttonChon" class="7751 btn blue darken-2">Chọn</a></td>
                                </tr>
                                <tr>
                                    <td class="center">3</td>
                                    <td class="center">3506</td>
                                    <td class="center">Nguyễn Văn Hùng</td>
                                    <td class="center">Phân xưởng đào lò</td>
                                    <td class="center">Kế toán</td>
                                    <td class="center"><a id="sucKhoe" class="btn green darken-2">Tốt</a></td>
                                    <td class="center"><a id="buttonChon" class="3506 btn blue darken-2">Chọn</a></td>
                                </tr>
                                <tr>
                                    <td class="center">4</td>
                                    <td class="center">2041</td>
                                    <td class="center">Nguyễn Văn Hưng</td>
                                    <td class="center">Phân xưởng xây dựng</td>
                                    <td class="center">Kế toán</td>
                                    <td class="center"><a id="sucKhoe" class="btn green darken-2">Tốt</a></td>
                                    <td class="center"><a id="buttonChon" class="2041 btn blue darken-2">Chọn</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col m12" id="table2" hidden="hidden">
        <div class="card">
            <div class="card-content">
                <div>
                    <div class="row">
                        <div id="table-wrapper2">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row" id="chondiadiemthoigiandieuchuyen" style="display: none">
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="center col s12 m12 l12">
                        <h3>Vị trí điều động</h3>
                    </div>
                    <div class="col s12 m2 l2">
                        <input type="text" class="form-control" placeholder="Mã QĐ điều động" />
                    </div>
                    <div class="input-field col x12 s12 m12 l12">
                        <div class="">
                            <table class="striped table-responsive table-bordered">
                                <tr>
                                    <th>Số thứ tự</th>
                                    <th>Mã nhân viên</th>
                                    <th>Họ và tên</th>
                                    <th>Phân xưởng hiện tại</th>
                                    <th>Chức vụ hiện tại</th>
                                    <th>Tình trạng sức khỏe</th>
                                    <th>Phân xưởng điều động</th>
                                    <th>Chức vụ điều động</th>
                                    <th>Đến ngày</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2179</td>
                                    <td>Nguyễn Xuân Thoảng</td>
                                    <td>Phân xưởng cơ khí</td>
                                    <td>Thợ sửa chữa</td>
                                    <td><a class="btn green darken-2">Tốt</a></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Phân xưởng cơ khí</option>
                                            <option>Phân xưởng đào lò</option>
                                            <option>Phân xưởng phục vụ</option>
                                            <option>Phân xưởng điện mỏ</option>
                                            <option>Phân xưởng khai thác</option>
                                            <option>Phân xưởng lộ thiên</option>
                                            <option>Phân xưởng sàng tuyển</option>
                                            <option>Phân xưởng thông gió quản lý mỏ</option>
                                            <option>Phân xưởng vận tải</option>
                                            <option>Phân xưởng xây dựng</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" placeholder="Chức vụ điều động" required /></td>
                                    <!-- datepicker loi mau chu -->
                                    <!--<td><input class="datepicker form-control" type="text"/></td>-->
                                    <td><input class="datepicker-here center form-control" data-language='vi' value="mm/dd/yyyy" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>7751</td>
                                    <td>Nguyễn Văn Hùng</td>
                                    <td>Phân xưởng phục vụ</td>
                                    <td>Kế toán</td>
                                    <td><a class="btn green darken-2">Tốt</a></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Phân xưởng cơ khí</option>
                                            <option>Phân xưởng đào lò</option>
                                            <option>Phân xưởng phục vụ</option>
                                            <option>Phân xưởng điện mỏ</option>
                                            <option>Phân xưởng khai thác</option>
                                            <option>Phân xưởng lộ thiên</option>
                                            <option>Phân xưởng sàng tuyển</option>
                                            <option>Phân xưởng thông gió quản lý mỏ</option>
                                            <option>Phân xưởng vận tải</option>
                                            <option>Phân xưởng xây dựng</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" placeholder="Chức vụ điều động" required /></td>
                                    <!-- datepicker loi mau chu -->
                                    <!--<td><input class="datepicker form-control" type="text"/></td>-->
                                    <td><input class="datepicker-here center form-control" data-language='vi' value="mm/dd/yyyy" /></td>


                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3506</td>
                                    <td>Nguyễn Văn Hùng</td>
                                    <td>Phân xưởng đào lò</td>
                                    <td>Kế toán</td>
                                    <td><button class="btn green darken-2">Tốt</button></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Phân xưởng cơ khí</option>
                                            <option>Phân xưởng đào lò</option>
                                            <option>Phân xưởng phục vụ</option>
                                            <option>Phân xưởng điện mỏ</option>
                                            <option>Phân xưởng khai thác</option>
                                            <option>Phân xưởng lộ thiên</option>
                                            <option>Phân xưởng sàng tuyển</option>
                                            <option>Phân xưởng thông gió quản lý mỏ</option>
                                            <option>Phân xưởng vận tải</option>
                                            <option>Phân xưởng xây dựng</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" placeholder="Chức vụ điều động" /></td>
                                    <!-- datepicker loi mau chu -->
                                    <!--<td><input class="datepicker form-control" type="text"/></td>-->
                                    <td><input class="center datepicker-here form-control" data-language='vi' value="mm/dd/yyyy" /></td>
                                </tr>
                            </table>
                            <div class="col m12">
                                <div class=" div-center custom-divider"></div>
                            </div>
                            <div class="center">
                                <a href='javascript:void(0);' class="btn red darken-2 modal-trigger" id="quaylaichondieuchuyen">Quay lại chọn điều động</a>
                                <a href='#confirmTransfer' class="btn blue darken-2 modal-trigger">Xác nhận điều động</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="confirmTransfer">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title center">XÁC NHẬN điều động</h3>
        </div>
        <div class="col s12 m3 l3">
            Mã QĐ điều động :<b> DC-465 </b>
        </div>
        <div class="modal-body">
            <table class="striped responsive-table table-bordered">
                <tr>
                    <th>Số thứ tự</th>
                    <th>Mã nhân viên</th>
                    <th>Họ và tên</th>
                    <th>Phân xưởng hiện tại</th>
                    <th>Chức vụ hiện tại</th>
                    <th>Tình trạng sức khỏe</th>
                    <th>Phân xưởng điều động</th>
                    <th>Chức vụ điều động</th>
                    <th>Đến ngày</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2179</td>
                    <td>Nguyễn Xuân Thoảng</td>
                    <td>Phân xưởng cơ khí</td>
                    <td>Thợ sửa chữa</td>
                    <td><a class="btn green darken-2">Tốt</a></td>
                    <td>Phân xưởng đào lò</td>
                    <td>Tổ trưởng tổ sửa chữa</td>
                    <!-- datepicker loi mau chu -->
                    <!--<td><input class="datepicker form-control" type="text"/></td>-->
                    <td>19-06-2019</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>7751</td>
                    <td>Nguyễn Văn Hùng</td>
                    <td>Phân xưởng phục vụ</td>
                    <td>Kế toán</td>
                    <td><a class="btn green darken-2">Tốt</a></td>
                    <td>Phân xưởng lộ thiên</td>
                    <td>Công nhân đào lò</td>
                    <!-- datepicker loi mau chu -->
                    <!--<td><input class="datepicker form-control" type="text"/></td>-->
                    <td>19-06-2019</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>3506</td>
                    <td>Nguyễn Văn Hùng</td>
                    <td>Phân xưởng đào lò</td>
                    <td>Kế toán</td>
                    <td><button class="btn green darken-2">Tốt</button></td>
                    <td>Phân xưởng thông gió quản lý mỏ</td>
                    <td>Phó quản đốc</td>
                    <!-- datepicker loi mau chu -->
                    <!--<td><input class="datepicker form-control" type="text"/></td>-->
                    <td>19-06-2019</td>
                </tr>
            </table>
        </div>
        <div id="quyetdinhdieuchuyen" class="modal-footer">
            <a href="javascript:void(0);" class="btn blue darken-2 left" id="export-button">Xuất Ra File Word</a>
            <a href="@Url.Action("lich-su-dieu-chuyen","dieu-chuyen")" class="btn blue darken-2 modal-close" id="update">Quyết định</a>
            <a id="chinhsua" class="btn blue darken-2 modal-close">Chỉnh sửa</a>
        </div>
    </div>
</div>
<script src="~/js/Custom JS/TCLD/Transfer/Transfer_Select.js"></script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script>
    $("#export-button").click(function () {
        window.location.href = "/excel/TCLD/QuyetDinhDieuChuyen.doc";
    });
</script>


