@{
    ViewData["Title"] = "ChiTietSuCo";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col m12">
                <div class="center">
                    <h3><b>CHI TIẾT SỬA CHỮA</b></h3>
                </div>
                <div class="col s3 m3">
                    <input class="form-control" type="text" placeholder="Nhập mã quyết định" />
                </div>
                <div class="col s3 m3">
                    <input class="form-control" type="text" placeholder="Nhập lý do quyết định" />
                </div>
                <div class="col s3 m3">
                    <input class="form-control" type="text" placeholder="Nhập nguồn vốn" />
                </div>
                <div class="col s2 right">
                    <a href="#vattu" class="btn blue darken-2 modal-trigger right">Vật tư cần lĩnh</a>
                </div>
                <div class="col s12 table_container">
                    <table class="striped table-responsive centered table-bordered">
                        <tr>
                            <th class="center-align">TT</th>
                            <th class="center-align">Mã thiết bị</th>
                            <th class="center-align">Tên thiết bị</th>
                            <th class="center-align">Đơn vị sử dụng</th>
                            <th class="center-align">Tình trạng thiết bị</th>
                            <th class="center-align">Loại sửa chữa</th>
                            <th class="center-align">Lý do sửa chữa</th>
                            <th class="center-align">Ngày dự kiến xong</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SFC</td>
                            <td>Máy khoan Atlas Copco</td>
                            <td>Phân xưởng 1</td>
                            <td>Hỏng</td>
                            <td>
                                <select class="form-control">
                                    <option>Sửa chữa sự cố</option>
                                    <option>Sửa chữa nhỏ</option>
                                    <option>Sửa chữa lớn</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" placeholder="Lý do sửa chữa" required /></td>
                            <!-- datepicker loi mau chu -->
                            <!--<td><input class="datepicker form-control" type="text"/></td>-->
                            <td><input type='text' class='datepicker-here center' id="minMaxDate" data-language='vi' value="15/08/2019" /></td>
                        </tr>
                    </table>
                    <div class="col m12">
                        <div class=" div-center custom-divider"></div>
                    </div>
                </div>
                <div class="col l12 m12 s12 center">
                    <a onclick="window.open('sua-chua-chon/quyet-dinh/word')" class="btn blue darken-2">In quyết định</a>
                    <a href="#xacnhan" class="btn blue darken-2 modal-trigger">Xác nhận điều động sửa chữa</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="vattu" class="modal">
    <div class="modal-header center card">
        <h3><b>Vật tư cấp cho phục vụ công tác sửa chữa</b></h3>
    </div>
    <div class="modal-body">
        <table id="Table" class="centered striped table-bordered">
            <thead>
                <tr>
                    <th>TT</th>
                    <th>Tên thiết bị vật tư (Mã hiệu - quy cách)</th>
                    <th>ĐVT</th>
                    <th>SL</th>
                    <th>Tình trạng kỹ thuật</th>
                    <th>Nơi lĩnh</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Trục côn xoắn Z11 SGB420/30A</td>
                    <td>Cái</td>
                    <td>01</td>
                    <td>Còn tốt</td>
                    <td>PX KT10</td>
                </tr>
                <tr>
                    <td id="dem">2</td>
                    <td><input type="text" class="form-control" placeholder="Tên thiết bị vật tư" /></td>
                    <td><input type="text" class="form-control" placeholder="ĐVT" /></td>
                    <td><input type="number" class="form-control" placeholder="SL" /></td>
                    <td>
                        <select class="form-control">
                            <option>Mới 100%</option>
                            <option>Cũ qua sử dụng</option>
                            <option>Cũ qua sửa chữa</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" placeholder="Nơi lĩnh" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">

        
        <a class="left"><button id="them" type="submit" class="btn light-blue lighten-1"><i class="large material-icons">add</i></button></a>
        <a class="btn light-blue lighten-1" onclick="window.open('sua-chua-chon/word')">Xuất lệnh</a>
        <a><button type="submit" class="btn blue darken-2 modal-close">Xác nhận</button></a>
    </div>
</div>
<div id="xacnhan" class="modal">
    <div class="modal-header center card">
        <h3><b>XÁC NHẬN SỬA CHỮA</b></h3>
    </div>
    <div class="modal-body">
        <div class="col s12">
            <h6 class="center">Mã quyết định: 001</h6>
        </div>
        <div class="col s12">
            <table   class="striped responsive-table centered">
                <tr>
                    <th class="center-align">Số thứ tự</th>
                    <th class="center-align">Mã thiết bị</th>
                    <th class="center-align">Tên thiết bị</th>
                    <th class="center-align">Đơn vị sử dụng</th>
                    <th class="center-align">Tình trạng thiết bị</th>
                    <th class="center-align">Lý do sửa chữa</th>
                    <th class="center-align">Ngày dự kiến xong</th>
                    <th class="center-align">Lý do quyết định</th>
                    <th>Nguồn vốn</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>SFC</td>
                    <td>Máy khoan Atlas Copco</td>
                    <td>Phân xưởng 1</td>
                    <td>Hỏng</td>
                    <td>Gãy mũi khoan</td>
                    <!-- datepicker loi mau chu -->
                    <!--<td><input class="datepicker form-control" type="text"/></td>-->
                    <td>10/10/2017</td>
                    <td>Sửa chữa thiết bị</td>
                    <td>Sửa chữa</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <a href="/phong-cdvt/quyet-dinh/sua-chua"><button type="submit" class="btn blue darken-2">Xác nhận</button></a>
        <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
    </div>
</div>
<script src="~/js/Custom JS/CDVT/Work/Mobilize_PlaceAndTime.js"></script>
<script src="~/js/Custom JS/CDVT/Work/suachuachon.js"></script>