@{
    ViewData["Title"] = "suachua";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>SỬA CHỮA THIẾT BỊ</b></h3>
            <hr>
            <form action="" method="POST" id="mysearchform" role="form">
                <div class="col l6 m6 s12">
                    <div class="row">
                        <div class="col l10 m10 offset-l2 offset-m2 s12 input-field">
                            <input type="text" placeholder="Tìm kiếm theo mã thiết bị" class='form-control' id="equipmentId-search" />
                        </div>
                        <div class="col l10 m10 offset-l2 offset-m2 s12 input-field">
                            <input type="text" placeholder="Tìm kiếm theo tên thiết bị" class='form-control' id="equipmentName-search" />
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="row">
                        <div class="col l10 m10 s12 input-field">
                            <input type="text" placeholder="Tìm kiếm theo phân xưởng chịu trách nhiệm" class='form-control' id="department-search" />
                        </div>
                    </div>
                </div>
                <div class="col l12 m12 s12 input-field center">
                    <a class="waves-effect waves-light btn blue darken-2 modal-close modal-trigger" id="searchButton1">Tìm kiếm</a>
                </div>
            </form>
            <div class="col s12 table_container">
                <table id="equipmentTable" class="table-bordered striped table-responsive centered">
                    <thead>
                        <tr>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th>Phân xưởng quản lí</th>
                            <th>Tình trạng thiết bị</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col">
                <a href="#" id="tienhanh" onclick="SaveStatus()" class="btn blue darken-2">Tiến hành điều động sửa chữa</a>
                <a class="btn blue darken-2" id="drop">Bỏ Chọn</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/Custom JS/CDVT/Work/suachua.js"></script>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $("#pre-load").show();
        var Popup, dataTable;
        @{
            var listFromServer = "[]";
            if (ViewBag.selectedList != null)
            {
                listFromServer = ViewBag.selectedList;
            }
         }
        var arrCarSelected = JSON.parse("@listFromServer".replace(/(&quot\;)/g, "\""));
        $("#drop").click(function () {
            $(".my_checkbox").each(function () {
                if ($(this).is(":checked")) $(this).click();
            })
            //here      
            arrCarSelected = null;
        })
        $(document).ready(function () {
            dataTable = $('#equipmentTable')
                .on('preXhr.dt', function ( e, settings, data )  {
                data.sessionId = "@ViewBag.id";
                data.selectList = JSON.stringify(arrCarSelected);
            })
                .DataTable({
                    "language": {
                        "emptyTable": "Không tìm thấy dữ liệu",
                        "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                        "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                        "paginate": {
                            "first": "Trang đầu",
                            "last": "Trang cuối",
                            "next": "Trang sau",
                            "previous": "Trang trước"
                        }
                    },
                    "ajax": {
                        "url": "/phong-cdvt/sua-chua/search",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "equipmentId": function () { return $('#equipmentId-search').val() },
                            "department_name": function () { return $('#department-search').val() },
                            "equipmentName": function () { return $('#equipmentName-search').val() }
                        },
                        "cache": false
                    },
                    "columns": [
                        { "data": "equipmentId", "name": "equipmentId", "searchable": true },
                        { "data": "equipment_name", "name": "equipment_name" },
                        { "data": "department_name", "name": "department_name" },
                        {
                            "data": "current_Status", "name": "current_Status", "render": (data) => {
                                if (data == 1) {
                                    return "Chờ điều động"
                                }
                                if (data == 2) {
                                    return "Đang hoạt động"
                                }
                                if (data == 3) {
                                    return "Đang sửa chữa"
                                }
                                if (data == 4) {
                                    return "Hỏng"
                                }
                                if (data == 5) {
                                    return "Đang bảo dưỡng"
                                }
                                if (data == 6) {
                                    return "Đang điều động"
                                }
                                if (data == 7) {
                                    return "Đang thu hồi"
                                }
                                if (data == 8) {
                                    return "Đang thanh lý "
                                }
                                if (data == 9) {
                                    return "Đang trung tu"
                                }
                                if (data == 10) {
                                    return "Đang đại tu"
                                }
                                if (data == 11) {
                                    return "Đang chờ nghiệm thu"
                                }
                                if (data == 12) {
                                    return "Đến hạn bảo dưỡng"
                                }
                                else {
                                    return data;
                                }
                            }
                        },
                        {
                            "data": "equipmentId", "render": function (data) {
                                if (arrCarSelected != null) {
                                    for (let i = 0; i < arrCarSelected.length; i++)
                                        if (arrCarSelected[i] == data) {
                                            return "<label><input class='my_checkbox'  name='abc' id ='" + data + "' value='" + data + "' type ='checkbox' onclick=updateList('" + data + "') checked><span></span></label>";
                                        }
                                }
                                return "<label><input class='my_checkbox'  name='abc' id ='" + data + "' value='" + data + "' type ='checkbox' onclick=updateList('" + data + "')><span></span></label>";
                            },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"
                        }],
                    "bLengthChange": false,
                    "searching": false,
                    "serverSide": "true",
                    "order": [0, "asc"],
                    "initComplete": function (settings, json) {
                        $("#pre-load").hide();
                    },
                    "preDrawCallback": function (settings) {
                        $('#pre-load').show();
                    },
                    "drawCallback": function (settings) {
                        $('#pre-load').hide();
                    }
            });

            $("#searchButton1").click(function () {
                $("#pre-load").show();
                dataTable.ajax.reload(function () {
                    $.notify("Tìm kiếm thành công", {
                        globalPosition: "top center",
                        className: "success"
                    });
                    $("#pre-load").hide();
                })
            })
        });

        var table = new $.fn.dataTable.Api('#myTable');

        // Get data from the first row
        var data = table.rows().data()[0]; // same as row(0).data()

        function updateList(id) {
            isExist = false;
            if (arrCarSelected != null) {
                for (let i = 0; i < arrCarSelected.length; i++) {
                    if (arrCarSelected[i] == id) {
                        isExist = true;
                        arrCarSelected.splice(i, 1);
                        break;
                    }
                }
            }
            
            if (!isExist && id != "" && id != null) {
                if (arrCarSelected != null) {
                    arrCarSelected.push(id);
                    console.log(arrCarSelected)
                } else {
                    arrCarSelected = [id];

                }
            }
        }

        function SaveStatus() {
            $.ajax({
                url: "/phong-cdvt/sua-chua",
                method: "POST",
                data: {
                    "selectList": JSON.stringify(arrCarSelected)
                }
            })
            document.getElementById("selectListJson").value = arrCarSelected;
            document.getElementById("formSaveStatus").submit();
        }

        function sendData() {
            $.each($("input[name='abc']:checked"), function () {
            });
        }
    </script>
}
<form action="/phong-cdvt/sua-chua-chon" id="formSaveStatus">
    <input name="selectListJson" id="selectListJson" value=""/>
</form>