#btn_save_doc {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 5% !important;
}
.input-custom-doc{
    width:90% !important;
    margin-left:5% !important;
}
.input-label-doc {
    margin-left: 5% !important;
}
#message {
    margin-left: 5% !important;
}
#ma_nv{
    margin-left: 22px !important;
    width:92% !important;
}
#ten_nv {
    margin-left: 4% !important;
    width: 93% !important;
}