#btn-save-doc
{
    margin-top:10px !important;
    margin-bottom:10px !important;
    margin-left:5% !important;
}
.input-custom-doc{
    width:90% !important;
    margin-left:5% !important;
}
.input-label-doc {
    margin-left: 5% !important;
}