.row div div h5{
    margin-top:20px;
}

.row div div h6{
    margin-top: 20px;
}
.table-center{
    margin-left:auto;
    margin-right:auto;
    width:90%;
}
.table-bordered tbody tr td input {
    width: 70% !important;
}
.btn-body {
    width: 60% !important;
}
.resize-form {
    height: 30px !important;
    width: 150px !important;
}
.btn-mg {
    margin-top: 20px;
}
.input-header {
    width: 80% !important;
}
.btn-search{
    margin-left:40%;
    margin-top:10px;
}
.dropdown1{
    width:140px!important;
}
.dropdown1 > a {
    background-color: #273146!important;
    width:100%!important;
}
.text_option{
    width:108px!important;
}
.text_option > p > strong{
    margin-left:25px!important;
}
.btn-add{
    margin-left:23px;
    margin-top:30px;
}
table > tbody > tr > td > a:hover {
    color: #0190f3 !important;
}
table > tbody > tr > td > a{
    color:black;
}
.table1 > table > tbody > tr{
    height:2px!important;
}
.table1 > table > tbody > tr > td:focus {
    background-color: #c5c7cc;
}
.table1 > table > tbody >tr > td{
    max-width:0px;
    max-height:0px;
}
.row > h3{
    text-align:center;
}
.dropdown_ca > select{
    width:100px;
}
.dropdown_ca > span {
    margin-right: 10px;
    float:left;
    margin-left:30px;
}
.dropdown_ca > select{
    float:left;
}
.dropdown_ca{
    margin-top:20px;
}
.dropdown2 > a {
    float: right;
    width: 140px !important;
    margin-right: 30px;
    margin-top: 26px;
    background-color: #273146
}
.dropdown2 > span {
    float: right;
    margin-right: 15px;
    margin-top: 26px;
}
.btn_DSCC > div{
    float:left
}
.modal-input { 
    width: 30%;
    float: left;
}
.modal-container {
    min-height: 0;
    padding: 0;
}

.report_container {
    margin-top: 30px !important;
}

.chart_container {
    margin-top: 30px !important;
}

.filter_container {
    margin-bottom: 100px;
}

.report_title {
    text-align: center;
}

.filter_label {
    font-weight: bold;
    color: #282227;
}

.filter_container .don_vi .thang .sap_xep {
    margin-bottom: 10px;
}

.clickable_cell {
    cursor: pointer;
}

.table .total_col {
    /* background-color: #b4eab3 !important; */
    font-weight: bold;
}

.table .total_row {
    background-color: #fac0c1 !important;
    font-weight: bold;
}

.export_btn_container {
    margin: 10px;
}

.summary_left {
    float: left !important;
}

.summary_right {
    float: right;
}

.table {
    border-collapse: collapse !important;
    margin-top: 10px;
    color: #282227;
}

.table_container {
    overflow-x: scroll !important;
}

.table th {
    vertical-align: middle !important;
    text-align: center !important;
    background-color: #f2f2f2 !important;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #cecece !important
}

.table-bordered {
    border: 1px solid #cecece !important;
}

    .table-bordered > tbody > tr > td,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > td,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > thead > tr > th {
        border: 1px solid #ddd
    }

    .table-bordered > thead > tr > td,
    .table-bordered > thead > tr > th {
        border-bottom-width: 2px
    }

.table-responsive > .table-bordered {
    border: 0
}

    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > thead > tr > th:first-child {
        border-left: 0
    }

    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > thead > tr > th:last-child {
        border-right: 0
    }

    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th {
        border-bottom: 0
    }

.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
    border: 0
}

    .panel > .table-bordered > tbody > tr > td:first-child,
    .panel > .table-bordered > tbody > tr > th:first-child,
    .panel > .table-bordered > tfoot > tr > td:first-child,
    .panel > .table-bordered > tfoot > tr > th:first-child,
    .panel > .table-bordered > thead > tr > td:first-child,
    .panel > .table-bordered > thead > tr > th:first-child,
    .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child,
    .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
    .panel > .table-responsive > .table-bordered > thead > tr > th:first-child {
        border-left: 0
    }

    .panel > .table-bordered > tbody > tr > td:last-child,
    .panel > .table-bordered > tbody > tr > th:last-child,
    .panel > .table-bordered > tfoot > tr > td:last-child,
    .panel > .table-bordered > tfoot > tr > th:last-child,
    .panel > .table-bordered > thead > tr > td:last-child,
    .panel > .table-bordered > thead > tr > th:last-child,
    .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child,
    .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
    .panel > .table-responsive > .table-bordered > thead > tr > th:last-child {
        border-right: 0
    }

    .panel > .table-bordered > tbody > tr:first-child > td,
    .panel > .table-bordered > tbody > tr:first-child > th,
    .panel > .table-bordered > thead > tr:first-child > td,
    .panel > .table-bordered > thead > tr:first-child > th,
    .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
    .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th,
    .panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
    .panel > .table-responsive > .table-bordered > thead > tr:first-child > th {
        border-bottom: 0
    }

    .panel > .table-bordered > tbody > tr:last-child > td,
    .panel > .table-bordered > tbody > tr:last-child > th,
    .panel > .table-bordered > tfoot > tr:last-child > td,
    .panel > .table-bordered > tfoot > tr:last-child > th,
    .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
    .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
        border-bottom: 0
    }
