
@{
    ViewData["Title"] = "Accreditation";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="row table_container">
    <div class="col s12">
        <div class="center">
            <h1 class="centered">
                <B>Theo dõi kiểm định</B>
            </h1>
        </div>
        <ul class="left">
            <li>
                <table>
                    <tr style="border-bottom: none">
                        <td>Biển số</td>
                        <td>
                            <input list="types" class="form-control"
                                   placeholder="Nhập từ khóa để tìm kiếm"
                                   style="margin-top:20px;float:left">
                            <datalist id="types">
                                <option value="Băng tải khung">Băng tải khung</option>
                                <option value="Máng cào SGB 420/22">Máng cào SGB 420/22</option>
                                <option value="Máy xúc lật">Máy xúc lật</option>
                                <option value="Sàng tuyền">Sàng tuyền</option>
                                <option value="Máy nén khí">Máy nén khí</option>
                                <option value="Máy bơm">Máy bơm</option>
                                <option value="Ô tô trung xa, phục vụ">
                                    Ô tô trung xa, phục vụ
                                </option>
                                <option value="Xe goòng">Xe goòng</option>
                                <option value="Tàu điện">Tàu điện</option>
                                <option value="Máy gạt">Máy gạt</option>
                                <option value="Máy xúc hầm lò">Máy xúc hầm lò</option>
                                <option value="Máy xúc thủy lực">Máy xúc thủy lực</option>
                                <option value="Máy khoan lộ thiên">Máy khoan lộ thiên</option>
                                <option value="Máy khoan hầm lò">Máy khoan hầm lò</option>
                                <option value="Cáp tời">Cáp tời</option>
                            </datalist>
                        </td>
                        <td><input type="submit" value="Tìm kiếm"></td>
                    </tr>
                </table>
            </li>
            <li>
                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'
                   style="width:300px">
                    Xem
                    theo
                </a>
            </li>

        </ul>

       <ul class="right">
            <table>
                <tr style="border-bottom:none">
                    <td>
                        <a href="#myadd"
                           class="waves-effect waves-light btn btn-round green modal-trigger">
                            Thêm đăng
                            kiểm
                        </a>
                    </td>
                    <td><a class="waves-effect waves-light btn btn-round green">Tải lên</a></td>
                    <td><a class="waves-effect waves-light btn btn-round green">In báo cáo</a></td>

                    <td></td>
                </tr>
            </table>
        </ul>
        <div style="height: 35px"></div>
        <table class="table table-bordered striped table-responsive centered"
               style="margin-top:30px; text-align:center;">
            <thead>
                <tr>
                    <th rowspan="2">STT</th>
                    <th rowspan="2">Ngày đăng kiểm</th>
                    <th rowspan="2">Ngày hết hạn đăng kiểm</th>
                    <th rowspan="2">Nơi đăng kiểm</th>
                    <th colspan="3">Thiết bị đăng kiểm</th>
                    <th rowspan="2" style="min-width:140px"></th>
                </tr>
                <tr>
                    <th>Mã thiết bị</th>
                    <th>Tên thiết bị</th>
                    <th>Biển số</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>15/7/2019</td>
                    <td>15/2/2020</td>
                    <td>KT02-19</td>
                    <td>XT-01</td>
                    <td>Xe tải</td>
                    <td>14A-00000</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>15/7/2019</td>
                    <td>15/2/2020</td>
                    <td>KT02-19</td>
                    <td>XT-02</td>
                    <td>Xe tải</td>
                    <td>14A-11111</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                        <a class="waves-effect waves-light btn btn-round blue">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>15/7/2019</td>
                    <td>15/2/2020</td>
                    <td>KT02-19</td>
                    <td>XT-03</td>
                    <td>Xe tải</td>
                    <td>14A-22222</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                        <a class="waves-effect waves-light btn btn-round blue">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>15/7/2019</td>
                    <td>15/2/2020</td>
                    <td>KT02-19</td>
                    <td>XT-04</td>
                    <td>Xe tải</td>
                    <td>14A-33333</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                        <a class="waves-effect waves-light btn btn-round blue">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>15/7/2019</td>
                    <td>15/2/2020</td>
                    <td>KT02-19</td>
                    <td>XT-05</td>
                    <td>Xe tải</td>
                    <td>14A-44444</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                        <a class="waves-effect waves-light btn btn-round blue">Sửa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myadd">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Nhập đăng kiểm</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Ngày đăng kiểm : </label>
                            <input type="date" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <label for="id">Nơi đăng kiểm : </label>
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tên thiết bị : </label>
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Ngày hết hạn đăng kiểm : </label>
                            <input type="date" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <label for="date">Mã thiết bị : </label>
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <label for="name">Biển số : </label>
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Ngày kiểm định : </label>
                            <input type="text" class="form-control" value="15/7/2019" />
                        </div>
                        <div class="form-group">
                            <label for="id">Đợt kiểm định : </label>
                            <input type="text" class="form-control" value="002" />
                        </div>
                        <div class="form-group">
                            <label for="name">Mã đợt kiểm định : </label>
                            <input type="text" class="form-control" value="KT02-19" />
                        </div>
                        <div class="form-group">
                            <label for="name">Nhân viên kiểm định : </label>
                            <input type="text" class="form-control" value="Ngô Doãn Cường" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Đơn vị được kiểm định: </label>
                            <input type="text" class="form-control" value="Khai thác 3" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="supplier">Nội dung kiểm định: </label>
                            <input type="text" class="form-control" value="Kiểm tra tình trạng thiết bị" />
                        </div>
                        <div class="form-group">
                            <label for="id">Mã thiết bị : </label>
                            <input type="text" class="form-control" value="BT" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Tên thiết bị : </label>
                            <input type="text" class="form-control" value="Băng tải khung" />
                        </div>
                        <div class="form-group">
                            <label for="name">Số hiệu : </label>
                            <input type="text" class="form-control" value="245" />
                        </div>
                        <div class="form-group">
                            <label for="number">Tình trạng: </label>
                            <input type="text" class="form-control" value="Tốt" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div id="myaleart" class="modal">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Xóa mục này?
            </div>
            <div class="col s3">
                Dữ liệu sẽ không thể phục hồi sau thao tác này
                <div class="col s4 offset-s8" style="margin-top:30px">
                    <a class="waves-effect waves-light btn btn-round red">Xác nhận</a>
                    <a class="waves-effect waves-light btn btn-round blue">Thoát</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
    <a class="btn-floating btn-large red"><i class="material-icons">settings</i></a>
    <ul>
        <li>
            <a class="btn-floating red tooltipped" data-position="left" data-tooltip="In báo cáo">
                <i class="material-icons">assignment</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green tooltipped" data-position="left" data-tooltip="Tải lên">
                <i class="material-icons">publish</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Thêm">
                <i class="material-icons">add</i>
            </a>
        </li>
    </ul>
</div>
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Danh sách sắp hết hạn(1 tuần)</a></li>
    <li><a href="#!">Danh sách đã hết hạn</a></li>
</ul>
