
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="row table_container">
    <div class="col s12">
        <div class="center">
            <h1 class="centered"><b>Chi tiết ô tô</b></h1>
        </div>
        <ul class="right">
            <table>
                <tr style="border-bottom:none">
                    <td>
                        <a href="#myadd"
                           class="waves-effect waves-light btn btn-round green modal-trigger">Thêm</a>
                    </td>
                    <td><a class="waves-effect waves-light btn btn-round green">Tải lên</a></td>
                    <td><a class="waves-effect waves-light btn btn-round green">In báo cáo</a></td>

                    <td>
                        <a href="#myinfo"
                           class="waves-effect waves-light btn btn-round green modal-trigger">Thông tin xe</a>
                    </td>
                </tr>
            </table>
        </ul>
        <div style="height: 35px"></div>
        <table class="table table-bordered striped table-responsive centered" style="margin-top:30px; text-align:center;">
            <thead>
                <tr>
                    <th>Ngày hoạt động</td>
                    <th>Số giờ hoạt động trong ngày</td>
                    <th>Ngày bảo dưỡng gần nhất</td>
                    <th>Công việc trong ngày</td>
                    <th>Sản lượng</td>
                    <th>Vị trí</td>
                    <th>Phân xưởng sử dụng</td>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1/1/2019</td>
                    <td>10</td>
                    <td>1/12/2018</td>
                    <td>Chở than khai thác</td>
                    <td>10 tấn</td>
                    <td>Lò 1</td>
                    <td>Phân xưởng 1</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>2/1/2019</td>
                    <td>10</td>
                    <td>1/12/2018</td>
                    <td>Chở than khai thác</td>
                    <td>10 tấn</td>
                    <td>Lò 1</td>
                    <td>Phân xưởng 1</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>3/1/2019</td>
                    <td>10</td>
                    <td>1/12/2018</td>
                    <td>Chở than khai thác</td>
                    <td>10 tấn</td>
                    <td>Lò 1</td>
                    <td>Phân xưởng 1</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>4/1/2019</td>
                    <td>10</td>
                    <td>1/12/2018</td>
                    <td>Chở than khai thác</td>
                    <td>10 tấn</td>
                    <td>Lò 1</td>
                    <td>Phân xưởng 1</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
                <tr>
                    <td>5/1/2019</td>
                    <td>10</td>
                    <td>1/12/2018</td>
                    <td>Chở than khai thác</td>
                    <td>10 tấn</td>
                    <td>Lò 1</td>
                    <td>Phân xưởng 1</td>
                    <td>
                        <a href="#myaleart"
                           class="waves-effect waves-light btn btn-round red modal-trigger">Xóa</a>
                    </td>
                    <td>
                        <a href="#myedit"
                           class="waves-effect waves-light btn btn-round blue modal-trigger">Sửa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myadd">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Nhập thiết bị mới</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã thiết bị : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="id">Số hiệu : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày nhập : </label>
                            <input type="date" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Khấu hao ước tính : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Ghi chú: </label>
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="id">Tên thiết bị : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Nhà cung cấp :</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Nguyên giá : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="number">Tình trạng: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Ngày hoạt động : </label>
                            <input type="text" class="form-control" value="1/1/2019" />
                        </div>
                        <div class="form-group">
                            <label for="id">Số giờ hoạt động trong ngày : </label>
                            <input type="text" class="form-control" value="10" />
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày bảo dưỡng gần nhất : </label>
                            <input type="text" class="form-control" value="1/12/2018" />
                        </div>
                        <div class="form-group">
                            <label for="name">Công việc trong ngày : </label>
                            <input type="text" class="form-control" value="Chở than khai thác" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="supplier">Sản lượng </label>
                            <input type="text" class="form-control" value="10 tấn" />
                        </div>

                        <div class="form-group">
                            <label for="id">Vị trí : </label>
                            <input type="text" class="form-control" value="Lò 1" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Phân xưởng sử dụng : </label>
                            <input type="text" class="form-control" value="Phân xưởng 1" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>
<div id="myaleart" class="modal">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Xóa mục này?
            </div>
            <div class="col s3">
                Dữ liệu sẽ không thể phục hồi sau thao tác này
                <div class="col s4 offset-s8" style="margin-top:30px">
                    <a class="waves-effect waves-light btn btn-round red">Xác nhận</a>
                    <a class="waves-effect waves-light btn btn-round blue">Thoát</a>
                </div>
            </div>
        </div>

    </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Danh sách hết bảo hiểm</a></li>
    <li><a href="#!">Danh sách hết khấu hao</a></li>
    <li><a href="#!">Danh sách đang bảo dưỡng</a></li>
    <li><a href="#!">Danh sách đang sửa chữa</a></li>
    <li><a href="#!">Danh sách đang gặp sự cố</a></li>
</ul>
<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
    <a class="btn-floating btn-large red"><i class="material-icons">settings</i></a>
    <ul>
        <li>
            <a class="btn-floating red tooltipped" data-position="left" data-tooltip="In báo cáo">
                <i class="material-icons">assignment</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green tooltipped" data-position="left" data-tooltip="Tải lên">
                <i class="material-icons">publish</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Thêm">
                <i class="material-icons">add</i>
            </a>
        </li>
    </ul>
</div>
